[2021-08-04 09:23] WoLewicki commented on #1034
Is it a duplicate of https://github.com/software-mansion/react-native-screens/issues/395 ?

[2021-08-04 09:56] WoLewicki commented on #619
@swrobel can you post a reproduction where #1029 does not fix the jumping issue?

[2021-08-04 11:40] #1027 closed

[2021-08-04 13:28] SimpleCreations commented on #619
@WoLewicki I'll throw in my two cents. I have the same issue with a native stack navigator nested in a tab navigator nested in another native stack navigator.
I have the same results as @swrobel - #1025 fixes the issue but #1029 doesn't. Here's the repro.

[code]

[2021-08-04 13:45] burakgormek commented on #619
@SimpleCreations, @swrobel

Did you patch react-navigation PR with #1029?
https://github.com/react-navigation/react-navigation/pull/9772

[2021-08-04 14:00] swrobel commented on #619
I did. It was a bit tricky to figure out how to do it in package.json, but this seemed to work for me:
`"@react-navigation/bottom-tabs": "https://gitpkg.now.sh/react-navigation/react-navigation/packages/bottom-tabs?@wolewicki/add-tabs-or-drawer-prop"`

[2021-08-04 14:07] SimpleCreations commented on #619
@burakgormek no, but after having done that, the issue is gone as well. To clarify, I installed #1029 and [#9772 from react-navigation](https://github.com/react-navigation/react-navigation/pull/9772).

[2021-08-04 14:08] SimpleCreations commented on #619
@swrobel this worked for me:

[code]

[2021-08-04 14:10] WoLewicki commented on #619
I think it would be easiest to just change it in your `node_modules` for now. You can use [patch-package](https://www.npmjs.com/package/patch-package) if you want to have all those changes in the code. So I believe #1029 with the PR from `react-navigation` fixes the problem yeah? @SimpleCreations @swrobel

[2021-08-04 14:11] SimpleCreations commented on #619
Yes

[2021-08-04 14:11] swrobel commented on #619
Not for me, although I will re-test & post a repro if I'm able to create one outside of my project.

[2021-08-04 14:17] WoLewicki commented on #619
@swrobel keep in mind that it won't work if you have a `stack` navigator between the `native-stack`s, but we discourage nesting navigators of same kind one in another.

[2021-08-04 14:34] swrobel commented on #619
Do you mean a non-native stack navigator nested inside a native-stack? I don't have that setup, but I do have nested native-stack navigators.

[2021-08-04 15:03] henrymoulton commented on #463
@WoLewicki I no longer work where I reported this issue, but have reached out to someone there to see if they can test

[2021-08-04 15:48] WoLewicki commented on #463
@akshaymulgavkar can you post the whole stacktrace? It looks like the problem from #17, not this issue.

[2021-08-05 01:56] raybotha commented on #89
This works.
Why is this issue closed? It's definitely a significant bug that's still around.

[2021-08-05 03:48] andrew09 commented on #645
This worked for me. Saved my life after so much searching!

[2021-08-05 04:12] SJImobility commented on #463
i managed to solve this by using https://github.com/react-navigation/react-navigation/issues/7242#issuecomment-512927978 approach

[2021-08-05 04:14] akshaymulgavkar commented on #463
I managed to fix this using https://github.com/react-navigation/react-navigation/issues/7242#issuecomment-512927978 this approach

[2021-08-05 07:39] a-eid commented on #619
having a similar issue.

https://user-images.githubusercontent.com/19273413/128310978-94746ae9-6509-4802-b773-78297cda1310.mp4

[2021-08-05 09:37] WoLewicki commented on #619
@a-eid it still happens after incorporating both PRs mentioned in https://github.com/software-mansion/react-native-screens/issues/619#issuecomment-888382535? @swrobel I meant the first scenario, so it should be fine. Please provide a repo with reproduction then, would be best if it already had the needed changes e.g. by using patch-package.

[2021-08-09 08:26] WoLewicki commented on #1034
In your repro you did not provide `contentInsetAdjustmentBehavior=“automatic”` on the `ScrollView`, but on the `RefreshControl` and there is no `headerTranslucent: true` option on the stack. These settings are necessary for this to work with the `ScrollView` as mentioned in https://github.com/software-mansion/react-native-screens/issues/395#issuecomment-674043236. After applying them, the repro se

[2021-08-10 07:22] thejadasari opened #1043 "Invariant Violation: requireNativeComponent: "RNSScreenStackHeaderConfig" was not found in the UIManager."
## Unable to run Android application (iOS app working fine) with react native .64, react-native-screens 3.5.0 and react navigation 6.0

### Screenshots
![image](https://user-images.githubusercontent.com/16138715/128824682-611d3960-ddab-4374-a7f3-c63df0454477.png)

### Expected behavior
Default page should load in App
### Actual behavior
Getting error.

ERROR  Invariant Violation: requireNativeComp

[2021-08-10 08:02] WoLewicki commented on #1043
Can you provide a simple repo with reproduction of the issue?

[2021-08-10 08:54] andrei-tofan opened #1044 "The app crashes on DevSettings.reload()"
## Description

The app crashes when DevSettings.reload() is called with the following error:
[code]

## Steps To Reproduce

1. Add the latest version of react-native-screens to your project
2. Add a button that calls DevSettings.reload()
3. Press the button

### Expected behavior
The app to be reloaded

### Actual behavior
The app is terminated with uncaught exception 'NSInternalInconsistencyExce

[2021-08-10 10:38] WoLewicki commented on #1044
Can you provide a simple repo with reproduction of the issue? I tried to reproduce it in Example app, but the app refreshes correctly.

[2021-08-10 12:01] thejadasari commented on #1043
Thank you, I was able to pin point the issue.
In my android **mainApplication.java** file, we were clearing the packages returned by react native and manually linking the packages. In this step, we might have missed adding all auto linked packages.

commenting this code, resolved the issue.

[2021-08-10 12:01] #1043 closed

[2021-08-10 19:19] gp3gp3gp3 opened #1045 "Android Header not targetable with physical keyboard"
## Description

When using the header option for any portion of the header (left, center, right), the header component is not targetable by physical keyboards.  This is problematic for apps that need to meet accessibility standards.

My assumption is that the toolbar defined in the [ScreenStackHeaderConfig](https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/

[2021-08-14 06:05] markoj3s commented on #111
@WoLewicki Sorry for the late reply. So I managed to get rid of the flickering for most of the cases by adding:
`detachPreviousScreen: !navigation.isFocused(),`
to my stack navigators' screenOptions.
However, that does not seem to work for stacked modals (flickering being still present)
By stacked modal, I mean, opening a screen with a modal animation, then from that screen, opening another screen

[2021-08-16 08:19] 556677152 commented on #266
https://github.com/software-mansion/react-native-screens/issues/266#issue-545459995

[2021-08-16 20:08] hannojg opened #1053 "[android] modal isn't shown above absolute view (different to ios)"
### Current behavior

We have a custom pervasive header in our app that should be shown on any page. We implemented it in App.tsx like this:

[code]

When opening a `transparentModal` the behaviour on iOS and android is different:

### Behavior android:

As you can see in the video, the screen that is opened as modal will be behind the custom header view.

https://user-images.githubusercontent.com

[2021-08-16 21:22] attaullahpro commented on #17
Add this on activity
[code]

[2021-08-17 08:40] maxencehenneron commented on #1034
Hi @WoLewicki, sorry I was on vacation last week. It does seem to work when setting the header to translucent. However it makes the header, well, translucent. I can set the header color to white to fix it, but maybe it's worth investigating why this is happening?

[2021-08-17 09:31] WoLewicki commented on #1034
I think since the `translucent` header is the default option in native apps, maybe we should make the header `translucent` by default on iOS. I am also not sure what you would want to achieve. If you want the `refreshControl` to appear in the area of the header, it seems reasonable that this area is available for laying anything underneath it. Can you elaborate more on it?

[2021-08-17 11:44] maxencehenneron commented on #1034
Yes, I agree, translucent should be set to TRUE by default, especially when using large titles.
I'm able to achieve what I want to do by setting translucent to true and the header background color to white.

My comment was about these lines in the library source code:

https://github.com/software-mansion/react-native-screens/blob/e02172a08b694bd9a8baf7e94c21124b195bd268/ios/RNSScreenStackHeaderCon

[2021-08-17 15:30] WoLewicki commented on #1034
I think it might be good to change it to be set `vc.edgesForExtendedLayout = UIRectEdgeAll;` by default when you have large title, and change it to `UIRectEdgeNone` when `headerTranslucent` is explicitly set to `false`. We are always open to PRs if you would like to do it.

[2021-08-18 07:13] vvdodiya opened #1057 "Compiling issue : No visible @interface for 'RNSScreenStackView' declares the selector 'cancelTouchHandlerIfExists'"
I have just install lib react-native-screens and pod install. I tried to compiling the project it gives errors :
No visible @interface for 'RNSScreenStackView' declares the selector 'cancelTouchHandlerIfExists'
here I attached a screenshot.
![Screenshot 2021-08-18 at 12 34 16 PM](https://user-images.githubusercontent.com/24320461/129854268-abf67843-da4c-4fb9-9390-d42c63f4294c.png)

[2021-08-18 08:24] kacperkapusciak commented on #1057
Hi @vvdodiya,
Thank you for submitting an issue. We are aware of this issue and it will be fixed in the next release (v3.6.0) of `react-native-screens`.
This issue was fixed in https://github.com/software-mansion/react-native-screens/pull/1040
In the meantime, you can apply changes from this PR to your code or install `react-native-screens` directly from the master branch with
[code]

[2021-08-18 08:24] #1057 closed

[2021-08-18 20:42] BartoszKlonowski opened #1060 ""RNSScreenStackHeaderConfig" was not found in the UIManager."
## Description

I've implemented very basic RNW app using:
[code]
and I'm facing the following error when having `<Stack.Screen name="Home" component={HomeScreen} />` with an empty `<View></View>` in it.
The error is:
[code]
which is displayed in the app window as a red box with:
`folly::toJson: JSON object value was a NaN or INF`

### Screenshots
![obraz](https://user-images.githubusercontent.com

[2021-08-18 22:26] SimpleCreations opened #1061 "Screen transition animation flickers when calling `.focus()` on a `TextInput` while the transition is in progress"
## Description

Demo:

https://user-images.githubusercontent.com/12449725/129979382-d7a796ad-e8bc-43b6-bf95-f035310dcf1a.mp4

## Steps To Reproduce

1. Have a `TextInput` inside a screen.
2. Navigate to the screen.
3. Focus the `TextInput` some time after the screen mount, but before the screen transition animation ends. In the example I use `setTimeout` to call the `.focus()` method with a 10ms d

[2021-08-19 09:12] WoLewicki commented on #1060
Did you follow all the steps required to run the `windows` app? Can you check if the code works if you switch the `native-stack` to e.g. `stack` or `bottom-tabs` navigator? Also cc @tritao since you added the basic `windows` implementation.

[2021-08-19 09:20] BartoszKlonowski commented on #1060
@WoLewicki Thank you for the response!
I was using the `stack` at the beginning, but when I double checked if I have everything what is needed, I saw the `native-stack` instead of `stack` and I tried to use this  -  that's why it is there, but the error is the same for both.

[2021-08-19 09:30] WoLewicki commented on #1060
Hmm, but `RNSScreenStackHeaderConfig` is not used in `stack` navigator. I cannot say much more unfortunately, all I can advise is for you to check the README of `windows` folder, especially this: https://github.com/software-mansion/react-native-screens/tree/master/windows#automatic-install-with-autolinking-on-rnw--063.

[2021-08-19 09:50] ArcherLucky commented on #1043
Thank you! I have same problem! I think it can be solved now!

[2021-08-19 09:56] BartoszKlonowski commented on #1060
Now that is interesting:
I'm using 0.64.x which means that autolinking should work, but there's no `RNScreens` project added to my solution when I check it in Visual Studio.
So I decided to manually link it, **but:**
when I go to *node_modules/* there's no *windows/* directory at all:
[code]
I've double checked whether I install it correctly and what I do is just: `yarn add react-native-screens` (

[2021-08-19 10:00] WoLewicki commented on #1060
Oh, yeah that might be a problem then. I think that by mistake the `windows` folder was not added to the files published on npm (here is PR adding it: https://github.com/software-mansion/react-native-screens/pull/1050). That would make sense then. I am afraid that till the next version of `react-native-screens`, you have to manually add the `windows` folder to the package 😞  and then probably link

[2021-08-19 10:28] BartoszKlonowski commented on #1060
Unfortunately this workaround ends with hundreds of syntax errors like:
![obraz](https://user-images.githubusercontent.com/70535775/130053518-e8ccc776-246a-41d3-978e-679a6c071ba3.png)

I'm afraid I will just wait for the next release and then I'll try to use this.
But still: Thank you for the support!

[2021-08-19 10:57] thientnc-galaxyone commented on #17
This code makes NullPointerException

[2021-08-19 14:53] SimpleCreations opened #1064 "Incorrect sizing of `ScrollView`'s content container with `minHeight: "100%"` when used inside a screen with a header"
## Description

Demo:

https://user-images.githubusercontent.com/12449725/130088823-4a951cc8-bd0c-4bdc-a2ce-7cd6ae8770e8.mov

Use cases of having `minHeight` set `100%` on `contentContainerStyle`:
- To have a sticky element at the bottom of the ScrollView that get push down if the content is taller than the viewport
- To have the content of an inverted `FlatList`/`SectionList` appear at the top of

[2021-08-19 16:04] mikehardy commented on #17
`if (outState != null) { outState.clear(); }` - bundle is null onCreate but onResume of activity it has values and that's your crash

[2021-08-20 10:44] Ubax commented on #1017
After some digging I think I found the issue. The laggy animation was caused by asynchronous attaching and detaching fragments.
I was able to fix it using #1066 code.
One thing to note with about this PR is that it is a bit experimental change and some other bugs may occur. I you find any, please let us know.

[2021-08-20 11:28] ilyesrd commented on #281
I was setting up React-Navigation for a fresh project:
[code]

And i got this error:

The solution for me was to:

[2021-08-20 13:52] guiccbr commented on #320
Did anyone notice that if `bounces={false}` the large header never gets back after being collapsed for the first time? This should be easy to reproduce in the latest versions of the libs.

[2021-08-21 00:20] maxzinovev commented on #703
@ferrannp i faced the same. Have you solved this problem?

[2021-08-21 06:07] SurprisedTao commented on #1043
Hello, I am a newbie to RN. Encountered the same problem as you, can you explain in detail how you solved this problem

[2021-08-21 16:26] icaru88 commented on #1060
same issue here

[2021-08-22 20:22] pouyarezvani commented on #542
@WoLewicki and @ArekChr I opened an issue on the react-native GitHub regarding the sectionList sticky headers not taking the iOS translucent header into account
[here is a  link to it](https://github.com/facebook/react-native/issues/32063#issue-976462169)

[2021-08-23 08:27] WoLewicki commented on #843
@zoyopo the references on both sides are nulled when the Screen is removed from React view hierarchy, you can see it when going back, the memory is freed then.

[2021-08-23 08:30] WoLewicki commented on #1020
@cristianoccazinsp can you check if PR linked here: https://github.com/software-mansion/react-native-screens/issues/1017#issuecomment-902605332 fixes the slow animation?

[2021-08-23 15:13] kacperkapusciak commented on #1060
Hi @BartoszKlonowski, @icaru88
This issue should be now resolved by newest version of `react-native-screens` - [v3.6.0](https://github.com/software-mansion/react-native-screens/releases/tag/3.6.0). Please upgrade the dependency to the newest version.

I'll close this issue for now. If you encounter any problems with this don't hesitate to comment here and I'll reopen the issue.
Cheers 🙌

[2021-08-23 15:13] #1060 closed

[2021-08-23 16:51] 556677152 opened #1069 "Okay, now that I'm thinking about it, we could have a channel for disclosing some kind of security issue. I'm having a hard time imagining one, because none of our outputs include running code, but unknown-unknowns, etc. Fine."
Okay, now that I'm thinking about it, we could have a channel for disclosing some kind of security issue. I'm having a hard time imagining one, because none of our outputs include running code, but unknown-unknowns, etc. Fine.

This PR as of today, nearly a month into its life, is still just template content. @Tomtam25 do you intend to fill this in? Is it your intent to get _us_ to fill it in?

_O

[2021-08-23 19:35] cristianoccazinsp commented on #1020
@WoLewicki I will give it a shot. I just realized you guys are also migrating to kotlin so I need to fully install this branch as opposed to just replacing the files locally :(

[2021-08-23 20:26] cristianoccazinsp commented on #1020
@WoLewicki the changes in that PR greatly improved the issue for me. Not only that, but it fixed another extremely ugly issue where the app's background (activity background) is visible for half a second when a screen is replaced without animation, or right at the end of the animation. Tested on a Pixel 5.

Issue 1, activity background visible during some transitions fully fixed. Before and after

[2021-08-24 09:24] WoLewicki commented on #1069
I'm closing this issue due to not following the contributing guidelines for `react-native-screens`.

For more information see [contributing guide](https://github.com/software-mansion/react-native-screens/blob/master/guides/CONTRIBUTING.md).

[2021-08-24 09:24] #1069 closed

[2021-08-24 10:56] WoLewicki commented on #944
I am closing it due to no response in more than 30 days. Please provide a reproduction and then we can reopen it.

[2021-08-24 10:56] #944 closed

[2021-08-24 14:24] #317 closed

[2021-08-25 04:29] Razorholt commented on #1061
You may use the autofocus prop in TextInput or wait until the transition is over and the page is in focus

[code]

[2021-08-25 12:06] SimpleCreations commented on #1061
@Razorholt hi! I think I mentioned in the issue that everything is fine when using `autoFocus`; the reason I tried a small timeout was a hacky workaround for one of the other bugs. (And although setting a long timeout works and doesn't trigger the flickering, it leads to bad UX.)
Nevertheless, I thought the issue was worth reporting regardless of how and why the `TextInput` is focused during the t

[2021-08-25 12:37] mlbonniec opened #1077 ""RNSScreenStackHeaderConfig" was not found in the UIManager. (iOS)"
## Description
Hi, after following the installation tutorial, I get this error. I'm only using iOS, so I don't know if it works on Android, and if not, nevermind.
How to fix this?

### Screenshots

![Simulator Screen Shot - iPhone 12 - 2021-08-25 at 14 31 51](https://user-images.githubusercontent.com/29955402/130791010-3531b45b-547c-4cb4-aa1b-75362417c2b6.png)

## Steps To Reproduce

I use the Typ

[2021-08-25 13:03] gersomvg opened #1078 "3.6.0 breaks android build with minSdk = 21"
## Description

When running a `detox build` I encountered this error:

[code]

I actually have the suggested compileOptions in my build.gradle. Setting the minSdk option from 21 to 26 fixes it, but we don't want this in our project.

I have the feeling this might have to do with the new Kotlin code in 3.6.0?

## Steps To Reproduce

1. Build android project with minSdk 21 and react-native-screens@

[2021-08-25 13:10] vlkmx opened #1081 "iOS SearchBar 'cancel' button text change?"
### Discussed in https://github.com/software-mansion/react-native-screens/discussions/1080

<div type='discussions-op-text'>

<sup>Originally posted by **vlkmx** August 25, 2021</sup>

Is there any support for changing the 'cancel' title to any other?

<img width="162" alt="Снимок экрана 2021-08-25 в 16 08 04" src="https://user-images.githubusercontent.com/12006166/130796266-de403a24-c472-4a6f-b24

[2021-08-25 13:13] mlbonniec commented on #1077
I resolved the error in installing the previous version. `react-native-screens@3.5.0`
Could you fix this in the `3.6.0` ? ^^

[2021-08-26 09:35] ElviraBurchik opened #1085 "3.6.0 update causes `Could not find method ktlint() for arguments [com.pinterest:ktlint:0.40.0]` error"
## Description

When upgrading to 3.6.0 Android build fails with the following error:
[code]

### Screenshots

## Steps To Reproduce

1. Build Android project with `react-native-screens@3.6.0`

### Expected behavior

It builds successfully 🤞

### Actual behavior

It throws the above error ⬆️

## Package versions

- React: 17.0.1
- React Native: 0.63.3
- React Native Screens: 3.6.0

Our setup is a

[2021-08-27 21:40] brunorafaeI opened #1090 "v3.6.0 - Task: react-native-screens:ktlint FAILED"
## Description

When I'm trying to build my project I have this issue :

[code]

### Screenshots

## Steps To Reproduce

1. Build Android project with @react-navigation/native
### Expected behavior
It builds successfully 🤞
### Actual behavior
It throws the above error ⬆️
## Additional Information
I'm using WSL2 (Debian 10 buster) to run my project and running the emulator from windows 10 64 bits,

[2021-08-29 15:05] sregg commented on #349
Has anyone found a workaround that works all the time?
It'd be sad to disable those great native screens just for a small auto-fill issue...

[2021-08-29 20:15] wibb36 commented on #561
Awesome awesome awesome.

[2021-08-29 21:04] brunorafaeI commented on #1090
Hi there!

I've changed the version of java to OpenJDK 8 and executed "./gradlew clean", but I have the same error!
Someone can help me pls?

[2021-08-30 07:55] kacperkapusciak commented on #1090
Hi @brunorafaeI,
It looks like a script or someone by hand changed Android files in the `node_modules/react-native-screens/` directory.
Reinstalling `react-native-screens` should fix your issue.
[code]
Or remove the whole `node_modules` directory and reinstall packages with `yarn`.
If it doesn't help, could you provide a full, complete error message?

Cheers

[2021-08-30 08:09] gersomvg commented on #1078
@kacperkapusciak I'll find some time this week to try and make a minimal reproduction.

It is probably some interaction with the setup I've done for other dependencies, but downgrading react-native-screens to 3.5.0 instantly fixes it for me.

[2021-08-30 17:11] brunorafaeI commented on #1090
Hi @kacperkapusciak,

Thanks for your response! I did what you mentioned, but I still have the same error 👍

[code]

[2021-08-30 18:19] SimpleCreations opened #1091 "Swipe to go back gesture does not work consistently on iOS 12"
## Description

I'm experiencing the exact same issue as described here: #853
I am able to reproduce it on a physical iPhone 6 running iOS 12.5.4. (I've also tried iOS 14 simulator, where the issue is not present. On iOS 12.4 simulator, the gesture does not work at all.)

Demo:

https://user-images.githubusercontent.com/12449725/131385658-f1761a8c-ee98-4a89-9e12-687902aea1c1.mp4

### Screenshots

[2021-08-31 09:08] brunorafaeI commented on #1090
Any help?

[code]

[2021-08-31 10:04] ChristophGr opened #1092 "Build fails without jcenter repository"
## Description
* checkout the project source code
* run yarn
* cd android; ./gradlew assembleRelease

### Expected behavior

[code]

### Actual behavior
[code]

## Package versions
3.6.0, also current master (2de1ac16ddac4ddf3e42d133c130556a73975ba0)

Adding the jcenter repository again, fixes the issue.

[2021-09-01 07:58] kacperkapusciak commented on #1090
@brunorafaeI could you check if applying changes from https://github.com/software-mansion/react-native-screens/pull/1093 fixes your issue?

E.g. you can install package directly from branch with `yarn add git+https://github.com/software-mansion/react-native-screens#@kacperkapusciak/add-spotless` or change files by hand

[2021-09-01 07:59] kacperkapusciak commented on #1085
@ElviraBurchik could you check if applying changes from https://github.com/software-mansion/react-native-screens/pull/1093 fixes your issue?

[2021-09-01 09:24] Abdul-1Basit commented on #89
This issue doesn't seems to be getting resolved. :D
Here are both examples, showing the keyboard and also closing on tapping anywhere on screen, if anyone needs it.

import React, { useEffect, useRef } from "react";
import {
  Dimensions,
  StyleSheet,
  Text,
  View,
  Image,
  TouchableOpacity,
  Keyboard,
} from "react-native";

import { DrawerContentScrollView, DrawerItem } from "@react-naviga

[2021-09-01 10:14] IjzerenHein commented on #561
Hi everyone! Due to the high interest in this feature, I've created a money-pool for collecting donations to build this feature. This resolves about leveraging `react-native-shared-element` to do the native shared-element transitions and extending `react-navigation-shared-element` with a `createSharedElementNativeStackNavigator`.
https://paypal.me/pools/c/8Cyt3ED5wV

More info in this thread:
http

[2021-09-01 11:27] SudoPlz commented on #114
Still seeing this crash in `react-native-screens@3.6.0`

Can we re-open that issue?

The stack trace is:

[code]

[2021-09-01 12:33] WoLewicki commented on #525
After some discussion, we decided to move `WindowView` to `react-native-screens` package. You can check #1096 and test if it is what you need.

[2021-09-01 12:48] brunorafaeI commented on #1090
@kacperkapusciak thanks so much!! its works now very well, ca I know what is the problem? and I'll stay with this version of react-native-screens instead of the official version ??

[2021-09-01 13:40] kacperkapusciak commented on #1090
@brunorafaeI probably next week we'll release next version of `screens` with this change so till this time you'll have to keep using this fix.

Linters are used to check for code quality and error out when something isn't like it's supposed to be. Previous configuration checked not only when *we* were developing but also on the user's (yours!) computer when using our library. That wouldn't be a pr

[2021-09-01 13:59] kashmiry commented on #403
@baraa95 Did you find a solution to this? when`headerShown: false` I still get the behavior switched.

[2021-09-01 14:38] brunorafaeI commented on #1090
@kacperkapusciak  I get it, maybe this was the cause of the problem (I replaced the native .editorconfig file for this) :

[code]

Could you confirm me if I'm right?

[2021-09-01 16:23] qmatteoq opened #1097 "Can't compile a React Native for Windows app once you add react-native-screens"
## Description

Once you add react-native-screens to a React Native for Windows 0.64 or 0.65 application, the project doesn't compile anymore. This is a full stack of the errors reported by Visual Studio:

[code]

## Steps To Reproduce

1. Create a new React Native application
2. Add Windows support following the official guidance: https://microsoft.github.io/react-native-windows/docs/getting-star

[2021-09-01 17:16] aryanm5 commented on #649
This worked for me in 0.63 and 0.64, but after upgrading to 0.65 I am getting a build time error due to this patch:
`ARC semantic issue`
`No visible @interface for 'RCTScrollView' declares the selector 'updateContentOffsetIfNeeded'`
If I disable the patch, the app builds but the big header problem comes back (the header starts in collapsed mode). Is there a solution for 0.65?

[2021-09-01 17:30] andreacassani commented on #649
@aryanm5 updateContentOffsetIfNeeded changed to updateContentSizeIfNeeded in 0.65, below the patch `react-native+0.65.1.patch`:

[code]

[2021-09-01 17:30] grahammendick commented on #649
@aryanm5 Looks like [react native has renamed updateContentOffsetIfNeeded](https://github.com/facebook/react-native/pull/30647) to `updateContentSizeIfNeeded`.

Are you interested in creating this patch as a pull request on react native so that this problem doesn't happen again? Looks like react native are looking at pull requests again so might be worth giving it a go.

[2021-09-01 20:07] aryanm5 commented on #649
Sure. I'll give it a go and post updates here.

[2021-09-02 00:29] aryanm5 commented on #649
@grahammendick [Here's the pull request](https://github.com/facebook/react-native/pull/32135)

[2021-09-02 09:26] grahammendick commented on #649
@aryanm5 Thanks for stepping up. I really appreciate it

[2021-09-03 00:45] cristianoccazinsp commented on #472
Noticed this on RN 0.65.1 as well. Can we re-open? It did not happen with RN 0.62.2 though. So RN broke something here...

[2021-09-03 10:28] WoLewicki commented on #472
Please provide a minimal reproduction of the issue and then we can reopen it.

[2021-09-03 12:04] #1092 closed

[2021-09-03 12:14] #1097 closed

[2021-09-03 14:39] cristianoccazinsp commented on #472
After some digging, I don't really think this is related to this library at all.

RN 0.65 (or 0.64?) changed something in the native dispatching order that ends up delaying certain changes.  For example, changing a prop and immediately running `ref.someMethod` (on the setState callback), on Android, will result in the prop not being ready / updated yet, requiring an extra `setTimeout` call. The sa

[2021-09-03 18:44] 10000multiplier commented on #194
Yep, all you need to do is, instead of using ```screenOptions```, use ```navigation.setOptions```in your component like this:

[code]
@WoLewicki Can we implement an ```autoFocus``` prop for the search bar?

[2021-09-03 19:06] 10000multiplier commented on #89
anybody have an idea about how to ```autoFocus``` the 'react-native-screens' searchbar?

[2021-09-04 10:11] lucatk commented on #932
Experiencing this issue too in an Expo managed project.

Dragging the header bar further to the top and letting it bounce back down also resets the header height to it's desired height for me.

[2021-09-04 12:34] CortexTN opened #1104 "RNScreens 3.6.0: Unresolved reference: attr."
## Description

### Screenshots
![image](https://user-images.githubusercontent.com/73752904/132094422-09aae01a-63fe-46a9-b087-6d708e12f48f.png)
## Steps To Reproduce

1. i have no steps!

### Expected behaviour

compiling success

### Actual behaviour

compiling failed

Task :react-native-screens:compileDebugKotlin FAILED
e: C:\Users\CortexTN\Documents\GitHub\MoonMeet-CrossPlatform\node_modules\re

[2021-09-05 13:27] VityaSchel commented on #380
I tried

- Wrapping `<NavigationContainer>` with `<View style={{ flex: 1, backgroundColor: '#000' }}>`
- `cardStyleInterpolator: () => ({})` in screenOptions
- `animationEnabled: false` in screenOptions
- `detachInactiveScreens={false}` prop on `<Stack.Navigator>`
- `contentStyle={{ backgroundColor: '#000' }}` on `<Stack.Screen>`
- `theme={DarkTheme}` prop on `<NavigationContainer>` with object im

[2021-09-06 01:01] arcollector opened #1105 "Using `headerTitleAlign` or `headerLeft` or `headerRight` ignores `headerTitleStyle`"
## Description

Using `@react-navigation/native-stack` and applying some of these props:
1. `headerTitleAlign`
2. `headerLeft`
3. `headerRight`

makes `headerTitleStyle` prop to be ignored completly

### Screenshots

## Steps To Reproduce

1. The following header configuration makes `headerTitleStyle` ignored

[code]

### Expected behavior

`headerTitleStyle` should still persist whatever value  `

[2021-09-06 06:48] #1085 closed

[2021-09-06 06:48] #1090 closed

[2021-09-06 06:49] ElviraBurchik commented on #1085
Hi @kacperkapusciak

I've been off last week and couldn't respond. I'm going to try the changes again today, but before I switched off it didn't help. I'll check again and reopen the issue if it's still valid, okay?

[2021-09-06 06:57] kacperkapusciak commented on #1104
Can you please provide a minimal complete reproducible code sample? With this, I mean a small snippet that reproduces your issue in a snack or in an empty repo. Without this we are unable to help you. Please see [this guide](https://stackoverflow.com/help/minimal-reproducible-example).

Cheers

[2021-09-06 07:02] kacperkapusciak commented on #1085
@ElviraBurchik
Sure! Sorry for not waiting just a little bit longer with merging this PR. Just let me know and I'll reopen if It didn't help.

[2021-09-06 09:32] kacperkapusciak commented on #1105
Duplicate of https://github.com/react-navigation/react-navigation/issues/9885
Issue should be fixed in the next release of `react-navigation/native-stack` by https://github.com/react-navigation/react-navigation/commit/127e030e03cfec9600cca0327edd159a7bb08896

Cheers

[2021-09-06 09:32] #1105 closed

[2021-09-06 12:05] #564 closed

[2021-09-06 12:05] #619 closed

[2021-09-06 12:42] WoLewicki commented on #1081
@vlkmx can you check if https://github.com/software-mansion/react-native-screens/pull/1108 is what you need?

[2021-09-06 13:58] vlkmx commented on #1081
@WoLewicki yep, thanks!

[2021-09-06 13:58] #1081 closed

[2021-09-06 18:43] iBhavesh commented on #692
I am facing the same issue. I am using react-navigation-header-buttons I reduced the margin by using negative MarginRight on the item

[code]

[2021-09-06 21:38] 0b3r commented on #114
Same issue.

The stack trace is:

[code]

[2021-09-07 05:55] shwetalii commented on #114
Hi,
I was playing around this issue ...and by chance I happened to change my laptop. We required to install react-native-screens ONLY to suffice its peer dependency for react-navigation. Previously when I had this issue reproducible in old machine, I had node version of '14.8.0', where I had to manually install react-native-screens by keeping its entry in package.json. But after changing my machin

[2021-09-07 06:25] chinieer commented on #692
I had think about this solution,but the extra 15 space will not animate when u go back by gesture right,it looks so strangely

[2021-09-07 06:26] chinieer commented on #692
I had think about this solution,but the extra 15 space will not animate when u go back by gesture right,it looks so strangely

[2021-09-07 07:13] Waqas-Jani opened #1109 "[3.6.0]v Runtime JAR files in the classpath should have the same version."
## Description
Hi, i'm facing this warning,
below my conosle statements:

**Task :react-native-screens:compileDebugKotlin**
w: Runtime JAR files in the classpath should have the same version. These files were found in the classpath:
    /home/waqas/.gradle/caches/transforms-3/6786ed219b01aac6d7fac2224360f0ad/transformed/jetified-kotlin-stdlib-jdk8-1.4.10.jar (version 1.4)
    /home/waqas/.gradle/c

[2021-09-07 07:59] xjuni0r87 opened #1110 "Tablet orientation issue with createNativeStackNavigator"
## Description

i use  createNativeStackNavigator from '@react-navigation/native-stack'
i force fix portrait orientation in orientation prop.
on Android emulator works fine, but on Android tablet emulator (Nexus 9 API 30) orientation is not locked

if i fix landscape orientation on a second screen
on Android emulator works fine, but on Android tablet emulator (Nexus 9 API 30) doesn't rotate automa

[2021-09-07 08:34] WoLewicki commented on #1110
It is probably caused by how different orientations are interpreted by the system depending on what device you are using. You can check other `landscape` options from here: https://developer.android.com/reference/android/R.attr#screenOrientation and apply them there: https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/Screen.kt#L176. Y

[2021-09-07 08:56] ElviraBurchik commented on #1085
I've tested the fix and it works, thank you @kacperkapusciak 🙌
Looking forward to the next release.

[2021-09-07 09:01] WoLewicki commented on #606
I think this issue is part of what can be achieved by using `OverlayView` (see https://github.com/software-mansion/react-native-screens/issues/525 and https://github.com/software-mansion/react-native-screens/pull/1096). I will close this issue then to keep the discussion in one place. Feel free to comment here if I am wrong and I'll reopen it.

[2021-09-07 09:01] #606 closed

[2021-09-07 09:10] kyle-ssg commented on #606
So good, can't wait to use this!

[2021-09-07 13:43] AmolFC opened #1111 "ScreenContainer is not attached under ReactRootView with react navigation 6"
I am trying to open StackNavigator as modal like following :
[code]
This is working fine if I am using React Native Screens version 2.18.1 or below.
But if I upgrade to any 3.0.0+ version app is crashing in above case with "ScreenContainer is not attached under ReactRootView " error.
I have also tried "enableScreens(false)" but still getting crash.

- React:17.0.1
- React Native:0.64.2
- React Nat

[2021-09-07 14:40] kacperkapusciak commented on #1111
Hi @AmolFC
We don't support rendering navigators outside of the children of `ReactRootView`. You can use `detachInactiveScreens: false` flag to turn off `react-native-screens` in those cases.

Also, I'm a bit confused about what you are trying to achieve. Isn't maybe using the `presentation: 'modal'` option on StackNavigator something that would help you?

Cheers

[2021-09-07 14:40] #1111 closed

[2021-09-07 19:42] xjuni0r87 commented on #1110
i've added all options from here: https://developer.android.com/reference/android/R.attr#screenOrientation in this file
https://github.com/software-mansion/react-native-screens/blob/2622254f9229b0a163f6c436ef206b1f85613d75/android/src/main/java/com/swmansion/rnscreens/Screen.kt#L176
and test them without success.
I also tried to install react-native-orientation-locker but it doesn't work.
Is it po

[2021-09-08 08:55] WoLewicki commented on #1110
It might be a bug specific to this one device. Can we close this issue then? I am not sure if there is anything we can do in the library to help it unfortunately.

[2021-09-08 10:01] #1110 closed

[2021-09-08 11:06] #463 closed

[2021-09-08 11:06] #556 closed

[2021-09-08 11:06] #819 closed

[2021-09-08 11:06] #1017 closed

[2021-09-08 11:06] #1020 closed

[2021-09-08 11:40] Ubax commented on #998
@gp3gp3gp3 Could you test TestsExample app on this branch https://github.com/software-mansion/react-native-screens/tree/%40ubax/android-accessibility.
I tried to reproduce the issue there, but it works for me on Android emulator. If it does not work could you provide a code in TestsExample app?

[2021-09-08 13:04] WoLewicki commented on #1023
From the issue tracker you send, it seems that it was an internal issue and it is solved by now. I am not sure if we can do anything about it in the library. Can we close the issue then?

[2021-09-08 13:10] #525 closed

[2021-09-08 13:50] Ubax commented on #1045
@gp3gp3gp3 Just to make sure we are thinking about the same behavior.
Did you try using Meta+Tab to go to header?
The header is a different (navigation cluster)[https://developer.android.com/about/versions/oreo/android-8.0#kbnc] then the rest of the app.
On my android device I was able to focus a button that was placed in the header.

[2021-09-08 15:47] trajano commented on #1023
Not sure if it is solved, last I checked it is still failing on Android.  The workaround was to just avoid the native stack navigator and use the non-native stack navigator on Android using a .android.tsx variant.  I'll close it for now since I don't know if anyone else is having the same issue, at least there's a workaround available even if we lose the "native"

[2021-09-08 15:47] #1023 closed

[2021-09-09 06:28] kacperkapusciak commented on #1044
Closing due to no response in 30 days.

[2021-09-09 06:28] #1044 closed

[2021-09-09 09:36] brunorafaeI commented on #1090
Hey, is this fix not available in the release version yet?

[2021-09-09 09:37] McDreamy commented on #1060
Hi, I'm having this issue on react native macOS

[2021-09-09 09:39] WoLewicki commented on #1053
Based on your code, if the header is above the `NavigationContainer` and not inside the `Screen` component, the Android's behavior seems more reasonable. The fact that the modal is rendered on top of header on iOS is consequence of how the modality works there, rendering a new view on top of all of the content. You can use `containedTransparentModal` to see the same behavior as on Android. I am no

[2021-09-09 09:44] kacperkapusciak commented on #577
It's been over a year since this issue was opened and it seems like it doesn't occur anymore. If it still occurs please let us now and we'll reopen this issue.

https://user-images.githubusercontent.com/39658211/132662799-8dbe5c3d-d5e2-4ac3-b16f-7a49da4e1286.MP4

Cheers

[2021-09-09 09:44] #577 closed

[2021-09-09 11:54] a-eid commented on #619
@WoLewicki issue still happening with the latest release `3.7.0`.

[2021-09-09 12:03] burakgormek commented on #619
@a-eid You have to patch react-navigation PR which is not merged yet.
https://github.com/react-navigation/react-navigation/pull/9772

[2021-09-09 13:21] a-eid commented on #619
@burakgormek thanks alot, I confirm that patching react navigation has fixed the issue for me.

cc @WoLewicki

[2021-09-09 15:40] hippiejuice commented on #17
Has there been a fix or support added for restoring screen fragments? What are the repro steps? I'm on react-native 0.63.3 and react-native-screens 3.4.0, and we are starting to see this crash in our app in production. We haven't added the first recommended fix of passing null into onCreate since we want to preserve state if the app is relaunched from the background - but I also haven't been able

[2021-09-10 09:45] WoLewicki commented on #1034
I will close this issue since I think there is nothing to be added here. Feel free to comment if I am wrong.

[2021-09-10 09:45] #1034 closed

[2021-09-10 10:10] SergiOnGit commented on #1109
The same here. Please fix.

[2021-09-10 12:24] kacperkapusciak commented on #1090
@brunorafaeI version with this fix went live a few hours after your comment 🙂  You can now upgrade Screens to v3.7.0👍

[2021-09-10 16:00] SimpleCreations opened #1120 "Scrollable content gets cut off by the header with a search bar on iOS 12"
## Description

When focusing the search bar on iOS 12, the top portion of the `ScrollView` is cut off.
Also, a white flash can be seen at the bottom of the screen when the search bar loses focus, and the backdrop seems to cover the entire screen including the header.

Demo:

https://user-images.githubusercontent.com/12449725/132881750-b86c05aa-a01c-4dfd-925e-9951e492fe47.mp4

There is no issue on

[2021-09-10 16:08] SimpleCreations opened #1121 "Search bar is not hidden when scrolling down on iOS 12"
## Description

iOS 12:

https://user-images.githubusercontent.com/12449725/132883552-fb40de44-d89f-4e24-9381-242e2a1dd2f0.mp4

iOS 13+:

https://user-images.githubusercontent.com/12449725/132883594-c3eb19ef-633c-495e-a867-0093b0e63ee3.mp4

### Screenshots

## Steps To Reproduce

1. Have a `ScrollView` with some content and a header with a search bar.
2. Scroll down.

### Expected behavior

The se

[2021-09-10 18:48] cristianoccazinsp opened #1122 "[3.7.0] Android change broke with appcompat >= 1.3.x and detachPreviousScreen"
## Description

https://github.com/software-mansion/react-native-screens/pull/1066 introduced a bug that causes inactive screen to end up stuck when `detachPreviousScreen` is used alongside `androidx.appcompat:appcompat` 1.3.1 or above. The issue does not happen when using the outdated 1.1.0 version.

### Screenshots
![Screenshot_20210910-154421](https://user-images.githubusercontent.com/48869228/

[2021-09-11 00:57] mtx62 commented on #309
confirm that you used

[code]

[2021-09-11 05:19] arunim2405 opened #1123 "Swipe to go back gesture on iOS does not work properly"
## Description
Swipe to go back gesture on iOS does not work properly. It only works when I leave the swipe gesture on the other end. Whereas in createStackNavigator, it works as it should

### Screenshots

## Steps To Reproduce

1.

https://user-images.githubusercontent.com/47343112/132937133-891fca31-7636-4e73-ac66-f30f8ecfdcd7.mp4

### Expected behavior
The navigation gesture should goBack even

[2021-09-12 00:29] Josiassejod1 commented on #531
push worked for me you are a fife saver

[2021-09-12 15:20] phhoef commented on #928
I have the exact same problem, but unfortunately I am new to react native. @JB1905 could you please explain how you overcame this problem?

[2021-09-12 16:08] phhoef opened #1124 "SearchBar not appearing"
## Description
`SearchBar` is not appearing.

### Screenshots

## Steps To Reproduce

1. Add SearchBar to a view

### Expected behavior

### Actual behavior

## Snack or minimal code example
[code]

## Package versions

- React: 16.13.1
- React Native: 0.63.4
- React Native Screens: 3.4.0
- Expo: 42.0.0

[2021-09-13 07:18] danidaryaweesh opened #1125 "Android app freezes when navigation back from views"
## Description
Android app freezes when user navigates back in the views. Was able to avoid the issue when I turned of enable screens. I'm using the latest version (3.7.0)

## Steps To Reproduce

1. Go into a view
2. Go back using navigation

### Expected behavior
App should be functional
### Actual behavior
App freezes and never works again

- React: 17.0.1
- React Native: 0.64.2
- React Native S

[2021-09-13 08:45] lkw1830 commented on #17
as [comment](https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704067) suggested pass null to onCreate, however, on foldable phone the whole application will restart whenever we split into multi-window. Any other ways could prevent such issue? Thanks.

[2021-09-13 09:46] Ubax commented on #1124
@phhoef to use the search bar you need to pass options to screen. Please take a look at our [example app](https://github.com/software-mansion/react-native-screens/blob/master/Example/src/screens/SearchBar.tsx).

For now I close the issue, since it is not valid.

[2021-09-13 09:46] #1124 closed

[2021-09-13 12:37] JB1905 commented on #928
@phhoef Please Upgrade Expo to version 42. If the error still exists, remove node_modules (and yarn.lock / package-lock.json if needed) and install packages. It works for me.

[2021-09-13 13:01] phhoef commented on #928
Thanks, worked for me, too :-)

[2021-09-13 13:53] WoLewicki commented on #1125
I'm closing this issue due to not following the contributing guidelines for `react-native-screens`. Especially, there is no information about the navigator being used.

For more information see [contributing guide](https://github.com/software-mansion/react-native-screens/blob/master/guides/CONTRIBUTING.md).

[2021-09-13 13:53] #1125 closed

[2021-09-13 15:54] WoLewicki commented on #1122
I managed to reproduce the freeze. It seems like a change in the behavior of `Fragment` in the newer versions of `androidx.fragment:fragment`. The issue goes away if you strictly provide the `Fragment` library version used by us, which is `1.2.1`. Can you check if adding below code resolves your issue and does not introduce new problems? I don't think there is another easy solution since providing

[2021-09-13 16:04] WoLewicki commented on #1123
I couldn't reproduce the behavior you mentioned. I believe you mean `native-stack`. It uses the behavior provided by platform and should work same as e.g. `Settings` app. Can you provide code with reproduction where this appears?

[2021-09-13 16:06] cristianoccazinsp commented on #1122
@WoLewicki I had actually solved the issue by forcing androidx compat to 1.1 (the default one provided by RN?), but didn't think about only requiring for the fragment one. I will give it a try later today and reply back.

However, as we migrate closer to Android 12 (will be released shortly, and most apps will be forced to upgrade to SDK 31 due to some extremely ugly splash screen changes), this i

[2021-09-13 21:26] cristianoccazinsp commented on #1122
@WoLewicki forcing androidx fragment version does fix the issue too.

However, if we also require to define `androidx.appcompat:appcompat` due to another lib requiring it, which version should we use? The initial issue happened when using `androidx.appcompat:appcompat` 1.3.+, and I'm afraid that mixing it with fragment 1.2.1 may break something.

[2021-09-14 08:03] kacperkapusciak commented on #1123
@arunim2405 also, could you provide the iOS version on which this occurs? There seem to be small differences with swipe gestures between iOS versions.

[2021-09-14 09:46] arunim2405 commented on #1123
@kacperkapusciak  I am using an iPhone 12 simulaator on iOS 14.5. My app structure includes:
RootNativeStack=>Drawer=>Tab Navigators=> native/normal stack Nav (where I am facing the issue)

[2021-09-14 10:58] kacperkapusciak commented on #1123
@arunim2405 could you prepare a code snippet or snack with this setup? Our time working at `screens` is very limited and I'd be extremally thankful if you did. Thanks! 🙌

[2021-09-14 11:01] kacperkapusciak commented on #1109
Hi @Waqas-Jani, @SergiOnGit could you check if applying https://github.com/software-mansion/react-native-screens/pull/1130 fixes your issue and doesn't introduce any new ones?

[2021-09-14 15:49] Overtorment opened #1131 "[3.6.0] and [3.7.0] e2e fail on our TravisCI for a reason unknown (android)"
## Description

We have tried updating to 3.6.0 & 3.7.0, but our detox e2e CI starts failing on Travis (android, Linux-based). It feels like the app either hangs, either dies and takes an emulator with it.
Weird thing is that we have the same test suite set up on GithubActions (android, macOS-based) and it works with no issues there.

Our Travi e2e CI setup config is rather hacky (https://github.c

[2021-09-14 19:16] SergiOnGit commented on #1109
@kacperkapusciak Updated but it is still the same.

[2021-09-14 22:44] cristianoccazinsp commented on #1122
@WoLewicki after further testing, forcing fragment 1.2.1 (or any in the 1.2.x series) breaks screens that use surfaces (only with screens 3.7.x). For instance, react-native-camera ends up stopping and restarting the camera when the screen that has a camera component unmounts. I have traced this to some odd behaviour that causes the screen texture (TextureView).

You can see the behaviour in the fo

[2021-09-15 08:06] mlecoq opened #1132 "[Android] headerTitleStyle is ignored"
## Description

With react-navigation (native-stack), I try to customize header user `headerTitleStyle` prop. I see that those prop are well passed to `ScreenStackHeaderConfig` but it has no effect (works fine on Web and iOS)

Even if I hardcode a value

[code]

in HeaderConfig file of react-navigation/native-stack

### Screenshots

![screenshot-1631692378270](https://user-images.githubusercontent

[2021-09-15 08:20] WoLewicki commented on #1122
I have no knowledge of the internals of the `Fragment` implementation unfortunately. Since your setup differs from the one suggested by the library, and probably used by most of the users, I can see 2 quick options.
First is to use [patch-package](https://www.npmjs.com/package/patch-package) in order not to apply this commit: https://github.com/software-mansion/react-native-screens/pull/1066.
Seco

[2021-09-15 08:28] kacperkapusciak commented on #1132
Duplicate of https://github.com/react-navigation/react-navigation/issues/9885
Issue should be fixed in the next release of `@react-navigation/native-stack` by https://github.com/react-navigation/react-navigation/commit/127e030e03cfec9600cca0327edd159a7bb08896

Cheers

[2021-09-15 08:28] #1132 closed

[2021-09-15 08:52] kacperkapusciak commented on #1131
Hi @Overtorment,
First, thanks for submitting an issue! 🙌

You guys have a quite complicated setup with many dependencies - without a simplified reproduction, there's hardly anything we can tell. And when it works on one provider but not on the other doesn't help with this. I can't see anything clearly screens-related in the stack trace. It can be cache, it can be a clash with another dependency,

[2021-09-15 08:52] #1131 closed

[2021-09-15 08:54] Overtorment commented on #1131
Fair enough. Thanks!

[2021-09-15 09:13] WoLewicki commented on #1061
I tested such behavior on clean native iOS project by adding focusing block during the transition of VCs and the flicker happens there too. It looks like the behavior of `UIKit` then and I am afraid we cannot do anything about it in `react-native-screens`. Can I help you more with this?
![Simulator Screen Recording - iPhone SE (2nd generation) - 2021-09-15 at 11 10 43](https://user-images.githubus

[2021-09-15 12:03] cristianoccazinsp commented on #1122
For the long term, supporting the updated fragment versions I guess would be ideal, but for now I have no problem with forcing fragments 1.2 in order for the library to work. However, with fragment 1.2 the issue of surfaces getting recreated when popping starts to happen.

Would it be easier to debug what’s wrong with the 1.2 implementation as opposed to to trying to support fragment 1.3? Keep in

[2021-09-15 12:33] WoLewicki commented on #1122
You can rather quickly check the changes here: https://developer.android.com/jetpack/androidx/releases/fragment#1.2.1. Does this issue appear if you use the `appCompat` version suggested by the library?

[2021-09-15 12:40] cristianoccazinsp commented on #1122
@WoLewicki I have tried all version combinations, and the surface being re-created when popping happens with any version below fragment/appcompat < 1.3, and it was not introduced in 3.7, as I found it also happens with 3.6.

So, in conclusion, looks like I've been using appcompat and fragment 1.3.x for a while (with screens ever since 3.x), and never had issues.  Then, when upgrading to 3.7, the s

[2021-09-15 12:48] WoLewicki commented on #1122
Hmm, and what is your use-case for `detachPreviousScreen` ?

[2021-09-15 12:51] cristianoccazinsp commented on #1122
I'm using `detachPreviousScreen` for a totally non-related issue.  Basically, I have one screen that renders stuff in a modal and exposes that feature through its context. However, that screen may sometimes take the user to a second screen that in turn may request the previous screen to show its modal (odd I know!).

So without `detachPreviousScreen`, the modal cannot be shown because the previous

[2021-09-15 12:55] WoLewicki commented on #1122
Ok, let me know if you find out anything concerning the behavior in newer versions. I will also try and debug it a little in the free time, but I guess it won't be easy to apply changes to the code such that it works correctly for all versions of `appCompat`.

[2021-09-15 13:00] SimpleCreations commented on #1061
@WoLewicki Thanks you for taking a look at it!
That's unfortunate. If it's a native iOS issue I guess nothing else can be done.

[2021-09-15 13:15] WoLewicki commented on #1061
I guess that focusing during the transition is something that should not be done anyways. I will close this issue then. Feel free to comment if I am wrong at something and we can reopen it.

[2021-09-15 13:15] #1061 closed

[2021-09-16 08:34] wibimaster commented on #1109
Doesn't that conflict with React himself?
https://github.com/facebook/react-native/blob/main/ReactAndroid/src/main/third-party/kotlin/BUCK

[2021-09-16 08:35] WoLewicki commented on #1064
This behavior is a result of how `yoga` calculates the layouts. In the first calculation, the computed height of scrollView’s content is the height of the whole screen. After this calculation, `react-native-screens` update the size of `Screen` content, reducing its available area, in order to make place for native header. It triggers another calculation of layouts, but since the constraint of havi

[2021-09-16 09:00] kacperkapusciak commented on #1109
@wibimaster you're probably right with your first sentence - downgrading Kotlin to v1.4.X in screens would fix the issue but that's not a solution for a long time. Sometime in the future, Facebook will upgrade the Kotlin version and we would have to do the same. The best solution would be to take the version value from *somewhere* and default to *some* version for safety but I don't know yet how t

[2021-09-16 09:39] wibimaster commented on #1109
I think it's already the case ; I applied your "brutal" fix, but I got that at the end of the build :
[code]
So, I think it uses all versions specified in all packages (you can see the `jdk8-1.4.10.jar` and the `jdk8-1.5.20.jar`).

And, I don't know if it's a linked problem, but I got 51 deprecation notice when building, for example :
`w: /home/me/Project/node_modules/react-native-screens/android/

[2021-09-16 12:21] WoLewicki commented on #1122
I think I found the reason for the issue. It is described in PR: #1133. Can you check if it fixes your issue and does not introduce any new ones?

[2021-09-16 12:29] cristianoccazinsp commented on #1122
@WoLewicki you're awesome! I will test shortly and let you know.

[2021-09-16 20:04] dantenol commented on #1078
Having the same issue here, using the latest 3.7.2. I found other packages facing the same error and [this](https://github.com/OneSignal/react-native-onesignal/issues/1235) had the (temporary) solution.

Just adding the lines the own error provides on the package's gradle file solves it. I'm currently using patch-package to edit the file and make Detox build properly.

I don't think only adding th

[2021-09-16 23:30] Hirbod commented on #263
This could be the solution:

https://github.com/gorhom/react-navigation-scrollable-modal

[2021-09-17 09:00] WoLewicki commented on #263
I think this component is to be used strictly in `stack` navigator with its `PanGestureHandler` while the native iOS modal from `native-stack` uses the native behavior under the hood. But it for sure is worth trying.

[2021-09-17 09:39] Hirbod commented on #263
I just thought that the provided patch with RNGH might intercept and prevent the native gestures but I did not try it yet due to limited time

[2021-09-17 09:48] kacperkapusciak commented on #1078
@dantenol there's nothing more permanent than a temporary solution 😅

This solution is directly stated in the error message but I was completely blinded by the issue stating that it has to do with `minSdkVersion`. Thank you for pointing the solution out!

@gersomvg Could you confirm that #1135 fixes this issue?

Cheers

[2021-09-17 12:39] micheleb commented on #791
Hey there 👋🏻
Chipping in since I saw that @WoLewicki didn't get feedback on #839. I had the same issue, and applying your fix on top of my fork fixed it 🎉
Thanks!

[2021-09-17 13:28] kacperkapusciak commented on #1109
@wibimaster @SergiOnGit
I think what's currently on #1130 will stay as a solution for this. This is the approach other react-native libraries (like `react-native-webview` and `stripe-react-native`) use. It defaults to react-native's Kotlin version (v.1.4.10) but allows developers to override this with
[code]

[2021-09-18 08:04] gilangFaras opened #1136 "Android app crashed when navigating from react fragment to native fragment"
## Description

I have a closed repository in which I integrate React Native with Android Native. I put the react native component inside a fragment and use it for a bottom tab navigation screen. The bottom tab was made in native.
So whenever I try to navigate after the react fragment is loaded, the app will crash.
Navigation between tabs aside from the one with react fragment works fine.

I also

[2021-09-19 00:08] mayconline opened #1137 "[3.7.2] Deprecated react-native-screens:compileDebugKotlin"
Warning on build

"react": "17.0.2",
"react-native": "0.65.1"
"react-native-screens": "3.7.2",

[code]

## Description

### Screenshots

## Steps To Reproduce

1. npx react-native run-android

### Expected behavior

### Actual behavior

## Snack or minimal code example

## Package versions

- React: 17.0.2
- React Native: 0.65.1
- React Native Screens: 3.7.2

[2021-09-19 04:03] Kudo opened #1138 "ScreenStack throws fragment exception from pushing screen"
## Description

Pushing screen in [ScreenStack example](https://github.com/software-mansion/react-native-screens/blob/2.18.1/Example/nativeStack.js) gets Android fragment exception.
This issue did not happen to react-native-screens@3.6.0

Stacktrace as following:

[code]

### Screenshots

<img width="300" src="https://user-images.githubusercontent.com/46429/133914909-a917c304-afa4-42d4-9cee-b791c6

[2021-09-20 06:25] kacperkapusciak commented on #1136
Hi @gilangFaras,
Can you please provide a minimal complete reproducible code sample? With this, I mean a small snippet that reproduces your issue in an empty repo. Please see [this guide](https://stackoverflow.com/help/minimal-reproducible-example).

Cheers

[2021-09-20 06:27] kacperkapusciak commented on #1137
Duplicate of https://github.com/software-mansion/react-native-screens/issues/1109

Cheers

[2021-09-20 06:27] #1137 closed

[2021-09-20 07:58] kacperkapusciak commented on #1121
@SimpleCreations I can't reproduce this issue either on a simulator or physical device

https://user-images.githubusercontent.com/39658211/133970991-292c597b-a415-4cac-9170-85b572c152d3.mp4

[2021-09-20 09:48] Ubax commented on #996
@nandorojo Thanks for finding it. Unfortunately this is a native iOS issue [stack overflow](https://stackoverflow.com/questions/51402566/navigation-bar-issue-when-search-is-active-and-push-to-next-view-controller).

There is no easy fix on our side and we don't want to introduce very complex native logic to create workaround.

After inspecting this issue I came up with a JS workaround that should

[2021-09-20 10:04] #1078 closed

[2021-09-20 11:47] somebody32 opened #1140 "Going back does not recalculate screen height when parent height is dynamic"
## Description

I have a native stack navigator inside a bottom sheet. The bottom sheet's height is dynamic and depends on the currently focused screen. The problem is when going from a taller screen into a smaller one and then back `UIViewControllerWrapperView` and its children (`RNSScreen & RNSScreenView`) stay the size of the previous screen (check flipper screenshot below). Visually it is not

[2021-09-20 13:37] SimpleCreations commented on #1064
@WoLewicki thank you for the detailed response and the workaround!
I was aware of the possibility to calculate the `minHeight` manually, but things get a lot more complicated because I also need keyboard avoiding behavior (would have to manage it manually instead of just wrapping the list in `KeyboardAvoidingView`). But I see now that this is a React Native issue and not react-native-screens.

[2021-09-20 14:16] SimpleCreations commented on #1121
@kacperkapusciak I've just launched the same test project I used for the demo, and strangely enough the issue is gone.
However I still have it in my production project (which uses RN 0.65 and screens 3.7.2) even after rebuilding. I'll get back once I manage to isolate the issue.

[2021-09-20 14:41] vesparny commented on #619
@a-eid how did you patch it?

[2021-09-20 18:09] a-eid commented on #619
I only needed to patch the bottom tab lib, also you need to be using version 6.

[2021-09-21 01:01] yangm97 opened #1141 "Loader doesn't show up if refreshing is true during List initial render"
## Description

### Screenshots

## Steps To Reproduce

1.

### Expected behavior

### Actual behavior

## Snack or minimal code example

https://snack.expo.dev/aZqH76ryl

## Package versions

- React:
- React Native:
- React Native Screens:

[2021-09-21 09:54] pke commented on #17
@mikehardy is [this](https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-899827383) the better fix (with the null guard)?

[2021-09-21 09:58] kacperkapusciak commented on #1109
@Waqas-Jani @SergiOnGit @wibimaster could you check the newest changes in https://github.com/software-mansion/react-native-screens/pull/1130?

[2021-09-21 10:30] mikehardy commented on #17
Probably yes, but as with anything, test it in use

[2021-09-21 10:35] mikehardy commented on #17
Any screen rotation, permission change, language change, theme change etc also represent what android calls configuration changes and they all restart the app. Save nav state and dehydrate rehydrate in app

[2021-09-21 10:56] pke commented on #17
Would love to but so far this issue only happens with deployed versions out there. I was never able to reproduce it. Any idea how to force it?

[2021-09-21 12:43] kacperkapusciak commented on #17
@lkw1830 you can fix that issue by setting up `screenLayout` & `smallestScreenSize` flags in `android:configChanges` option in your `AndroidManifest.xml` file.

So eg. here in our example app
https://github.com/software-mansion/react-native-screens/blob/master/Example/android/app/src/main/AndroidManifest.xml#L19

set it as
[code]

When I was testing this setting up `screenLayout` flag was sufficie

[2021-09-21 12:56] WoLewicki commented on #1136
@gilangFaras Does the native fragment use `commitNow` or `commit`? From the stack trace it seems like the `ScreenStack`, which means `native-stack`, is being detached from window and tries to remove its fragments while another transaction is ongoing, probably the native fragment's one.

[2021-09-21 16:32] mikehardy commented on #17
@kacperkapusciak that's a neat trick and a good strategy! I do similar, but I still have the Bundle-clearing workaround as well, as what I fear happens (and what appears to have happened with at least 'smallestScreenSize' is that new config items are added to the list of things that can cause an Activity restart without me realizing it, resulting in a new vector for restarts and new crashes until

[2021-09-22 03:47] dovandung1165 opened #1147 "Use mavenCentral() since jcenter is shutting down"
I noticed a warning in my React Native project when I build it on Android about this library:
```WARNING: Please remove usages of `jcenter()` Maven repository from your build scripts and migrate your build to other Maven repositories.```
Just want to be helped replace jcenter() from the build script and change to another as jcenter is deprecated and it will be shut down in the future.

[2021-09-22 03:53] dovandung1165 commented on #1147
Ah! It related to another issue. [#1101 ](https://github.com/software-mansion/react-native-screens/pull/1101). I got it.
But do you have any plan to remove jcenter()?

[2021-09-22 09:38] WoLewicki commented on #1138
@Kudo I added a PR concerning this behavior: #1148. This exception comes from using old tests, where `gestureEnabled: true` was available on `Android` with the addition of changing the `Fragment` transactions to being committed synchronously.

[2021-09-22 09:50] kacperkapusciak commented on #1147
Hi @dovandung1165,

`jcenter()` was removed from our repo for a few weeks but it had to be added back because lack of it caused an issue - https://github.com/software-mansion/react-native-screens/issues/1092. It seems like some react-native dependencies aren't present in newer maven repositories yet.

`mavenCentral()` is already present in our repo - https://github.com/software-mansion/react-nativ

[2021-09-22 09:50] #1147 closed

[2021-09-22 10:35] WoLewicki commented on #1140
I think the repro is necessary here since it seems like the native screen height passed to the `RNSScreenView` component is wrong for some reason and I see no quick solution to that.

[2021-09-22 12:34] UserSty commented on #687
Any news about fix?

[2021-09-22 12:43] WoLewicki commented on #687
I believe this has been discussed here: https://github.com/software-mansion/react-native-screens/issues/843

[2021-09-22 13:10] somebody32 commented on #1140
@WoLewicki here you have it, hope it helps https://github.com/somebody32/RNScreensHeightRepro
tried to put in on snack, but the exact bottom sheet lib version doesn't resolve there.

[2021-09-22 13:15] UserSty commented on #687
Unfortunately it doesn't have solution

[2021-09-22 13:22] WoLewicki commented on #687
What is your exact concern about this behavior? Does it lead to crash in your case too @UserSty ?

[2021-09-22 13:24] UserSty commented on #687
Just leak

[2021-09-22 13:37] WoLewicki commented on #687
Then I think there is no more to be done unfortunately, as mentioned here: https://github.com/software-mansion/react-native-screens/issues/843#issuecomment-832034119.

[2021-09-22 16:36] Kudo commented on #1138
thanks, @WoLewicki! the fix in your pr works for me. just to double confirm that android hardware back key support in ScreenStack will be deprecated and be a breaking change, right?

[2021-09-22 18:09] d99iel opened #1149 "RN <Modal> not working within <FullWindowOverlay>"
## Description
The following will result in:

## Steps To Reproduce

[code]

### Screenshots
![Simulator Screen Shot - iPhone 11 - 2021-09-22 at 20 04 11](https://user-images.githubusercontent.com/6758064/134398425-2dd4520f-2bbe-4f01-ae9a-bdb0b98a0ca0.png)

### Expected behavior
RN Modal should work as a child in FullWindowOverlay

## Package versions

- React: 17.0.2
- React Native: 0.64.2
- Reac

[2021-09-23 11:07] WoLewicki commented on #1149
Yes, it is not possible to render a `Modal` inside `FullWindowOverlay` since it does not have any view controllers in its view hierarchy. Could you tell me what is the use-case of rendering a `Modal` inside this component? It already works kind of like modal by itself.

[2021-09-23 12:07] WoLewicki commented on #1138
Yeah, I believe it can be called breaking change if you use `react-native-screens` outside of `react-navigation`.

[2021-09-23 12:08] #1138 closed

[2021-09-23 12:42] Kudo commented on #1138
@WoLewicki understand! thanks for your fix. 👏

[2021-09-23 12:46] WoLewicki commented on #1141
I debugged it a little and it seems like a bug in the logic of setting the frame of `contentOffset` in `RCTScrollView` when adding `refreshControl` and applying `frame` by `RNSScreen`. The workaround for this is to set the `refreshing` to `true` after the transition is over and all layouts are correct. It can be done e.g. like this:
[code]

Can I help you more with this?

[2021-09-23 13:04] kacperkapusciak commented on #1091
Hi @SimpleCreations,
First, I'd like to thank you because your issue reports are always of the highest quality and I wish more people would so accurately fill the template with all the information that we need 🥇

Second, I'm very sorry for not getting to you sooner

but I have some good news for you. We've figured out what caused this issue and a brief explanation could be found in the description

[2021-09-23 13:48] WoLewicki commented on #1140
I tested the repro you provided and when I swipe to go back, it works correctly. I think the problem comes from the fact that you use `useFocusEffect`, which is not a best option for `native-stack` since it is fired at the beginning of transition when navigating from JS, and at that moment the correct layouts are not set yet. When navigating natively, it is fired only after the transition is done,

[2021-09-23 15:08] SimpleCreations commented on #1091
@kacperkapusciak thank you for your kind words and for the fix!
Can confirm that the PR solves the issue.

[2021-09-23 16:31] somebody32 commented on #1140
Thank you, @WoLewicki.

Yes, I understand that switching to `transitionEnd` would fix the issue, but visually it would be a way worse experience: now the sheet expands simultaneously when navigation happens, but with `transitionEnd` navigation starts first, a user sees cut off screen for some time, and then sheet springs to the required height.

Also, some more notes I did while debugging, I hope

[2021-09-24 06:42] #1091 closed

[2021-09-24 07:40] Ubax commented on #1120
Hi @SimpleCreations
Could you please try following solution:
- Add ```headerTranslucent: true,
            searchBar: {
              hideWhenScrolling: false
            },``` to `screenOptions`
- Add `contentInsetAdjustmentBehavior="automatic"` to ScrollView props

This fixed the issue in my case

[2021-09-24 09:36] WoLewicki commented on #1140
header back button does not work for me in both navigators, which is weird and I have no idea why.

Unfortunately I have no knowledge of the implementation of `bottom-sheet`. Maybe it would be good to submit this issue in its repo too, maybe the authors can say more about it and then we can collaborate how to fix the issues.

[2021-09-24 11:02] somebody32 commented on #1140
@WoLewicki I've just pushed another commit that fixes the back button and removes the bottom sheet lib: I'm using plain reanimated now to imitate it.

So I can confirm that:
1. back button or swipe back fix the issue, but the bottom sheet animation is delayed, because `useFocusEffect` fires later for some reason
2. setting value `onTransitionEnd` together with `useFocusEffect` does nothing and not

[2021-09-24 14:33] hannojg commented on #1053
Thanks for getting back to me! So the thing is we need the same behaviour on android as it is on iOS.
I can see that with `containedTransparentModal` iOS works like android, but we need it the other way around.

I understand that part of the reason that it is how it is is due to how modality works on android/iOS. It's a bit of a headache when you write code in RN, expecting it to work the same jus

[2021-09-26 05:22] zwh1666258377 opened #1152 "screenOrientation prop not work"
## Description

https://reactnavigation.org/docs/native-stack-navigator/#orientation

when I set this prop,The screen does not rotate after entering the target page.

### Expected behavior

I hope screen rotate after entering the target page.

### Actual behavior
have not rotate

## Snack or minimal code example

Here are some tips for providing a minimal example: [Snack](https://snack.expo.dev/9L

[2021-09-26 06:29] arunim2405 commented on #1123
@kacperkapusciak @WoLewicki I tried removing all the other navigators and getting the stack navigator to the root of the application and the issue still persisted so I don't think the issue is with Nested Navigation. I didn't get time to make a repo for reproduction yet, I will try to make one as soon as I get some free time. I think the isse is related to #780 but I am not sure, I say this becaus

[2021-09-26 07:39] d99iel commented on #1149
The use-case is a developer-menu thats always on top in the app. The dev-menu contains <Modals> to  show different stuff, like the app state etc. But i could prob re-engineer this part since it's not a critical part for the end-user.

Ok, well then it should probably not be considered as a bug. I'll close this one.

[2021-09-26 07:39] #1149 closed

[2021-09-27 03:48] umailnwza123 commented on #773
Any solution ?  Plsss

[2021-09-27 04:07] umailnwza123 commented on #773
Thanks It's work !!

[2021-09-27 09:18] Ubax commented on #996
What you can also do is wrap content in `<ScrollView contentInsetAdjustmentBehavior="automatic">`. Then set `headerTranslucent: true` and optionally `searchBar.hideWhenScrolling: false`. This should fix the layout shift.

[2021-09-27 09:44] WoLewicki commented on #1149
I believe the modal in the "always on top" component should not be necessary since the modal itself should be something rendered on top of the hierarchy, you can look at https://developer.apple.com/design/human-interface-guidelines/ios/app-architecture/modality/ for more information. I might be wrong, but the solution for this would need to be probably e.g. rendering a navigator in the `FullWindow

[2021-09-27 10:33] WoLewicki commented on #1053
It would require something analogous to `RNSFullWindowOverlay` (you can read more about it here: https://github.com/software-mansion/react-native-screens/issues/525 and in connected PR) from `iOS`, but on Android. You would need to add the view at the top of all the other content, on `iOS` it is done by adding a view directly to the `window` and maybe it is the same on `Android`.

[2021-09-27 13:06] WoLewicki commented on #1140
1. and 3. are caused by the native navigation, which was said in [previous comment](https://github.com/software-mansion/react-native-screens/issues/1140#issuecomment-925833241).
2. is probably due to the memoization or just how react works.

`createStackNavigator` does not use native animation transition options, it is fully controlled from the JS by `Animated` and `react-native-gesture-handler`.

[2021-09-27 13:28] nandorojo commented on #996
I’ll try this, thanks!

[2021-09-27 13:31] nandorojo commented on #561
I donated $100! 🚀

[2021-09-27 13:39] WoLewicki commented on #1141
From your reaction I assume the solution works. I will close this issue then. Feel free to comment if something is wrong.

[2021-09-27 13:39] #1141 closed

[2021-09-27 17:41] Ralisson-Mattias opened #1154 "Leaving a stack and going back to a tab doesn't work - NativeStack"
## Description
I'm trying to get out of a stack and go to a tab, but it has an unexpected behavior

https://user-images.githubusercontent.com/68711690/134956791-d38e60ee-d7e1-4303-95ad-e5c2058af74f.mp4

Application crashes

### Expected behavior
The application returns to the start screen normally

### Actual behavior
Application does not go back to start screen and there is a jump on start screen

[2021-09-28 01:03] wibb36 commented on #561
I donated $100 too, what's the status on this?

[2021-09-28 01:08] nandorojo commented on #561
Not sure, @IjzerenHein is there a PR for the `native-stack` branch open? Or could you ping us when there is one?

[2021-09-28 05:40] somebody32 commented on #1140
@WoLewicki got it, thanks. So I'll close the issue if nothing can be done here.

For anyone having the same problem, here is a fast hack that minimizes it:

[code]

[2021-09-28 05:40] #1140 closed

[2021-09-28 09:13] kacperkapusciak commented on #1152
Hi @zwh1666258377,
we've investigated the issue and partnered with Expo in order to solve this problem. The issue lays with Expo overriding orientation information and ignoring the value set from `react-native-screens`. We've created this PR (https://github.com/software-mansion/react-native-screens/pull/1155) to allow Expo determine orientation value taken from `react-native-screens`. We plan to r

[2021-09-28 09:24] zwh1666258377 commented on #1152
thx! but my project is bare workflow, would that still be the case？

[2021-09-28 09:33] Hirbod commented on #561
I donated $200 :P

Here is the branch with the current progress:
https://github.com/IjzerenHein/react-navigation-shared-element/tree/native-stack

Quote from @IjzerenHein :
"As far as progress, I've made a start but have not yet been able to spend any more time on it as I'm in the process of moving and also due to other work obligations. I'm expecting to resume work within the next 2 weeks."

[2021-09-28 12:27] WoLewicki commented on #1154
Can you aggregate all this code into a form of a `snack` with all the needed code in one file? It will for sure shorten the time needed for us to reproduce and investigate it.

[2021-09-28 12:30] Ubax commented on #996
If it works for you, please let us know.

Additionally #1153 is fixing the header bug, so you can test it too

[2021-09-28 12:35] alexco2 commented on #1136
Could it be related to this bug? https://github.com/callstack/react-native-pager-view/issues/440
It only happens when using NativeStackNavigator, so I´m thinking it might be a react-native-screen issue. The error message is different though.

[2021-09-28 12:52] kacperkapusciak commented on #1152
Hi @zwh1666258377,
Yes, it is going to work. You'll have to update (or add the next version of) the `expo-screen-orientation` package to your project if you use bare workflow with dependency to Expo. In bare react-native workflow (without the help of Expo) orientation works just fine.

Cheers

[2021-09-28 13:32] Ralisson-Mattias commented on #1154
ok I will create

[2021-09-28 13:41] WoLewicki commented on #1136
@alexco2 the stack trace does not provide any clue that it can be related to `react-native-screens`, but there might be some collisions between the logic of those components that I am unaware of.

[2021-09-28 13:58] alexco2 commented on #1136
Thank you for checking. I thought since it just happens when using NativeStackNavigstor from react-navigation, and the crash happening when navigating back, it might come from the same cause.

[2021-09-28 14:21] Ralisson-Mattias commented on #1154
I couldn't reproduce the behavior in the snack, but here's a video of what's happening

https://user-images.githubusercontent.com/68711690/135106008-1511db8b-a365-4fd9-8043-21424ee6f48d.mp4

[2021-09-28 14:28] Ralisson-Mattias commented on #1154
I was debugging with flipper, and when I click on the notification icon to go to the screen, I get the following error
![image](https://user-images.githubusercontent.com/68711690/135107312-f7241317-6681-476d-8118-b1d0c429486c.png)

[2021-09-28 15:59] WoLewicki commented on #692
I made a PR that hopefully fixes the issue on `iOS`: #1157. Can you check if it works and does not introduce any new problems?

[2021-09-28 16:03] WoLewicki commented on #1154
If you cannot reproduce it in snack, please make a simple repository with the minimal needed code in `App.js` and we will copy it to our project and test it there. Unfortunately I cannot tell much from just logs. Also, does it happen in normal stack? And if so, does it happen if you provide `detachInactiveScreens: false` in normal stack?

[2021-09-28 17:49] SimpleCreations commented on #692
@WoLewicki I've tried the PR and it doesn't seem to work. I have a `TouchableOpacity` button in `headerRight` that is shifted closer to the right edge with negative margin. Pressing the right edge of the button still has no effect. `hitSlop` doesn't help either.
iOS 14.5, iOS 12.5.

[2021-09-28 19:30] #1154 closed

[2021-09-28 22:13] nandorojo commented on #996
@Ubax the solution in #1153 is better for me - I prefer it working without the custom work around. Thank you for that PR! Will keep testing

[2021-09-29 01:56] zwh1666258377 commented on #1152
But i use “react-native-orientation”，is this the same？

[2021-09-29 09:20] kacperkapusciak commented on #1152
@zwh1666258377 your issue and reproduction doesn't state anything about `react-native-orientation`

`react-native-screens` uses the same mechanism to manage orientation that `react-native-orientation` use. One will override the other. You need to choose if you want to manage screen orientation with navigation or with `react-native-orientation` and stick to one approach. They won't work together.

[2021-09-29 09:20] #1152 closed

[2021-09-29 09:34] ArcherLucky commented on #1043
resolved, my project rn version is 0.6+, but still need   manually link native pkg, thank u very match!

[2021-09-29 10:04] alicenoknow opened #1158 "Translucency isn't properly updated in tab navigator header"
## Description

Translucency isn't properly updated in tab navigator header while changing tabs. Header's translucency is set when creating the header but it does not change when changing tabs. It changes only when we switch header to another one.

### Screenshots

https://user-images.githubusercontent.com/56412617/135244789-aedcad9a-951c-49cd-a339-9d9bf3d62ab7.mp4

## Steps To Reproduce

Bug is r

[2021-09-29 10:13] WoLewicki commented on #692
@SimpleCreations I changed the implementation a bit, can you check again? And if it still does not work correctly, can you provide a reproduction of the issue?

[2021-09-29 12:26] WoLewicki commented on #263
I will close this issue since, as mentioned in the previous comments, we have no control over the mechanism of dismissing the modal when the scrollView is used. The current behavior is an effect of what `react-native` does under the hood, being this: https://github.com/facebook/react-native/blob/a0c3c85879ece499ea7355f736187bed2ccfec23/Libraries/Lists/VirtualizedList.js#L2122. It makes the bottom

[2021-09-29 12:26] #263 closed

[2021-09-29 14:51] SimpleCreations commented on #692
@WoLewicki seems to be working now, thank you!

[2021-09-29 15:29] Miraj98 opened #1160 "Back navigation is buggy with `createNativeStackNavigator` on Android"
## Description
I have set up a `createNativeStackNavigator` using the `react-navigation` library. It is set up as follows
[code]

Note: MainTabs is a tab navigator created using the `createMaterialBottomTabNavigator` api from `@react-navigation/material-bottom-tabs`

Whenever I push a screen and then press back either from the header or using the Android back gesture, the top screen is popped for

[2021-09-30 04:59] rana944 commented on #1160
@Miraj98, exactly the issue that I have been facing.
Everything works as expected on iOS device. But the android behaviour is weired.
It does not even leave any stack trace or any sort of error.

It navigates back to the same screen that has been poped out of the stack and leaving me with a blank screen.
May be downgrading the version could help. If you had a workaround for this issue. Please shar

[2021-09-30 08:41] SergeWilfried commented on #1104
Having the same issue with a freshly created react native app with no extra setup.

React: 16.14.0
React Native: 0.64.0
React Native Screens: 3.6.0

[2021-09-30 10:13] kacperkapusciak commented on #1104
@SergeWilfried I am unable to reproduce this. Could you explain step by step what actions you take to make that issue occur, what system do you use, etc? Everything that could be useful for us.

[2021-09-30 16:38] mateusz1913 commented on #1160
It seems that is similar issue to https://github.com/software-mansion/react-native-reanimated/issues/2460

[2021-09-30 18:29] ds8k opened #1163 "Screens don't compile with Kotlin 1.3.X"
## Description

Building version 3.8.0 fails with the following error:
[code]

### Screenshots

![Screen Shot 2021-09-30 at 2 23 13 PM](https://user-images.githubusercontent.com/4458812/135510173-9b1a0847-7095-4762-bf16-87160cef5bea.png)

## Steps To Reproduce

1. Install 3.8.0 and attempt to build

## Platform

- [ ] iOS
- [x] Android
- [ ] Web
- [ ] Windows
- [ ] tvOS

## Workflow

- [ ] Managed

[2021-10-01 07:45] kacperkapusciak commented on #1163
Hi @ds8k,
I can't reproduce this issue on my computer. Could you `cd` into `android/` directory and run `./gradlew -v` (for *nix) or `.\gradlew.bat -v` (for Windows) and copy the output here to provide more information? I'm most interested in Gradle & Kotlin versions and the OS.

Cheers

[2021-10-01 08:00] thunderclap1030 commented on #684
Because it is the native behavior on Android since the title is on the left side of the header: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerleft.

So you could use property `headerCenter` for show header title only for Android. That way will make sure consistent UI for both platform.

For instance :

`headerCenter: () =>
          Platform.OS === 'androi

[2021-10-01 10:55] kacperkapusciak commented on #1104
@CortexTN, @SergeWilfried,
Could you `cd` into `android/` directory and run `./gradlew -v` (for *nix) or `.\gradlew.bat -v `(for Windows) and copy the output here to provide more information?

[2021-10-01 13:24] ilhamsa1 commented on #1163
Hi, I got this issue when adding kotlin version in `android/build.gradle`

[code]
I use [watermelonDb ](https://github.com/Nozbe/WatermelonDB) which needs that setting

[2021-10-01 13:27] zerbfra commented on #1163
Same issue here with this `buildScript`

[code]

As you can see, I need the kotlin dependency.

[2021-10-01 15:19] ruairioliverwv commented on #1160
Same issue for me

[2021-10-01 15:20] kacperkapusciak commented on #1163
@ilhamsa1 @zerbfra thank you for providing information to reproduce this 🙏

Could you check if applying changes in https://github.com/software-mansion/react-native-screens/pull/1165 fixes your issue?

cc @ds8k

[2021-10-01 15:37] zerbfra commented on #1163
Applied the changes and It works like a charm.
You should proceed with merge of #1165

Thanks 🙏

[2021-10-02 12:36] ilhamsa1 commented on #1163
I just tried PR #1165 and it worked fine ... Thanks...

[2021-10-04 05:09] mitjnextt commented on #1163
Thanks @kacperkapusciak , It fixed!

[2021-10-04 07:27] raulgordejev commented on #885
I'm still getting this error sometimes on iOS. Not able to reproduce myself but seeing it in crashlytics (happens to ~2% of total users).

folly::toJson: JSON object value was an INF

[code]

[2021-10-04 13:21] WoLewicki commented on #885
@raulgordejev you can check this issue for more info: https://github.com/react-navigation/react-navigation/issues/9480.

[2021-10-04 13:27] raulgordejev commented on #885
I already had a look at that - the solution there was to upgrade react-native-screens to v3.1.1 which was latest at that time. I'm currently on 3.7.2.

[2021-10-04 13:41] WoLewicki commented on #885
I cannot say much more without a reproduction unfortunately.

[2021-10-04 14:07] #1163 closed

[2021-10-04 14:27] #998 closed

[2021-10-05 05:05] #1158 closed

[2021-10-05 05:13] Ubax commented on #1045
@gp3gp3gp3 I'm closing it for now. If the issue still occurs with the instructions I provided above, please let us know.

[2021-10-05 05:13] #1045 closed

[2021-10-05 06:29] Ubax commented on #1120
@SimpleCreations I'm closing it for now. If the issue still occurs with the instructions I provided above, please let us know.

[2021-10-05 06:29] #1120 closed

[2021-10-05 07:20] kacperkapusciak commented on #1160
@Miraj98 could you provide a minimal complete reproducible code sample? With this, I mean a small snippet that reproduces your issue in a snack or in an empty repo. Please see [this guide](https://stackoverflow.com/help/minimal-reproducible-example).

Cheers

[2021-10-05 11:59] shwetalii commented on #114
Hi,
This solution has worked for us and there is no related crash event anymore on production as well.

[2021-10-05 13:46] #692 closed

[2021-10-06 06:30] binitgurzu commented on #111
still looking for solutions

[2021-10-06 21:20] sndp07 commented on #158
@15matias15  I am facing this exact issue when I use @react-navigation/native-stack, but when I go back to using @react-navigation/stack, it is working fine. Would really appreciate your support. Platform Android

[2021-10-08 08:57] #996 closed

[2021-10-08 14:29] kacperkapusciak commented on #1121
@SimpleCreations 🏓

[2021-10-10 09:06] Ahmed-Imam opened #1173 "[Android] Unresolved reference: HashMap"
## Description
Getting hashmap error after upgrading from 3.1.1 to 3.8.0

### Error
`.../android/src/main/java/com/swmansion/rnscreens/LifecycleHelper.kt: (9, 68): Unresolved reference: HashMap`
`LifecycleHelper.kt: (32, 32): Unresolved reference: mViewToLifecycleMap[view]`
`LifecycleHelper.kt: (32, 32): No set method providing array access`

| package                                | version |
|

[2021-10-11 12:51] dohooo commented on #1152
https://user-images.githubusercontent.com/32405058/136792885-110cb8c9-8349-4409-99f7-9489a5cb7c0d.mp4

[2021-10-11 12:52] dohooo commented on #1152
I used the same code as [Snack](https://snack.expo.dev/9LZ5ItpXl)

[2021-10-11 14:08] dohooo commented on #1152
Ok

[2021-10-12 06:32] owinter86 opened #1174 "SafeAreaView wrapped in SafeAreaProviders remove screens when navigating away on android"
## Description

When using nested navigators and the nested screens have a SafeAreaProvider and SafeAreaView (can be helpful in automatically providing the required insets without having to pass in edges prop), navigating from one screen to another will remove the previous screen while navigating.

This issue is only present on android and I have included a basic reproduction.

The problem goes aw

[2021-10-13 08:52] Ahmed-Imam commented on #1173
@kacperkapusciak its working fine after updating kotlin version. thanks

[2021-10-13 08:52] #1173 closed

[2021-10-14 06:36] kacperkapusciak commented on #158
@Osamasomy since `react-native-screen` `v3.0.0` this is no longer required and `@react-navigation/native-stack` requires a version equal or greater than that

[2021-10-16 15:31] Saad-Bashar opened #1182 "Wrong screen transitioning when changing from one stack of screens to another different stack. (i.e authentication flow)"
## Description
I am implementing the authentication flow using `createNativeStackNavigator`, it works fine but when changing from `auth-stack` to `logged-in-stack` the screen comes from the left slide which makes it look like the screen was already there, also it shows a back button for a second where these 2 stacks are completely different.

I also checked with `createStackNavigator` from `@react

[2021-10-18 02:01] lclrobert2020 opened #1183 "detachInactiveScreens={true} cause onScroll of previous tab screen triggered in react navigation v6 bottom tab"
## Description

 #10063  of react navigation
This bug only occurs in IOS, not for android
For example,
when you have a <Tab.Navigator> with two <Tab.Screen>
Let say you are currently on a Screen, say Screen 1, you have a with a onScroll props and a callback inside Screen 1,
When you press the Tab Bar Icon and jump to other Tab Screen, say Screen 2,
When the Screen 2 is shown and rendered,
The onSc

[2021-10-18 07:43] Daha62 commented on #17
same issue on react-natvie-screens 2.15.1 everything works correctly but on 3.7.0 - app started to crash

[2021-10-19 08:39] Saad-Bashar commented on #1182
Thanks a lot, closing this!

[2021-10-19 08:39] #1182 closed

[2021-10-20 06:36] lclrobert2020 commented on #1183
The problem is even if you don't add any scroll listeners, the error will be throw when coming back and forth between tabs 3 times
you can visit my expo https://snack.expo.dev/@robertli93/bugdemo
This example contains no scroll listener but still trigger the error very consistently

[2021-10-20 12:45] WoLewicki commented on #1183
It is warning from here: https://github.com/facebook/react-native/blob/afe0c1daea0aaf7b40b7ded08d6eb6d45b17099c/Libraries/Lists/VirtualizedList.js#L1614. It is probably triggered because `onScroll` event is sent from native side because of the our fix. You can add logs in these lines and check the exact values, but I think it is caused by these `dt` values being weird due to this flow.

[2021-10-21 09:29] grahammendick commented on #649
Hey @aryanm5,

You can point Phillip at my [zoom sample](https://github.com/grahammendick/navigation/tree/master/NavigationReactNative/sample/zoom). It’s a reproduction of the large title problem patched with the fix in the PR. If he removes the `!self.window` check then the fix won’t work anymore (the large title starts small). I don’t know why it doesn’t work. I just discovered the fix by playin

[2021-10-22 04:05] ElionItTeam commented on #1183
Thanks for ur reply,
I can confirm this is a dt problem,
When I look into it deeper,
This problem occurs even when only using **1 FlatList**
see my latest demo @ https://snack.expo.dev/@robertli93/flatlist-bug-when-changing-tabs-even-using-single-flatlist
see this latest demo  video https://www.youtube.com/watch?v=vcGAuRvQ1LA&ab_channel=RBL
This is only 1 flatlist in this demo
Thanks to  @WoLewick

[2021-10-29 10:10] SimpleCreations opened #1194 "Crash report from iOS: NSInvalidArgumentException: -[UIView gestureEnabled]: unrecognized selector sent to instance"
## Description

I've received a crash report from an iOS 15 user which seems to originate from react-native-screens.
As with previous crash, I have no reproduction and I'm hoping there is some useful info in the report itself.

The line referenced is:

https://github.com/software-mansion/react-native-screens/blob/225e425063658adb0ef6a2b6510b90bcf15e3057/ios/RNSScreenStack.m#L575

[code]

### Scree

[2021-10-31 16:50] Gruak opened #1197 "[Expo 43] Blank screen when native stack is nested inside material bottom tabs"
## Description
Using recently released expo 43, when native stacks are nested inside material bottom tabs navigator (react-navigation), navigating between tabs back and forth causes a blank screen to appear.
The identical navigation setup works fine in expo 42.
This is a repost of this issue: https://github.com/react-navigation/react-navigation/issues/10081

### Demo
https://user-images.githubuser

[2021-11-02 04:43] r0b0t3d opened #1198 "enableFreeze cause useIsFocused stop working"
## Description
In bottom tabs, when enabling `enableFreeze`, `useIsFocused` is not triggered when screen blur.

### Screenshots

## Steps To Reproduce

1. Create tabs with 2 screens `Home` and `Settings`
2. In `Settings`, add `const isFocused = useIsFocused()`
3. Navigate to `Settings` screen, `isFocused` updated to `true` (this is correct)
4. Navigate back to `Home`, `isFocused` still `true`

###

[2021-11-02 11:02] marhaupe commented on #1198
I can confirm this behaviour, but I think it's expected, isn't it? When screens freeze I assume them to not to render at all which actually makes calling `useIsFocused` redundant. This is just an educated guess though, confirmation from maintainers would be appreciated.

[2021-11-02 11:09] r0b0t3d commented on #1198
Currently, I'd like to refresh the content when a tab is focused. So I need `useIsFocused` to trigger the request.

Maybe you're right @marhaupe . That mean `useIsFocused` should be updated before the screen get frozen

[2021-11-02 14:40] omar-bear commented on #114
still not working for me ...

[2021-11-03 11:02] mksoftware101 commented on #114
I'm facing with the same problem.

`"react-native": "0.64.2"`
`"react-native-screens": "3.3.0"`

When I open app in split view and resize window, then crash happen:

`Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.northmill.rebilla/com.northmill.rebilla.base.activity.RebillaMainActivity}: androidx.fragment.app.Fragment$InstantiationException: Unable to inst

[2021-11-03 11:24] kacperkapusciak commented on #114
@omar-bear @mksoftware101 writing "same" on a 2-year-old issue isn't very helpful.

Make sure you follow [installation steps from README](https://github.com/software-mansion/react-native-screens#android). If that doesn't solve the problem please open [a new issue](https://github.com/software-mansion/react-native-screens/issues/new/choose) with proper description and reproduction.

Cheers

[2021-11-03 14:02] netmas opened #1201 "back prop is undefined in header option when using a custom navigation bar"
## Description

Hi! I'm working in a expo managed project. I have a drawer navigator as root navigator, a bottomTabNavigator and a home screen which is a NativeStackNavigator. In navigation index.js I am using the ScreenOptions->Header to use a custom navigation bar.

The navigation is working but back prop in the header of the native stack navigator is undefined. May be because is nested like thi

[2021-11-04 04:01] intergalacticspacehighway opened #1202 "FullWindowOverlay full screen height with native navigation Header"
## Description
FullWindowOverlay doesn't take full height if the header is visible in native navigation.

### Screenshots
In the below video, if I turn off the header, it takes the full window height as expected.

https://user-images.githubusercontent.com/23293248/140252258-db98fd75-81a9-45aa-8123-4d547b5f2b82.mov

## Steps To Reproduce

Try out the below code snippet with native navigation
[code]

[2021-11-04 12:30] tomasmozeris commented on #1198
Thanks for effort to make this feature. Same issue here, I use `useIsFocused` for periodical fetches when screen is in focus, I tried using `useFocusEffect`, but it doesn't catch unfocused state. I could add these fetches as Component and it would behave the same with freeze / unfreeze, but if there's plans to fix it I would better wait

[2021-11-04 18:35] tevonsb commented on #257
Ive started having a very similar issue. Was working perfectly with Expo SDK 40 and react-navigation 5.

Upgraded to Expo SDK 42 (along with upgrading react-native-screens etc) and immediately started failing on android.

Behavior: Stack would render on initial load and work correctly, if I navigated away from the stack (my stacks are nested in a tab navigator) they would no longer render anything

[2021-11-04 20:50] trajano opened #1203 "Refresh control disappears on large header"
## Description

Refresh control disappears when using large header and pull to refresh.  No issue when header is not large.

### Screenshots

## Steps To Reproduce

1. Pull down to refresh and have large headers on.

### Expected behavior

Spinner should remain until processing is done

### Actual behavior

Spinner disappears

## Reproduction

https://snack.expo.dev/@trajano/refresh-control-disapp

[2021-11-04 23:44] nandorojo commented on #1198
Isn't this the point of freezing the screen? You disable rendering when it's not focused.

[2021-11-05 07:28] kacperkapusciak commented on #257
@tevonsb could you open a new issue with a reproduction of your problem rather than commenting on this 2-year-old issue?

Cheers

[2021-11-05 10:24] tewson opened #1204 "Android screen reader is able to interact with content beneath `transparentModal` and `containedTransparentModal` stack"
## Description

When a screen is stacked on top of another using the `transparentModal` or `containedTransparentModal` presentation type, Android screen reader TalkBack is still able to read and interact with the content of the screen underneath even though it's not visible.

### Screenshots

https://user-images.githubusercontent.com/456562/140495081-b8f4ad0a-e89a-4841-8617-8d3f256466de.mp4

## St

[2021-11-08 13:42] ferrannp commented on #1197
I have exactly the same issue (without expo) with all libraries to latest and `react-native@0.64.2`.

[2021-11-08 15:20] nandorojo commented on #1198
Can you clarify the issues? Does it not trigger when you refocus?

[2021-11-08 15:37] tomasmozeris commented on #1198
Update the data then user refocus the screen:
`
const isFocused = useIsFocused();
useEffect(() => {
  if (isFocused) {
    fetch();
  }
}, [isFocused])
`

Another case is I'm doing periodical fetches each minute, I'm stopping them then `useIsFocused() === false`, now if never reaches false state

[2021-11-08 15:58] nandorojo commented on #1198
That’s interesting. I wonder if that use case would be better solved with `navigation.isFocused()` in your fetcher anyway, so that you don’t have to trigger more renders. Does that function also not work with freeze?

[2021-11-08 16:06] trajano commented on #1203
Would a fix on this one require an upgrade on Expo SDK if we're using managed workflow?

[2021-11-08 16:24] Titozzz commented on #1198
I have the exact same pattern in my app. I'd expect the react state to still be updated but just no render, if all the hooks are stopped too that way more complex 👀

[2021-11-08 23:39] shamilovtim opened #1206 "Kotlin version needs a bump"
Most of the react native community is using kotlin 1.4.21 at this point. Suggest bumping up so that there aren't so many versions of kotlin floating around in everyone's projects.

[2021-11-09 08:34] Alaa-Ben commented on #1206
I see that in the code, there is:
`        classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:${safeExtGet('kotlinVersion', '1.4.10')}"
`
which means that it uses the project's kotlinVersion, and defaults to 1.4.10 if not declared. Most projects do this, so if you have a kotlinVersion set in your build.gradle, you shouldn't have many versions floating around.

[2021-11-09 08:51] kacperkapusciak commented on #1206
@shamilovtim You can override the Kotlin version in your app's `build.gradle` with

[code]

I think "most of the react native community is using kotlin 1.4.21" is a bit of a stretch here

@Alaa-Ben exactly! thanks 🙌

[2021-11-09 11:34] grahammendick opened #1207 "Pressing back fast on iOS may show frozen scene"
Thanks @software-mansion and @kmagiera for your stellar work on `react-freeze`.

I’ve been knee-deep in `Suspense` this past week and a half [adding freeze support to the Navigation router](https://github.com/grahammendick/navigation/pull/547). I solved a thorny issue along the way that I think your implementation might suffer from so I’m getting in touch to try and help out.

## Showing a Frozen

[2021-11-09 12:55] #1206 closed

[2021-11-09 13:19] kacperkapusciak commented on #1203
@trajano could you check if adding `contentInsetAdjustmentBehavior="automatic"` to `<SectionList/>` component AND setting `headerTranslucent: true` on the screen fixes the issue?

[2021-11-09 17:31] Titozzz commented on #89
Here is a repro to this still ongoing issue: https://github.com/Titozzz/android-autofocus-issue

[2021-11-09 17:40] Titozzz commented on #89
cc @WoLewicki

[2021-11-10 09:47] kacperkapusciak commented on #1207
That's brilliant! 🙌

Thank you @grahammendick so so much for sharing this!

[2021-11-10 11:03] Hirbod commented on #932
This issue got worse on iOS 15. If you drag the modal up a little bit, it will reset the header to its desired height, looking weird but not too weird.
(Running with EXPO SDK 40-41)
https://streamable.com/3ou3ye

Going forward with the new react-native-screens and Expo SDK 43, we get something really weird now.
https://streamable.com/oukllx

The height gets HUGE @WoLewicki

The only thing I am doi

[2021-11-10 14:35] kirillzyusko opened #1209 "Back transitions are visible if you reset stack to 1st screen when switching between tabs (with react-freeze)"
## Description

If we have TabNavigator with following structure:

[code]

and we have a requirement to reset stack to the first screen, if user switches between tabs, then enabling `react-freeze` causes some issues (transition becomes visible).

I understand, that with enabled `react-freeze` we are skipping rendering for not visible screens and it may be kind of expected behavior (we skip renderi

[2021-11-10 14:42] Appkidd commented on #565
@WoLewicki Is there a recommended way of transitioning `largeHeaderStyle: { backgroundColor: 'transparent }` to `headerStyle: { backgroundColor: 'white' }`? In our case, we have a background rendered behind the scene container. We're display this when the large title is in view, but would like to make it opaque once the user begins scrolling. Currently, when the `headerStyle` background is set to

[2021-11-10 15:00] Appkidd commented on #565
Worked around this using `navigation.setOptions` and FlatList's `onScroll` to swap between opaque/transparent on scroll. Will just tidy this up with a fade using Reanimated.

[2021-11-12 13:23] acollazomayer opened #1210 "Android Build Failing in CI"
I just upgrade react-native-screens from version 2.7.0 to 3.9.0 and now the playstore bundle is failing in CI. Does anyone has an idea on how to solve this issue. Thanks

## Description
Android build is failing in ci when building the playstore bundle

[code]

[2021-11-12 17:04] pt7892 commented on #944
Here is video of this issue:

https://user-images.githubusercontent.com/20343932/141505520-7345a02a-4238-4a95-90a3-1b893d0ecc1c.mp4

Here is repo for reproduction of this issue:

https://github.com/pt7892/UIViewControllerHierarchyInconsistency-repro

Steps to reproduce:

1. Start app
2. Press `CrashStack` navigation link in bottom navigation tab bar
3. If issue does not appear, reload metro bundle

[2021-11-15 09:10] WoLewicki commented on #565
I cannot help much about it unfortunately, we are using native behaviors for setting those values, so they should work just like it would in a native `iOS` app.

[2021-11-15 12:33] jordann93 commented on #1197
Same here since Expo 43

[2021-11-15 12:39] kacperkapusciak commented on #1210
Hi @acollazomayer,
we've quite recently removed the redundant `LifecycleHelper` file from our npm package:

https://github.com/software-mansion/react-native-screens/blob/master/package.json#L39

This file isn't used anywhere, isn't even imported, and only serves as an example.

My guess is that the CI still looks for the reference to this file which in v3.9.0 no longer exists. Cleaning the CI's ca

[2021-11-15 12:49] hussainsherwani commented on #944
@pt7892  +1 also getting the same issue, issue is not consistent but coming

[2021-11-15 13:05] #1207 closed

[2021-11-16 13:01] #1204 closed

[2021-11-16 21:12] cristianoccazinsp opened #1211 "iOS debug mode crash almost on every refresh"
## Description
Refreshing the RN app causes `'NSInternalInconsistencyException', reason: 'This method must not be called before the JS thread is created`.

I've been seeing ever since day 1 enabling screens, but it has started to become a pain in neck to debug native code with XCode thanks to this.

### Screenshots

## Steps To Reproduce

1. Use screens
2. Refresh the app (reload?)
3. Repeat until

[2021-11-16 21:27] sleeper-seth commented on #1044
I also ran into this exact problem. It appears as though there is a case when React Native is reloading where we're no longer on the main thread when `[RNSScreen viewDidDisappear:]` is called.

This can be easily resolved with a check for main thread in `traverseForScrollView`

[code]

I'm going to see about putting up a pull request for resolving the problem, but leaving this here for future seek

[2021-11-17 08:34] WoLewicki commented on #1211
@cristianoccazinsp can you check if applying https://github.com/software-mansion/react-native-screens/pull/1212 resolves the issue?

[2021-11-17 08:38] WoLewicki commented on #932
@Hirbod can you reproduce the new behavior with huge header without expo?

[2021-11-17 08:41] WoLewicki commented on #649
@Hirbod do you have knowledge if such behavior happens in other libraries doing kind of the same thing, like `react-native-navigation` or @grahammendick Navigation router ? And if so, did they come up with a solution?

[2021-11-17 10:56] Hirbod commented on #649
@WoLewicki unfortunately not. I never tried another library. I can only tell you that it doesn’t happen in other system apps or any app I am using.

[2021-11-17 10:59] Hirbod commented on #932
@WoLewicki I haven’t tested this outside of Expo, but I am currently working on one with a custom dev client and I will try it there. I might be able to eject this test project in order to reproduce it.

[2021-11-17 11:29] spointecker opened #1215 "Issue with suggested fix from Readme for Android crashes on "onCreate""
## Description
I have crashes like many others in crashlytics from `Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{com.iamstudent/com.iamstudent.MainActivity}: androidx.fragment.app.Fragment$InstantiationException: Unable to instantiate fragment com.swmansion.rnscreens.ScreenFragment: calling Fragment constructor caused an exception...`

As suggested in various

[2021-11-17 12:21] cristianoccazinsp commented on #1211
It does not, here's a full trace again.

[code]
<img width="831" alt="Screen Shot 2021-11-17 at 09 19 12" src="https://user-images.githubusercontent.com/48869228/142199512-9393507d-aead-4f1b-97ec-293593bffbf6.png">

[2021-11-17 12:33] cristianoccazinsp commented on #1211
I think the patch above had a good insight of what's wrong, but the fix should be more like:

[code]

I don't know the consequences of forcing this to run async in the main thread, but I believe this stops the crash.

[2021-11-17 13:04] WoLewicki commented on #944
I debugged it and it seems like there is a race condition between `Modal` and `Screen` view controllers being attached/detached. I am not sure if we can do anything about it since it comes from asynchronous behaviors of these events. The solution to this is probably adding `setTimeout` for showing the modal in the new screen, so first the proper native hierarchy of view controllers is established,

[2021-11-17 13:35] WoLewicki commented on #649
It is probably another issue of `react-native`'s `ScrollView` and large header. Could you post here a quick reproduction of the newest problem?

[2021-11-17 15:13] kirillzyusko commented on #1215
@spointecker you should add it to `MainActivity`, not to `MainApplication` 🙂

[2021-11-17 15:18] spointecker commented on #1215
Ahhh omg how stupid. Have looked at it 100 times and didn't see it. Thank you @kirillzyusko

[2021-11-17 15:18] #1215 closed

[2021-11-17 16:21] grahammendick commented on #649
@Hirbod @WoLewicki The Navigation router doesn't have any problem with large headers on iOS 15. You could run my [zoom sample](https://github.com/grahammendick/navigation/tree/master/NavigationReactNative/sample/zoom) and compare view hierarchies?

[2021-11-17 16:24] cristianoccazinsp opened #1216 "iOS - Landscape to portrait rotation briefly shows removed screen on pop"
## Description
If we are in landscape mode, pop a screen, and immediately rotate to portrait, the popped screen will still show for half a second ( I assume while it is being unmounted).

### Screenshots

https://user-images.githubusercontent.com/48869228/142239454-fc6913a9-a973-4335-bfa4-39c61c10fd95.mov

mov file most likely won't play in the browser and needs to be downloaded.

## Steps To Repr

[2021-11-18 11:31] Coreeze commented on #89
Also had this problem. I used this and also documentation from here: https://reactnavigation.org/docs/function-after-focusing-screen/

[2021-11-18 12:49] WoLewicki commented on #1211
Can you check if https://github.com/software-mansion/react-native-screens/pull/1217 fixes the issue? And could you provide a quick repro of the problem?

[2021-11-18 13:13] cristianoccazinsp commented on #1211
Looks like #1217 fixes it, awesome!

[2021-11-18 14:47] cristianoccazinsp commented on #1216
Repro here: https://github.com/cristianoccazinsp/react-native-screens/tree/repro-1216

Just enter any screen, rotate to landscape, go back and quickly rotate to portrait.

[2021-11-19 13:15] pt7892 commented on #944
Yes, this those resolve the issue, but i guess this is not optimal solution as this could lead to situations where you can see layout, which should be hidden, for a glitch of a second before Modal pops out, plus every time you use Modal you would need to check if this issue could happen and implement this fix.

Isn't there anything that can be done to fix this in different way?

[2021-11-19 14:39] WoLewicki commented on #944
I think the easiest solution is using either `native-stack` with e.g. `stackPresentation: 'fullScreenModal'` or `modal` style of presentation in `stack` navigator. It would resolve the problems of race conditions between `react-native-screens` and VCs from `react-native`'s `Modal`.

[2021-11-19 14:41] WoLewicki commented on #89
Can you check if https://github.com/software-mansion/react-native-screens/pull/1214 fixes the issue so you don't need any timeouts or such in order for the `autofocus` to work and if it does not introduce any new issues?

[2021-11-19 19:24] megantaylor opened #1218 "enableFreeze seems to prevent KeyboardAvoidingView from updating correctly"
## Description

Screen A and Screen B are two tabs in a react-navigation bottom tabs navigator.

When switching from Screen A to Screen B after opening and closing the keyboard on Screen A, the KeyboardAvoidingView on Screen B has bottom padding as though the keyboard was still open.

This happens somewhat inconsistently, like every other time I switch.

It seems as though KBAV is not recognizing

[2021-11-20 19:37] therunbuddy opened #1219 "Android - Full Screen modal does not cover bottom tab bar"
## Description

When opening a modal screen in NativeStackNavigator the screen does not cover the bottom tab bar on Andoird. On iOS is covers the tab bar.

### Screenshots
Android
![image](https://user-images.githubusercontent.com/77796515/142738789-e7256162-b375-4f23-aae5-fac92a65875f.png)

iOS
![image](https://user-images.githubusercontent.com/77796515/142738798-9e228e2f-5ce8-44d3-b85a-8b8d6e29b

[2021-11-20 21:00] Degn commented on #885
I'm still getting this error on Android with version 3.9.0. None of the suggestions in this thread works for me.

[2021-11-21 10:43] minhchienwikipedia commented on #1160
Do you have any solution for it? I getting the same issue!

[2021-11-21 14:21] ilkerceng commented on #691
thanks so much @miticous. I use 'blur' event and it's much faster than [useFocusEffect](https://reactnavigation.org/docs/use-focus-effect/)

[2021-11-22 10:13] kacperkapusciak commented on #1210
Hi @acollazomayer,

did you resolve your issue?

🏓

[2021-11-22 18:32] nandorojo commented on #1202
I'm getting the same issue.

[2021-11-22 22:22] DanielWFrancis commented on #943
This saved my life. Thank you.

[2021-11-23 21:44] charles-goode commented on #791
I've recently started getting this same crash report on sentry. Unfortunately, I haven't been able to nail down which actions result in this crash (fairly large codebase and users haven't made coincident reports). We are on 3.8.0 (expo 43) and use hermes. We didn't have this issue before this version.

[2021-11-24 09:06] kacperkapusciak commented on #1198
Hi @Titozzz, @r0b0t3d, @nandorojo, @marhaupe, and @tomasmozeris

Thank you so much for participating in this discussion. It helped a lot!

I think we've finally figured out how to overcome this issue and the solution is quite simple. We disable freeze for the first render so the `useIsFocused` can correctly pick up that screens have changed.

Could you guys confirm the solution works by testing th

[2021-11-24 09:48] kacperkapusciak commented on #1209
Hi @kirillzyusko,

Thank you for submitting the issue. It seems like while resolving a different problem we've managed to also fix this one.

Could you confirm that installing `react-native-screens` directly from [this PR](https://github.com/software-mansion/react-native-screens/pull/1220)

[code]
or swapping the [`index.native.tsx`](https://github.com/software-mansion/react-native-screens/blob/18

[2021-11-24 10:07] kirillzyusko commented on #1209
Hi @kacperkapusciak

Yes, sure, I will check a little bit later :)

[2021-11-24 10:11] kacperkapusciak commented on #1218
Hi @megantaylor,
Thanks for submitting an issue!

I can't seem to reproduce this from the given steps. Could you please provide a simple self-contained snippet of code that reproduces the problem?

Cheers

[2021-11-24 14:14] JoshBot-Debug commented on #472
Even I'm facing the same issue on android. Adding a delay makes it work

[2021-11-24 15:14] kirillzyusko commented on #1209
Hi @kacperkapusciak

Thank you for your time to have a look on that. This fix indeed fixes the problem! Though, when I installed version of `react-native-screens` from your branch, I noticed one new issue (it wasn't the case with `3.9.0`).

### Reproduction Code

[code]

## Steps to Reproduce

1. Go to Screen2
2. Press `Enable feature` button
3. Go back

### Expected behavior

`Feature A` text is

[2021-11-24 16:21] Hirbod commented on #1219
You should render your modals in the root stack, not nested inside another stack. It works for iOS since iOS always adds modals at the most top screen hierarchy but Android doesn't.

It's a bit annoying, I agree, but actually an easy fix. Modal screens are usally isolated views anyway so it shouldn't matter to place them at root level.

[2021-11-24 23:07] Degn opened #1221 ""RNSScreen" was not found in the UIManager (Android only)"
## Description
I have been unable to run my React Native application for a few days now. I am going from one issue with dependencies to another...

The last issue here, I cannot solve. When I run the application I get this error message (see full error message in the bottom of the question):

`Invariant Violation: requireNativeComponent: "RNSScreen" was not found in the UIManager.`

I initiated a

[2021-11-25 10:27] #1211 closed

[2021-11-25 17:01] marhaupe commented on #1198
This looks great! I can confirm that our logic that e.g. unmounts a `react-native-camera` instance when the screen is not focused, actually unmounts the camera instead of freezing it. On a side note: This is actually a case that would break too. Usually you have to reset the camera when navigating (or at least turn of things like the flash before you do), which wouldn't be possible without this fi

[2021-11-26 02:42] r0b0t3d commented on #1198
@kacperkapusciak it works for me too 🚀. Thanks

[2021-11-26 11:33] cjhines opened #1222 "[Android] App crashing on restore - Fragment.InstantiationException"
## Description + Reproduction

1. Put app in background
2. Open other apps to make the OS kill the app for memory saving
3. Open app
4. Crashes

[code]

### Expected behavior

App opens in previous state.

### Actual behavior

App crashes to Android homescreen.

## Platform

- [ ] iOS
- [x] Android
- [ ] Web
- [ ] Windows
- [ ] tvOS

## Workflow

- [ ] Managed workflow
- [x] Bare workflow

## Pack

[2021-11-26 13:34] gustavopch opened #1223 "Zoom animation in Android feels too quick and elastic"
## Description

As the title says, the zoom animation in Android isn't exactly like what I see in native apps (e.g. in Android settings). I'm not sure if it's due to dropped frames or if the animation is just not correctly implemented.

## Steps To Reproduce

1. Perform a screen transition using React Navigation and observe the animation.
2. Perform a screen transition in Android settings and obse

[2021-11-26 18:08] vipulchakravarthy commented on #456
@KristineTrona You deserve a medal! stuck with this from few hours

[2021-11-28 19:25] nandorojo commented on #649
I am having the exact same issue as @Hirbod on iOS 15; glad I found this thread. I'm using `react-native-screens@3.9.0` with `@react-navigation/native-stack@6.2.2` and `react-native@0.64.3`. I'll try to make a repro.

[2021-11-28 19:46] nandorojo commented on #649
@WoLewicki Here is a reproduction:

## Video

| iOS 14 (works) | iOS 15 |
| ------ | ------ |
| <video src="https://user-images.githubusercontent.com/13172299/143783461-ef03f422-ff88-4398-967d-bf33b27e96a5.mp4" /> | <video src="https://user-images.githubusercontent.com/13172299/143783481-5f15f563-9f90-4d30-a31d-4d99e792b538.MP4" /> |

## Code

Repo here: https://github.com/nandorojo/large-title-bu

[2021-11-28 20:21] Hirbod commented on #649
@nandorojo thanks for providing a repro for the issue. My desk was overloaded and I haven’t managed to create one!

[2021-11-29 11:05] kacperkapusciak commented on #1222
Hi @cjhines,
it seems like you have forgotten to finish the installation for `react-native-screens` for Android:

https://github.com/software-mansion/react-native-screens#android

There is just one more step to do - editing the `MainActivity.java`. After that hopefully, you won't see the crashes anymore 😄

Cheers

[2021-11-29 11:05] #1222 closed

[2021-11-29 12:47] kacperkapusciak commented on #1221
Hi @Degn,

I'm quite baffled that creating a stack navigator inside the `render()` method doesn't immediately cause a crash and it's definitely something that we wouldn't recommend. Also, `NavigationContainer` should only take navigators as children and not other components (eg. Text or View).

Could you run the simplest example from `react-navigation` documentation and see if it works within your

[2021-11-29 13:05] Degn commented on #1221
Hi @kacperkapusciak

This snippet was created for debugging causes only and my source code does not look like that. Never the less, the problem has been solved. Please take a look at [the answer to my question on Stackoverflow](https://stackoverflow.com/a/70122649/4936199). It seems like a misconfiguration of Multidex and com.facebook.react.shell.MainReactPackage solved the issue.

[2021-11-29 14:35] #1221 closed

[2021-11-29 15:27] WoLewicki commented on #89
Closing since it should be fixed by #1214.

[2021-11-29 15:27] #89 closed

[2021-11-29 15:30] WoLewicki commented on #1216
This issue exists on `stack` navigator, not `native-stack`? If so, does this issue still happen if you set `detachInactiveScreens: false` on the navigator?

[2021-11-29 15:35] WoLewicki commented on #1197
I believe it comes from the fact that `material-bottom-tabs` uses `Android` `Fragment` library, same as other navigators with `react-native-screens` enabled. This commit: https://github.com/software-mansion/react-native-screens/pull/1066 added new behavior of `Fragments` in our library, and it must have introduced some problems with integration with `material-bottom-tabs`. In the issue in `react-n

[2021-11-29 15:36] WoLewicki commented on #1223
@gustavopch can you check if applying #1213 introduces better animation?

[2021-11-29 15:37] #1210 closed

[2021-11-29 15:41] WoLewicki commented on #1202
Could you check if using `Dimensions` API instead of `StyleSheet.absoluteFill` here: https://github.com/intergalacticspacehighway/full-window-overlay-native-header-issue/blob/main/App.js#L23 fixes the problem?

[2021-11-29 15:45] WoLewicki commented on #1219
It is a difference in how these platforms define `modals`. On `Android`, we achieve "modal" behavior by simply not removing the below screen, whereas on `iOS` it is a platform concept with dedicated native API. I am not sure there is more to be done than what @Hirbod suggested. I will close this then. If you have any ideas how it could be changed or if I am wrong at some point, please comment and

[2021-11-29 15:45] #1219 closed

[2021-11-29 20:56] cristianoccazinsp commented on #1216
@WoLewicki it does not happen with native-stack. However, it happens both with and without `detachInactiveScreens`.

[2021-11-29 21:39] jparkrr commented on #1218
Hi @kacperkapusciak, thanks for the reply! (I work with @megantaylor)

I've reproduced the issue here: https://github.com/jparkrr/repro-kav-bug

Here's a video. Keep an eye on whether the contents of tab two is vertically centered.

https://user-images.githubusercontent.com/872456/143946892-8bd6e395-48a6-4293-bbb4-4381075850c7.mp4

[2021-11-30 08:54] WoLewicki commented on #1216
Hmm so is there any particular reason why this issue should not be submitted in `react-navigation` repo instead? It seems that it is not connected with `react-native-screens` if it happens with them turned off too.

[2021-11-30 11:36] cristianoccazinsp commented on #1216
Oddly it started to happen after a screens update since I haven’t changed the navigation one in quite a while.

Note that I tested with detach inactive screens, not disabling screens completely. I will try to do more testing.

[2021-11-30 11:51] WoLewicki commented on #1216
Setting `detachInactiveScreens: false` on the navigator disables the usage of `react-native-screens` in it, so it would suggest that it is not connected though. Or am I missing something?

[2021-11-30 12:48] cristianoccazinsp commented on #1216
Doesn’t detachInactiveScreens just forces screens to keep the view in the hierarchy, but the internal screens views and machinery are still used?

I guess the best test would be with useScreens(false).  Either way, I probably won’t be able to report it to react navigation until I upgrade to 6.x, which we can’t right now due to version 6 having some breaking bugs that haven’t been fixed in a while.

[2021-11-30 14:12] WoLewicki commented on #1216
No, the prop for keeping view in hierarchy is `detachPreviousScreen`: https://reactnavigation.org/docs/stack-navigator#detachpreviousscreen. You can set `detachInactiveScreens: false` and see in native view hierarchy that there are no `Screen` components there then.

[2021-11-30 14:29] WoLewicki commented on #1160
I tested a simple example with `react-native-reanimated`: `2.3.0-beta.1` and I could spot an issue. After upgrading to `2.3.0-beta.4`, I can no longer see the problem. I will close it then. Feel free to comment here if I am wrong and we can reopen it then.

[2021-11-30 14:29] #1160 closed

[2021-11-30 15:34] WoLewicki commented on #1194
I added the check in #1224, could you check if it fixes the issue? Still, a reproduction would be much appreciated.

[2021-11-30 17:45] Gruak commented on #1197
@WoLewicki  I did check and unfortunately after applying the suggested solution the issue still occurs.

[2021-12-01 05:21] intergalacticspacehighway commented on #1202
Yes! this seems to fix the issue. Thank you for the solution @WoLewicki!

<img width="1419" alt="Screenshot 2021-12-01 at 10 48 12 AM" src="https://user-images.githubusercontent.com/23293248/144176460-c8239f13-8192-4108-a804-8a60483f0dae.png">

[2021-12-01 05:21] #1202 closed

[2021-12-02 09:54] JoniVR commented on #677
@WoLewicki I'm running into this exact issue (on iOS15 still), if the fix you mentioned were to work, where would I have to apply it?

I'd be happy to submit a PR for it but I don't really know where to look (and if you'd accept it). I'm guessing inside the implementation of `RNScreensNavigationController`?

[2021-12-02 10:17] #1198 closed

[2021-12-02 10:17] #1209 closed

[2021-12-02 10:40] kacperkapusciak commented on #1209
@kirillzyusko I think this is kind of expected behavior in the context of freezing. Well, the current `enableFreeze` solution for freezing is kind of "all or nothing". We might add a way to enable/disable freezing per screen in the future.

Sorry for not being terribly useful but I think the correct answer to this problem, for now, is to disable freezing 😞

[2021-12-02 12:35] #1194 closed

[2021-12-02 12:41] WoLewicki commented on #1197
This issue comes from the usage of `removeClippedSubviews` in `material-bottom-tabs`, which removes the views on native side when switching tabs while not removing them on `React` side. It brings messy behavior and destroys the `react-native-screens` logic. A workaround is to not use this in `material-bottom-tabs` by e.g. changing the code here: https://github.com/callstack/react-native-paper/blob

[2021-12-02 13:35] JoniVR commented on #677
I found a solution to this problem, which can probably be fixed quite easily (still needs actual proper logic, but shows where to fix it).

In the file `RNSSCreenStackHeaderConfig.m`, if we move the `updateController` call outside of the condition, the background update happens correctly.

[code]
[Specific line](https://github.com/software-mansion/react-native-screens/blob/ea6d02ccb8f6bf8e36a2b351

[2021-12-02 13:55] JoniVR opened #1225 "iOS: Navbar BG color below modal does not change when appearance changes"
**Sorry about the template, I created this issue as a reference (#677), which removed it. I added it below.**

I found a solution to this problem, which can probably be fixed quite easily (still needs actual proper logic, but shows where to fix it).

In the file `RNSSCreenStackHeaderConfig.m`, if we modify the `updateController` condition, the background update happens correctly.

[code]
[Specific

[2021-12-02 16:40] WoLewicki commented on #1225
Reproduction would for sure be good since we cannot just remove the condition, it was added there for a reason and such change would destroy other behaviors. We probably could change it though so it works correctly in your case.

[2021-12-02 17:52] JoniVR commented on #1225
Hi @WoLewicki!

I agree you can't just remove the condition, it was just to demonstrate where the solution might possibly be :)

I added a fresh expo project. It was initially created as a snack but apparently snacks don't support appearance changes (because no `app.json` support). But as you can see, the issue is reproducible.

Let me know if there's anything else I can do to help!

[2021-12-02 17:56] kirillzyusko commented on #1209
@kacperkapusciak thank you for your reply. We've already disabled "freeze" integration from `react-native-screens` and managed to write our custom HOC which satisfy to our project requirements (it's also give us an ability to use it only where we need). So thank you anyway for clarification and your work on fixing reported issue. I appreciate it 🙂

[2021-12-02 22:42] Raffpy commented on #242
What happened with the links?

[2021-12-02 23:00] lucasmotta commented on #932
I'm experiencing the same issue as @Hirbod. I will try to test this outside of Expo later this week.

[2021-12-03 09:03] WoLewicki commented on #242
@Raffpy the whole repo is written in typescript now so `.d.ts` files are not used. You can look for types directly in the files with the code or in `lib` folder in `react-native-screens` in your `node_modules`

[2021-12-03 09:08] WoLewicki commented on #1225
Can you add the reproduction as a repo on github and a link to it? It would be then easier to elaborate on and it is safer then extracting a ZIP file.

[2021-12-03 09:24] JoniVR commented on #1225
You're right, zip wasn't the best idea, I've setup a repo for it:

https://github.com/JoniVR/RN-Screens-modal-bug-demo

[2021-12-03 10:44] Gruak commented on #1197
You were right! That sorts it out.

[2021-12-03 11:24] WoLewicki commented on #1225
Can you check if applying changes from #1228 resolves the issue?

[2021-12-03 11:25] WoLewicki commented on #1225
Can you check if applying changes from #1228 resolves the issue?

[2021-12-03 12:08] JoniVR commented on #1225
Hi @WoLewicki!

Thanks for looking into this. From my initial testing, the issue was not resolved.

Perhaps I did something wrong? I'm not too familiar with how expo works under the hood.

I set your fix branch as the dependency of my demo project & added an ActionSheet to test that issue as well. Perhaps I should just eject it and use the Xcode debugger for that line to check if the condition is

[2021-12-06 03:43] trizerr commented on #786
@WoLewicki I believe that is related to this issue https://github.com/facebook/react-native/issues/29472. And this is an issue of react-native-screens because if you disable it crash isn't happening. Could you please look into that?

[2021-12-06 03:50] chungweileong94 commented on #1218
I'm actually facing the same issue before, but at the time I don't have time to submit an issue.

So basically the issue in my case was:

1. Having `KeyboardAvoidingView` in both screen 1 & screen 2,
2. Then navigate from screen 1 to screen 2
3. Tap on input on screen 2 to bring up the keyboard
4. Then navigate back to screen 1, and you will notice that the `KeyboardAvoidingView` will be stuck in

[2021-12-06 03:50] trizerr commented on #786
I get this error on react-native-screens version 3.9.0

[2021-12-06 08:24] finntenzor opened #1230 "cannot find symbol import com.facebook.react.views.text.ReactTypefaceUtils for RN 0.60.5"
## Description

I'm using react-native-screens 3.1.1 and react-native 0.60.5. When I compile, it shows:

[code]

### Screenshots

![image](https://user-images.githubusercontent.com/7535112/144810551-55de2608-d4cc-4571-97e8-9429d1c10a65.png)

## Steps To Reproduce

1. Create a new React Native application (0.60.5)
2. Add react-native-screens as dependency (3.1.1)
3. Run `react-native run-android` (

[2021-12-06 08:39] anija commented on #17
Also on 3.9.0 the app crash

[2021-12-06 09:17] pke commented on #17
@anija did you use one of the proposed fixes from this issue here? We did apply the fix suggested in the readme and no longer have android crashes out there. None (related to this bug).

[2021-12-06 12:07] kacperkapusciak commented on #1230
Hi @finntenzor,
`react-native-screens` `>=3.0.0` won't compile with `react-native` older than `0.62`

 In your case, it looks like downgrading `screens` to version `2.18.1` should resolve your problem

[code]

Cheers

[2021-12-06 13:01] hannojg opened #1238 "Can we exclude components on a screen from becoming frozen?"
Hey,

I didn't have the time to look too much into the internal works of this library. But I was wondering if there is a possibility to prevent freezing for a component, that is presented on a screen that is currently frozen?

In our use case, we have an XP bar that is synced everywhere (so when you have multiple XP stuff showing on one screen everything is synced). This XP bar runs animation when

[2021-12-06 13:05] finntenzor commented on #1230
Hi @kacperkapusciak ,
Thank you so much. It's work for me!

[2021-12-06 15:18] honzajerabek opened #1231 "iOS: headerRight component misaligned during first navigation"
## Description

Hi there, I'm having an interesting problem with components in header. When setting `headerRight` using hook right after navigating from a screen that doesn't have header shown, the component is misaligned out of screen.

This only happens on first navigation after app start && on iOS && on physical device && using Release build config.

Haven't tested other header components than

[2021-12-06 16:44] samwatkinson1 commented on #932
This also affects appearance of stacked modals once closed, the modal behind the previously closed modal becomes full screen and loses its shadow background. Also seem to be experiencing this whilst running inside Expo Go, haven't yet tested native in the simulator.

[2021-12-06 19:41] samwatkinson1 commented on #932
Tested with an ejected Expo app in simulator and cannot reproduce, seems like expo may be a contributing factor.

[2021-12-06 19:45] Hirbod commented on #932
@WoLewicki it does not happen outside of Expo.

[2021-12-06 19:47] Hirbod commented on #1225
@JoniVR when using expo, you need to build a dev client or eject in order to test patches.

[2021-12-06 19:51] Hirbod commented on #1216
@cristianoccazinsp

That is only valid  for react-native-web (it won't apply `display: none`)

[2021-12-06 19:54] cristianoccazinsp commented on #1216
After further testing, the issue happens even with `enableScreens(false);`, so I guess this is really an issue for react-navigation. Sadly, I don't think react-navigation is getting fixes any time soon as it keeps piling up important bugs in 6.x, so I will report it there once I upgrade to 6.x.

[2021-12-06 19:54] #1216 closed

[2021-12-06 19:56] Hirbod commented on #1216
@cristianoccazinsp fyi: updating from 5 to 6 was a 10min task on my app (and I have a huge navigation)

[2021-12-06 20:00] JoniVR commented on #1225
@Hirbod Thanks for letting me know! The issue does indeed seem to be resolved after testing when ejected, nice!

[2021-12-06 20:01] cristianoccazinsp commented on #1216
It's not about the difficulty in upgrading, but the unfixed bugs in 6.x that make it unusable (https://github.com/react-navigation/react-navigation/issues/9918 and alike)

[2021-12-06 20:07] Hirbod commented on #1216
Unless you need some very special config, I would just upgrade and ditch `createStackNavigator` form @react-navigation/stack to `createNativeStackNavigator` from @react-navigation/native-stack. Once you feel the native performance, you never look back :D

[2021-12-06 20:15] cristianoccazinsp commented on #1216
We still can't upgrade to the native navigators as we have some very customized headers, and also we use the same transition animations for iOS and Android (the native android one is pretty bad for our app at least). But yes, we would like to go that route eventually.

[2021-12-07 09:36] WoLewicki commented on #786
Please provide a minimal reproduction of the crash (a snack or simple repo) so we can work on it and we can reopen this then.

[2021-12-07 09:47] WoLewicki commented on #1231
Does it also happen if it is not set by `setOptions`, but rather in `options` of the `Screen` component? Also, does it still happen if you use `useLayoutEffect` instead of `useEffect`?

[2021-12-07 09:58] WoLewicki commented on #649
@nandorojo the reproduction seems to be the same issue as the old ones with `ScrollView` and was resolved by this: https://github.com/software-mansion/react-native-screens/issues/320#issuecomment-670469660. I checked the repro and it works correctly when applying those props. Can you check if it fixes your issue? And if so, is there something more to be done about it?

[2021-12-07 10:12] trizerr commented on #786
the problem here is that it's not reproducing constantly, it happens very randomly. We tried to reproduce it for 3 hours but didn't get this error (We only have crash reports from our users). Steps to reproduce in this issue are correct because our breadcrumbs state the same. So the only thing I can send you is crash reports:( https://github.com/trizerr/react-native-screens-crash

[2021-12-07 10:48] clemensmol opened #1232 "iOS - fullScreenModal not dismissable"
First of all, thank you for this wonderful package!

Using @react-navigation/native-stack you can't dismiss a fullScreenModal with a gesture like 'presentation: modal' does. Don't know if it's a bug or if it's intended but it would be nice to be able to dismiss a fullscreen modal with a swipe down gesture.

iOS 15.1.1

##Presentatin: modal works
https://user-images.githubusercontent.com/5475805/14

[2021-12-07 11:30] Hirbod commented on #649
I don’t like the fact we need to set special props in order to make it work. It wasn’t like this till iOS 13, broken in iOS 14 and now semi working on iOS 15 (but working under special circumstances when changing header and Scrollview).

Is there a way to make the DX better? I mean there is also no documentation about this.

[2021-12-07 11:47] honzajerabek commented on #1231
1. It does not happen when using in Screen's `options`
2. It also does not happen when using with `useLayoutEffect`

Thank you very much, this pretty much solves it for me :)

[2021-12-07 11:57] WoLewicki commented on #1232
`fullScreenModal` resolves to [`UIModalPresentationFullScreen`:](https://developer.apple.com/documentation/uikit/uimodalpresentationstyle/uimodalpresentationfullscreen?language=objc) https://github.com/software-mansion/react-native-screens/blob/76f4fc62aa5e7c04dba4a623fa0387b2b5b5ccb3/ios/RNSScreen.m#L102. This style of presentation covers the whole screen and is not dismissible. It is intended be

[2021-12-07 12:02] WoLewicki commented on #1231
It is already used like this in documentation of `react-navigation`: https://reactnavigation.org/docs/navigation-prop/#setoptions so I think we can close this. Feel free to comment here if something is wrong and we can reopen it then.

[2021-12-07 12:02] #1231 closed

[2021-12-07 14:37] clemensmol commented on #1232
Thank you for your swift response!

Guess I'm gonna have to find another way to modally view some kind of slideview and swipe down to close it. React Animated is just too slow for these interactions.

[2021-12-07 14:37] #1232 closed

[2021-12-07 15:04] WoLewicki commented on #786
In these logs, I cannot see any methods invoked by `react-native-screens` so it is almost impossible to withdraw any conclusions regarding our library. The logs suggest that there is a deadlock since there are multiple mutexes awaiting, but I cannot say much more.

[2021-12-08 10:56] WoLewicki commented on #649
I am afraid these options are the defaults used by native apps on `iOS` and are required for correct behavior of `ScrollView` integrated with large header.

[2021-12-08 12:43] sallar commented on #649
@WoLewicki Then I guess this issue can be closed right? Since it's not actually a bug?

[2021-12-08 13:38] Muirik opened #1237 "Syntax Error Re: Typescript Files in node_modules"
After running some updates in my react-native app, when I now try to boot up the app, I'm getting this error:

[code]

I'm thinking this has to do with the issue that this is a typescript file, so the javascript compilation doesn't work?

I have tried updating various libraries, but thus far can't get past this error. If I comment out this file, the build just fails on the next occasion where it f

[2021-12-08 20:58] #1237 closed

[2021-12-08 22:09] lucasmotta commented on #932
To give some more information, I've tested a couple issues that were happening inside Expo go and then with an ejected app. All issues are fixed after the eject, pointing that it could be an issue within Expo go client app? 😨

### Modal Header issue
**Expo go (bug)**

https://user-images.githubusercontent.com/76673/145291952-54fc2a8f-0346-4f8c-993b-d074414e02b0.mp4

**Ejected (works)**

https://us

[2021-12-08 23:12] jafar-jabr commented on #17
@mikehardy
in Kotlin I'm getting an exception
`'onSaveInstanceState' overrides nothing`,
any suggestion please!

[2021-12-09 08:29] kacperkapusciak commented on #17
For anyone coming here from Google:

Fix for the crash 👉     https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704067

The problem is explained both in the installation steps in `react-native-screens` README: [Installation for Android](https://github.com/software-mansion/react-native-screens#android)

and

 in the `react-navigation` docs: [Installing dependencies i

[2021-12-09 09:47] WoLewicki commented on #649
@sallar yeah, I also think there is not much to be added from the `react-native-screens` side. I will close it then, feel free to comment here if something is wrong and we can always reopen this.

[2021-12-09 09:47] #649 closed

[2021-12-09 11:55] WoLewicki commented on #1053
I will close this issue since it's been inactive for quite a while.  Feel free to comment here if there is something to add and we can reopen it then.

[2021-12-09 11:55] #1053 closed

[2021-12-10 16:50] MursiDirect commented on #514
still have the same issue, any help please ?
what i get while trying to run the andoid app "react-native run-android"

`Execution failed for task ':react-native-screens:generateDebugRFile'.

`

[2021-12-10 21:36] brentvatne commented on #932
@lucasmotta - if you build with EAS Build it will have the same result as building an "ejected" project (we've renamed this to "prebuild" because it basically just generates native projects from your source/config), so it shouldn't be blocking for you for now.

[2021-12-10 22:23] lucasmotta commented on #932
@brentvatne I am aware of that, but for our current setup we are relying on the Expo Go client and the channel features for fast previews and iterations with our client. In the future, when we are past the MVP we will build our own app using EAS build, but for now the experience is slightly broken because of this modal issue.

[2021-12-11 00:04] brentvatne commented on #932
@lucasmotta - gotcha. you could use [expo-dev-client](https://docs.expo.dev/development/introduction/) also

[2021-12-11 00:14] Hirbod commented on #932
Is is not possible to fix the issue?

[2021-12-11 00:15] brentvatne commented on #932
@Hirbod - https://github.com/expo/expo/issues/15482#issuecomment-991352592

[2021-12-11 20:04] shelzTimesignature commented on #1216
things like navigation should've been handled by react native team. its been 3 years now we still facing the same issue

[2021-12-12 14:56] ujjwalsayami commented on #1218
I'm facing the same issue as mentioned by @chungweileong94

[2021-12-14 15:53] WoLewicki commented on #1197
I found even simpler solution with no need of changes in the code of library. When you nest the `native-stack` inside the tab of `material-bottom-tabs`, add another `View` with `collapsable={false}` before providing the navigator, something like this:
[code]

It should prevent the issues with logic of native layouts of `react-native-screens`  and `removeClippedSubviews` of `material-bottom-tabs`.

[2021-12-14 18:35] KacperPaszkowski opened #1239 "Missing ScreenStackHeaderSubview in Windows"
Hi,

There is no ScreenStackHeaderSubview component in windows so it's impossible to make custom header on Windows.

[2021-12-14 22:20] cristianoccazinsp opened #1240 "Android memory leak?"
## Description

Android debugger shows that RNScreens is leaking an object. This is mostly a question as perhaps it is not really a problem.

Looks like certain fragments are leaking in the sparse array.

### Screenshots
<img width="1230" alt="Screen Shot 2021-12-14 at 16 26 21" src="https://user-images.githubusercontent.com/48869228/146088060-736dd244-6660-492e-b06a-5be5b25377b8.png">
<img width=

[2021-12-15 09:48] WoLewicki commented on #1240
I believe your issue is mentioned here: https://github.com/software-mansion/react-native-screens#other-problems and explained here: https://github.com/software-mansion/react-native-screens/issues/843#issuecomment-832034119.

[2021-12-15 11:17] WoLewicki commented on #1203
I believe the solution from @kacperkapusciak should work for all RN components using `UIScrollView` under the hood. I will close this issue then. Feel free to comment if I am wrong and we can reopen it then.

[2021-12-15 11:17] #1203 closed

[2021-12-15 12:30] cristianoccazinsp commented on #1240
Thanks, I should have searched for that first 😁

[2021-12-15 12:30] #1240 closed

[2021-12-15 13:12] WoLewicki commented on #1201
Sorry for late response, I tried to copy the code you provided and run it, but not all of needed code is provided. Could you fix this, ideally provide it as a single file, e.g. in a form of snack? Otherwise, we cannot elaborate on it correctly.

[2021-12-17 00:29] kendallroth commented on #1197
While I can confirm that the above does work (using an extra `View` with `collapsable` set to `false`), that is still a workaround and should not be accepted as a fix (although I thank you immensely for discovering this!). Even simply patching the `react-native-screens` use of `removeClippedSubviews` for Android does not seem like the ideal/final fix 🤷.

[2021-12-17 11:21] ku8ar commented on #1238
This mechanism was probably inspired by angular (sic!) ChangeDetectorRef.
Without any additional library, similar effect can be achieved by simply wrapping frequently changing values:

[code]

This approach has an additional advantage: developer is intentionally memoizing values, so freezing itself is not some side-effect from a standalone library, but an intentional action to optimize app. So I s

[2021-12-17 12:36] WoLewicki commented on #1197
@kendallroth does this issue exist in newer versions of `react-native` in your case? Expo uses RN `0.64.3`, but from my testing it seems that on e.g. `0.66.3` it works correctly without any fixes. Could you check it too?

[2021-12-17 15:20] Hirbod commented on #1225
@JoniVR and expo also released expo-system-ui with SDK 44 now, where you can change the root color in runtime now!

[2021-12-17 19:39] kendallroth commented on #1197
@WoLewicki Good question, I thought about waiting until Expo SDK 44 comes out, but that is also using RN `0.64.3` so no luck there. I was able to use the above workaround (the `collapsable` one) and may test the other one later. I may see if I can test this out later (typically only work with Expo), as it's good to hear that it might be fixed in later versions of `react-native`? Was the issue with

[2021-12-20 13:10] WoLewicki commented on #1197
The issue comes from the way the layout system works in `react-native` when using `removeClippedSubviews` and its integration with `react-native-screens`. I am not sure what was changed exactly between the versions, maybe it is fixed due to fact of newer version of `appCompat` used by newer versions of `react-native`, but I am not sure and I have already spent much time debugging it. Since introdu

[2021-12-20 13:17] WoLewicki commented on #932
I tried to debug it with @lukmccall, but the problems seem to come from layout calculations in platform methods, which are not available for us. I'd risk a guess that it is a problem of some `UIViewController` or maybe `UINavigationBar` extension (maybe for analytics) present in Expo Go app, but we couldn't find the exact one. I am afraid we cannot do much more on the side of `react-native-screens

[2021-12-20 13:54] MelColmant opened #1241 "Android Crash at com.swmansion.rnscreens.ScreenContainer.onDetachedFromWindow (prod only)"
## Description

The app crashes in production (can't reproduce in debug mode):

java.lang.IllegalArgumentException:
  at androidx.fragment.app.FragmentStateManager.createView (FragmentStateManager.java:513)
  at androidx.fragment.app.FragmentStateManager.moveToExpectedState (FragmentStateManager.java:282)
  at androidx.fragment.app.FragmentManager.executeOpsTogether (FragmentManager.java:2189)
  a

[2021-12-20 14:06] Gruak commented on #1197
I tested it with react-native 0.65.0 and the issue does not occur. I suppose it was fixed due to the following commit https://github.com/facebook/react-native/commit/da8ed6b6252fd53a83f14ab6da7e9b467f12ffe1. @WoLewicki  I think the solution you proposed is good enough, so we can wait until expo bumps RN version. I guess the issue can be closed, thank you all for your time.

[2021-12-20 14:11] WoLewicki commented on #1241
Could you provide a minimal reproducible code example? Could be as an Expo Snack or just a code-snippet. It would be very helpful.

[2021-12-20 14:16] kendallroth commented on #1197
@WoLewicki Yes, I completely agree, if it appears fixed in newer versions than adding an additional `View` in older versions is acceptable 👍. I did not have time over the weekened to experiment with this, but am not super worried either since someone else has validated it as well.

[2021-12-20 15:34] MelColmant commented on #1241
Hi,

Thanks for the quick answer. As I said I am unable to reproduce the crash in debug mode but can with an apk build.

Here is where I believe the issue is in our code:
`
const content = useMemo(() => {
    const pairingFailed = error?.key === "pairingCheckFailed";

    if (isDemo && hasAppDashboardAccess)
      return <RootStack.Screen name="app" component={AppNavigator} />;
    if (
      (isD

[2021-12-20 16:19] WoLewicki commented on #1197
Ok, I am closing it then. Thanks for your contribution :tada:

[2021-12-20 16:19] #1197 closed

[2021-12-20 16:22] WoLewicki commented on #1241
We would need a simple repo with the simplified code in order to be able to reproduce the issue. Such snippet is not applicable anywhere unfortunately. Also, can you check if this happens with the newest version of `react-native-screens`?

[2021-12-21 08:15] MelColmant commented on #1241
Hi,

I understand. For now updating to the newest version seems to have solved the issue. Thanks for suggesting it, I shall have thought about it.

I'll come back to you if the issue does persist. Again, thank you very much for the swift answers and suggestions.

Mel

[2021-12-21 10:26] kacperkapusciak commented on #1239
Hi @KacperPaszkowski,

The current implementation of `react-native-screens` for Windows was just to support `react-navigation`, and the implementation is far from being feature complete.

I've contacted the original authors of the implementation of Screens for Windows and they'll have a look at this after the winter break.

I'm transferring this issue to the discussions because this is a feature r

[2021-12-21 11:58] WoLewicki commented on #1241
Ok, so I will close this issue since it looks like the problem has been resolved. Feel free to comment here if it comes back and we can always reopen it then.

[2021-12-21 11:58] #1241 closed

[2021-12-23 15:13] matteodanelli commented on #1147
All dependencies has been moved. jcenter can now be completely removed from the project.

[2021-12-25 21:22] nazrdogan opened #1247 "FullWindowOverlay not fitting the window"
I m trying to use  `FullWindowOverlay`  to show a custom action sheet in the modal screen. but FullWindowOverlay has some spaces at the bottom.
In our app, I edited react-native-screens/ios/RNSFullWindowOverlay.m  ( version: 3.10.1) like this way. it seems working for me. but I m not sure this is the right way to do
[code]
https://snack.expo.dev/@nazrdogan/suspicious-coffee

![Image from iOS](http

[2021-12-26 04:45] yiheinchai commented on #1203
Thank you! Encountered the same problem today and `contentInsetAdjustmentBehavior="automatic"` and `headerTranslucent: true` resolved the issue.

[2021-12-26 07:40] yiheinchai commented on #1203
@WoLewicki I noticed that by using `headerTranslucent: true`, it removes the `ListHeaderComponent` from FlatList which is supposed to be a sticky header. I noted a separate issue regarding this #927 . Is there a solution where I can get BOTH refresh control and sticky headers to work at the same time?

[2021-12-27 13:59] nomi9995 opened #1248 "C++ Exception: St9bad_alloc"
## Description

I am getting this issue in `
react-native-screens@^3.10.1` version. i see this issue on sentry. it is due to reproduce when Ram memory remaining less

![image](https://user-images.githubusercontent.com/36044436/147926920-c4d5cccb-66b5-465e-9746-8d6a5a684801.png)

### Screenshots

![image](https://user-images.githubusercontent.com/36044436/147478484-1d306823-7a64-403b-8f0e-915ca1ee1

[2021-12-28 16:19] temharay opened #1249 "RNScreens components your app's activity need to extend ReactFragmentActivity or ReactCompatActivity"
## Description

the app crushes on launch with error: RNScreens components your app's activity need to extend ReactFragmentActivity or ReactCompatActivity, which are no more available for import anyway.

It is a brand new application built without expo.

The app does work well if opened from its icon but crushes when it is open from a third party application with this piece of code:

[code]

### S

[2021-12-29 17:11] rvasseur31 commented on #395
Sorry to reopen this issue, but I have the same issue when I use FlatList
I've put together here : https://snack.expo.dev/7WgS5NpO_ . Could you check it out, please?

[2021-12-30 19:19] Only-IceSoul commented on #1223
I think it only works when they have the same aspect ratio.

[2021-12-31 13:55] toriqo commented on #649
actually, for me, just adding `contentInsetAdjustmentBehavior="automatic"` to my flat list did the trick

[2021-12-31 20:31] shelzTimesignature commented on #380
its 2022, two years after the first issue was reported but still nothing only workarounds which doesn't work

[2022-01-01 20:33] Hirbod opened #1251 "[iOS] bug with @react-navigation/bottom-tabs"
## Description

When using @react-navigation/bottom-tabs with RNS, the content jumps on tab change (one the first render only).
I made sure I've tested this plenty of times.

The bug does not occur if I import
[code]

but with

[code]

My whole is wrapped with `SafeAreaProvider` from `react-native-safe-area-context` like so:
[code]

[code]

I also tried to test it without initialMetrics and also u

[2022-01-01 20:50] Hirbod commented on #1251
P.S: I thought this is the right repo to post this issue. If you feel I have to post this at react-navigation, let me know.

[2022-01-03 13:46] kacperkapusciak opened #1254 "This is just a test"
## Description

I just wanted to test our new GitHub Actions bot and this is why I submit this issue. Don't panic.

PR:  https://github.com/software-mansion/react-native-screens/pull/1253
Bot: https://github.com/software-mansion-labs/swmansion-bot

### Screenshots

## Steps To Reproduce

1. Open the app

### Expected behavior

### Actual behavior

## Reproduction

https://snack.expo.dev/@kacperkap

[2022-01-03 13:50] kacperkapusciak commented on #1254
It seems it works fine! 🎉

[2022-01-03 13:50] #1254 closed

[2022-01-03 13:51] WoLewicki commented on #1247
I believe it is a duplicate of #1202 (check if https://github.com/software-mansion/react-native-screens/issues/1202#issuecomment-981755351 resolves the issue). As for adding such code, it may be a good point to just make it fullscreen by default, could you make a PR with this change and this reproduction in `TestsExample` app ?

[2022-01-03 13:54] WoLewicki commented on #1203
I am not sure of the current state of this, but sticky headers were implemented on the JS side, as I mentioned here: https://github.com/software-mansion/react-native-screens/issues/927#issuecomment-883180718, so it is `react-native`'s implementation where it can and should be fixed unfortunately.

[2022-01-03 14:32] WoLewicki commented on #1251
Can you post this simple repo with the changed applied with e.g. `patch-package` so we can work on it?

[2022-01-04 13:23] kacperkapusciak opened #1257 "This is yet another test"
## Description

My amazing description

### Screenshots

## Steps To Reproduce

1. install app
2. do something
3. do something more

### Expected behavior

### Actual behavior

## Reproduction

Don't have any :(

## Platform

- [x] iOS
- [x] Android
- [ ] Web
- [ ] Windows
- [ ] tvOS

## Workflow

- [ ] Managed workflow
- [x] Bare workflow

## Package versions

| package

[2022-01-04 13:26] kacperkapusciak commented on #1257
This is my repro for this issue: https://github.com/kacperkapusciak/react-native-repro

[2022-01-04 13:29] kacperkapusciak commented on #1257
bump

[2022-01-04 13:31] #1257 closed

[2022-01-04 15:28] kacperkapusciak commented on #1257
This is my repro for this issue: https://github.com/kacperkapusciak/react-native-repro

[2022-01-05 09:46] WoLewicki commented on #1249
If the app you use is a brand new `react-native` app,  then your `Activity` should extend `ReactActivity`, which extends `FragmentActivity` (see the check that throws: https://github.com/software-mansion/react-native-screens/blob/main/android/src/main/java/com/swmansion/rnscreens/ScreenContainer.kt#L169). Why is it not so?

Also, probably in your main manifest file, you have 2 different activites,

[2022-01-05 13:22] WoLewicki commented on #1248
Can you provide more information about the flow of your app? Can you navigate forward indefinitely without going back? After going back from a screen, all the memory allocated by it should be freed, so I am not sure if it is a problem of `react-native-screens`, but rather something else is draining the memory and in the end, there is none of it left to allocate memory for the new instance of `RNSS

[2022-01-05 13:35] nomi9995 commented on #1248
@WoLewicki I tried on my side it is not reproducing but I am getting this issue on sentry, I confirm that it was not present in `react-native-screens@3.9.0` but when I updated `react-native-screens` to `3.10.1` then I am getting this issue on sentry.

[2022-01-05 13:42] WoLewicki commented on #1248
Are you using `react-freeze`? I cannot think of anything that could introduce such problem between these versions. Could you elaborate more on the flow of the app? Does this exception appear after using app for much time?

[2022-01-05 14:02] nomi9995 commented on #1248
@WoLewicki no I am not using `react-freeze` by using `enableFreeze` method. It is not reproducing on my side. maybe it is due to other packages which are occupying ram. you can close this issue. thanks

here is the complete log of sentry
[cpp_exception.txt](https://github.com/software-mansion/react-native-screens/files/7815365/cpp_exception.txt)

here is other log
![image](https://user-images.gith

[2022-01-05 14:10] WoLewicki commented on #1248
Ok I will close this issue then. What you can do is run a memory profiling of your application and see if there is leakage in it, and if there happens to be more instances of `RNSScreen` than there are actual screens, please report it here and we can reopen it then.

[2022-01-05 14:10] #1248 closed

[2022-01-05 14:28] nomi9995 commented on #1248
@WoLewicki I tried memory profiling but I did not find any memory leak but this issue is happening in production. I will investigate. thanks

[2022-01-05 14:59] #1225 closed

[2022-01-05 20:02] Hirbod commented on #1251
@WoLewicki I got rid of it with headerTransparent:true + remove of initialMetrics and some refactoring of my navigators, but I still think that this is bug, because it does not work with all combinations.

[2022-01-07 09:56] WoLewicki commented on #1251
Hmm if you think this is a bug on `react-native-screens` side, please provide a reproduction so we can work on it.

[2022-01-08 12:34] Hirbod commented on #1251
@WoLewicki I will provide a reproduction soon. I think it is indeed a bug on rns.

[2022-01-10 19:07] megantaylor commented on #1218
any movement on this issue? we'd love to use reactFreeze in our app, but can't until there's a solution for this problem.

[2022-01-11 00:16] jthies73 opened #1265 "Nested NativeStackNavigator Scroll Bug"
## Description

It is not possible to create two nested ScrollViews (or ListViews) (react-native-gesture-handler version 2.1.0) with the current version of NativeStackNavigator from '@react-navigation/native-stack'.
If you try to scroll on the nested ScrollView it happens that you always trigger the parent ScrollView only. This was not an issue in previous versions.

I have to admit that I'm not s

[2022-01-11 00:28] jthies73 commented on #1265
Hey there! Unfortunately I can not provide an expo snack link since the latest supported expo sdk version is 43.0.0.

[2022-01-11 08:56] a-eid opened #1266 "image picker break "modal" | "formsheet" presentation in native-stack."
## Description

![Jan-11-2022 10-55-18](https://user-images.githubusercontent.com/19273413/148911398-0098b462-aaf3-457a-8753-f3157a902466.gif)

## Reproduction

https://snack.expo.dev/@aeid/thrilled-strawberries

## Steps To Reproduce

just try to open the image picker with `expo-image-picker` or the community package, while being inside a formSheet ios modal.

## Platform

-  [x] iOS

## Workflow

[2022-01-11 17:10] Rebsos commented on #605
So basically, if you have non english users, you have to
1. Disable BackTitle everywhere with headerBackTitleVisible​: false, or
2. Use createStackNavigator
Or am I missing something?

[2022-01-12 13:30] WoLewicki commented on #1265
What was the last version of `expo`/`react-native-screens` where it worked correctly? I checked such old versions as `3.0.0` and it seems to not work there.

[2022-01-12 14:38] burakgormek opened #1268 "iOS navigating with searchbar removes the content background"
## Description
When navigating to searchbar screen, searchbar removes the top of content area background and looks weird.

### Screenshots

https://user-images.githubusercontent.com/7578884/149154763-9c5163bc-2228-442b-a87a-8d52b16642db.MP4

## Steps To Reproduce

1. https://snack.expo.dev/@burakgormek/145dd6
2. Click "Navigate" button

### Expected behavior
I don't know the native "behavior", but

[2022-01-12 17:34] Manouli opened #1269 "Android build is failing. 502 Bad Gateway"
## Description
I am trying to build an android release in AppCenter and I am getting the following error:

[code]
I think its related to jcenter but I am unsure of how I need to sort this out. I saw a PR [here](https://github.com/software-mansion/react-native-screens/pull/1245) which possibly sort this issue out and I am wondering if there is any other solution here.

## Platform

- [ ] iOS
- [x]

[2022-01-12 17:44] Manouli commented on #1269
A reproduction step or snack is not needed in this case.

[2022-01-12 17:46] Manouli commented on #1269
I believe I have supplied the info required for the issue. Let me know if you need any more info.

[2022-01-12 18:43] Manouli commented on #1269
I have for now resolved this issue by adding the following code into root build.gradle of the android app. Turns out the + was causing the issue so by specifying a version the problem got resolved and I was able to build. I am going to leave this issue open to get some thoughts from other people too.

[code]

[2022-01-12 20:06] osliver commented on #1269
didn't help

[2022-01-12 20:48] trantus commented on #1269
same issue

[2022-01-12 20:51] numboDumbo commented on #1269
It is failing for me also with
"@react-navigation/bottom-tabs": "^6.0.9",
"@react-navigation/native": "^6.0.6",
"react": "17.0.2",
"react-native": "0.66.4",
"react-native-safe-area-context": "^3.3.2",
"react-native-screens": "^3.10.1",
"react-redux": "^7.2.6",
"redux": "^4.1.2"

[2022-01-12 22:07] gax97 commented on #1269
I made a PR that removes jcenter: [1270](https://github.com/software-mansion/react-native-screens/pull/1270)

[2022-01-13 05:28] hoangtrungit opened #1271 "Android Unresolved reference: ReactTypefaceUtils"
I'm buidling android application using "react-native-screens": "^3.10.1", but I'm getting error
![image](https://user-images.githubusercontent.com/8652255/149271186-fca6f7fa-513e-481f-8d17-d24783b47341.png)

[2022-01-13 08:29] kacperkapusciak commented on #1269
It was a global JCenter outage: https://status.gradle.com/incidents/nv93msj8q658

The repositories are now operational and the issue is resolved.

[2022-01-13 08:36] kacperkapusciak commented on #1271
Hi @hoangtrungit,

Your problem looks like a duplicate of https://github.com/software-mansion/react-native-screens/issues/1230

You are probably using `react-native` in version older than `0.62.x`. `react-native-screens` `3.x.x` require `react-native` `>=0.62.x`. This information can be found [here in the README](https://github.com/software-mansion/react-native-screens#supported-react-native-versi

[2022-01-13 08:36] #1271 closed

[2022-01-13 09:13] trantus commented on #1269
still occurring

[2022-01-13 11:10] WoLewicki commented on #1268
I think it comes from the fact that on the second screen, you don't have translucent header, so the screen's content ends where the header starts. As a result, when navigating back, the header collapses and the empty space can be naturally seen.  You can see it in passwords screen you mentioned, where the content goes under the header and can be seen there when navigating back. Therefore, I believ

[2022-01-13 11:19] kacperkapusciak commented on #1269
I can't seem to reproduce this error 😞

Nevertheless, I've merged the PR removing `jcenter()` in https://github.com/software-mansion/react-native-screens/pull/1245.

We were hesitant to remove `jcenter` for so long because last time we removed it users couldn't build the app - https://github.com/software-mansion/react-native-screens/pull/1101.

Now it seems that every package that `screens` depend

[2022-01-13 13:29] Manouli commented on #1269
@kacperkapusciak Nope its not happening anymore. If it does I will get back to you again. From my point of view we can close this issue. I only left it open for brainstorming ideas mostly. Thank you all for your comments

[2022-01-13 13:31] #1269 closed

[2022-01-13 15:01] jthies73 commented on #1265
Hello @WoLewicki! The Version I used before updating to expo 44.0.4 was react-native-screens 3.8.0.
Unfortunately I can not say to which package or API the Issue is related to. I posted the issue in react-navigation first because I was assuming that it is related to the NativeStackNavigator API.
-> https://github.com/react-navigation/react-navigation/issues/10248

However I was told to also open t

[2022-01-13 15:42] jthies73 commented on #1265
I just created a new branch for the last working version.
The only versions I changed are
expo 44.0.0 -> 43.0.5 and
react-native-gesture-handler 2.1.0 -> 1.10.3

https://github.com/jthies73/NativeStackNavigatorIssue/tree/last_working_version

obviously now you get some warnings for other packages but I hope it helps to isolate the bug a bit more.

[2022-01-13 17:17] WoLewicki commented on #1268
I believe this file is responsible for giving header height: https://github.com/software-mansion/react-native-screens/blob/d1a81d6a2920b9b4876f05cc6be64e4614f624b9/src/native-stack/utils/getDefaultHeaderHeight.tsx. There is no `searchBar` included there so it would be for sure good to have it included :tada:

[2022-01-13 23:38] msvargas commented on #1020
@WoLewicki I have the same issue only with Google Pixel physical devices, any update for this, please?

[2022-01-14 11:50] WoLewicki commented on #1020
We haven't investigated it further as it seemed like not in scope of `react-native-screens` library. I think it would be good to submit another issue with a reproduction and a link to this issue if the problem is still occuring.

[2022-01-16 10:59] rkaartikeyan opened #1274 "Build getting failed with Unable to load Maven meta-data from https://jcenter.bintray.com/"
## Description

Build getting failed with `react-native-screens` package

### Screenshots
[code]
## Steps To Reproduce

1.

### Expected behavior

### Actual behavior

## Reproduction
`./gradlew clean && ./gradlew assembleRelese`

## Platform
- [x] Android

## Workflow
- [x] Bare workflow

## Package versions

[code]

[2022-01-16 13:38] alaintalk commented on #1274
i have the same error

[2022-01-16 13:59] larsmunkholm commented on #1274
![image](https://user-images.githubusercontent.com/6906782/149663120-6f90e4b7-2a3e-4335-a479-10d0d3904c7a.png)
Please do something about this. Jcenter is shutting down completely in February.

[2022-01-16 14:01] mifi commented on #1274
I thought they are going to keep a read only repo indefintely?

[2022-01-16 14:13] larsmunkholm commented on #1274
@mifi Status might have changed to "indefintely", but lately it has been down _a lot_, so I suspect they're not keen on people using their service.

[2022-01-16 14:34] mifi commented on #1274
Yes. I also came here due to 502 errors happening right now. I wonder what we can do about this as a workaround. Is there any mirror to jcenter?

[2022-01-16 16:18] larsmunkholm commented on #1274
jcenter() should be replaced with mavenCentral(), as stated by Gradle here https://blog.gradle.org/jcenter-shutdown and here https://docs.gradle.org/current/userguide/declaring_repositories.html#sub:maven_central

I've tried it out on react-native-svg, which has the same issue, and it seems to do the trick.

[2022-01-16 18:36] owinter86 commented on #1218
Not sure how easily this is addressed with `react-native-screens/react-native-freeze`, but I have a working solution that requires a minor patch to react native `KeyBoardAvoidingView`

[code]

and using `useIsFocused` hook on the actual KeyboardAvoidingView component.

[code]

That way the delayed onLayout view changes wont be triggered on the frozen screens when returning.

[2022-01-17 12:14] kacperkapusciak commented on #1274
Thanks for submitting an issue!

Due to the second major `jcenter()` outage in a week we've decided to remove it from `react-native-screens`.

With this, we've released patch version`3.10.2` that removes `jcenter()` 👉  https://github.com/software-mansion/react-native-screens/releases/tag/3.10.2

[2022-01-17 12:14] #1274 closed

[2022-01-17 23:47] jthies73 commented on #1265
solved by https://github.com/software-mansion/react-native-gesture-handler/issues/1823

thanks for your help 😊

[2022-01-18 09:41] Hirbod commented on #1266
I can confirm this. Only "containedModal" is not affected by this.
I also had issues with this library: https://github.com/baronha/react-native-multiple-image-picker/issues/59

As soon as the picker modal closed, my open modal closed as well.

[2022-01-18 11:58] WoLewicki commented on #1265
Great :tada: I will close this issue then. Feel free to comment here if something is wrong and we can always reopen it.

[2022-01-18 11:58] #1265 closed

[2022-01-21 00:39] peterng014 commented on #111
finally downgrade react-native-screens to v2.16.1 fixed my problem, (it was v3.2.0)
Hope that helps for everybody faced the same

[2022-01-21 12:10] IvanIhnatsiuk opened #1276 "bug with @react-navigation/bottom-tabs - initial jumping and flickering"
## Description
When I'm using `@react-navigation/bottom-tabs` with the native stack navigator, the header jumps on android and sometimes flickers on iOS on tab change (on the first render only). But it doesn't happen if I use the JS stack navigator.

I wrapped `NavigationContainer` with `SafeAreaProvider` like this:

[code]

I also patched react-navigation bottoms tabs with this PR applied by @WoL

[2022-01-21 12:47] IvanIhnatsiuk commented on #1276
@WoLewicki Yes, sure.
We use the insets from `SafeAreaProvider` in our project, if you remove it, the flickering problem is still on iOS.

[2022-01-21 13:02] WoLewicki commented on #1276
I was asking since it is already applied in `native-stack`: https://github.com/react-navigation/react-navigation/blob/e9c690450068d29a2ce62004992ad75d626ca0c2/packages/native-stack/src/views/NativeStackView.native.tsx#L322 so it may be causing some problems with layout. As for the flickering, does the whole content flicker or is it just the header? It is not visible when you have white background

[2022-01-21 13:38] IvanIhnatsiuk commented on #1276
Sorry, in official react-navigation they suggest to wrap entire app in a `SafeAreProvider` : https://reactnavigation.org/docs/handling-safe-area/
But they also have `SafeAreaPrivederCompat`: https://github.com/react-navigation/react-navigation/blob/main/packages/stack/src/views/Stack/StackView.tsx#L430
And Js stacks are not flickering/jumping :thinking_face: Am I doing something wrong?
Video with

[2022-01-23 16:32] sanek306 commented on #632
Right now i used that tricky
title: Platform.OS === 'android' ? '' : 'Мой блог',
headerLeft: () => (
    <>
        <HeaderButtons HeaderButtonComponent={AppHeaderIcon}>
            <Item title="Menu" iconName="ios-menu" onPress={() => alert('Press photo')} />
        </HeaderButtons>
        {Platform.OS === 'android' && (
            <Text style={styles.headerTitleForAndoid}>
                tex

[2022-01-24 12:10] burakgormek commented on #1268
@WoLewicki it's more complicated than i thought. Search bar resizes the header height on focus, so it's no longer a static value...

[2022-01-24 14:56] WoLewicki commented on #1268
I believe you mean those 2 props: https://github.com/software-mansion/react-native-screens/blob/4bf1fb7a17756708eb1cc5802c3a9afc23dd743a/src/types.tsx#L409, https://github.com/software-mansion/react-native-screens/blob/4bf1fb7a17756708eb1cc5802c3a9afc23dd743a/src/types.tsx#L415? Yeah, I think it is not easy to implement it so it works in all cases unfortunately. The solution for this would be to a

[2022-01-24 17:28] MaganAnkur opened #1282 "Screen Flashes When App Opens Camera and return back to screen"
I am using react-native-image-crop-picker to open camera and capture picture
### Version
- react-native-image-crop-picker v0.37.2
- react-native v0.66.4
- react-native-screens -v3.10.1

### Platform
- iOS
### Expected behaviour
After capturing the image using

Screen should not flicker as shown in attached video

### Actual behaviour

Screen flickers once after closing the camera

### Steps to rep

[2022-01-24 21:40] jforaker commented on #1282
This is an issue in react-native-image-crop-picker that is not related to react-native-screens: https://github.com/ivpusic/react-native-image-crop-picker/issues/1658

Somebody made a [patch](https://gist.github.com/Milker90/68b2faf3a7d027422761d43326645c51) and you can use at your own risk.

[2022-01-24 22:27] MaganAnkur commented on #1282
Thanks @jforaker for your quick response, I tried the patch and yes its working.

[2022-01-24 23:40] jforaker commented on #1282
@MaganAnkur  - I'm not sure, I don't have experience with that actually -- I was just crossposting because I've seen the issue before. Best of luck.

[2022-01-24 23:46] MaganAnkur commented on #1282
no worries @jforaker I got this, i used patch-package to use the patch and its working as expected. closing this issue as this is react-native-screens issue .

Thanks @jforaker for all your help

[2022-01-24 23:46] #1282 closed

[2022-01-25 08:53] WoLewicki commented on #1201
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2022-01-25 08:53] #1201 closed

[2022-01-25 20:15] afkcodes commented on #380
[code]

I solved it with this, try this

[2022-01-25 20:19] shelzTimesignature commented on #380
Thanks man

On Tue, Jan 25, 2022, 22:15 Ashish Kumar ***@***.***> wrote:

[2022-01-26 02:39] afkcodes commented on #380
welcome, i hope it fixed the issue

[2022-01-26 07:57] nomi9995 opened #1284 "NSInvalidArgumentException: Application tried to present modally an active controller <RNSScreen: 0x105075810>"
## Description
I don't know, how to reproduce, but I am getting this issue on the sentry log
here are the logs, which I am getting on sentry
[code]

### Screenshots
![image](https://user-images.githubusercontent.com/36044436/151124099-3eaa577c-61b0-4039-928a-52f5f684d8d2.png)

## Steps To Reproduce

dont know

### Expected behavior

this error should not be occur

### Actual behavior
n/a

## Repro

[2022-01-26 12:05] RadkevichDenis opened #1285 "White line in the top of the screen after navigate between screens"
## Description
When switching between screens, a white line appears at the top of the screen and also background color is flickering. This problem is solved by adding `detachInactiveScreens={false}` to the props navigator. However, when calling `enableScreens(false)`, the problem remains.

Since the `detachInactiveScreens` prop in `CardStack`(react-navigation) will always be boolean (not undefined

[2022-01-26 12:25] nomi9995 commented on #943
I am using RN@0.66, reanimated@2.3.1, and react-native-screens@3.10.1 and having the same issue from the sentry log
but it is triggering from `react-native-screens`
[code]
![image](https://user-images.githubusercontent.com/36044436/151159214-fb96ff56-f633-409d-9d83-42a059c5897c.png)

[2022-01-26 12:40] #1223 closed

[2022-01-26 12:58] WoLewicki commented on #943
@nomi9995 I am afraid I cannot say anything from this log. Having a reproduction of it would greatly improve the chance to get to the root of the problem, and if you are able to provide it, we would really thankful.

[2022-01-26 13:22] invyctus92 opened #1287 "Recording currently in progress - missing #endRecording() call"
Recording currently in progress - missing #endRecording() call

## Description

App crashes during navigation in Android

## Steps To Reproduce

1. in the home in my app with a tab menu and a drawer
2. I open a page continuing in the stack of the first element of the tab
3. I open another consecutive page in the stack
4. when I quickly go back, pressing the back button twice, the app crashes

## S

[2022-01-26 13:30] nomi9995 commented on #943
@WoLewicki Sorry, I am not getting this issue on my local machine but it is getting by some users on production

[2022-01-26 20:17] owinter86 commented on #1174
I have retested this with the latest react native screens and its no longer an issue

[2022-01-26 20:17] #1174 closed

[2022-01-26 20:21] owinter86 commented on #1251
A nice way this can be fixed is to wrap each screen, or at least each initial route of each tab in its own SafeAreaProvider, and the additional benefit is that any child SafeAreaView will ignore any insets that have already been applied in any parent View/Navigator, so you will never have to define the edges manually.

This was problematic on Android previously see issue https://github.com/softwar

[2022-01-26 20:21] owinter86 commented on #1276
Refer to this comment for a potential fix for the above

https://github.com/software-mansion/react-native-screens/issues/1251#issuecomment-1022569893

[2022-01-27 00:45] burakgormek commented on #1268
Just for the solution and note:

`ScrollView` `contentInsetAdjustmentBehavior="automatic"` prop auto handles the header height(including focus resize) padding and no need to calculate `headerHeight` anymore. I didn't know that.

Thank you again.

[2022-01-27 08:55] IvanIhnatsiuk commented on #1276
@owinter86
Thank you for your research of the problem!
I tried the solution of wrapping each tab element in `SafeAreaProvider`.
Unfortunately, it doesn't solve the problem with flickering on iOS 😞  .
Also, it doesn't always help on android, sometimes the screen jumps on the initial render 😞  .
I think the author of this [issue](https://github.com/software-mansion/react-native-screens/issues/1251)

[2022-01-27 11:11] WoLewicki commented on #1284
I am afraid we cannot help much without a reproduction. From the log, it seems like you try to present an already active screen as a modal, aren't you changing the `stackPresentation` from `push` to some other on an already active screen?

[2022-01-27 11:35] nomi9995 commented on #1284
@WoLewicki I think, I am not changing the `stackPresentation` from `push` to some other on an already active screen. i will investigate. thanks for you response.

[2022-01-27 13:20] Mohamed-kassim commented on #1198
Any one noticed that it's not working with stack, after navigating away focus hook doesn't trigger in the previous screen
I tried to deactivate camera on previous screen after navigating away with focus, but didn't work

[2022-01-27 19:04] dngconsulting commented on #380
Nothing from all previous answers work, here's why :
1) setting animationEnable to false is not possible, it prevents user to go back by swiping the screen with a gesture
2) playing with background colors is not acceptable if you have a header and a main screen, you can't limit your background to portions of your screens. And when background is dynamic you won't play with theme background color co

[2022-01-28 15:29] pt7892 commented on #1251
@WoLewicki

Here is repo with reproduced bug: https://github.com/pt7892/rnscreens-bottom-tab-flicker

also videos:

https://user-images.githubusercontent.com/20343932/151573753-31677bc2-078f-4697-8fe5-ed64f1f3e1aa.mp4

https://user-images.githubusercontent.com/20343932/151573647-f13466e2-cbf4-4080-bb08-7355ca1c4255.mov

If initial tab screen is simple, you may not notice this, thats why i added bu

[2022-01-29 13:16] Hirbod commented on #1285
Is it happening because the previous screen is getting detached too fast?

[2022-01-30 17:35] heynext opened #1292 "When navigate to a new screen in transparentModal screen, the new screen is under transparentModal screen"
## Description

When navigate to a new screen(DetailsScreen) in transparentModal screen(ModalScreen), the new screen(DetailsScreen) is under transparentModal screen(DetailsScreen).

### Screenshots

![2022-01-31 01-26-31 2022-01-31 01_27_05](https://user-images.githubusercontent.com/13675762/151710303-c17b0ba4-aee4-44a8-9531-910d51993b26.gif)

## Steps To Reproduce

https://snack.expo.dev/@heynext

[2022-01-31 09:57] invyctus92 commented on #1287
I found the reason why it happens, on the main page I have a blur effect on, and when I go back to this page which is the main page, the app crashes.

`
import { BlurView, VibrancyView } from "@react-native-community/blur";
`
`
<BlurView
          style={styles.absolute}
          blurType="light"
          viewRef={this.props.viewRef}
          blurAmount={1}
        />`

[2022-01-31 11:18] WoLewicki commented on #1251
@pt7892 is the jumping behavior connected to the flicker issue you posted here?

[2022-01-31 11:21] WoLewicki commented on #1285
Yeah, the problem comes from the detaching/attaching process being connected to `Animated.Value` on the side of `react-navigation` (see how it is resolved around here: https://github.com/react-navigation/react-navigation/blob/4c5805867ce946d99ba17f71b4d6086bb8751262/packages/stack/src/views/Stack/CardStack.tsx#L580). Maybe there is a way to make it work better but we haven't found a solution for t

[2022-01-31 13:39] zvs001 commented on #1271
@kacperkapusciak
I reproduced same error with current latest versions:
[code]

[2022-01-31 14:07] pt7892 commented on #1251
@WoLewicki

Actually, i was referring to this issue GH-1276, but mistakenly added comment on this one.

I see now that reproduction repo is already uploaded in GH-1276, so this [comment](https://github.com/software-mansion/react-native-screens/issues/1251#issuecomment-1024329330) can be deleted.

Sorry for the mistake

[2022-01-31 20:01] kirillzyusko commented on #1285
@WoLewicki sorry, do I correctly understand, that `Animated.Value` completes its execution path (from initial value to target) faster in native thread, than in JS? And because of that we see flickering? And it happens because of asynchronous bridge? If it is the case and it's a known issue, then maybe we can schedule a delayed update?

I've tried to create a draft of possible solution (don't take

[2022-01-31 20:09] hirbod commented on #1285
I also thought of artificially delaying the value, but I think this will introduce other issues, specially if you rely on the transition progress (like the hopefully coming support for shared animation elements somewhere in the next 3 years, lol)

What we know now is that react-navigation is detaching the screen a little bit too early. I mean there must be a way to make sure it's not. Isn't React-

[2022-01-31 20:16] hirbod commented on #1285
I just realized that, regarding the issue details, this error does happen on `stack` but not on `native-stack`? If yes, thats the wrong repo, isn't it?

[2022-01-31 20:27] kirillzyusko commented on #1285
Maybe, but the boundaries of this issue are blurred 🙈 The functionality of the `stack` is toughly related to `react-native-screens` and honestly I don't know, where this issue should live. Just technically `stack` simply uses components from this library. If they use it in incorrect way, then of course the issue should be moved to `react-navigation` repo, but for me it seems like `react-navigation

[2022-02-01 10:57] WoLewicki commented on #1292
This is how the modality works on `iOS`, modal screens are rendered in a different, higher view hierarchy. Can you check if using `containedTransparentModal` fixes your issue?

[2022-02-01 13:16] WoLewicki commented on #1285
IIRC, the exact problem comes from this line: https://github.com/react-navigation/react-navigation/blob/4c5805867ce946d99ba17f71b4d6086bb8751262/packages/stack/src/views/Stack/CardStack.tsx#L595 where we switch the value of `isScreenActive` not exactly when the animation ends, but `1-EPSILON`. I cannot remember why exactly was it implemented like that. The best way to check it would be to log the

[2022-02-01 14:54] kirillzyusko commented on #1285
Hi @WoLewicki

Thank you for pointing to the problem. If I decrease `EPSILON` to `0.001`, then everything works good. It seems like it was added for the first time [here](https://github.com/react-navigation/react-navigation/commit/282f62c2584413b96c21f34b8759999494cec60a) and then `EPSILON` changed to `0.01` [here](https://github.com/cntral/react-navigation/commit/3e405b9c61a5852a93f36153933c4d89e

[2022-02-01 16:29] heynext commented on #1292
Thanks for your reply. I tried to use `containedTransparentModal`, but it seems doesn't work. The same expo link https://snack.expo.dev/@heynext/5b84d0.
And `Android` is ok using `containedTransparentModal` and `transparentModal`. I removed the `Android` tag.

[2022-02-01 23:14] totodot opened #1297 "Screen freeze after update FlatList data and go back"
## Description

Screen freeze after updating FlatList data and return to the previous screen

App does not freeze when:
1. Used ScrollView instead FlastList
or
2. Downgrade react-native-screens to 2.18.0
or
3. Add `detachInactiveScreens={false}` for Stack Navigator

### Screenshots

https://user-images.githubusercontent.com/14233750/152067342-08ee546b-dd1c-462f-9c28-d0ebebc0d954.mp4

## Steps To R

[2022-02-02 13:54] WoLewicki commented on #1285
Unfortunately I don't know. If you don't spot any new issues with the decreased value, you can submit a PR with such a change.

[2022-02-02 13:54] vzhovnitsky opened #1299 "[iOS]: presentation: 'modal' in native-stack locks navigation after navigating to another modal screen too fast"
## Description

After we close modal screen with gesture and try to open another modal fast enough navigation within the stack locks and does not seem to work.

### Screenshots

https://user-images.githubusercontent.com/32094306/152166412-23a7d584-54cc-4c0a-8021-e118ab318fab.mp4

## Steps To Reproduce

Open screen with presentation: 'modal', then close it with gesture, then try to open another scr

[2022-02-02 13:59] WoLewicki commented on #1292
The only solution for this that seems reasonable at the moment is to reset the navigation state in a way that will dismiss the modal, navigate to next screen, and when the previous screen is shown again, push a modal again. I will try to make a PR adding an option of automatically dismissing a modal when there is a new non-modal screen pushed, but the logic may be a bit hard for this.

[2022-02-02 14:16] WoLewicki commented on #1292
I think I found another option, which is rendering the `containedTransparentModal` as a second screen of a nested stack, and since it is contained, it should navigate away when you push next screen in the non-nested stack. Can you check if this resolves your issue?

[2022-02-02 16:48] heynext commented on #1292
Like this? It does work. But because the `NestedModal` is nested in `Nested`, the `NestedModal` background is not `HomeScreen`.

![image](https://user-images.githubusercontent.com/13675762/152197078-38c55b9e-643a-4e54-8a51-9d956358d236.png)

![2022-02-03 00-38-48 2022-02-03 00_40_23](https://user-images.githubusercontent.com/13675762/152197401-1fc39afa-936d-47ad-9904-d6047b8ee63a.gif)

This is exp

[2022-02-02 17:56] Miraj98 opened #1300 "`navigation.goBack` crashes the app on Android"
## Description

When calling `navigation.goBack` on Android, the app crashes. Works perfectly fine on iOS. The issue does not occur for all screens but specifically when navigating back to the `Tab.Navigator`. My navigation is setup as follows
[code]

Some where I saw that I should try `detachInactiveScreens={false}`. I tried this and it still does not work. Here is an error log as well -
[code]

[2022-02-03 10:10] WoLewicki commented on #1292
Yeah, the nesting part is necessary since we need another navigator higher in the native hierarchy. I will close this issue then. Feel free to comment if something is wrong.

[2022-02-03 10:10] #1292 closed

[2022-02-03 10:57] #1183 closed

[2022-02-03 11:45] WoLewicki commented on #1249
I am closing it due to no response in 30 days. Also, I made a PR changing the extended class to the proper one: https://github.com/software-mansion/react-native-screens/pull/1303, so thanks for your contribution! Feel free to comment if something is wrong to reopen it.

[2022-02-03 11:45] #1249 closed

[2022-02-05 08:24] gakinson opened #1304 "Array index out of bounds"
## Description
Hello,
I am not super well versed in analyzing crash reports. But we are experiencing a fair number of crashes which is being caused from the RNSScreen.m file within this package. I have included the last execution backtrace below which indicates what is happening. Seems like the line: https://github.com/software-mansion/react-native-screens/blob/main/ios/RNSScreen.m#L612
[code]
is

[2022-02-05 09:22] samjusaitis opened #1305 "iOS: Dismissing modal with swipe gesture has delayed status bar style update"
## Description

I am using a screen with presentation: 'modal' on iOS, and have StatusBar components in both the modal and underlying screens to set their status bar styles to 'light-content' and 'dark-content' respectively. This works smoothly when navigating to the modal screen and returning to the underlying screen via a navigation.goBack link (see second video below). However, when navigating

[2022-02-05 12:15] maticzav commented on #1300
Did you have any luck resolving this issue or at least finding the source of error?

[2022-02-09 14:37] matinzd opened #1309 "EXC_BREAKPOINT void JSC::JSLock::unlock(intptr_t)"
## Description
Found it in our crash logs.

### Screenshots
<img width="592" alt="Screenshot 2022-02-09 at 15 36 31" src="https://user-images.githubusercontent.com/24797481/153223064-b1c15eea-5aa6-423d-ac15-bd723e641ba7.png">

## Steps To Reproduce
It's happening on our release build on iOS. We don't have any idea how it's happening.

### Expected behavior

### Actual behavior

## Reproduction
It'

[2022-02-09 17:23] scottmas opened #1310 "Android ScreenStack Screens require ScreenStackHeaderConfig child to change orientation and status bar props"
## Description
On Android only, the `Screen` props `screenOrientation` and `statusBar` (e.g. `statusBarHidden`) do nothing when the `Screen` is a child of a `ScreenStack`.

## Steps To Reproduce
1. Create a stock RnDiffApp `npx @react-native-community/cli init RnDiffApp`
2. Add react native screens `yarn add react-native-screens@latest` (currently 3.11.0)
3. Make your index.js file look like so:
[

[2022-02-09 21:00] scottmas commented on #1310
Interestingly, the following DOES work:
[code]

[2022-02-10 10:03] kacperkapusciak commented on #1309
Hi @matinzd,

From the crash, I can't deduce anything directly connected to `screens` library. Unfortunately, it's a very generic crash coming from iOS's JavaScript virtual machine.

Not sure how Sentry labels the crashes and why it has chosen `RNSScreen` as a source of the crash. Maybe it just so happened that `RNSScreen` was "the closes thing" in code to the crash but it could've occurred a few

[2022-02-10 10:45] kacperkapusciak commented on #1300
Hi @Miraj98,
Thank you for submitting an issue!

From the provided steps I was unable to reproduce the crash. Could you provide a minimal reproduction eg. a snack, snippet of code, or GitHub repo that reproduces the problem?

Cheers

[2022-02-10 15:57] matinzd commented on #1309
@kacperkapusciak I am also not sure what is happening there and I couldn't reproduce it in development. Maybe Sentry is just labeling it by mistake. It's really a deep OS-level crash and I understand. Will let you know if I could reproduce it.

[2022-02-11 00:27] hirbod opened #1312 "[iOS][bug] - RNS 3.11.0 has broken fullScreenGestureEnabled"
## Description

I've just upgraded to 3.11.0 and I can't swipe anymore with fullScreenSwipe. It looks like it has a 10x friction and even if I swipe the whole screen, it just move by 5px and snaps back

### Screenshots

## Steps To Reproduce

1. Update to 3.11.0 and you won't be able to close any screen with fullScreenGestureEnabled

### Expected behavior

Should be able to swipe to pop

### Actua

[2022-02-11 00:28] hirbod commented on #1312
Oh, lol. It is actually closing when I swipe from top to bottom, but not from left to right.
Guess this PR is the reason:

https://github.com/software-mansion/react-native-screens/commit/f2ac36b2dd982a320acc5e4ab44700925f313d82

[2022-02-11 00:46] hirbod commented on #1312
Here is a video, demonstrating the issue: 3.10.2 is working without issues.
https://streamable.com/wsdztc

[2022-02-11 00:59] hirbod commented on #1305
IIRC, you need to set `expo.ios.infoPlist` to `UIViewControllerBasedStatusBarAppearance: true`.
Unfortunately, this is currently breaking the whole app within Expo, even though it should actually work in custom-dev-client, it is not)

I filed an issue for this over a month ago, without any response so far.
https://github.com/expo/expo/issues/15801

[2022-02-11 09:38] #1312 closed

[2022-02-11 09:47] kacperkapusciak commented on #1312
Brrr, nasty bug 😓

Fixed in [3.11.1](https://github.com/software-mansion/react-native-screens/releases/tag/3.11.1) :shipit:

[2022-02-11 11:57] hirbod commented on #1312
Thank you!

[2022-02-11 15:29] hirbod commented on #1312
I can confirm it's fixed. Only the new props are missing on react-navigation

[2022-02-11 22:07] samjusaitis commented on #1305
Thanks for the suggestion @hirbod.

You are right, setting `UIViewControllerBasedStatusBarAppearance: true` enables automatic adjustment of the status bar style and doesn't require using any StatusBar components! However, as you mentioned this doesn't work in Expo Go, or Expo custom dev client. Also, enabling `UIViewControllerBasedStatusBarAppearance: true` means you can't use the StatusBar compon

[2022-02-14 11:16] invyctus92 opened #1315 "updateDisplayListIfDirty error"
I receive from Bugsnags several reports of the following error, can you give me some help?

## Description

java.lang.IllegalStateException: Recording currently in progress - missing #endRecording() call?
        at android.graphics.RenderNode.beginRecording(RenderNode.java:372)
        at android.view.View.updateDisplayListIfDirty(View.java:20454)
        at android.view.View.draw(View.java:21350

[2022-02-15 13:59] WoLewicki commented on #1297
I checked the code you provided locally and could not spot the freeze. The video you attached also does not show any freeze, or am I missing something? Could you provide a repository so we can reproduce it with the exact packages etc?