[2020-05-24 20:24] Hirbod commented on #317
I didn’t mean that it should be the only one, but just as a start. v5 is already working pretty well with shared elements but no support for native stack (and in native shared repo he said „most likely not to support native-stack“). So if we can have a fade as a start to get things rolling I’d be happy to take what I get :).

Of course animation using push is something great too.

[2020-05-25 04:28] muhammadwafa commented on #523
Thank you @Hirbod

[2020-05-25 07:50] WoLewicki commented on #523
Is your issue solved @muhammadwafa?

[2020-05-25 07:52] muhammadwafa commented on #523
Yeah thank you.

[2020-05-25 07:52] #523 closed

[2020-05-25 09:37] WoLewicki commented on #520
Can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-05-25 09:39] WoLewicki commented on #482
I am investigating it.

[2020-05-25 14:28] CruelMoney commented on #361
Having trouble with this and cannot find the bug. Using expo 37.0.12, and react-navigation 5.
Have set the backgroundColor in app.sjon, and in the navigatorTheme.

It works with the stack navigator from react-navigation, but don't think that says anything.

[2020-05-25 17:57] FrankFundel commented on #432
same for me

[2020-05-26 03:49] brentvatne commented on #361
@CruelMoney - please share a [mcve](https://stackoverflow.com/help/mcve). everything works as expected for me.

[2020-05-26 07:01] berkaey commented on #263
Can we implement something similar to this https://stackoverflow.com/a/59462475? @WoLewicki Otherwise, we and probably many more can't use native modal patterns in a chat app or something similar. We need a programmatic control of the gesture recognizers somehow.

[2020-05-26 08:58] Strate opened #525 "Display any view on top of native-stack's modal"
Hello, thank you for this awesome library.

Is there any possible solution to display any view on top of visible stack's modal?

I realized, that react-native-modal is not visible over stack's modal, and also there is no way to display any view on top of screen. For example, I need to display in-app-notification on top of all content, or sometime display modal loader spinner - both of them are not

[2020-05-26 12:27] friedolinfoerder commented on #525
Same issue here. iOS issue only.

[2020-05-26 14:29] arberK commented on #525
same issue

[2020-05-27 01:51] Hirbod commented on #525
This issue is known and also reported by me. You can't even toggle the element inspector on the modal. They managed to get EXPOs Dev Menu finally to overlay the modal, but not sure about any other view. The modal is currently the most top element that nothing can overlap. I also had issues with in-app-notifications and worked around displaying them inside the modal when modal was open - but yeah,

[2020-05-27 08:25] arjndr opened #526 "Large title doesn't snap"
Large title doesn't snap like expected

Actual Behavior:
![Search-Largetitle-snap](https://user-images.githubusercontent.com/20661194/82995651-7aa1a400-a021-11ea-8ba5-3ab799fae508.gif)

Expected Behavior (From iOS messages app):
![Search-Largetitle-Messages-Snap](https://user-images.githubusercontent.com/20661194/82995733-9b69f980-a021-11ea-8971-6f9569a0318e.gif)

[2020-05-27 09:40] Strate commented on #525
@Hirbod how Modal from react-native can overlap? I've tested it for a while, but modal just invisible and dismisses almost right after mounted.

[2020-05-27 09:45] Hirbod commented on #525
@Strate https://streamable.com/mtsbmh here, from my app

[2020-05-27 09:48] Strate commented on #525
@Hirbod wow, awesome! This is looks like Shared Element Transition, but with Modal?

[2020-05-27 09:49] Hirbod commented on #525
Yes, tooked me a crazy amount of time and is not smooth on android :D
But it works mit react-native modal in a react-native-screens modal :D

[2020-05-27 13:18] Strate commented on #525
@Hirbod could you please share some code for Modal from react-native? Which presentation used for display over screen's modal? Because my modal still invisible :(

[2020-05-27 13:20] FrankFundel commented on #432
This happens almost everytime I start the app, this really should be fixed.

[2020-05-28 08:57] arjndr commented on #194
@WoLewicki I managed to get the native search controller inside the header, I'm not sure how to send the events to the JS side tho, I'm not experienced with Objective-C, having a bit of problem with delegation of UISearchBar, can you check it out on [my fork](https://github.com/arjndr/react-native-screens)?

[2020-05-28 12:08] WoLewicki commented on #432
I believe it is the same issue as #322. Can you try the workaround submitted there and see if it works correctly?

[2020-05-28 12:16] WoLewicki commented on #194
Maybe this could help you https://github.com/umhan35/react-native-search-bar?

[2020-05-28 14:51] WoLewicki commented on #326
@dmarkow can you check if #527 fixes your issue?

[2020-05-28 15:52] arjndr commented on #387
@sallar setting `contentInsetAdjustmentBehavior="automatic"` on ScrollView seems to fix the layout issue

[2020-05-29 09:33] kartiikeyabaleneni commented on #111
It's actually crashing the app.

[2020-05-29 10:33] ammoradi commented on #111
It seems this bug appears occasionally!
for me, this bug disappeared  with [this change](https://github.com/software-mansion/react-native-screens/issues/111#issuecomment-504755033) but people saying it is also appearing for them :S

[2020-05-29 11:22] WoLewicki commented on #92
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-29 11:22] #92 closed

[2020-05-29 11:23] WoLewicki commented on #46
Does this issue still exist or can I close it?

[2020-05-29 11:35] WoLewicki commented on #428
@luizfonseca were you able to reproduce the issue? Or can I close it?

[2020-05-29 11:38] WoLewicki commented on #15
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-29 11:38] #15 closed

[2020-05-29 11:43] WoLewicki commented on #32
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-29 11:43] #32 closed

[2020-05-29 13:23] slorber commented on #46
I don't know sorry ;) we can close it and if I see it again I may reopen

[2020-05-29 14:23] dmarkow commented on #326
@WoLewicki Yes, it does!

[2020-05-29 15:30] JackMoseley2001 opened #528 "Header right elements disappear on rotate"
Hello,

I've noticed that any elements placed inside header right (both using navigation.setOptions and view the Stack.Screen options) show when the stack is initially shown, but then if the device is rotated they disappear until the view is next reloaded.

This is only happening when the stack is created using createNativeStackNavigator and not when using React Navigation's createStackNavigator.

[2020-05-29 19:09] leoz commented on #528
Same here.

[2020-06-01 06:51] Gavin97Dmello commented on #364
It didnt work. Any other alternate solution?

[2020-06-01 07:01] #46 closed

[2020-06-01 09:07] WoLewicki commented on #111
Yeah, but I would love to see a repo with minimal configuration to recreate it so I can work on it.

[2020-06-01 09:09] WoLewicki commented on #364
@Gavin97Dmello what do you mean by didn't work? That you can't structurize your project to follow it?

[2020-06-01 09:30] WoLewicki commented on #528
The bug is most probably the same as #432, but we can keep this one open too. And it only happens on iOS right?

[2020-06-01 09:50] JackMoseley2001 commented on #528
Thank you. I have only been able to test it on iOS so far, will have the chance to test it on an Android simulator today and will update once I have done so.

I saw on the post linked there was mention to expo - if linked, it’s worth noting that this issue I’m encountering is occurring in a bare react native project.

[2020-06-01 09:53] WoLewicki commented on #528
You can try the solution mentioned in #322 and see if it fixes the issue in your case.

[2020-06-01 10:08] JackMoseley2001 commented on #528
Thanks, I will attempt this workaround also

[2020-06-01 10:45] JackMoseley2001 commented on #528
I've attempted this solution, it works some of the time, but to get somewhat reliable results I needed to increase the delay time, resulting in the buttons appearing after some time. I did continue to find that the button would disappear though - going from portrait to landscape worked, but then it failed to show when going from landscape to portrait again

[2020-06-01 14:34] WoLewicki commented on #448
Can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-06-01 16:37] jacobp100 opened #529 "Navigation Conflicts with React Native Modal Component"
If I render a `<Modal />` component from `react-native` within a native stack and navigate while dismissing the modal, it either freezes with the modal open, freezes with the modal shut, or closes the modal, reopens the modal, then freezes. Generally, it freezes.

We mostly use `react-navigation`, but I also think there are good uses for the modal component. We have a case where we have a modal th

[2020-06-02 07:58] LukaszBisewski commented on #504
Same issue.

[2020-06-02 12:55] mrousavy opened #530 "[Question] How do I make a half-opened Modal/ActionSheet?"
How do I make a 2 stage Action Sheet/Form Sheet like the iOS Share Sheet?

<table>
<tr>
<th>Closed</th>
<th>Partially opened</th>
<th>Fully opened</th>
</tr>
<tr>
<td><img src="https://user-images.githubusercontent.com/15199031/83522193-9e149500-a4e0-11ea-9a9b-f31533ded6fe.png"/> </td>
<td><img src="https://user-images.githubusercontent.com/15199031/83522233-abca1a80-a4e0-11ea-92bd-6cc117d2ea7f.pn

[2020-06-02 14:54] Hirbod commented on #530
@mrousavy maybe you wanna use something like this for it
https://github.com/jeremybarbet/react-native-modalize

It has everything you need. And there is also an example how you can shrink the view behind it using the animatedpangesture value

[2020-06-02 15:01] Hirbod commented on #525
@Strate its nothing special.

[code]

[2020-06-03 10:15] WoLewicki commented on #102
I debugged it and the problem is basically this.
1. When navigating after the `onMomentumScrollBegin`, the native RCTScrollView is detached along with the `Screen` containing it.
2. It resolves to `onMomentumScrollEnd` event not being fired from the native side.
3. Because this event is not fired, `ScrollResponder` doesn't fire event: https://github.com/facebook/react-native/blob/master/Libraries/

[2020-06-03 15:59] AlexSmirnov9107 commented on #432
same for me

[2020-06-03 16:00] SmirnovM91 commented on #432
same for me too

[2020-06-04 17:04] enheit opened #531 "The navigation.navigate() method can't navigate to the desired screen"
Structure of the router
[code]

After using `props.navigation.navigate(...)` from the `Screen #2` component I was expecting to open `Screen #4` inside `Tab #1`.
[code]

The actual result:
1) App navigates to the `Screen #4`.
2) then, app navigates back to the `Screen #5` (which is default)
3) App tries to navigate back to the `Screen #4` (which was desired)
4) App navigates back to the `Screen #5`

[2020-06-04 18:31] Hirbod commented on #531
I had the same issue today. When your TabBar is "lazy" (which is default), then a direct screen will be considered the initial screen @enheit

Try to do it like this:
[code]

[2020-06-04 21:25] cmrigney opened #532 "Large Header with Custom Component Getting Cut Off"
I'm using `createNativeStackNavigator()` and providing my own `headerCenter` component that is taller than the default iOS header height. I'm trying to use `headerLargeTitle` so it fits. The problem is, my component won't render any taller than the non-large height. It appears that the large header title is cutting it off, even though I'm making the title transparent. However, when I navigate, it

[2020-06-04 23:10] enheit commented on #531
@Hirbod, unfortunately it didn't help me. The broken animation still exist.

[2020-06-05 02:05] z937010871 opened #533 "'React/RCTImageView.h' file not found | iOS Build Failed"
"react-native-screens": "^2.7.0",
    "react-native": "0.59.5",

[2020-06-05 03:06] z937010871 commented on #533
help~

[2020-06-05 12:29] 378978764 commented on #489
This is really an important thing. It seems so strange if stackAnimation differs between IOS and Android. In most applications, we require the same transition animation across different platforms.

[2020-06-05 12:37] 378978764 opened #534 "[BUG] Cannot set stack animation to none."
When setting `stackAnimation` to `none`, it still uses `fade`.
Android version: MIUI 11 based on Android X.

BTW, how can I use the same transition animation across different platforms? For example, use `slide from right` in Android?

[2020-06-05 13:35] FrankFundel commented on #526
How have you made the searchbar? :D

[2020-06-05 13:40] arjndr commented on #526
I used this https://github.com/umhan35/react-native-search-bar

[2020-06-05 13:50] FrankFundel commented on #526
And used it as headerCenter?

Von meinem iPhone gesendet

Am 05.06.2020 um 15:40 schrieb Akash Rajendra <notifications@github.com>:

﻿

How have you made the searchbar? :D

I used this https://github.com/umhan35/react-native-search-bar

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub<https://github.com/software-mansion/react-native-screens/issues/526

[2020-06-05 13:53] arjndr commented on #526
No, first child in ScrollView, and set the `stickyHeaderIndices` prop to 0

[2020-06-05 14:05] cmrigney commented on #532
Here is an example of what I'm referring to.

![357CE0E0-110A-4FB0-8FAE-55F315DE924E-91494-0003A9249358E86F](https://user-images.githubusercontent.com/3259448/83884926-9d177980-a713-11ea-8070-13f395bda1b9.gif)

[2020-06-05 16:35] FrankFundel commented on #526
Header does snap when using translucent: true. You then can set backgroundColor to black and add paddingTop. But stickyHeader does not work then.

[2020-06-05 17:11] FrankFundel commented on #526
Got it working with `translucent: true` and `stickyHeaderIndices={[0]}` with `contentInsetAdjustmentBehavior="automatic"` on ScrollView. That ScrollView has to be the first component you render.

[2020-06-07 14:30] Aryk opened #535 "transparentModal covers up Toasts, warning messages, etc"
I use the transparentModal quite often in my app because I like the screen to come up from the bottom in certain places. I don't like to use "modal" because I like it to come all the way to the top and not stop 85% of the way.

After months of development I constantly hit problems with rendering Toast in a transparentModal, even if I put <Root> inside the Stack Navigator. It also hides warning mes

[2020-06-07 21:20] Hirbod commented on #535
When you use Expo you use v2.2.0 and not 2.8.0

[2020-06-08 02:40] denispixi commented on #358
I am in v2.0.7 and I have this problem. I have a NativeStack.Navigator inside a React Navigation's Tab.Navigator and I can't swipe back.

Help me pls! 😭

[2020-06-08 03:39] denispixi opened #536 "Swipe Back Gesture Broken"
I'm working with the v2.0.8 and have this problem. I have a NativeStack.Navigator inside a React Navigation's Tab.Navigator and can't swipe back.

Help me pls! 😭

just for clarify, NativeStack = createNativeStackNavigator()

with react navigation's createStackNavigator() the gestue works perfectly

[2020-06-08 03:43] mikehardy commented on #17
Same stacks as above (I dislike when people say that to me while asking to troubleshoot, but this time I swear they're the same) - fully current stable versions of everything

[code]

Is there anything more graceful possible then an intentional crash? I took a look at the git blame but there's no previous implementation, the first one included this. :thinking:  - I'm not good enough with Fragment

[2020-06-08 05:13] #536 closed

[2020-06-08 05:15] denispixi commented on #536
I just figured out that the problem was the simulator, cuz when the app was running in my iPhone the gestures worked perfectly well

[2020-06-08 09:10] WoLewicki commented on #358
@denispixi can you provide a repo/smack with minimal configuration needed to reproduce the issue?

[2020-06-08 09:44] Hirbod commented on #535
It does not solve the issue, I just wanted to make sure you understand that installing 2.8.0 on expo won’t give you 2.8.0 but only 2.2.0 since expo bundles native codes with SDK releases and you are stuck to the delivered version till a new SDK comes out

[2020-06-08 17:15] WoLewicki commented on #489
We rely on the native animations provided by the platform so they may differ in native-stack for now.

[2020-06-08 17:16] WoLewicki commented on #534
Can you provide a repo with minimal configuration needed to reproduce the fade animation when set to none?
The second issue is discussed in #489.

[2020-06-08 17:27] WoLewicki commented on #533
I believe it is the same issue as #415, so I will close this one. Feel free to comment if I am wrong.

[2020-06-08 17:27] #533 closed

[2020-06-08 17:33] WoLewicki commented on #531
Is it issue of react-native-screens? Does it work like that with normal stack navigator?

[2020-06-08 17:37] WoLewicki commented on #530
It is currently not possible with `react-native-screens`.

[2020-06-08 17:40] 378978764 commented on #489
Is there any solution for custom animations?

[2020-06-08 17:42] 378978764 commented on #534
Just `ignite new myApp`, and then choose `bowser`.

[2020-06-08 17:46] WoLewicki commented on #534
It works just fine in my example. Please provide a repo/snack where it is not working.

[2020-06-08 17:47] WoLewicki commented on #489
You can see how it is implemented in `react-navigation` with `react-native-reanimated` and `react-native-gesture-handler` since it implements the animations from the JS side.

[2020-06-08 18:01] WoLewicki commented on #526
It would be great if you submitted a PR with native searchbar!

[2020-06-08 18:03] arjndr commented on #526
@WoLewicki check out my [fork](https://github.com/arjndr/react-native-screens), this is all I could do, appreciate it if anyone would further work on this

[2020-06-08 18:04] WoLewicki commented on #203
Did you manage to do it @Freddy03h ?

[2020-06-08 18:08] WoLewicki commented on #105
Does the issue still exist in the newest versions of library? And if so, can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-06-08 18:11] WoLewicki commented on #456
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-06-08 18:13] WoLewicki commented on #436
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-06-08 18:13] #436 closed

[2020-06-08 18:15] WoLewicki commented on #462
Sorry but I don't understand what is the issue exactly. Can you provide a repo with a suitable commentary of what is wrong?

[2020-06-08 18:17] WoLewicki commented on #349
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-06-08 18:18] WoLewicki commented on #478
It should be resolved now so I am closing it. Feel free to comment if I am wrong.

[2020-06-08 18:18] #478 closed

[2020-06-08 18:30] nandorojo commented on #478
Thank you!

[2020-06-08 19:23] cristianoccazinsp commented on #105
I'm definitely still seeing crashes, but much less often than before.

[2020-06-08 19:44] Hirbod commented on #535
No, I have the same issue and it’s already reported couple of times.

[2020-06-08 22:21] Freddy03h commented on #203
Hi! Sorry for the delay, I tried the example from my snack example with this config on a new initiated react-native project and now everything work fine :
[code]

[2020-06-09 01:40] 378978764 commented on #534
Ok, I posted one [here](https://github.com/378978764/TestAnimationNone).

[2020-06-09 02:23] 378978764 commented on #489
So currently we connot make android animation slide from right using `react-native-screens`. Is it right?

[2020-06-09 07:19] WoLewicki commented on #203
Ok so I am closing this issue. Feel free to comment if there is something wrong.

[2020-06-09 07:19] #203 closed

[2020-06-09 09:30] WoLewicki commented on #534
The example is too big to quickly debug why the animation is like that. It is probably some custom animation and setting the `stackAnimation` doesn't change anything. Can you provide a repro without all the boilerplate?

[2020-06-09 10:02] WoLewicki commented on #532
Can you provide a repo/snack with minimal configuration needed to reproduce the issue? I cannot repro the cutting in the view.

[2020-06-09 10:15] WoLewicki commented on #489
Yes since there is no easy implementation of this animation that would work OK on all Android phones.

[2020-06-09 10:32] WoLewicki commented on #524
Can you provide a snack that shows it? I think it is the matter of the implementation, which you can check here: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreenStackHeaderConfig.m#L261

[2020-06-09 10:38] WoLewicki commented on #514
Ok so I am closing it then. Feel free to comment if you have any questions.

[2020-06-09 10:38] #514 closed

[2020-06-09 13:36] cmrigney commented on #532
To repro

1) Use `create-react-native-app` to create an app
2) Add `@react-navigation/native` and `react-native-screens` to `package.json`
3) Replace App.js with the following code

[code]

[2020-06-09 22:09] ArekChr opened #538 "Large title header with blur component"
Is it possible to wrap Header with headerLargeTitle setting or just basic header with BlurView?

[2020-06-09 22:14] #538 closed

[2020-06-09 23:05] caiobiodere commented on #394
@WoLewicki hey mate I was actually using it wrong, my navigator stack was being built all wrong fixed it following react navigation guides, thank you for being awesome and I think you should include this feat in the future

[2020-06-12 10:17] WoLewicki commented on #504
The bug seems to come from the native problems with a large title's UILabel frame. If you debug it in Xcode, you can see that the special characters make the UILabel have 8,5 points more in height's value, which is then applied to the whole header height but is not applied to the screen below it. You can spot it easier by setting large titles on both screens and setting special characters in the s

[2020-06-12 10:43] ArekChr commented on #504
So as far as I know this error will also occur in the same setup in pure Objective-C or Swift?

[2020-06-12 10:54] WoLewicki commented on #504
Yeah, from what I got, the UILabel of the header's title changes there too. But the handling of the error there can be different so the bug will not be so easy to spot.

[2020-06-12 11:00] mrousavy commented on #317
@Jarred-Sumner Any updates on this? 👀

cc @kmagiera ..

[2020-06-12 11:16] jong-hui opened #539 "KeyboardAvoidingView is pushing too much at navigation push"
Hi, thank you for a great library.

I use KeyboardAvoidingView in my Stack.Screen(createNativeStackNavigator).
[code]

And, I use auto focus(not attribute, use ref) in My TextInput #236
[code]

But, I could see KeyboardAvoidingView is pushing the button too much

![2020-06-12 20-02-42 2020-06-12 20_03_14](https://user-images.githubusercontent.com/42797995/84497257-5fa18600-ace9-11ea-8e61-c28d7dda5

[2020-06-12 11:23] AlexSmirnov9107 opened #540 "Header jumps"
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/32673518/84497735-2c52fd00-acd1-11ea-856e-d87d01592025.gif)

Navigation Structure
[code]

App.tsx
[code]

MainStack.tsx
[code]

ProfileStack.tsx
[code]

[code]

[2020-06-12 15:32] beqramo commented on #111
there is no solution yet, I face same issue
`
    "react-native": "0.62.2",
    "react-navigation": "^4.3.9",
    "react-native-screens": "^2.8.0",
`

[2020-06-12 17:13] quangvinh2080 commented on #492
@WoLewicki I'm still having this problem when using it with react-native-web

[code]

[2020-06-12 17:16] Aryk commented on #535
I did a few searches and nothing came up. What's the official thread on this so I can follow it?

[2020-06-13 08:45] ArekChr opened #541 "Modal doesn't show header in modal stackPresentation"
Modal doesn't shown header in stackPresentation: modal / formSheet and transparentModal

code:
[code]

[code]

[2020-06-13 10:48] ArekChr opened #542 "Sticky header doesn't work with largeTitle"
Sticky header in FlatList and ScrollView doesn't work with largeTitle

[code]

[2020-06-13 16:03] ArekChr opened #543 "Scrollview doesn't calculated header height while scrollTo function"
This error occurs in transparent headers, I tested it on a large title header when I call the function scrollRef.current.scrollTo({ x: 0, y: 0}) then it scroll content undertone header by y position of a header height. Scroll position Y at the beginning with expanded large header is
-140 points, so I bet that is header height, and I can't scrollTo({y: -140}) it also scroll under header.
probably s

[2020-06-13 18:02] enheit commented on #531
@WoLewicki yes, it works with normal stack navigator.

[2020-06-14 00:49] hadnet commented on #513
They added a "finishTransitioning" event recently, but it seems like it's not working because nothing is triggered when I use it. So I'm using the "appear" event as a workaround to trigger my Alert after finishing the transition animation. Honestly I don't even know if this "finishTransitioning" is intent for this kind of situations.

[2020-06-15 06:41] fangasvsass commented on #309
why close this issue  android crash 0.62.2 android react navigation5

[2020-06-15 06:42] fangasvsass commented on #309
any update?

[2020-06-15 07:51] WoLewicki commented on #492
It should work ok after #517 is merged.

[2020-06-15 14:16] dougg0k commented on #360
I found a temp solution for Android while using Expo. In the `Screen` `options`, when declaring your header (left, center and right), you can add `height` and `marginTop` to it and that can help, maybe not in all cases though.

[code]

[2020-06-15 15:19] WoLewicki commented on #541
I believe that this issue is already addressed in #260. Please follow it to see any changes in the topic. Feel free to comment if I am wrong.

[2020-06-15 15:19] #541 closed

[2020-06-15 15:21] WoLewicki commented on #540
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-15 15:30] WoLewicki commented on #543
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-15 15:31] WoLewicki commented on #542
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-15 22:03] ArekChr commented on #543
please note that `headerTranslucent: true` makes this broken

please follow this repo https://github.com/ArekChr/ReactNativeScreensExamples/blob/master/ReactNativeScreensBugs.tsx

or code here:

[code]

[2020-06-15 22:06] ArekChr commented on #542
please note that `headerTranslucent: true` makes this broken, not largeTitle at all

please follow this repo https://github.com/ArekChr/ReactNativeScreensExamples/blob/master/ReactNativeScreensBugs.tsx

or code here:

[code]

[2020-06-16 05:10] compojoom commented on #17
@kmagiera here you say https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704067 to change the way we call super.onCreate.
I can confirm that calling onCreate with null fixes the problem. I see that the example app also calls onCreate with null. So is this the fix for that?

If we switch `super.onCreate(null)` to `super.onCreate(savedInstanceState);` and then put th

[2020-06-16 08:24] WoLewicki commented on #531
Ok, so can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-16 09:10] immortalx commented on #432
This is happening to me also with headerCenter and headerRight only in iOS, my custom component is wrongly positioned.
It only displays correctly when the default back button is present.

[2020-06-16 11:07] alimek opened #544 "Blank page when using `setParams` in ReactNavigationv5 on Android 8"
Hello,

Found issue where calling `setParams` in `componentDidMount` for example is casuing blank page on Android 8.

Everything works fine on Android 9+ in my app.

If I remove `enableScreens()`, everything works fine.
Found workaround that adding timeout for 100ms and then call `setParams` is also working fine.

`react-native-screens: 2.8.0`
`@react-navigation/bottom-tabs": "^5.5.2"`
`@react-nav

[2020-06-16 12:30] codecog commented on #17
I can confirm setting up a generic "Auth Switch" with react-navigation sometimes produces this same error. Say you are on the auth stack and something in settings switches to the app stack, if you do that change with the app in the background and then try to foreground the app. It will produce the fatal error

[2020-06-16 13:06] gauravsbagul commented on #508
I am having same issue

[2020-06-16 13:47] WoLewicki commented on #542
What is the behavior you would expect regarding those issues? Setting a translucent header makes the content of the Screen go under the navigation bar to be able to draw under it, so the sticky header gets attached to the top of the `Screen`, which is not visible in this configuration, but you can spot it with transparent `backgroundColor`. The `contentInsetAdjustmentBehavior="automatic"` makes th

[2020-06-16 13:48] WoLewicki commented on #508
@gauravsbagul can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-16 13:48] WoLewicki commented on #544
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-16 14:02] WoLewicki commented on #387
@arjndr setting `contentInsetAdjustmentBehavior="automatic"` with translucent header makes the `ScrollView` acquire a `contentOffset` equal to the height of the header, but the ScrollView can still scroll under the header.
headerTranslucent: true
![image](https://user-images.githubusercontent.com/32481228/84784324-764a2480-afea-11ea-9dda-841597588f66.png)
headerTranslucent: false
![image](https://

[2020-06-16 14:35] WoLewicki commented on #505
Can you reproduce this issue with `headerTranslucent: true`? Seems like an issue with the layout of `headerLargeTitle` + `ScrollView` when the header changes its size along with the scrolling of `ScrollView`.

[2020-06-16 14:48] ArekChr commented on #542
IMO it should automatically change position of sticked header when I set headerTransculent, I tried to change that manually I mean move position of stick but seems to be impossible

[2020-06-16 14:51] ArekChr commented on #505
With transculent true there is no issue but this isn’t perfect workaround, transculent header brokes another behavior

[2020-06-16 18:17] enheit commented on #531
@WoLewicki, okay, I will try

[2020-06-17 12:17] alimek commented on #544
Sure, trying to create repo now. One question regarding the `enableScreens ()`.

If I am not using `createNativeStackNavigator` in my app, is enablingScreens doing something?

[2020-06-17 12:48] alimek commented on #544
@WoLewicki repo here: https://github.com/alimek/react-native-screens-bug

by default app will open with "blank" screen, please comment line  https://github.com/alimek/react-native-screens-bug/blob/master/App.tsx#L20 and you will get default RN screen page.

While testing noticed, that the same is happening on all androids: 8, 9, 10. For some reason on my app it was happening only on 8, but maybe i

[2020-06-17 13:54] WoLewicki commented on #544
So does it happen on all Android versions or not? I added this screen to my app with Android 10 and everything works just fine.

[2020-06-17 14:19] alimek commented on #544
That' what i am using for testing as well as real device - Xiaomi phone with android 10

![Screenshot 2020-06-17 at 14 44 26](https://user-images.githubusercontent.com/4248465/84909576-26d12a80-b0b6-11ea-83d0-381f3a1e713b.png)
![Screenshot 2020-06-17 at 14 44 00](https://user-images.githubusercontent.com/4248465/84909583-29338480-b0b6-11ea-9a4b-a45d8f50ac18.png)

[2020-06-17 14:34] WoLewicki commented on #329
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-06-17 14:34] #329 closed

[2020-06-17 18:42] kyle-ssg commented on #524
@WoLewicki
https://snack.expo.io/@kyle-ssg/large-title-is-never-translucent-when-backgroundcolor-is-set

Here I wish the large title to be transparent and the small title (when scrolled up) to be white.

[2020-06-17 19:48] kyle-ssg commented on #520
@WoLewicki https://snack.expo.io/@kyle-ssg/color-flash-between-large-and-small-title-screen

Similarly to the issue with expo not showing translucent screens properly (mentioned here https://github.com/software-mansion/react-native-screens/issues/524) I think the code will need to be ran on a vanilla react-native app in the simulator / on a phone to replicate as expo seems to do weird things with

[2020-06-18 10:52] WoLewicki commented on #544
Could you check if applying https://github.com/react-navigation/react-navigation/pull/8473 fixes your issue?

[2020-06-18 11:39] alimek commented on #544
yes, it does! 🎉

[2020-06-18 11:47] WoLewicki commented on #544
Ok so I am closing this issue. Feel free to comment if there is something wrong.

[2020-06-18 12:36] eyecandydotdev commented on #532
Seems to me that you are mixing the two libraries in an unexpected way. There's https://reactnavigation.org/ and there's this one here https://github.com/software-mansion/react-native-screens

[2020-06-18 12:45] alimek commented on #544
its fixing few other problems for me too (like on Android YoutTube Player was not playing video sometimes), but now, once user is logged to app i am getting this error

![bug](https://user-images.githubusercontent.com/4248465/85021417-19797600-b172-11ea-8cef-50640f2591e0.jpg)

[2020-06-18 16:41] WoLewicki commented on #544
Can you repro it on a small example?

[2020-06-18 17:51] WoLewicki commented on #532
I checked on a native iOS project and the `titleView` that is used when the `headerCenter` is set automatically to clip to bounds so I think it is desired behavior which Apple HIG suggests.
![image](https://user-images.githubusercontent.com/32481228/85054038-bd2b4c00-b19b-11ea-9c6a-f77ae4cde2cb.png)
(You can see even though height is 200, it is still truncated)
The first time it is outside of the

[2020-06-18 20:01] alimek commented on #544
sure, will prepare tomorrow or on Monday

[2020-06-19 04:51] lucianomlima commented on #17
Same issue here with react-native 0.61.5 + react-native-screens 2.8.0

Dependencies:
[code]

Stacktrace:
[code]

[2020-06-19 04:51] jong-hui commented on #539
I was still having the same problem. I found a solution.
Through the onLayout event, I noticed that the height size changed. So fix the height size. The desired result was achieved.

[code]

[2020-06-19 04:51] #539 closed

[2020-06-19 07:20] jasper-fu commented on #214
any updates?

[2020-06-19 10:19] tanjiaweiGitHub opened #546 "react-native-screens react-native-webview"

[2020-06-19 10:21] tanjiaweiGitHub commented on #546
复现环境：  reactnative0.61.5

[2020-06-19 10:24] tanjiaweiGitHub commented on #546
## 复现环境
1.  "react-native-screens": "^2.8.0",
2. "react-navigation": "^4.1.0",
3.  "react-native-webview": "^9.3.0"
4.  "react-native": "0.61.5",
5. 安卓9/安卓10

[2020-06-19 10:30] tanjiaweiGitHub commented on #448
webview 开启硬件加速，安卓9 10 可以百分百重现 @WoLewicki

[2020-06-19 10:52] WoLewicki commented on #448
@tanjiaweiGitHub could you write in English? I'm sorry but I don't understand what is written there.

[2020-06-19 12:19] alimek commented on #544
@WoLewicki any hint how can i debug this on my app? My Android dev expierence is not big and cant reproduce it in simple app, which means must be something related to my app code, but cant find what really is causing problem.

Like you see on screenshot, i have the ViewID but cant find anything in `FragmentManager` which help me find where is problem.

I have component which has aniamted splashscr

[2020-06-19 12:42] WoLewicki commented on #544
Isn't it the same issue as #463?

[2020-06-19 12:51] alimek commented on #544
yes, looks like its the same problem.

[2020-06-19 16:23] alimek commented on #544
I managed to get rid of crash on Android.

Not sure if that's a bug or not, but i couldnt reproduce it on simple app without any extra heavy logic which my app is doing.

Problem on my app was, that once user is logged in, in very short time my app was trying to render Main app component with whole drawer and bottom navigation and then back to Splash screen when animation was happening and navigat

[2020-06-19 19:08] Nr9 commented on #17
same issue

[2020-06-20 14:40] enheit commented on #531
Hey, @WoLewicki, I was able to reproduce this issue in stand alone project. You can find it by using [this reference](https://github.com/enheit/react-native-screens-navigation-issue).

I was trying to put the same `package.json` and `yarn.lock` files that I use on my project.

[2020-06-20 14:43] SleeplessByte commented on #111
Here is a repo @WoLewicki :

https://snack.expo.io/@derk-jan/header-flash

- If `enableScreens` is commented out, everything works as expected.
- If `enableScreens` is not commented out, on Android (REAL device) the header flashes white on _back_ navigation. At first I thought it was somehow `react-native-paper`, but it also happens with just a solid background color.

Between testing you'll need

[2020-06-21 04:56] r0b0t3d commented on #529
Your problem could be related to this https://github.com/facebook/react-native/issues/26892
On ios 13, modal will be displayed as `pagesheet` by default. But when swiping down to dismiss, it doesn't trigger the callback to let us reset the state of modal.

[2020-06-21 21:48] 509dave16 commented on #17
@kmagiera I have a similar issue in that `Unable to destroy activity` is being thrown. Don't know if you would want this split into a a separate issue. This error is occurring after performing a React Navigation Action(`v5.5.1`) in a Native Stack from an `onPress` callback for an `ActionButton.Item` imported from `react-native-action-button@2.8.5`. This only start started happening after `react-na

[2020-06-21 22:33] immortalx commented on #322
@matt-oakes which files do i need to modify to implement this workaround?

[2020-06-22 06:00] stackia opened #547 "2.9.0 breaks importing from "react-native-screens/native-stack/xxx""
Before 2.9.0, I can use `import HeaderConfig from "react-native-screens/native-stack/views/HeaderConfig"` but now this should be `import HeaderConfig from "react-native-screens/lib/module/native-stack/views/HeaderConfig"`. TypeScript can no longer resolve the corresponding .d.ts in such cases.

FYI our scenario is to rewrite some of native-stack's logic to bring `react-native-modalize` to react-na

[2020-06-22 06:34] lucianomlima commented on #17
I have to remove enableScreens(). After this, the bug stop here.

[2020-06-22 09:31] InvictusGar commented on #448
he means to set webview hardwareAccelerated=true, and then this leak would appear @WoLewicki

[2020-06-22 09:34] tanjiaweiGitHub commented on #448
enableScreens() and hardwareAccelerated=true

[2020-06-22 09:36] tanjiaweiGitHub commented on #448
enableScreens() and hardwareAccelerated=true

Open any webpage through webView, then exit webview, click on any @WoLewicki

[2020-06-22 09:39] tanjiaweiGitHub commented on #448
By adding the style opacity: 0.99 you can avoid the crash problem, but I think this is not a long-term plan @WoLewicki

[2020-06-22 09:46] tanjiaweiGitHub commented on #448
And I encountered the problem of flickering after page loading when switching pages, which was temporarily solved by setting opacity: 0.99

[2020-06-23 07:39] WoLewicki commented on #544
Nice! Could you try and repro it anyhow and add this repro to the #463 even if it seems a bit big? It would greatly help us remove the problem.
@react-navigation is publishing very often so you won't have to wait long.
I am closing this issue then, feel free to comment if something is wrong.

[2020-06-23 07:39] #544 closed

[2020-06-23 11:49] WoLewicki commented on #531
I changed the native-stacks to normal stacks and the transition looks kind of similar. First going to the `Screen1` with the Tab navigator and then to the nested `Screen5` in the second tab. If you don't want that animation, you can use `stackAnimation: "none"` in native-stack. Or maybe the issue is something else and I don't understand it? The issue title says that you can't navigate to the desir

[2020-06-23 11:59] WoLewicki commented on #546
Please write in English otherwise I won't be able to understand you.

[2020-06-23 12:09] satya164 commented on #547
These files are internal and not supposed to be used by external code. So there's no guarantee that what you're doing will continue to work in a patch version. So `.d.ts` not getting resolved is least of the problems, we could entirely remove this file in a patch version and your code will break.

If you want to customize such code, you should copy these files into your project and change them as

[2020-06-23 12:09] #547 closed

[2020-06-23 12:10] WoLewicki commented on #111
Hmm Expo does not contain the newest native code of `react-native-screens`. Could you wait till the release of Expo SDK38 and see if the problem exists there? And if so report it here? Another way of checking is to reproduce the issue in the bare RN project which would be easier for me to debug.

[2020-06-23 12:31] beqramo commented on #111
@WoLewicki I use RN CLI project and there is this same problem, with all up to date versions, I even updated my navigation to 5 version but same result(first  I encountered this error on react navigation 4 version).

[2020-06-23 12:36] WoLewicki commented on #448
There seem to be some problems with the react-native-webview and react-native-screens integration, but I am not sure that it should be solved anyhow on our side. If you have any ideas, I would love to check PR with such changes.

[2020-06-23 12:36] WoLewicki commented on #111
@beqramo so can you provide a repo with easy reproduction of the issue?

[2020-06-23 13:03] sercanov commented on #520
It's more visible on black background

![Screen-Recording-2020-06-23-at-15 58 18](https://user-images.githubusercontent.com/10291644/85406843-0cda9080-b56b-11ea-8927-8dc1ebae9fc9.gif)

[2020-06-23 13:22] WoLewicki commented on #529
It might mess with `react-native-screens` since we operate on modal views in our code and the modal from the <Modal /> component is also one of those: https://github.com/facebook/react-native/blob/d0871d0a9a373e1d3ac35da46c85c0d0e793116d/React/Views/RCTModalHostViewManager.m#L21. I am not sure what is the root of the problem, but I would suggest using modal presentation style of native-stack for s

[2020-06-23 13:49] SleeplessByte commented on #111
@WoLewicki that's correct. It's versions behind. @beqramo can you create the minimal repo for Wojciech? Otherwise I can do it if that's difficult for you.

[2020-06-23 13:58] beqramo commented on #111
okay I wrote some codes  on fresh project and result is the same

here is a gif:
![untitled](https://user-images.githubusercontent.com/40486471/85412119-4e266c80-b57a-11ea-8da9-af8643eea5d7.gif)

App

[code]

Screen2
[code]

Screen1
[code]

package.json

[code]

[2020-06-23 16:58] enheit commented on #531
@WoLewicki Could you please provide some gif to visualize "...seems to work correctly"?

I've uploaded two gifs which show the issue.

On the first gif I use `import { createNativeStackNavigator } from 'react-native-screens/native-stack';`

![badgif50](https://user-images.githubusercontent.com/8645216/85431957-e6c4e880-b58a-11ea-8461-39f6e148afca.gif)

On the second gif I  use `import { createStac

[2020-06-24 02:29] immortalx commented on #322
@matt-oakes I don't know where in RNSScreenStackHeaderConfig i should apply this workaround. Can you share the whole file or tell me where to add those lines?
Thank you

[2020-06-24 09:43] WoLewicki commented on #531
I cloned your project and now I see the issue. You are using Expo and it has old version of the native code of `react-native-screens`. If you used this code in a bare RN project, you would spot no issue. So the solution is either not to use Expo or wait for the release of Expo SDK38 which should be out soon. Does it solve your issue?

[2020-06-24 13:54] enheit commented on #531
@WoLewicki, you can close the topic if issue doesn't exist on the latest version of the `react-native-screens` and will be fixed after updating to the Expo SDK38.

P.S. Can I install the latest version of the `react-native-screens` despite the fact that expo doesn't include it in the SDK37 to fix the bug?

[2020-06-24 14:05] WoLewicki commented on #531
When using Expo Client on your phone, you cannot change the native code of libraries used in it. They change at each release of SDK. To change the native code with Expo, you would have to eject: https://docs.expo.io/bare/customizing/

[2020-06-24 14:05] #531 closed

[2020-06-24 14:06] WoLewicki commented on #520
@sercanov where is the flashing color in your gif?

[2020-06-24 14:20] kyle-ssg commented on #520
I believe this is a slightly different issue which I've also seen, I'd imagine he's talking about the glitchy looking background colour here

![image](https://user-images.githubusercontent.com/8608314/85573932-37d9e880-b62e-11ea-9f88-75f7e232b690.png)

[2020-06-24 14:58] sercanov commented on #520
yes, @kyle-ssg is right. I thought it's the same issue, if not I can open a new one

[2020-06-24 15:46] WoLewicki commented on #520
@sercanov would be nice if you could open another issue with this and attach a repro. @kyle-ssg I debugged it and there appears to be quite the same issue as https://stackoverflow.com/questions/39571613/tabbar-navigation-bar-became-dark-after-updating-to-xcode-8. There is UIVisualEffectBackdropView applied during the transition and I am not sure why it is there. Can you repro this behavior in nati

[2020-06-25 04:44] zyofeng commented on #432
Same problem Im having

const Stack = createNativeStackNavigator();
const AccountsScreen = () => {
    return <Stack.Navigator screenOptions={(props) => ({
        headerRight: () => <HeaderRight {...props} />,
    })}>
        <Stack.Screen name="Balances" component={Balances} />
...

interface Props {
    navigation?: NavigationContainerRef;
}
export const HeaderRight = (props: Props) => {
    c

[2020-06-25 14:45] WoLewicki commented on #520
I think I know why this happened. If not setting the `translucent={false}` explicitly, the `UIVisualEffectBackdropView` becomes opaque and with dark color, as it is written in the SO thread I linked. It happens due to `configureWithDefaultBackground` prop set on appearance here: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreenStackHeaderConfig.m#L271 which applies

[2020-06-25 15:06] WoLewicki commented on #524
I am afraid that the thing you are trying to achieve is impossible since the "small" title is always rendered behind the "large" title, but it is not visible due to the color of "large" title. You can see it on this image:
![image](https://user-images.githubusercontent.com/32481228/85745179-ca998680-b705-11ea-9131-ade414e3f1ec.png)
So while setting the "large" title's color to transparent, the "sm

[2020-06-25 20:13] kyle-ssg commented on #524
Right, ok. But if I try anything that isn't transparent I get a visual glitch as shown here
<img src="https://recordit.co/ZVLB8YJLC0.gif"/>

[2020-06-26 01:06] fawazahmed-makeen commented on #159
Issue seems to be fixed with `react-navigation` v4.4.0, since there is no prop `transparentCard` and just use the cardStyle.
`import { createStackNavigator, TransitionPresets } from 'react-navigation-stack';`
Use `defaultNavigationOptions` for stack navigator config.
[code]

[2020-06-26 10:24] #492 closed

[2020-06-26 12:19] WoLewicki commented on #524
[code]

What is wrong with e.g. this code? It replicates how the transition in WhatsApp works but with additional header colors that you need if I am correct.

[2020-06-26 17:37] kyle-ssg commented on #524
Hey @WoLewicki, thanks for being patient with this. So the above is the closest I got, however there are indeed 2 things wrong with this. The following is a frame from popping from Privacy to Status

Desired outcome:
![image](https://user-images.githubusercontent.com/8608314/85884833-271aa580-b7db-11ea-8240-0f05b9f7e007.png)

Current Result:
![image](https://user-images.githubusercontent.com/86083

[2020-06-26 17:41] kyle-ssg commented on #520
@WoLewicki tried out the PR, can confirm it solves this issue, brilliant!

[2020-06-27 08:33] enheit commented on #531
@WoLewicki, I've updated to the Expo [SDK 38](https://blog.expo.io/expo-sdk-38-is-now-available-ab6cd30ca2ee) and issue disappear.

Thanks you a lot.

[2020-06-27 09:38] ZaikinaEvgeniya-2 opened #548 "react-native-photoeditorsdk and react-native-screens"
If use this library `react-native-photoeditorsdk`, demo https://github.com/imgly/pesdk-react-native-demo
and add `react-native-screens` to this project, then get error
![Screenshot_2020-06-23-16-45-09](https://user-images.githubusercontent.com/62234691/85919354-174ea000-b873-11ea-8c7b-b73d9d4d4b00.png)

run on real android 5.1

may be I missed some steps for install `react-native-screens`,
I just

[2020-06-27 09:50] WoLewicki commented on #524
I am not sure if I understand correctly what do you mean, but I think the transition used in WhatsApp is not a default large-small header transition because the small header going out of the screen like that is the default transition of small-small header. The one from my comment feels the same as the transition of the large-small header in Messages App where the small header is becoming bigger an

[2020-06-27 09:51] WoLewicki commented on #548
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-27 10:03] WoLewicki commented on #111
I reproduced it and it looks like the white flash appears due to the screen you are transitioning to not being attached already at the beginning of the transition. Currently, it is inevitable due to asynchronous calls of the bridge to the native side, which attaches the screen at the beginning of the transition. As a workaround, you can make the container have the same color as the screens, so the

[2020-06-27 10:51] ZaikinaEvgeniya-2 commented on #548
sorry for not responding for a long time,
project: https://github.com/ZaikinaEvgeniya-2/pesdk-react-native-demo
when start it click on `Click here to edit a sample image` - and get this error

may be i missed some steps when install react-native-screens
my steps:
1) `https://github.com/imgly/pesdk-react-native-demo` start it, click on `Click here to edit a sample image` - everything work fine,
2)

[2020-06-27 12:22] kyle-ssg commented on #524
@WoLewicki I see, yeah I guess there is a possibility that their implementation is totally custom, though the more I look at it I'm not so sure, the transition in WhatsApp if I'm not mistaken is the same as the transition that's in the standard iOS settings screen from what I can see, I'd find it a bit surprising if this weren't replicable.

<img src="http://g.recordit.co/zpbUfnGjMc.gif"/>

I've m

[2020-06-27 14:23] beqramo commented on #111
Okey, thanks for your attention, but currently I'm using react-navigation 4 in my project and is there any way to change the container color? I have already tried this but no result:

[code]

[2020-06-27 18:54] sa8ab opened #549 "White flicker when navigating back"
First of all thank you for the great lib.
the problem is that when I am navigating to or back in the stack navigator I see a white flicker in the edges, I also had the issue when using @react-navigation/stack with `enableScreens()`.

here is the screen record:
![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/59901734/85929833-cf2c7f00-b86c-11ea-971c-8ac4a9a81c9a.gif)

# versi

[2020-06-28 08:21] beqramo commented on #111
for thus who face same issue  I think above mentioned workaround to change background color is good enough, for my project I add android style.xml file this(it's not perfect but it's doing its job) :

``android/app/src/main/res/values/styles.xml``
[code]

[2020-06-29 06:54] beqramo commented on #549
duplication of #111

[2020-06-29 11:24] WoLewicki commented on #549
Yes, it is most probably as @beqramo says. I am closing it then. Feel free to comment if I am wrong.

[2020-06-29 11:24] #549 closed

[2020-06-29 11:48] jong-hui opened #550 "backButtonImage is not working on iPhone 11 Pro max & iPhone XS"
Hello, Thanks for the good library.

backButtonImage works great. On iPhone 8, iPhone x.
However, on iPhone Xs and iPhone 11 (Pro, max), sometimes, problems occur.

![2020-06-29 20-38-07 2020-06-29 20_39_57](https://user-images.githubusercontent.com/42797995/86001250-95fd3600-ba49-11ea-9512-5a6ffc7cedee.gif)

[code]

[2020-06-29 11:51] jong-hui commented on #550
Well, I think this is not a device problem, but an OS version issue.

ios 11 is working well,
ios 13.5 is not working.

[2020-06-29 11:59] ZaikinaEvgeniya-2 commented on #548
I can not repeate this issue with android with higer version, so I think it is because android 5 invoke this error.

[2020-06-29 11:59] #548 closed

[2020-06-29 13:41] WoLewicki commented on #111
I would not consider this as a bug, but rather the way the RN works. It could be changed when Fabric is launched with synchronous updates. We are thinking of e.g. keeping the 2 last screens attached in the native side, so the transitions like this one wouldn't cause the blinking, but it is rather a workaround, not a solution to a problem itself.

[2020-06-29 14:28] beqramo commented on #111
@WoLewicki
Okay, thanks again. have a nice work

[2020-06-29 14:41] beqramo commented on #550
as a workaround use your own button component as shown there: [https://reactnavigation.org/docs/header-buttons/](https://reactnavigation.org/docs/header-buttons/)

[2020-06-29 14:42] WoLewicki commented on #524
I cannot think of the modification of native code that would change this "fade-in fade-out" transition to the "slide out" one. If you would find a native iOS project where it is implemented, I could maybe work with it somehow. In a simple Swift project with the same configuration, the transition is the same as in `react-native-screens`.

[2020-06-29 15:00] WoLewicki commented on #550
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-06-29 15:09] WoLewicki commented on #490
Does this issue still exist with Expo SDK 38?

[2020-06-29 15:11] WoLewicki commented on #509
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-06-29 15:14] WoLewicki commented on #187
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-06-29 15:14] #187 closed

[2020-06-29 15:14] #509 closed

[2020-06-29 15:18] WoLewicki commented on #485
I am closing it due to no response in more than 30 days. Also, #545 changed the behavior and should have fixed the issue. Feel free to comment to reopen it.

[2020-06-29 15:18] #485 closed

[2020-06-29 15:21] WoLewicki commented on #380
I believe it is the same issue as #111, so I will close this issue to keep the discussion about it in 1 place only. Feel free to comment if I am wrong.

[2020-06-29 15:21] #380 closed

[2020-06-29 15:24] WoLewicki commented on #428
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-06-29 15:24] #428 closed

[2020-06-29 16:40] kyle-ssg commented on #524
Sure ok @WoLewicki I'll see if I can find something

[2020-06-29 21:44] ortigozamatias commented on #432
Same here using `Expo v38`.

[2020-06-30 09:36] WoLewicki commented on #334
I see that no one has currently time to update the PR and make it compatible with the newest changes to the structure, so I made it: #551.
Thanks for your contribution @pvinis!

[2020-06-30 09:36] #334 closed

[2020-07-01 09:22] jong-hui commented on #550
I found the part where the problem occurred.

I think it was a problem from moving from Screen(headerShown: false) to Screen(headerShown: true).
I tried add prop(backButtonImage) at first screen, but problem is not go away.

Thanks for reading it

### reproduce code
[code]

[2020-07-01 09:25] jong-hui commented on #550
Thanks, but I wish my back button follow ios native (e.g hitSlob)

[2020-07-01 15:13] WoLewicki commented on #550
Can you check if #552 resolves your issue?

[2020-07-01 16:52] Hirbod commented on #485
I can confirm that it was fixed in the latest release

[2020-07-02 01:50] jong-hui commented on #550
Thanks @WoLewicki. Its work for me.
but, back button flickering when every push.(can see when you use go back swipe gesture)
and, Sometimes problem seems on the transitioning

[2020-07-02 09:54] WoLewicki commented on #550
Can you check with the change I made?

[2020-07-02 10:32] jong-hui commented on #550
It's perfectly working for me. I need it. Thanks.
I don't know why this code working, but can you merge #552 pull request? Or should I specify software-mansion/react-native-screens/@wolewicki/fix-custom-back-image in pakage.json?

[2020-07-02 10:49] WoLewicki commented on #550
You can use [patch-package](https://www.npmjs.com/package/patch-package) until this change is released.

[2020-07-02 10:52] jong-hui commented on #550
Ok, thanks. 👍👍

[2020-07-02 11:35] CosmaTrix commented on #395
I have the same issue. I've created a Snack where you can see the bug in action. It isn't pretty, but it does the job. 😄 Just try and pull-to-refresh on the Overview screen.

[https://snack.expo.io/@dami-mollie/4cc07f](https://snack.expo.io/@dami-mollie/4cc07f)

[2020-07-03 03:38] RnbWd commented on #309
I'm seeing a similar error in the crash reports on google console for apps in production, maybe I should disable `useScreens()` on android. Here are my library versions:

[code]

I'm using the `@react-navigation/stack` navigator, not the native stack navigator

[2020-07-03 09:28] WoLewicki commented on #407
Do you mean that you would like to use native-stack in your project?

[2020-07-03 09:42] WoLewicki commented on #468
@sebastianknopp I looked a bit deeper into it and you can achieve it by applying `backgroundColor: 'transparent'` here: https://github.com/software-mansion/react-native-screens/blob/master/src/native-stack/views/NativeStackView.tsx#L75. Does it solve your issue?

[2020-07-03 14:51] WoLewicki commented on #364
It is now officially recommended not to use `tabBarVisible` prop, but rather refactor the navigation structure: https://reactnavigation.org/docs/hiding-tabbar-in-screens/
I am closing this issue then, feel free to comment if you have any questions.

[2020-07-03 14:51] #364 closed

[2020-07-04 11:17] Kailash23 opened #553 "I am getting extra header height using react-native-screens/native-stack in place of @react-navigation/stack"
![stackNativeNavigator](https://user-images.githubusercontent.com/22117819/86511305-6bc6c200-be15-11ea-80c3-ae456bbfe295.png)
![stackNavigator](https://user-images.githubusercontent.com/22117819/86511306-6cf7ef00-be15-11ea-92de-c92592b1c461.png)

[code]

[2020-07-05 14:04] igbenic commented on #553
https://github.com/react-native-elements/react-native-elements/issues/1793 worked for me

`      <StatusBar translucent={true} />`

[2020-07-05 23:47] timurridjanovic opened #554 "Header animates status bar first and then loads later glitch"
On initial screen load, the header animates in the status bar first and then loads the rest of the header a second later.
This creates a weird jumping behavior.

Here is a recording of what I mean with the default header: https://recordit.co/2iXw0iHJs6
Here is a recording with my custom header: https://recordit.co/y5Xv0TynzV

Is there a way around that or am I going to have to live with it? hehe

[2020-07-06 08:20] WoLewicki commented on #554
Can you provide a repo/snack with minimal configuration needed to reproduce the issue so I could work on it and see if it is expected behavior?

[2020-07-06 08:29] WoLewicki commented on #553
@igbenic is right and this behavior is wanted. See https://github.com/software-mansion/react-native-screens/pull/545 for more info. I am closing it, feel free to comment if you have any questions.

[2020-07-06 08:29] #553 closed

[2020-07-06 09:01] Piero87 opened #555 "react-native-screens integrated inside react-navigation or has to be installed?"
Hello,
I haven't understand if react-native-screen is already integrated inside react-navigation or has to be installed separately following your readme, I make this question because the react navigation getting started suggest to install it with this:

`yarn add react-native-reanimated react-native-gesture-handler **react-native-screens** react-native-safe-area-context @react-native-community/mas

[2020-07-06 11:57] WoLewicki commented on #555
You should follow the README if you want to use them. If you do not call the `enableScreens()`, they won't be enabled in any of the navigators. Also, using `native-stack` without `react-native-screens` enabled is impossible.

[2020-07-06 12:11] Piero87 commented on #555
@WoLewicki Thank you very much for the answer, so using this plugin will decrease the usage memory improving the speed of the app right?

[2020-07-06 12:13] sa8ab opened #556 "Native Stack, React-nativation 5, white screen when navigating back"
When navigating forward and back using back button in the header, sometimes ( like after 3, 4 ) times of navigating the first screen becomes white ( as it appears ).

Happens on Android not tested on IOS

# how to reproduce
create a native stack navigator using react navigation and move forward and back by pressing the back button in the header.

![ezgif com-video-to-gif(2)](https://user-images.gi

[2020-07-06 12:20] WoLewicki commented on #532
Can I somehow help you more with it or can I close this issue?

[2020-07-06 12:24] WoLewicki commented on #555
Yeah, it should do so, especially on Android. On iOS, `react-native-screens` are disabled for stack navigator currently.

Only at the root of the project.

[2020-07-06 12:33] WoLewicki commented on #556
I cannot repro this. Can you provide a repo where this happens?

[2020-07-06 13:16] sa8ab commented on #556
@WoLewicki here is the repo. I made it for Reanimated but I noticed this one as well, so don't mind the name.

[https://github.com/sa8ab/reproducing-reanimated-issue](https://github.com/sa8ab/reproducing-reanimated-issue)

[2020-07-06 13:55] hannigand commented on #17
Is there a solution for this issue without specifying `null`?

This can be replicated by:

1. Having the application Open with the Location permission enabled.
2. Open up Settings and Deny the Location permission.
3. Reopen the App

Once the app opens, `savedInstanceState` is not `null` anymore and thus throws the following error.

[code]

[2020-07-06 14:09] beqramo commented on #556
I face same issue on ``` "react-navigation": "^4.4.0"  ```

@WoLewicki

[2020-07-06 14:17] WoLewicki commented on #556
Yes, I have managed to reproduce it.

[2020-07-06 14:28] WoLewicki commented on #556
@beqramo did you manage to make this bug appear every time, not randomly? It would be very helpful for debugging.

[2020-07-06 14:35] Mustafax06 opened #557 "[!] The platform of the target `RNMacOS5-macOS` (macOS 10.14) is not compatible with `RNScreens (2.9.0)`, which does not support `macOS`."
Hello, I'm building a macOS app and I'm simply trying to open a new screen in my app. I've installed the necessary libraries like react-navigation, react-native-safe-area-context, react-native-gesture-handler etc. I need to install the pods but I'm constantly getting this error: `[!] The platform of the target 'RNMacOS5-macOS' (macOS 10.14) is not compatible with 'RNScreens (2.9.0)', which does no

[2020-07-06 14:36] beqramo commented on #556
@WoLewicki  I have any clue when it happens sorry

[2020-07-06 14:40] beqramo commented on #309
@WoLewicki  please have a look.

it happens for me on `` goBack() `` but not a first time, it happens when I repeat this action frequently  on the same screen, so navigate to this screen, go back and again.
I see this error only on android release

[2020-07-06 14:47] WoLewicki commented on #556
I am getting such an Error in Logcat of Android Studio when this bug happens:
![image](https://user-images.githubusercontent.com/32481228/86606472-58982b80-bfa8-11ea-8222-90bd979f41f6.png)
Can someone spot the same thing? Looks like it is the source of the problem.

[2020-07-06 16:07] mikehardy commented on #17
@hannigand I think you may have found the one scenario where I still see this problem! Thanks for the location scenario as I do that and I still see crashes sometimes.  It seems like we need to abort the entire process of handling the save instance state Bundle. There are few options:

https://stackoverflow.com/questions/6198319/android-how-to-ignore-or-disable-savedinstancestate

It seems like an

[2020-07-06 17:19] sa8ab commented on #556
@WoLewicki It happens sometimes on navigating back for the second time, sometimes takes longer, as if you notice the screen recording it happened after 20 seconds or so.

[2020-07-07 08:51] ARDcode opened #558 "[native-stack] stackPresentation not working on Android"
stackPresentation: 'modal' and etc not working on Android on RN 0.62.2.
react-navigation and rn-screen are last version
iOS is work perfect.
[code]

[2020-07-07 10:12] WoLewicki commented on #557
`RNScreens` does not support macOS for now and neither does `react-navigation`. You can try and apply patches to `react-navigation` to eliminate the code including `RNScreens` because it is not a necessary component of that library, but it is not the scope of `RNScreens`. I think many other libraries are just not supporting this platform so there is no easy way to integrate it on this stage of wor

[2020-07-07 13:11] WoLewicki commented on #408
@kperreau is the crash the same as the one with not putting `null` in `super.onCreate();`?

[2020-07-07 14:28] kperreau commented on #408
Yes i'm not putting putting `null` in `super.onCreate();`, it's worst if i put `null`, maybe cause i use `react-native-splash-screen`, i don't know.

[2020-07-07 14:34] WoLewicki commented on #408
I need it to be clear, if you put `null` in `super.onCreate();`, then the exception with `Unable to instantiate fragment com.swmansion.rnscreens.ScreenStackFragment: could not find Fragment constructor` still exist? Or does a different exception happen then? I am asking since I cannot recreate this exception when putting `null` in `super.onCreate();`.

[2020-07-07 15:07] KristineTrona commented on #456
I have the same issue. Navigating back in the stack does not autoFocus the textinput if the ``autoFocus`` prop is true. It also does not work if you try to call ``focus()`` method directly on the textInput ref. I have found that adding a timeout before focusing the text input does work, but this is a workaround.

[code]

[2020-07-07 16:05] gitKempf commented on #89
Had the same issue.
setTimeout and react-native-screens upgrading didn't help.

**Solved it** by removing autoFocus={true}.
I have a popup as a functional component and using "current.focus()" with Refs like this:
[code]

[2020-07-08 08:09] WoLewicki commented on #456
@KristineTrona can you repro it on the newest version of `react-native-screens`? And if so, can you provide a repo with minimal configuration needed to repro it?

[2020-07-08 08:25] WoLewicki commented on #309
@beqramo can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-07-08 08:37] WoLewicki commented on #555
Do you have any other questions or can I close it?

[2020-07-08 09:09] Piero87 commented on #555
At the moment no! thank you very much!

[2020-07-08 10:00] KristineTrona commented on #456
@WoLewicki Here is the reproduction repo https://github.com/KristineTrona/rn-autofocus-issue/tree/master - see the readme, I found what is causing the issue, but it still seems a buggy behaviour to me.

[2020-07-08 11:25] topherPedersen commented on #456
I'm running into a similar problem and am having to use the setTimeout workaround that KristineTrona mentioned. For my app the problem is focusing a TextInput on a screen that I'm navigating to. If I attempt to focus the TextInput immediately upon navigating to the new screen it will not work. But if I use the setTimeout hack it will work. Unfortunately, I'm having to use a delay of 667ms which is

[2020-07-08 11:47] WoLewicki commented on #556
https://github.com/software-mansion/react-native-screens/issues/556#issuecomment-654283994
I debugged it more and this Error is not connected strictly to the bug. It just appears when you click on an empty `View`.

[2020-07-09 07:39] KatsuShooter opened #559 "[native-stack] header doesn't show when stackPresentation = "modal""
[code]
I'm using react-navigation (4.3.9), expo (sdk 38) and react-native-screens (2.9.0)

[2020-07-09 09:55] WoLewicki commented on #559
I believe that this issue is already addressed in #260. Please follow it to see any changes in the topic. Feel free to comment if I am wrong.

[2020-07-09 09:55] #559 closed

[2020-07-09 10:22] WoLewicki commented on #556
Can you try and change https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenContainer.java#L189 to `mCurrentTransaction.commitNowAllowingStateLoss();` and see if there are any regressions and if the bug does disappear? Also, could you provide a repo for the #309 since I cannot repro it in release build?

[2020-07-09 12:02] sa8ab commented on #556
I changed the following line from node_modules and rebuilt the project as the result the bug seemed to be disappeared ( I couldn't face the white screen on navigating multiple times for 20 seconds or so ). plus the transition had changed a bit as well. here is the screen recording.
![ezgif com-video-to-gif(3)](https://user-images.githubusercontent.com/59901734/87037446-12f28300-c1a1-11ea-8fc4-4d89

[2020-07-09 12:35] sa8ab commented on #111
Any fix? it looks terrible on dark theme

[2020-07-09 14:24] WoLewicki commented on #556
I would be grateful if you could.

[2020-07-09 14:28] SleeplessByte commented on #111
@sa8ab add a [dark] background color to your native screen / expo background color to workaround this.

[2020-07-09 16:20] sa8ab commented on #111
@SleeplessByte Could you please share an example snippet of code?

[2020-07-09 18:56] KatsuShooter commented on #559
I tried and it didn't help

[2020-07-09 23:36] SleeplessByte commented on #111
For expo it's https://docs.expo.io/workflow/configuration/#backgroundcolor. You could have searched this yourself.

As posted by beqramo, for Android (bare) it's:

For iOS, change the storyboard.

[2020-07-10 08:09] WoLewicki commented on #559
The PR is not ready yet but that is the thread to follow for any updates on it.

[2020-07-10 10:06] WoLewicki commented on #456
You don't call `enableScreens()` anywhere in the project so they aren't used there. I think it is rather a bug in `react-navigation` and should be reported there. Sadly, with the `react-native-screens` enabled, the issue persists. Am I right?

[2020-07-10 11:05] divonelnc commented on #456
I just submitted this bug to react-navigation: https://github.com/react-navigation/react-navigation/issues/8564
My bad, I should have started with that.

[2020-07-10 11:13] mrousavy opened #561 "🦸🏻‍♂️ Hero/Shared Element Animation for Native Stack Navigator"
### Intro

Hi!

I'm currently using [react-navigation-shared-element](https://github.com/IjzerenHein/react-navigation-shared-element) to create shared element transitions between screens, which uses the StackNavigator from react-navigation under the hood (so not the native one from react-native-screens, there's an issue for this [here](https://github.com/IjzerenHein/react-navigation-shared-element

[2020-07-10 14:00] WoLewicki commented on #558
What do you mean by not working? What would you expect from it?

[2020-07-10 14:57] 509dave16 commented on #322
@immortalx The RNSScreenStackHeaderConfig is a `UIViewController` I think. Considering that the `viewWillAppear` is an instance method of it: https://developer.apple.com/documentation/uikit/uiviewcontroller/1621510-viewwillappear

Currently in RNSScreenStackHeaderConfig, `viewWillAppear` has not been defined. So there isn't an existing declaration of it to be modified. I just needs to be added. I

[2020-07-10 15:54] sebastianknopp commented on #468
@WoLewicki This works! But it is not simply applying `backgroundColor: 'transparent'`. One needs to use the Themes-System and set the background through the theme to 'transparent'.

Anyway, it works! Thanks a lot!

Here is what I did:

[code]

[2020-07-10 15:54] #468 closed

[2020-07-11 08:48] Evan-Younan commented on #111
@SleeplessByte The above workaround does not work for me on Android. The background and status bar colors are applied but the white flicker is still there.

[2020-07-11 09:52] WoLewicki commented on #462
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-07-11 09:52] #462 closed

[2020-07-11 09:58] WoLewicki commented on #534
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-07-11 09:58] #534 closed

[2020-07-11 15:57] SleeplessByte commented on #111
The other option is to _not_ use `react-native-screens` for now.

[2020-07-11 17:26] Evan-Younan commented on #111
I understand that and that is why I'm running it only on iOS with different configurations on each platform.

In my opinion, the viability of it on Android is diminished with this bug. Are there any plans to look into this bug?

[2020-07-11 18:31] sa8ab commented on #111
This works for me:
[code]
it's the return of `app.js` file, `NavigationContainer` imported from `react navigation V5`
instead of black use your own color.

[2020-07-11 19:16] Evan-Younan commented on #111
@sa8ab the flicker is still there. If you have any components on the next page that are not black, you will notice the flicker.

[2020-07-12 09:31] sa8ab opened #563 "Positioning Absolute disables simultaneousHandlers of Pan and Tab"
I have a view which I want to position it as `absolute` to the parent view. but doing it disables `simultaneousHandlers` .
here is the code.

[code]

I noticed that by doing this, the view gets absolute to the " second `Animated.View` ". not to the main parent view.

I tried a workaround and it was to make the " second `Animated.View` " as `...StyleSheet.absoluteFillObject` it made it work BUT whi

[2020-07-12 09:35] sa8ab commented on #561
Make it and I would be the first person to star your repo :))

[2020-07-12 09:36] #563 closed

[2020-07-13 13:42] SDSLeon opened #564 "Jumpdown ScrollView with auto insets on BottomTab inside NativeStack"
related issue in react-navigation was closed so I open it here

**Current Behavior**

ScrollView with contentInsetAdjustmentBehavior="automatic" initialy render under translucent header and after stack animation jumps down;

GIF: [url](https://storage.de.cloud.ovh.net/v1/AUTH_b2cffe8f45324c2bba39e8db1aedb58f/cloudconvert-files/87d0b94d-9da2-417d-837a-5ad54414fe58/Запись%20экрана%202020-07-13%20в%2

[2020-07-13 14:04] cmrigney commented on #532
@WoLewicki Thanks for investigating this. We decided to use the non-native stack navigator to get the features we need. This can be closed.

[2020-07-13 14:04] #532 closed

[2020-07-14 02:37] davitykale opened #565 "Is it possible to have a different backgroundColor for the collapsed header when using largeTitle on iOS?"
I'm only aware of how to set `headerTranslucent` and the `backgroundColor` for the entire header (both the extended, large title version as well as the collapsed smaller title).

Is it possible to do something like this:
![RPReplay_Final1594693843](https://user-images.githubusercontent.com/4770980/87375362-3169cd00-c559-11ea-8c5f-b13aa9bcaa0a.gif)

Specifically where the largeTitle is translucent

[2020-07-14 08:17] WoLewicki commented on #565
You can do something like this:
[code]
You can see more info about the transitions between colours in #524. Does it solve your issue?

[2020-07-15 00:09] davitykale commented on #565
@WoLewicki ah, that does seem to work for the most part!

Is it possible to hide the border at the bottom of the large title header? I'm trying to style it from `headerLargeStyle` and not able to.

![Screen Shot 2020-07-14 at 8 08 31 PM](https://user-images.githubusercontent.com/4770980/87488239-db0a9600-c60d-11ea-9c72-8e7aa8597c31.png)

[2020-07-15 06:40] chismadalina commented on #556
It happens for me as well with React Navigation 5 and screens enabled.

[2020-07-15 07:04] ARDcode commented on #558
Android modal is should not be fullscreen?
All props are not work: stackPresentation, stackAnimation

[2020-07-15 09:09] kyle-ssg commented on #524
@WoLewicki you're totally right about this, playing around with Navigation Controllers no matter what I try it behaves like this. How strange, I wonder what they are doing differently.

[2020-07-15 09:09] #524 closed

[2020-07-15 09:13] WoLewicki commented on #524
They probably implemented custom transitions for this.

[2020-07-15 09:15] WoLewicki commented on #565
You should use `headerLargeTitleHideShadow: true`.

[2020-07-15 09:17] WoLewicki commented on #556
@chismadalina does it happen after applying this: https://github.com/software-mansion/react-native-screens/issues/556#issuecomment-656044339? And are there any other issues after doing so?

[2020-07-15 09:31] WoLewicki commented on #558
Maybe you are not using them correctly? Please create a repo/snack where it does not work so I can help you.

[2020-07-15 09:57] chismadalina commented on #556
@WoLewicki it does fix the issue when navigation back but then I have a white flicker when I enter the screen, only on some screens.

[2020-07-15 10:18] WoLewicki commented on #556
Can you provide minimal code that shows the flickering after that change?

[2020-07-15 10:21] WoLewicki commented on #395
I think it is an issue with how `RCTScrollView` and `RCTRefreshControl` works. Can you try and apply this: https://github.com/facebook/react-native/pull/28236 and check if it fixes the issue?

[2020-07-15 11:13] chismadalina commented on #556
@WoLewicki I don't think the code of the screen will help as it happens in different screens

[2020-07-15 23:25] enheit opened #566 "Redundant space between StatusBar and Stack header on Android"
Hi, after updating the expo to the version 38, I encountered with a strange issue on Android device. (Before SDK 38, everything worked as expected)

Whenever I use the [StatusBar](https://reactnative.dev/docs/statusbar) component from ReactNative it adds additional space between stack header and status bar.

With `StatusBar` component
![image](https://user-images.githubusercontent.com/8645216/8760

[2020-07-15 23:35] enheit commented on #566
I resolved my question by reading the release notes of the `react-native-screens`.

See https://github.com/software-mansion/react-native-screens/releases/tag/2.9.0

So, I just set the `translucent` prop to `true` on the `StatusBar` component.

[code]

I close this issue

[2020-07-15 23:36] #566 closed

[2020-07-16 11:59] WoLewicki commented on #508
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-07-16 11:59] #508 closed

[2020-07-16 16:34] dakkafex opened #567 "initialRouteName behaving odd"
so for some reason with this setup, the app will always render the ``SignIn`` screen, no matter what i put in "initialRouteName".
Only when i change the screen name of ``SignIn``  ``initialRouteName`` starts behaving like normal again.

what is going on here? is ``SignIn`` somekind of reserved name?

[code]

[2020-07-16 17:46] sa8ab commented on #556
@chrisnojima does it happen only on the first screen?
I mean like you go from Screen1 to Screen2 and you see the white flicker, but when going from Screen2 to Screen3 there is no flicker.

[2020-07-17 10:16] WoLewicki commented on #387
Can I help you any more with this issue or can I close it?

[2020-07-17 10:50] FrankFundel commented on #432
+1

[2020-07-17 11:12] FrankFundel commented on #322
Anywhere in RNSScreenStackHeaderConfig.m I want to palce the workaround code an error gets thrown. How can this still be an Issue?

[2020-07-17 16:18] awinograd commented on #556
https://github.com/software-mansion/react-native-screens/issues/556#issuecomment-656044339 fixed a similar bug for me that was showing only in release builds.

navigating from A -> push B -> goBack to A -> push B would sometimes cause B to show with opacity < 1.

[2020-07-19 02:13] Administaror commented on #534
Me,too

[2020-07-19 17:58] chandrabuwana commented on #415
any progress for this issue???

[2020-07-19 21:26] kyle-ssg opened #569 "Native Stack Navigator push with NativeStackNavigationOptions for createNativeStackNavigator?"
From what I can see, dynamic titles / options aren't really possible out of the box.

Is it the case that this is out of scope for this library? I can understand that you don't want to delve into being a navigation library, however if that's the case I guess I don't understand why createNativeStackNavigator exists.

I guess the main work around for this is to have a custom headerCenter that uses s

[2020-07-19 22:38] kyle-ssg opened #570 "Accessing props.navigation from headerRight or headerLeft"
What I'd like to do is the following:

[code]

Is there any way I can actually do this?

Edit: I ended up doing:

[code]

[2020-07-20 07:49] WoLewicki commented on #565
Is your issue solved, and if so, can I close it?

[2020-07-20 07:59] #570 closed

[2020-07-20 08:53] WoLewicki commented on #567
Can you provide a repo/snack with minimal configuration needed to reproduce the issue? I tried it with simple components and all works OK.

[2020-07-20 11:12] WoLewicki commented on #569
I am not sure what is your problem. Could you describe more strictly the behavior you would like to achieve? You can check https://reactnavigation.org/docs/screen-options/#navigationsetoptions-method if it is what you need.

[2020-07-20 12:25] kyle-ssg commented on #569
Sure, two scenarios:

From screen A I want to Push to screen b but make the new title "Screen b dynamic title", is it that I can just do
[code]

[2020-07-20 12:40] kyle-ssg commented on #569
Sorry I didnt realise it was this simple, setOptions in the constructor works great!

[2020-07-20 12:40] #569 closed

[2020-07-20 12:49] kyle-ssg opened #571 "[iOS] HeaderCenter positioned to the right on initial screen"
![image](https://user-images.githubusercontent.com/8608314/87939022-50072100-ca8f-11ea-9c50-cc14de1bc529.png)

Rendering an unstyled text element for headerCenter shows it is miss-aligned but only if the screen has no back button.

[code]

<img src="http://g.recordit.co/BcWpAzT9rU.gif"/>

Replicated on iOS simulator SE 2nd Edition

[2020-07-20 13:22] davitykale commented on #565
Yes! Please close. Thank you so much!
Cosma Damiano Trimboli <notifications@github.com> wrote:
“Is your issue solved, and if so, can I close it?”

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-20 13:23] #565 closed

[2020-07-20 16:19] bitttttten opened #572 ""Unrecognised font family" on iOS"
Hey! I am trying to style my header title and I run into this error. The font is being used in other parts of the app, and I am waiting for the font to load before rendering the app. I don't get any issues or errors on Android, only iOS.

![Screenshot 2020-07-20 at 17 55 46](https://user-images.githubusercontent.com/19930241/87960766-0e896c80-cab5-11ea-806a-03854a1dcfa8.png)

[code]

My dependenci

[2020-07-20 16:28] bitttttten commented on #572
Here is how I am loading the fonts.

[code]

Below is a bit simplified, just to remove the fluff.

[code]

[2020-07-21 08:37] #326 closed

[2020-07-21 11:00] kmagiera commented on #561
hey @mrousavy – Thanks for putting some thought into that. We'd be open to collaborating on that together. In fact we already had some plans to work in this in the near future.

As for the idea of using hero – as much as I like the library and its API I'd imagine it being difficult to integrate. The biggest issue here IMO is that it hides a lot of complexity exposing a set of available transitions

[2020-07-21 12:13] mrousavy commented on #561
@kmagiera Thanks for your reply. After I initially posted my question, I've begun to dig around the source code and tried some things in a sandbox app. I managed to get a really wacky solution working with a "fire and forget" animation concept, but to get this working fully I will need to do a lot of polishing. Also, not sure if I want to have absolutely no control over the animation after I start

[2020-07-21 15:12] SMJ93 commented on #105
We recently added:

[code]

And noticed some users were getting this issue. We were able to replicate this using the following stack:

**AppStack:**
  - TabStack
    - Home
    - Help
  - TermsAndCondtions (loads iframe)

**Reproducable flow:**
- When first loading the app it loads the Home tab by default
- Navigate to the Help tab
- On the Help tab screen navigate the TermsAndConditions (loads an

[2020-07-21 18:07] kyle-ssg opened #573 "[Android] Render content behind transparent navigation bar"
on iOS, when you set the background of the navbar to transparent, the content is able to be rendered behind the navbar.

![image](https://user-images.githubusercontent.com/8608314/88090030-dfdac700-cb84-11ea-8e88-d59a83af4893.png)

Ideally, I'd like to have the ability to render content behind the navigation bar in android.

[2020-07-22 08:44] IjzerenHein commented on #561
There are really two important parts here. Firstly the measuring part, where RNSE needs to figure out the start and ending positions of the elements. When using ViewControllers, you'd need to be able to calculate the ending position relative to the new view-controller.

And secondly, the rendering. RNSE relies on rendering the visual content in front of the other views. So al long as both those th

[2020-07-22 13:03] EhsanSarshar commented on #403
+1

[2020-07-22 13:37] mrousavy commented on #561
@IjzerenHein The [react-native-shared-element](https://github.com/IjzerenHein/react-native-shared-element) renders infront of a single ViewController as of right now, right?

[2020-07-22 13:51] IjzerenHein commented on #561
@mrousavy That's up to you. It renders in whatever `<View>` you provide it.

[2020-07-22 19:47] kyle-ssg opened #574 "[Android]Independent navigators /stacks showing back button on initial route"
<img src="http://g.recordit.co/muZCqFthQH.gif"/>``

My example app is structured as such

-App Navigator
 - Stack
   - Home
   - About
   - Tabs
     - Tab Navigator
     - Tab Stack
        - Tab 1
        - Tab 2

Pushing from Home to Tabs shows a back button on the **Tab Navigator**, the App Navigator is hidden on this screen.

edit:
I guess the usecase here is slim since Id almost always do na

[2020-07-22 20:04] #574 closed

[2020-07-23 06:24] EhsanSarshar commented on #403
@WoLewicki is there any plan to support RTL

[2020-07-23 12:18] acro5piano commented on #89
I solved the problem by showing `TextInput` only in focused screen. In other words, re-show `TextInput` fire auto focus.

[code]

[2020-07-24 10:54] WoLewicki commented on #198
Could you check if #493 resolve this issue?

[2020-07-24 14:29] WoLewicki commented on #105
@SMJ93 can you provide a repo/snack with minimal configuration needed to reproduce the issue? It would be very useful for solving the issue.

[2020-07-24 18:20] kyle-ssg opened #576 "[Android] Pushing to a new independent stack on android shows the back button"
Pushing to the following independent navigation container, I'd expect the back button to be hidden as it's at the start of the stack. I can work around it at the moment by forcing headerHideBackButton, however this is a bit of a hack.

[code]

[2020-07-25 19:48] awinograd commented on #556
One of our testers reported a re-occurrence of this bug after the fix mentioned above. At least, the issue appears to be much less common

[2020-07-27 10:37] mrousavy opened #577 "Modal bugs out and reveals view behind when dragging down with gesture"
### Description

I'm sorry for the title, but I couldn't find better words to describe this.

When using the native stack navigator to present a screen modally, the screen slides up like a `pageSheet` or `formSheet` on iOS. A users reaction might be sliding it back down, which is native behaviour for action sheets in iOS. The problem is, that the screen moves up and shows what's beneath it.

The w

[2020-07-27 11:59] WoLewicki commented on #105
It seems that the crash is related to the `react-native-webview` and the problem with the hardware acceleration. You can see related issues here: https://github.com/react-native-community/react-native-webview/issues/1069, https://github.com/wix/react-native-navigation/issues/5702, #214. I am not sure if there exists an easy fix from the side of our library other than suggested in the #214 and it s

[2020-07-27 12:42] WoLewicki commented on #577
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-07-27 13:20] mrousavy commented on #577
@WoLewicki https://github.com/mrousavy/rnscreens577

[2020-07-27 13:21] mrousavy commented on #577
It goes pretty far up. Kinda funny

<img src="https://user-images.githubusercontent.com/15199031/88546500-befaf180-d01c-11ea-8142-d947735082ec.png" width="50%" />

[2020-07-27 13:26] muhammadwafa opened #578 "Which libs are required by react-native-screens"
I am using only and only `native-stack` **navigator**, and now I am confused which libraries are required by `react-native-screens/native-stack` ?? I am asking this because, in `react-navigation` there is multiple libs to be install like:

[code]

So do I need the above 4 packages for only `react-native-screens/native-stack` ?

[2020-07-27 14:19] mrousavy opened #579 "InteractionManager.runAfterInteractions not running at all! (In Production/Release builds)"
## Description

I am using a lot of `InteractionManager.runAfterInteractions(() => ...)` calls throughout my project.

For example, I have a **feed of multiple posts** in my HomeScreen (Tab Navigator) and each post has `useEffect` and `useFocusEffect` hooks which call `InteractionManager.runAfterInteractions` inside the hook to schedule loading extra post data after some animations have completed.

[2020-07-28 04:44] muhammadwafa commented on #578
any help...

[2020-07-28 10:07] Evan-Younan commented on #543
Just came across this issue.

[2020-07-28 14:21] WoLewicki commented on #403
Can you check if #580 works the way it should?

[2020-07-28 14:43] #550 closed

[2020-07-28 17:31] awinograd commented on #556
One more note from me and sorry for the noise. It looks like my issue wasn't related to react-native-screens at all, but rather LayoutAnimation on android

[2020-07-29 03:24] kylsYw commented on #573
I have the same problem

[2020-07-29 05:26] hlandao commented on #579
Having the same issue here with react-native | 0.63.2 & rn-screens 2.9.0

[2020-07-29 09:05] WoLewicki commented on #579
Can you check if disabling `react-native-screens` fixes the issue?

[2020-07-29 09:15] WoLewicki commented on #578
For `native-stack`, you should only need `@react-navigation/native`. You can read it at https://github.com/software-mansion/react-native-screens/tree/master/native-stack#native-stack-navigator. Does it solve your issue?

[2020-07-29 09:53] WoLewicki commented on #415
Can you check if this issue happens when you create a new project with `react-native` version >=0.60.0? Because if not, then it seems like not an issue of the library itself.

[2020-07-29 10:00] mrousavy commented on #579
@WoLewicki I don't know how I should test this, since when I remove the `enableScreens()` call the app obviously won't work anymore since react-navigation depends on screens.

And I'm pretty sure if I remove screens, gesture handler, and react-navigation, the issue won't persist anymore since then it's just a simple single-page react native app. I could try this though if you need me to.

[2020-07-29 10:03] WoLewicki commented on #579
`react-native-screens` is not obligatory for `react-navigation` to work despite the `native-stack`.

[2020-07-29 10:11] mrousavy commented on #579
I've just tested removing `enableScreens()` and my app won't even start anymore..

[2020-07-29 10:35] WoLewicki commented on #572
Does this issue happen for any font you choose? It is weird that it would work on SDK 37, which uses `react-native-screens` v.2.2.0, which does https://github.com/software-mansion/react-native-screens/blob/2.2.0/ios/RNSScreenStackHeaderConfig.m#L350 and SDK 38 uses `react-native-screens` v.2.8.0 which does https://github.com/software-mansion/react-native-screens/blob/2.8.0/ios/RNSScreenStackHeader

[2020-07-29 10:37] WoLewicki commented on #520
Closing since #512 was merged. Feel free to comment if something is wrong.

[2020-07-29 10:37] #520 closed

[2020-07-29 10:40] WoLewicki commented on #546
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-07-29 10:40] #546 closed

[2020-07-29 10:45] WoLewicki commented on #579
You have to convert `native-stack` to normal `stack` in order to make it work without `react-native-screens`. You can also explicitly use `enableScreens(false)` at the root of the project.

[2020-07-29 11:22] muhammadwafa commented on #578
And `reactnavigation.org`  says:

`To finalize installation of react-native-gesture-handler, add the following at the top (make sure it's at the top and there's nothing else before it) of your entry file, such as index.js or App.js`

So we do we have to only `react-native-gesture-handler` ?

[2020-07-29 11:32] WoLewicki commented on #578
It is not needed for `native-stack`.

[2020-07-29 12:03] mrousavy commented on #579
I've replaced all my navigators with non-native stack navigators and called `enableScreens(false)` at the top of my `App.tsx` and the issue still persists. If `enableScreens(false)` really disables the whole lib then it's not part of my problem, thanks for helping me eliminate that possiblity i guess :/

@hlandao do you have any idea? Are you using react-native-shared-element?

[2020-07-29 12:32] WoLewicki commented on #579
`enableScreens(false)` disables the usage of `react-native-screens` in the project so if the issue persists, it is not the bug in this library. Can I close it then?

[2020-07-29 12:34] mrousavy commented on #579
Yes, I tried eliminating all other causes and finally came to the root of the problem. It's because of the `react-navigation-shared-element` library, created an issue over there: https://github.com/IjzerenHein/react-navigation-shared-element/issues/94. Hopefully it will get resolved soon, don't want to rewrite everything in react-native-navigation :(

Thanks for your help @WoLewicki.

[2020-07-29 12:34] #579 closed

[2020-07-29 14:13] mrousavy commented on #577
Also, here's another demo, seems related:

![RPReplay_Final1596031780 mov](https://user-images.githubusercontent.com/15199031/88811092-6eb79700-d1b6-11ea-806c-5b1a0c3fc1e9.gif)

I don't know why it flickers here and doesn't on the other demo, maybe because I'm using `SafeAreaView` here?

[2020-07-29 17:42] muhammadwafa commented on #578
@WoLewicki thank you very much, could you please let me know when it is needed `react-native-gesture-handler` ?

And also please if you know let me know do we need `react-native-reanimated` ? for `native-stack` animation?

[2020-07-29 21:40] watadarkstar commented on #364
This is still an issue for me in 2.9.0 using `react-navigation` v4. I'm using `tabBarVisible` because v4 can't do https://reactnavigation.org/docs/hiding-tabbar-in-screens/

[2020-07-30 07:16] saikats5 commented on #482
I am also facing the same issue

[2020-07-30 07:39] WoLewicki commented on #578
It is needed when you want to use it in your project. As I said, `native-stack` does not require `react-native-gesture-handler` and `react-native-reanimated`. Animations are native there. You can check it by making a simple project without those libraries installed.

[2020-07-30 07:57] muhammadwafa commented on #578
Thank you bro very much

[2020-07-30 08:23] rahulje9 commented on #114
I was on version `2.0.0-alpha.32` and this happened. so I upgraded all the packages and now I'm on `2.9.0` and still, this is happening to me.

[2020-07-30 08:24] WoLewicki commented on #578
No problem. Have a good day 🙂 I am closing it then, feel free to comment if you have any questions.

[2020-07-30 08:24] #578 closed

[2020-07-30 08:26] WoLewicki commented on #482
@saikats5 this issue has been addressed in #545. Did you follow the instructions from there?

[2020-07-30 08:31] WoLewicki commented on #364
What do you mean by v4 can't do something?

[2020-07-30 13:44] WoLewicki commented on #476
Is there anything else I can help you with here or can I close it?

[2020-07-30 13:49] WoLewicki commented on #405
Please follow #575 for any updates on this.

[2020-07-30 14:11] watadarkstar commented on #364
@WoLewicki v4 has this bug as this page does not exist in the documentation: https://reactnavigation.org/docs/4.x/hiding-tabbar-in-screens/

You can't hide the tab bar without this bug if you are on v4 of React Navigation. At least based on my research you need to be on v5 to be able to do this: https://reactnavigation.org/docs/hiding-tabbar-in-screens/ which doesn't exist in v4.

i.e. this page d

[2020-07-31 08:17] sebqq opened #581 "NativeStackNavigator - cannot call navigate in useEffect on iOS"
Hello,

I'm trying to fetch data when app is started and based on response I would like to show Modal to the user.

My modal screen is presented in RootNavigator, which is defined as NativeStackNavigator (`import {createNativeStackNavigator} from 'react-native-screens/native-stack'`) and code looks like:

[code]

My Home screen Inside `NativeStackNavigator (RootStack) -> BottomTabNavigator (TabNai

[2020-07-31 08:22] sebqq commented on #581
For everything that it is worth, this code was previously working correctly on some of older versions of _react-native-screens_ package

[2020-07-31 10:08] sebqq commented on #581
Solved by upgrading react native to 0.63.2.

[2020-07-31 11:22] fmarquin opened #582 "headerCenter not working on Android"
I am trying to include a custom component as a header. Just need to set a image and title in the center. The only one that works is headerRight. **Both headerCenter and headerLeft are not working.**
**Also I'm using typescript and in shows that screenOptions, headerCenter/left/right are not a valid option but headerLeft is working, so..**
I've tried using options and screenOptions.
Could you help

[2020-07-31 12:50] satya164 commented on #364
The page doesn't exist doesn't mean that you can't do it. I'm pretty sure you can nest a tab navigator inside the first screen of the stack in v4.

[2020-07-31 13:36] WoLewicki commented on #582
It should work when put in `options` for the `Screen`. Can you provide a snack/repo which shows that it does not work correctly?

[2020-07-31 14:56] watadarkstar commented on #364
@satya164 Haha yeah I realized that after I posted this comment. Long day!

[2020-07-31 17:19] kockok opened #583 "Adjust modal size and native-stack onDismissed"
I use this package with `react-navigation` V5.

I suggest to add an option to customize the height of the modal screen.

Besides, I currently use this code to popToTop:
[code]

When I swipe down to dismiss the modal, it won't directly `popToTop`.

I know that this package has a `onDismissed` prop and I want it to execute `navigation.popToTop();`.

However, I can't find a way to implement this with

[2020-08-01 16:00] ammichael commented on #472
So RN 0.63 is finally here and the problem persists. Any solution that doesn't require to work it around with timeouts?

[2020-08-01 17:40] fmarquin commented on #582
Hi, I wanted to create a snack but I couldn't due to a dependency issue. I've created a branch named 'screen-issue' and granted Guest permissions on gitLab, the project name is mobius-app. Just need to clone and npm install. It's an expo project. StackNavigatior.tsx is the file where I've set the header stuff. You will be able to check two things:
-headerCenter is not working, both in options and

[2020-08-01 20:03] Immortalin opened #585 "Status Bar Disable does not work on Android"
Unable to disable Status bar on Android with enableScreens()

[2020-08-02 20:43] a-eid opened #586 "How to enable/disable NativeStackNavigationOptions gestureEnabled with animated values ?"
I have been able to disable `gestureEnabled` with `PanGestureHandler` but I wasn't able to enable / disable either the stack props not `PanGestureHandler` `enable/disabled` props use `Animated.Value`

does any body have any idea ( possible hacky way ) to do that ?

[2020-08-03 01:22] #476 closed

[2020-08-03 01:22] Hirbod commented on #476
Thanks, Im good for now

[2020-08-03 02:04] a-eid opened #587 "How ot draw over a `formSheet` screen ?"
[code]

the View will always be behind the formSheet screen,

is there a way to have something render above the formSheet that's not a modal screen ?

[2020-08-03 07:36] WoLewicki commented on #582
Could you please make a GitHub repository with the code needed to reproduce the issue rather than granting me any permissions to private repositories? The issues should be available for everyone to reproduce/work on it.

[2020-08-03 07:51] WoLewicki commented on #472
Did you check on RN 0.63.2?

[2020-08-03 10:58] WoLewicki commented on #585
Can you provide a repo/snack with minimal configuration needed to reproduce the issue? I am not quite sure I understand what you mean by `disable`.

[2020-08-03 10:59] WoLewicki commented on #587
Could you check if it is not duplicate of #525?

[2020-08-03 12:13] a-eid commented on #587
@WoLewicki yeah, that's possibly duplicated.

[2020-08-03 12:13] #587 closed

[2020-08-03 12:15] a-eid commented on #525
I've the same issue, I'm trying to display a loader but can't draw over the 'formsheet' modal.

[code]

[2020-08-03 12:42] WoLewicki commented on #586
Can you provide a repo/snack with minimal configuration needed to understand the use case you are trying to achieve?

[2020-08-03 13:15] a-eid commented on #586
@WoLewicki I'm trying to enable / disable `gestureEnabled` with an `Animated.Value` without causing any rerenders.

but yea I have make a minimal repro example, that is not a bug thou, more of a feature request.

[2020-08-03 13:29] ammichael commented on #472
@WoLewicki yes, that's exactly the one we're using

[2020-08-04 13:56] dandre-hound commented on #570
@kyle-ssg how did you end up accessing the navigation prop?

[2020-08-05 08:56] sebqq commented on #581
Nope, the bug is still there.

[2020-08-05 09:40] sebqq commented on #581
Basically, I cannot navigate to another screen even after onReady callback from NavigationContainer was fired. Whole NativeStack is stucked at this point and none of screens from NativeStack are responding.

[2020-08-05 09:46] #394 closed

[2020-08-05 10:59] diego-paired opened #588 "Crash after upgrading to 2.10: undefined is not a function (near '...navigation.addListener...')"
![image](https://user-images.githubusercontent.com/55058765/89405047-dae44e80-d712-11ea-84de-f328e1f92209.png)

Downgrading to 2.09 makes the error go away.

[2020-08-05 12:15] WoLewicki commented on #588
Should be fixed in 2.10.1. Can you check?

[2020-08-05 12:29] diego-paired commented on #588
@WoLewicki It works again, thanks!

[2020-08-05 12:29] #588 closed

[2020-08-05 12:47] WoLewicki commented on #472
cc @janicduplessis

[2020-08-05 12:50] WoLewicki commented on #540
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-05 12:50] #540 closed

[2020-08-05 12:53] WoLewicki commented on #448
I am closing this issue to keep the discussion about `react-native-webview` in one place. Please see #105 for more information.

[2020-08-05 12:53] #448 closed

[2020-08-05 12:55] WoLewicki commented on #214
I am closing this issue to keep the discussion about `react-native-webview` in one place. Please see #105 for more information.

[2020-08-05 12:55] #214 closed

[2020-08-05 12:55] WoLewicki commented on #529
Is there anything more I can help you with regarding this issue? Or can I close it?

[2020-08-05 12:56] WoLewicki commented on #407
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-05 12:56] #407 closed

[2020-08-05 12:56] WoLewicki commented on #554
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-05 12:56] #554 closed

[2020-08-05 12:57] WoLewicki commented on #490
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-05 12:57] #490 closed

[2020-08-05 13:01] WoLewicki commented on #456
Closing this since it looks like it is unrelated to this library.

[2020-08-05 13:01] #456 closed

[2020-08-05 13:05] WoLewicki commented on #322
I will close it to keep the discussion about the issue in one place. Please see #432 for more information.

[2020-08-05 13:05] #322 closed

[2020-08-05 13:05] WoLewicki commented on #528
I will close it to keep the discussion about the issue in one place. Please see #432 for more information.

[2020-08-05 13:25] kamlesh71 commented on #540
I am also facing the same issue, I've stack navigation in bottom tabs, and when I am moving between tabs, header flickers.

[2020-08-05 14:02] WoLewicki commented on #540
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-08-05 14:24] WoLewicki commented on #251
I am closing this issue. Feel free to comment if you have any questions.

[2020-08-05 14:24] #251 closed

[2020-08-05 14:36] jacobp100 commented on #529
Sorry, I got nowhere fixing this issue, and I no longer work at the company that was having the issue. I do remember reaching the same conclusion as you for the cause - I just wasn't able to fix it. I think it's a nice to have if it can be supported though.

[2020-08-05 17:16] tedi commented on #529
I'm also experiencing the same issue. I ended up creating a new flow for my use case, but I also experienced the same thing when calling React Native Modal on load from a Modal screen.

[2020-08-06 08:44] WoLewicki commented on #513
Navigation events are available in version 2.10.1. Can you check if it is what you need and, if so, can I help you any more or can I close this issue?

[2020-08-06 08:45] WoLewicki commented on #557
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-06 08:45] #557 closed

[2020-08-06 09:05] clems36 commented on #61
This doesn't seem to be an issue for me anymore after upgrading to the following versions:

[code]

[2020-08-06 09:10] WoLewicki commented on #576
In https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenStackFragment.java#L189 you can change that if to `return ((ScreenStack) container).getRootScreen() != getScreen();` and comment the code below it. I will look at why it is implemented like that.

[2020-08-06 09:16] kyle-ssg commented on #576
Thanks for looking at this, by the way I have to say so far this is an outstanding package! Glad so far to be transitioning away from react-native-navigation to this.

[2020-08-06 09:37] WoLewicki commented on #576
There are many things to be implemented still but thanks for the kind words 🙂

[2020-08-06 09:43] WoLewicki commented on #583
As for the height of modal, you can look at https://github.com/software-mansion/react-native-screens/issues/530, and for the events, in 2.10.1, the navigation events were added to `native-stack`, in #499. Does it solve your issue?

[2020-08-06 10:29] WoLewicki commented on #581
I cannot say much without having a repo to work on. Also, you can try and look in Xcode if the modal screen can be seen in the View Hierarchy.

[2020-08-06 10:36] thanakij commented on #105
Hi, can you set `renderToHardwareTextureAndroid={true}` props for WebView component to see if it resolves the crash? This is just a hypothesis but if this works, it means this is a workaround without having to wait for the settlement from _react-native-webview_.

Btw, you may have to make sure that you didn't set `androidHardwareAccelerationDisabled` props for WebView component.

[2020-08-06 10:44] sebqq commented on #581
I've managed to make it work. The problem was in bootsplash package. I was previously hiding Boot screen using timeout. Everything is working correctly after I removed timeout. Thanks for response!

[2020-08-06 10:45] #581 closed

[2020-08-06 12:16] WoLewicki commented on #105
@thanakij it works, but you probably do not want to have the WebView with hardware acceleration enabled all the time. The bug happens when transitioning between screens because Android sets the screen's layer to hardware for the duration of the transition and `WebView` having `LAYER_TYPE_NONE` at that time causes the crash to happen.
So maybe subscribing to navigation events would be a way to ensu

[2020-08-06 12:24] WoLewicki commented on #571
It is probably the same issue as #432. There are problems with aligning header buttons on iOS and it seems like it is not too easy to resolve it.

[2020-08-06 12:28] kyle-ssg commented on #571
Hmm I'm not 100% sure @WoLewicki, happy to trust judgment but this seems a little less random than the one mentioned there. This seems to be literally the centre view being padded left by the exact width of the back button?

[2020-08-06 13:08] WoLewicki commented on #571
Yeah, if you put a simple View in the `headerCenter`, it will misaligned too. It is mentioned in a comment https://github.com/software-mansion/react-native-screens/issues/432#issuecomment-644639697.

[2020-08-06 13:12] kyle-ssg commented on #571
Ah. This is quite a big issue then, should I close in favour of #432?

[2020-08-06 13:13] thanakij commented on #105
I could not agree more. Your solution is much cleaner. Do you have a chance to test this in production with Crashlytics?

[2020-08-06 13:14] #571 closed

[2020-08-06 13:15] kyle-ssg commented on #432
Closed https://github.com/software-mansion/react-native-screens/issues/571 for this as seems to be related. I shouldn't be the one to dictate priority but this seems really important, it's really not ideal to have production apps experience this.

[2020-08-06 13:20] WoLewicki commented on #80
All of the changes for the new version are now listed in https://github.com/software-mansion/react-native-screens/releases so I am closing this issue. Feel free to comment if you have any questions.

[2020-08-06 13:20] #80 closed

[2020-08-06 13:39] WoLewicki commented on #105
If someone from the thread could apply this setup in the app to test if this solution works, it would be great. @SMJ93 could you check if subscribing to navigation events resolves the issue?

[2020-08-06 14:05] WoLewicki commented on #472
@ammichael can you be more specific on what exactly does not work and could you provide a repo with an easy reproduction of the issue?

[2020-08-06 14:06] WoLewicki commented on #526
Large title snaps only when it is translucent and it is expected behavior. About the sticky indices, there is already an issue #542. Can I close it then?

[2020-08-06 15:30] clems36 commented on #208
I'm still experiencing this issue with  `"react-native-screens": "~2.9.0",` both on iOS and android.
`useScreens` gives the same result.

[2020-08-07 09:18] kockok commented on #583
No, I only want `onDismissed` to work.

[2020-08-07 09:41] WoLewicki commented on #583
https://github.com/software-mansion/react-native-screens/tree/master/native-stack#dismiss probably this is the name of the event you are looking for.

[2020-08-07 09:58] kockok commented on #583
Yeah I know that...
However, what I want to know is that why `native-stack` won't have the `onDismissed` prop?
What I want is: `A(screen)->B(screen)->C(Modal)` then swipe down to navigate `C(Modal)->A(screen)`
But using listeners would like:`A(screen)->B(screen)->C(Modal)` then `C(Modal)->B(screen)->A(Screen)`.

[2020-08-07 10:06] WoLewicki commented on #583
Because the `native-stack` does not have such prop. It is a property of a `Screen` component and is used by `native-stack` to trigger navigation actions of dismissing a screen and emitting navigation event 'dismiss'. https://github.com/software-mansion/react-native-screens/blob/master/src/native-stack/views/NativeStackView.tsx#L96 you can see that it calls 'pop' action. If you want your own action

[2020-08-07 10:54] kockok commented on #583
How to override this function?
[code]
I hope that the maintainers can add an option to customise the `...StackActions.pop()` to `...StackActions.popToTop()`

[2020-08-07 10:56] WoLewicki commented on #583
Just apply a patch to this file in your `node_modules`. You can use [patch-package](https://www.npmjs.com/package/patch-package).

[2020-08-07 11:05] kockok commented on #583
OK, let me know if `...StackActions` could be customized officially.

[2020-08-07 11:05] #583 closed

[2020-08-07 11:07] WoLewicki commented on #583
This behavior won't be changed to what you would want because it would result in every dismiss to pop the whole stack, which does not make sense in most cases.

[2020-08-07 11:23] WoLewicki commented on #320
You should use `headerTranslucent: true` and `contentInsetAdjustmentBehavior` prop set to "automatic" on your `ScrollView` component. Setting it should make the `ScrollView` with `largeHeader` behave the way it was designed by Apple. Does it solve your issue?

[2020-08-07 11:29] arjndr commented on #526
Yes!

[2020-08-07 11:31] #526 closed

[2020-08-07 12:35] WoLewicki commented on #102
Can you check if #594 fixes this issue?

[2020-08-07 13:21] WoLewicki commented on #505
If you mean sticky indices by another behavior, it is managed by `react-native` and is in the scope of another issue. Not using a translucent large header with ScrollView and `contentInsetAdjustmentBehavior="automatic"` is not recommended and may cause glitches like this one. I am closing this issue then. Feel free to comment if you have any questions.

[2020-08-07 13:21] #505 closed

[2020-08-07 14:57] docnbs commented on #421
Having the same issue. Sharing the details if it helps.

![image](https://user-images.githubusercontent.com/9844094/89658431-2c940100-d8ec-11ea-95c6-6ae1fd1cc847.png)
Details: Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.edfone/com.edfone.MainActivity}: androidx.fragment.app.Fragment$InstantiationException: Unable to instantiate fragment com.swmansion.rns

[2020-08-07 15:01] docnbs commented on #408
Having the same issue. Please share if there is a proper fix. Sharing details if it helps.

1. Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{com.appname/com.appname.MainActivity}: androidx.fragment.app.Fragment$InstantiationException: Unable to instantiate fragment com.swmansion.rnscreens.ScreenFragment: calling Fragment constructor caused an exception

Fatal E

[2020-08-08 01:35] yareyaredesuyo opened #595 "How to add headerLargeRight component when headerLargeTitle is enabled?"
I think there is no option to add headerLargeRight component, when headerLargeTitle is enabled.
This feature is common in iOS App.

Is there any way to achieve this?

The following image is a sample which has headerLargeRight component in app.

![UNADJUSTEDNONRAW_thumb_3](https://user-images.githubusercontent.com/31843888/89699532-97801f00-d962-11ea-8aae-35565b859a25.jpg)

[2020-08-08 16:54] Kinark opened #596 "Change backgroundColor of the card behind a modal"
When a modal pops up, the behind content dims (gets darker/less opacity), however, if we are working on a dark themed app (with a black bg), the background should turn to gray when a modal pops up (notice the grayish card in the back).
![image](https://user-images.githubusercontent.com/17537081/89715754-77f6ef80-d97e-11ea-9a92-2b13ee02d962.png)
when working with a black background and the modal po

[2020-08-09 09:25] emilisb commented on #582
Same issue on iOS. `headerCenter` and `headerLeft` are not working, `headerRight` works.

[2020-08-09 21:42] Aryk opened #597 "transparentModal with react-navigation does not allow for navigations outside the stack"
Once I open either a navigator or a screen using "transparentModal", I cannot navigate to anything that is not contained within the transparentModal without navigating "back" and closing the modal first.

The issue with this is if a user clicks on a notification and is in a transparentModal, nothing will happen.

I'm using react-navigation v5, expo managed workflow SDK 38.0.  My yarn.lock reports

[2020-08-10 07:42] WoLewicki commented on #408
@docnbs does this fix the issue: https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704067?

[2020-08-10 07:45] WoLewicki commented on #582
@emilisb could you give me a link to the outdated docs?

[2020-08-10 10:35] WoLewicki commented on #595
According to https://stackoverflow.com/questions/55539363/navigation-bar-with-large-titles-and-right-uibarbuttonitem, there is no such option in native iOS, it has to be handled manually. Can I help you more with this?

[2020-08-10 10:44] SMJ93 commented on #105
Hey @WoLewicki, thank you for taking a look and sorry for the delayed response - I've been very busy the last few weeks.

It looks like adding the navigation events as you suggested above has fixed the issue! I've tested in both debug and with a release APK. I'll push this out to production later this week and keep an eye on it.

We used a WebView wrapper so it applies to all WebViews we are using

[2020-08-10 13:58] WoLewicki commented on #543
You should specify `scrollToOverflowEnabled={true}` if you want to apply negative values of `scrollTo`, otherwise they will be set to 0. You can see it here: https://github.com/facebook/react-native/blob/master/React/Views/ScrollView/RCTScrollView.m#L511. Does it solve your issue?

[2020-08-10 14:19] Evan-Younan commented on #543
I should have noticed that. Thanks!

[2020-08-10 14:35] WoLewicki commented on #543
I am closing this issue then. Feel free to comment if you have any questions.

[2020-08-10 14:35] #543 closed

[2020-08-10 18:39] ArekChr commented on #543
How to get large title header height to apply it as negative value of `scrollTo`?

[2020-08-10 19:51] docnbs commented on #408
@WoLewicki Thanks for sharing. Will check and revert.

[2020-08-11 07:54] WoLewicki commented on #543
The large header's height is 116.

[2020-08-11 09:23] WoLewicki commented on #542
The problem with sticky header is the problem with how `react-native`'s `ScrollView` component works. You can submit an issue in the repo regarding the implementation of https://github.com/facebook/react-native/blob/master/Libraries/Components/ScrollView/ScrollViewStickyHeader.js and suggest to be able to take into account the offset of the iOS translucent header when calculating the start of the

[2020-08-11 09:23] #542 closed

[2020-08-11 11:00] WoLewicki commented on #582
I am closing this issue as it seems to be resolved. Feel free to comment if I am wrong.

[2020-08-11 11:00] #582 closed

[2020-08-11 11:02] Evan-Younan commented on #543
@WoLewicki it is 140 in my cases. 116 can't be true always.

[2020-08-11 11:24] WoLewicki commented on #543
My bad then. It seems that on the bigger phones it is 140 due to notch. You can look at this thread to see updates on exposing the header's height: https://github.com/software-mansion/react-native-screens/issues/430.

[2020-08-11 12:30] WoLewicki commented on #586
So please provide a repo that shows what you would like to achieve.

[2020-08-11 18:23] mezalejandro opened #599 "Header Component"
Hello everyone, is it possible to have a header component and not a string?

[2020-08-11 20:41] Evan-Younan commented on #430
Any thoughts on this issue? Currently looking into calculating the height of the header on iOS given a largeTitle is supplied.

In my use case, it is so be able to scroll to the top of a ScrollView (with a proper inset calculation of the largeTitle) properly so that the largeTitle is shown.

[2020-08-11 22:51] LRNZ09 commented on #387
I still have this issue with version `2.10.1`

[2020-08-12 01:37] adkenyon commented on #463
We're seeing the same issue in production. Working to find a device and replication steps.

[2020-08-12 07:16] WoLewicki commented on #387
@LRNZ09 but what is your issue?

[2020-08-12 08:51] WoLewicki commented on #263
It might not be possible to change the direction of dragging to dismiss a modal from the native side. If you find an example where it is done on the native side, please share an example.
About disabling the gesture on the modal and the thread from SO you sent @berkaey, you can use RNGH to catch the gesture events. You can look at the gist:  https://gist.github.com/WoLewicki/7a6f5ceebc228ad5ac8aaeb

[2020-08-12 08:53] WoLewicki commented on #599
What do you mean by "string"? Headers in native-stack are native components and can only be changed by the props regarding them: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#options.

[2020-08-12 08:54] Aryk commented on #597
I tried making the snack and it was working there...I was able to get it working in my code, by running two navigate commands. Is it bad practice to run two navigate commands back-to-back?

[2020-08-12 08:56] WoLewicki commented on #597
Navigation events bubble up IIRC, so if it gets things done, I think it is OK. Can I close this issue then?

[2020-08-12 09:25] LRNZ09 commented on #387
@WoLewicki sorry for not being so explicit, I resolved with the layout issue using @arjndr’s solution, but I still can't enable the translucent header

[2020-08-12 09:26] WoLewicki commented on #430
I think the best way to do it is to use `react-native-safe-area-context`. On iOS, it should always be `safeArea.top` + 96 for large header and `safeArea.top` + 44 for small header. Does it solve your issue?

[2020-08-12 09:30] WoLewicki commented on #387
What do you mean by not being able to enable it? You can check this medium post to see how it works from iOS 11: https://medium.com/@wailord/the-particulars-of-the-safe-area-and-contentinsetadjustmentbehavior-in-ios-11-9b842018eeaa. `react-native-screens` sets `edgesForExtendedLayout` to `UIRectEdgeAll` when setting the `translucent` to `true.

[2020-08-12 09:35] LRNZ09 commented on #387
@WoLewicki I’ve just set `headerTranslucent`to `true` in the `screenOptions` prop of `NativeStack.Navigator`

[2020-08-12 09:38] WoLewicki commented on #387
And it didn't change anything? Can you provide a snack/repo that shows the problem?

[2020-08-12 09:41] sallar commented on #387
`NativeStack.Navigator` sounds like react-navigation and not react-native-navigation 🤔

[2020-08-12 12:13] mezalejandro commented on #599
Hello @WoLewicki I am testing like this:
[code]
but it does not work, like this if:
[code]

[2020-08-12 12:17] WoLewicki commented on #432
Can you check if #600 resolves the issue and if it does not introduce other unwanted behaviors?

[2020-08-12 12:25] WoLewicki commented on #599
Yes, but you have to use `headerCenter`: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headercenter

[2020-08-12 13:53] imamarham10 commented on #124
you are wrong,any issue can never be outdated, there are unnumerable beginners coming to dev world

[2020-08-12 17:29] LRNZ09 commented on #387
I'm working on this repo https://github.com/LRNZ09/match-app I've added a red box on the welcome page to test the translucency

[2020-08-12 21:52] hadnet commented on #513
It works! Problem solved. Thanks.

[2020-08-12 21:53] #513 closed

[2020-08-12 22:21] Evan-Younan commented on #430
I haven't tested it on multiple configurations but it seems like it is calculated properly at 96 + inset.top. If I notice any issues, I'll make a comment.

[2020-08-13 05:54] hadnet commented on #489
I'm notice when I use Native Stack Navigator the animation on Android is just the old "fade out" animation and when I use Stack Navigator from React Navigation I got this "new" bottom-up kind of Android animation. Why this difference?

[2020-08-13 09:37] WoLewicki commented on #387
Could you provide a minimal repo needed to reproduce the issue so everybody can easily work on it? It would be best if it would have only the needed libraries.

[2020-08-13 09:46] WoLewicki commented on #489
Stack Navigator doesn't use native animations. Instead, it implements all the animations in JS so there are no restrictions on what can be done there from the native side. You can see them e.g. there: https://reactnavigation.org/docs/stack-navigator/#pre-made-configs

[2020-08-13 11:15] WoLewicki commented on #361
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-13 11:15] #361 closed

[2020-08-13 11:24] WoLewicki commented on #596
Can you provide a repo/snack with minimal configuration needed to reproduce the issue so I can work on it?

[2020-08-13 11:35] WoLewicki commented on #576
This code is needed for displaying the back button in "modal" screens on Android and it should stay like that (suggested by @kmagiera). Disabling back button on the screen is the recommended way of doing it then to keep the consistency between iOS and Android. Can I close this issue then?

[2020-08-13 11:41] WoLewicki commented on #577
Yeah, it may have something to do with `SafeAreaView`. Could you try if it can be reproduced without it?

[2020-08-13 11:53] WoLewicki commented on #401
About the inactivity of the screen under the modal, there is already an issue: #233. I will close this issue to keep the discussion in one place. If you have any questions, feel free to comment.

[2020-08-13 11:53] #401 closed

[2020-08-13 11:54] WoLewicki commented on #535
@Aryk I believe it is #525. Can I close this issue to keep the discussion in one place then?

[2020-08-13 20:52] LRNZ09 commented on #387
@WoLewicki Sure, here's a snack https://snack.expo.io/@lrnz09/header-translucent-bug

[2020-08-14 10:38] WoLewicki commented on #276
Can you check if #602 resolves your issue?

[2020-08-14 10:40] WoLewicki commented on #599
I am closing this issue. Let me know if the solution is not what you are looking for in order to reopen it.

[2020-08-14 10:40] #599 closed

[2020-08-14 10:47] WoLewicki commented on #387
@LRNZ09 you are using `contentInsetAdjustmentBehavior="automatic"` on `ScrollView`, which adds inset equal to header's height, so the first element of this `ScrollView` appears below it. You can see my comment: https://github.com/software-mansion/react-native-screens/issues/387#issuecomment-644786421. To check that the header is translucent, you can apply something like
[code]
and see the differen

[2020-08-14 12:08] WoLewicki commented on #395
I tested it and it looks like applying this commit: https://github.com/facebook/react-native/commit/1b0fb9bead4d158d14df5a994423d06716b5e377 and setting the `translucent` header and `contentInsetAdjustmentBehavior=“automatic”` on your ScrollView (which are recommended options) makes the `RefreshControl` work correctly. Can someone check it too?

[2020-08-14 12:30] #276 closed

[2020-08-14 12:52] WoLewicki commented on #558
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-14 12:52] #558 closed

[2020-08-14 13:26] LRNZ09 commented on #387
@WoLewicki ok so, the problem here is that you have to add a transparent background color to see the translucent effect. But I remember in an old version of the native stack it wasn't mandatory and just `headerTranslucent` was enough

[2020-08-14 13:32] WoLewicki commented on #387
It may have been like that. Can I help you any more with this or can I close this issue?

[2020-08-14 13:35] LRNZ09 commented on #387
Yeah I guess this can be closed now

[2020-08-14 13:53] #387 closed

[2020-08-14 15:56] maystrenkoYurii opened #604 "topInsetEnabled only android"
But i have disable inset for ios, end add custom top padding. Style root container props need add
![Снимок экрана 2020-08-14 в 18 55 53](https://user-images.githubusercontent.com/23016311/90268510-cc5b0d00-de5f-11ea-90b6-f7bb0fccc0a9.png)

[2020-08-15 08:54] JB1905 opened #605 "Is it possible to set headerTruncatedBackTitle?"
Is it possible to set headerTruncatedBackTitle in `createNativeStackNavigator` like in [`createStackNavigator`](https://reactnavigation.org/docs/stack-navigator/#headertruncatedbacktitle)?

[2020-08-15 11:48] maxzinchenko commented on #538
hey, did you solve that issue?

[2020-08-15 12:23] iagormoraes commented on #111
I spotted another issue about going back, the SVG from `react-native-svg` goes transparent when you go back the screen, on navigating to a screen it behaves correctly.

[2020-08-15 15:44] ArekChr commented on #538
Yes, i set header transculent to true and bacgkorund with transparency

[2020-08-15 19:56] Immortalin commented on #585
Making the status bar invisible until swiped. I meant hidden, not disable https://reactnative.dev/docs/statusbar

[2020-08-15 20:00] #585 closed

[2020-08-16 05:21] maxzinchenko commented on #538
Thanks, I'll try :)

[2020-08-16 19:06] kyle-ssg opened #606 "Feature request: ability to add an overlay component"
Considering the scenarios I may encounter using this, I see a need to be able to define an overlay component that can sit above the navigation bar, this is a concept that react-native-navigation has https://wix.github.io/react-native-navigation/docs/overlay.

This would make adding drawer layouts or anything that needs to be above the navigation bar a lot easier.

[2020-08-17 10:03] dgcoffman commented on #489
Is it really impossible to implement a sliding animation? Android's "Navigate between fragments using animations" at https://developer.android.com/training/basics/fragments/animate have this exact animation as an example.

[2020-08-17 10:09] WoLewicki commented on #604
I don't understand what is the problem? Could you describe it more clearly? `topInsetEnabled` is a prop only for Android since on iOS the status bar is translucent by default.

[2020-08-17 10:11] WoLewicki commented on #605
According to https://stackoverflow.com/a/50148259/13006595, it is not possible to determine if the title will be truncated from the native side and I cannot see such an option too, so I am afraid it is not possible. Can I help you more with it?

[2020-08-17 14:18] WoLewicki commented on #432
#600 should be ready now. Can you check if it does not destroy any of your behavior? @kyle-ssg @lnmunhoz

[2020-08-17 15:29] JB1905 commented on #605
@WoLewicki thanks you for your answer 😃

[2020-08-17 15:29] #605 closed

[2020-08-17 18:25] spencercarli commented on #432
@WoLewicki I've been testing #600 in my app (where I could occasionally reproduce the issue) and haven't seen it since I installed your PR. Haven't seen any sort of regression either.

So, from my perspective, it looks good!

[2020-08-18 01:32] robbiedh commented on #415
any progress for this issue???

[2020-08-18 07:42] olapersson commented on #572
@WoLewicki I have the same problem, afaict it happens to any font. I did my repro with the google font package as it was easier but the behavior seems to be identical to any loaded font. As it happened on a expo update I opened an issue at expos tracker: https://github.com/expo/expo/issues/9795

A reproduction can be found here https://github.com/olapersson/expo-font-issue

[2020-08-18 10:02] #430 closed

[2020-08-19 12:28] WoLewicki commented on #596
Also, I am afraid that this grayish color comes from the usage of the system colors introduced in iOS 13. It is probably dynamic .systemBackground color for an elevated layer. (check 10:00 here https://developer.apple.com/videos/play/wwdc2019/808). In `react-native` you can use this color with `PlatformColor`. Applying https://github.com/facebook/react-native/blob/master/RNTester/js/examples/Platf

[2020-08-19 14:04] WoLewicki commented on #489
If you could make a PR with such implementation (it would be best if it was implemented in code, not XML file), then I would love to review it.

[2020-08-19 14:05] WoLewicki commented on #567
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-08-19 14:05] #567 closed

[2020-08-19 14:33] WoLewicki commented on #415
I tested if the error appears on a new project in every RN version supported by `react-native-screens`: 0.60, 0.61, 0.62, 0.63, and on each of these versions using `react-native-screens` does not cause any errors. This issue may come from not properly upgrading from one of the older versions of RN and is not in scope of the library. I am closing this issue then. Feel free to comment if you have an

[2020-08-19 14:33] #415 closed

[2020-08-19 14:43] #403 closed

[2020-08-19 16:25] Kinark commented on #596
But if I apply a fixed `backgroundColor` to my headerStyle, I'll get a static gray header even when it's in first plan. What I want to achieve is a 100% black background that turns gray when in second plan.

Take a look at this native app:
[NativeApp.zip](https://github.com/software-mansion/react-native-screens/files/5097827/NativeApp.zip)

[2020-08-19 17:01] Kinark commented on #596
Oh, nevermind. It worked just perfect :D

Thanks, @WoLewicki!!!

[2020-08-19 17:01] #596 closed

[2020-08-20 12:28] WoLewicki commented on #504
I looked at it again and it seems that breaking the constraints of the UILabel height in the large title is fixed by changing the header to be small on the previous screen. It is required to have `headerTranslucent` set to `true` and `ScrollView` with `contentInsetAdjustmentBehavior="automatic"` as a root view of the screen (they are recommended options with large header anyway). You can see it on

[2020-08-20 12:28] #504 closed

[2020-08-20 12:42] WoLewicki commented on #320
I am closing this issue since it should be resolved. Feel free to comment if something is wrong.

[2020-08-20 12:42] #320 closed

[2020-08-20 12:44] WoLewicki commented on #395
I am closing this issue since there is nothing more to do from the side of `react-native-screens`. Feel free to comment if something is wrong to reopen it.

[2020-08-20 12:44] #395 closed

[2020-08-20 13:11] ardentum commented on #463
We have the same issue is production. According to logs in Crashlytics we know that it happens on screens with webview.
We have already added workaround for webviews with `renderToHardwareTextureAndroid`, and may it's related to crashes?

[2020-08-21 00:31] Evan-Younan opened #608 "[Feature Request] UISearchBar for iOS with Native Header"
React Native Navigation has implemented the UISearchBar that exists in the native TopBar of iOS. It has options such as: `hideNavBarOnFocusSearchBar`, `searchBarHiddenWhenScrolling`, etc., which is a common UI element in a few native iOS applications that I use. I am just wondering if the implementation of a UISearchBar as one of the options to the navigation header is something that was already t

[2020-08-21 09:53] kamalpandey opened #609 "Startup crash on Android"
[code]

[code]

[2020-08-21 10:55] Abhishek12345679 opened #610 "Content overlapping on screen transitions [createNativeStackNavigator]"
react native :  0.62
react navigation v5 :
react-navigation/native : ^5.7.3
react-navigation/stack : ^5.9.0
expo - 38.0.8

![glitch](https://media.giphy.com/media/dz0r9IAANO17GIjaxj/giphy.gif)

I am using `createNativeStackNavigator` and i have headerLargeTitle enabled .
This glitch usually happens for longer lists but , does happen on shorter lists too.

Repro-

You can reproduce this error on iO

[2020-08-21 13:37] rubengt01 opened #611 "iOS) TabNavigator inside NativeStackNavigator with modal presentation is not working properly"
Screens:
- NativeStackNavigator with Screen1, Screen2 & Screen3
- Screen3 is a BottomTabNavigator with three tabs Tab1, Tab2 & Tab3.
- Screen3 (TabScreen) has `stackPresentation: "modal"`
- The full code example in Snack showing the problem: [link](https://snack.expo.io/@rubengt01/tabnav-inside-nativestacknav)

Repro steps:
- Run the example in iOS
- From Screen1 open Screen2 and then Screen3.
- I

[2020-08-24 07:16] WoLewicki commented on #534
@Administaror please submit a repo with a minimal configuration that shows the issue so I can confirm there is a bug.

[2020-08-24 07:21] WoLewicki commented on #604
Can you provide a repo that shows the problem? If you mean that there should be a prop for padding on iOS, then I think there should not be one since the height of the header is provided by the iOS and changing it is not recommended by Apple's HIG for sure.

[2020-08-24 09:21] WoLewicki commented on #609
How do you know it is a problem of `react-native-screens`? Also, could you provide a repo/snack on which I can reproduce the issue?

[2020-08-24 09:34] WoLewicki commented on #463
@ardentum if you are talking about https://github.com/software-mansion/react-native-screens/issues/105#issuecomment-669891558 as a workaround, it only works on `native-stack` since normal `stack` navigator does not fire the same events so it won't work there. Could you try and add this change: https://github.com/software-mansion/react-native-screens/pull/607 if you are using `stack` navigator and

[2020-08-24 09:34] WoLewicki commented on #610
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-08-24 09:59] Administaror commented on #534
Im Buged!!

[2020-08-24 23:31] Evan-Younan commented on #608
It seems like this can be achieved by manipulating the `headerShown` option of the header. If the TextInput can emit `focus` and `blur` events, this behaviour can be achieved by simply toggling the option. If there are any issues I see with this approach, I'll post an update.

[2020-08-24 23:31] #608 closed

[2020-08-25 08:05] ardentum commented on #463
@WoLewicki Yes, I mentioned your comment for #105. We use `stack`, and there was a lot of crashes on screens with webview, but your workaround somehow helped us. Maybe just for some cases. Thank you!

[2020-08-25 08:16] WoLewicki commented on #463
Hmm Ok, @adkenyon @henrymoulton @akontaroudis can you elaborate on if this crash happens only on screens with `WebView`?

[2020-08-25 09:22] WoLewicki commented on #432
@FrankFundel can you check if #613 resolves your problem introduced in #600? Also, @spencercarli can you check if it does not destroy the good behavior of #600? @kyle-ssg @lnmunhoz @matt-oakes can you check if #600 + #613 resolve the bugs you discovered?

[2020-08-25 09:27] kyle-ssg commented on #432
This has been on my todo for a few days, I'll prioritise testing this in the evening @WoLewicki, thanks for letting me know again.

[2020-08-25 11:54] FrankFundel commented on #432
@WoLewicki this does not fix my problem :(

[2020-08-25 12:03] WoLewicki commented on #432
@FrankFundel can you provide a repo/snack that shows the problem then?

[2020-08-25 14:27] WoLewicki commented on #233
Does the issue still exist in the newest version of the library? And if so, can you provide a repo/snack that shows this bug?

[2020-08-25 14:44] WoLewicki commented on #268
@Hirbod can you check if #614 fixes this issue and does not create any new problems?

[2020-08-25 16:43] adkenyon commented on #463
Looking at our error logs, the large majority of crashes are on app start, of the ones not happening on app start, I don't see any correlation with screens that have web views.

[2020-08-25 17:06] janicduplessis commented on #233
Looks like it doesn't, I removed the hack I was using and it works now!

[2020-08-25 17:06] #233 closed

[2020-08-25 17:17] sintylapse commented on #542
@ArekChr any luck on fixing this?

[2020-08-25 17:18] ArekChr commented on #542
Unfortunately no

[2020-08-25 18:42] Abhishek12345679 commented on #610
[Link to github repo for the repro](https://github.com/Abhishek12345679/GlitchRepro)

It is an expo init app

[2020-08-26 07:14] WoLewicki commented on #610
I think it is not a glitch. You provided `headerStyle: { backgroundColor: "#ffffff00" }` which means it has 0 alpha value, so it is transparent. At the beginning of the transition, the content of the below screen appears under that header and it is fully visible due to that 0 alpha value. After the transition, it stops to be transparent since you didn't provide `headerTranslucent: true` which woul

[2020-08-26 09:41] Abhishek12345679 commented on #610
yeah removing the headerStyle did the trick , don't know why i put it there in the first place.

[2020-08-26 09:44] WoLewicki commented on #610
Great! Can I close this issue then?

[2020-08-26 10:20] #610 closed

[2020-08-26 14:16] #198 closed

[2020-08-26 15:07] WoLewicki commented on #111
@iagormoraes can you provide a repo/snack with this bug in a new issue?

[2020-08-26 15:09] WoLewicki commented on #576
I am closing this issue since there is nothing more I can help you with regarding it. Feel free to comment if I am wrong.

[2020-08-26 15:09] #576 closed

[2020-08-26 15:12] WoLewicki commented on #525
Can you provide a repo with the thing you want to achieve so I could work on it?

[2020-08-26 15:13] kyle-ssg commented on #576
Sorry missed this - Yep, after reconsidering I think that independent NavigationContainers have almost 0 usecases.

[2020-08-26 15:54] a-eid commented on #525
Hi @WoLewicki
this repo explains the issue ( at least the one I'm having.)

https://github.com/a-eid/react-native-native-stack-global-loader

you can see that when we have a `formSheet` screen the loader is behind the screen unlike the normal screen. please let me know if you need more context.

I wan't to do another example for toast but it basically is the same idea.

thank you.

[2020-08-26 18:20] kyle-ssg commented on #432
@WoLewicki This 100% fixes my issue!

Prior to npm/pod install

**Before**
<img src="https://prnt.sc/u6e11z"/>

**After**
<img src="https://prnt.sc/u6e28h"/>

[2020-08-26 23:04] a-eid commented on #525
it's also worth noting that this happens also with other modals.

[2020-08-27 01:59] Abhishek12345679 commented on #525
also a modal screen (using stackPresentation:modal) does not pop up over a [react-native-modal](https://github.com/react-native-community/react-native-modal)'s modal component.

[2020-08-27 07:10] WoLewicki commented on #576
Some inconsistencies will always arise from the fact that these are 2 different platforms and we are using native behavior for each of them.

[2020-08-27 07:34] WoLewicki commented on #597
Closing this issue since I think there is nothing more I can help you with regarding it. Feel free to comment if I am wrong.

[2020-08-27 07:34] #597 closed

[2020-08-27 11:55] WoLewicki commented on #525
@a-eid regarding your example: the loader will not load above the modal this way since all the views displayed under the root view of the application will be displayed also under the modal screens. You can spot the same thing while using `Modal` component from `react-native`. It is like so because of the native view hierarchy of iOS. Roots of the modals are above the react's root view, so the only

[2020-08-27 13:32] a-eid commented on #525
@WoLewicki thank you for the reply.

I'm wondering how would you display toasts on a 'formSheet' screens ?

[2020-08-27 14:20] WoLewicki commented on #525
About the first question, what is the difference of having `formSheet` screens for displaying toasts? I think the approach should be the same, the `Toast` should be a child of the `Screen` component in order to be visible over the modal screen. You probably cannot use `transparentModal` then because it disables touches on the screens under it.

About the second question, I am not sure what you mea

[2020-08-27 14:26] a-eid commented on #525
global toasts are great when you have a background task ( socket connection or even an api request ). and you wanna notify the user when the task is finish ( success | error ). there is no way to find out where the user is on the app.

global toasts & loaders have a single mount point which is really great for those cases and convenient for almost all other cases.

I'm not really that familiar wit

[2020-08-27 14:38] ANIBIT14 opened #616 "Getting this crash in production android build - Fatal Exception: java.lang.IllegalArgumentException No view found for id 0x5e9 (unknown) for fragment g{5f69ea9} (48fffc1a-4692-4b67-897b-b59d9ee691b1) id=0x5e9} com.swmansion.rnscreens.ScreenContainer.onDetachedFromWindow"
Hi, I am getting this error in production build of our app,:
react-native screens version is "2.10.1",
can anybody tell me why this could be  happening
Fatal Exception: java.lang.IllegalArgumentException: No view found for id 0x5e9 (unknown) for fragment g{5f69ea9} (48fffc1a-4692-4b67-897b-b59d9ee691b1) id=0x5e9}
       at androidx.fragment.app.FragmentStateManager.a(FragmentStateManager.java:131)

[2020-08-27 16:46] SunstroUS commented on #505
I seem to be having the same problem, but not understanding the solution or fix? I have a tab stack embedded inside a screen stack, and when I use a scroll view, the tab bar seems to be jumpy. Sorry if I'm just not understanding or reading incorrectly.

[2020-08-27 17:10] SunstroUS commented on #505
Nevermind I see what has to be done. For anybody else that is having the same problem but hasn't read the docs fully (me. <= bad). Your ScrollView needs to have **contentInsetAdjustmentBehavior="automatic"** and your Screen needs to have **headerTranslucent: true** just like @WoLewicki said.

[code]

Example.tsx
[code]

[2020-08-27 22:17] anishtr4 commented on #114
This works for me but will this make any impact on the app ?  removing the " // enableScreens();" also does the job, But I am not sure which one will be better and right solution.

[2020-08-28 07:31] WoLewicki commented on #616
It looks like a duplicate of #463, so I will close this one. Please post this log in #463. Also, can you provide a repo that can be used to reproduce the behavior? It would greatly help us investigate it.

[2020-08-28 07:31] #616 closed

[2020-08-28 08:58] luyouwei66 opened #617 "android 5 Crash"
implementation 'androidx.appcompat:appcompat:1.1.0' problem
implementation 'androidx.appcompat:appcompat:1.2.0' is ok

[2020-08-28 09:55] pedpess commented on #463
Not sure if related to this issue 100%, but I have noticed an increasing amount of crashes also in our prod release for `ScreenFragment`. I'm currently using **v2.9.0**, but also React Navigation v5 + React Native v0.62.2.

Here's the last step of the stacktrace:

[code]

If any other info is needed, I'm happy to help 🙂

[2020-08-28 10:47] WoLewicki commented on #463
@pedpess do you pass null to `onCreate` the same way it is shown in the https://github.com/software-mansion/react-native-screens/issues/463#issue-598797663?

[2020-08-28 12:31] ANIBIT14 commented on #463
Hi, I am getting this error in production build of our app,:
react-native screens version is "2.10.1",
can anybody tell me why this could be happening
Fatal Exception: java.lang.IllegalArgumentException: No view found for id 0x5e9 (unknown) for fragment g{5f69ea9} (48fffc1a-4692-4b67-897b-b59d9ee691b1) id=0x5e9}
at androidx.fragment.app.FragmentStateManager.a(FragmentStateManager.java:131)
at andr

[2020-08-28 12:48] pedpess commented on #463
@WoLewicki Yes I do, first I initiate the `SplashScreen.show(this, true)` from `react-native-splash-screen` lib in my `onCreate` and after that I invoke `super.onCreate(null)` passing the argument from `Bundle savedInstanceState` e.g. `super.onCreate(savedInstanceState)` would be the recommended way again?

[2020-08-28 20:58] grantgeorge commented on #114
As implied this disabled loading the saved application state when re-opening the app after backgrounding it. Be warned that this can break application functionality.

In our case, this has an unacceptable side-effect of not being able to use the document picker to upload pictures and other media as it would return them to the incorrect state after picking media.

[2020-08-29 11:31] anishtr4 commented on #114
@all  In my case the app was crashing when I am rotating the screen. I had fixed this issue without compromising/disabling neither the app state nor the "enableScreens()". I just had to update my activity in manifest file like below.

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|scre

[2020-08-30 09:59] dotconnor opened #619 "Header Height jumps with nested navigators"
When you have a nested navigators like this: `NativeStack -> BottomTabs -> NativeStack`, it creates issues when rendering the header from the innermost NativeStack. Only appears to happen when there some other navigator anywhere between two NativeStack ones. For example `Stack -> BottomTabs -> NativeStack` works correctly and `NativeStack -> NativeStack` work correctly.

This seems to be the same

[2020-08-30 21:48] Aryk commented on #597
Ok...I think I finally got it!

Check this out: https://snack.expo.io/@tennisbum/transparentmodal-navigate

If you remove the `options={{stackPresentation: "transparentModal"}}` from line 80, it will actually navigate.

The current "hack" that I have to do...is readd the screens/navigators **again** in the transparentModal navigator.

[2020-08-31 10:21] WoLewicki commented on #617
On which RN version does it happen? Can you provide a repo that shows this problem?

[2020-08-31 10:52] WoLewicki commented on #463
@pedpess no, it is not recommended, just thought maybe you didn't do it since from the stack trace it seems like the crash happens in `onCreate`, so it seems weird. Maybe there is a problem with some of the fragments not being removed properly. Do you use `native-stack`? Also, would it be possible for you to make a repo on which I could reproduce this crash? Since no one managed to do it yet afaik

[2020-08-31 12:58] WoLewicki commented on #525
You can read more about how certain interactions with user on iOS should be implemented in Apple's HIG. You can look at e.g. [Alert Views](https://developer.apple.com/design/human-interface-guidelines/ios/views/alerts/) and then look for libraries in react-native that implement those things. Also, I think it is just not possible to have the listener for such events in one place only when trying to

[2020-08-31 13:14] UmairRehmat commented on #125
@rafael-arreola did you find any solution so far? i am stuck on same issue

[2020-08-31 13:26] a-eid commented on #525
@WoLewicki thank you very much, I'll be reading more about it.

[2020-08-31 14:38] WoLewicki commented on #597
It looks like it is not the case of only `transparentModal`, but of all modal presentation types. You can see that the screen under the modal changes so it is not like the navigation is not happening, rather the modals are not dismissed when the screen in which they were presented is dismissed. You could add something like `[self.presentedViewController dismissViewControllerAnimated:NO completion:

[2020-08-31 15:24] WoLewicki commented on #619
Looks like it is the same issue as https://github.com/software-mansion/react-native-screens/issues/564. Am I right?

[2020-08-31 15:39] WoLewicki commented on #611
Can you check if #620 fixes the bug and does not introduce any new ones?

[2020-08-31 16:04] Aryk commented on #597
Well, what I have to do now is if I have:

 * NavigatorA
 * NavigatorB (transparentModal)

I have to put NavigatorA inside NavigatorB for it to actually work. So it is a sibling and a child of NavigatorB.

[2020-09-01 01:23] dotconnor commented on #619
Just tested this, and the issue still happens regardless of the `View` inside the screen, secondly it also happens regardless if the translucent header option is set or not.

[2020-09-01 08:41] luatnd opened #621 "error: Error: Unable to resolve module `react-navigation-stack`"
With react-navigation@5.x they use `@react-navigation/stack` instead of `react-navigation-stack`

[2020-09-01 11:01] WoLewicki commented on #621
What is the purpose of this issue? Can I help you with something?

[2020-09-01 11:31] luyouwei66 commented on #617
0.62.2

[2020-09-01 11:47] WoLewicki commented on #617
I built a new project with `react-native-screens` with RN version 0.62.2 and on Android 5 phone and all works as expected. Can you provide a repository where I can recreate the crash?

[2020-09-01 11:50] luyouwei66 commented on #617
native-echarts or react-native-webview

[2020-09-01 11:51] luyouwei66 commented on #617
native-echarts或react-native-webview

[2020-09-01 11:59] WoLewicki commented on #619
There seem to be some layout issues when having a `UIViewController` (from `ScreenContainer` of `bottom-tabs`) between 2 `UINavigationController`s (from `ScreenStack` of `native-stack`). As a workaround, you can make the top navigator a normal `stack` (since you don't use any of the `native-stack` specific options, right?).

[2020-09-01 12:01] WoLewicki commented on #617
Problems with `react-native-webview` are already discussed in #105. Is it the same crash as reported there?

[2020-09-01 12:10] WoLewicki commented on #525
Can I close this issue then? @Strate do you any more information?

[2020-09-01 12:58] luyouwei66 commented on #617
String resource ID #0x2040002

[2020-09-01 14:32] WoLewicki commented on #617
I don't understand.

[2020-09-01 15:31] WoLewicki commented on #572
Can you check if #622 resolves your issue and does not introduce any new problems?

[2020-09-02 07:09] Strate commented on #525
@WoLewicki looks like there is still no solution to display *any* view on top of modal ^(

[2020-09-02 13:11] WoLewicki commented on #621
I think the error you got is due to the usage of not the proper navigator. You should do it like that: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#api-definition `import { createNativeStackNavigator } from 'react-native-screens/native-stack';` for react-navigation v5. I am closing this issue then. Feel free to comment if it is not what you meant.

[2020-09-02 13:11] #621 closed

[2020-09-02 13:56] WoLewicki commented on #525
@Strate you can do it as long as you are displaying it in the `Screen`, in which the modal is located or use another modal screen to display it.

[2020-09-02 13:56] WoLewicki commented on #530
Actually, one way to do this is to set `stackPresentation: 'transparentModal'` and properly arrange the views in it. Since the content below will be still visible and the modal takes the whole screen, you can display such things there and even nest a stack in it, if it is needed. `react-native` modal use such native presentation style when applying `transparent` option too. I will close this issue

[2020-09-02 13:56] #530 closed

[2020-09-03 05:29] luatnd commented on #621
Yes,
I mean https://github.com/software-mansion/react-native-screens/blob/94bb918376200899f4c09e7935f573937c000010/src/createNativeStackNavigator.js#L18 is still importing `react-navigation-stack`
Should you increase a version to support react-navigation@5.x?

[2020-09-03 07:43] Strate commented on #525
@WoLewicki thats okay for alerts, for example, but not great for toasts :(

This is how toasts looks like when rendered inside Screen which displayed in modal:
![image](https://user-images.githubusercontent.com/392644/92086008-42ed8980-edd2-11ea-99bb-9070e81ea96c.png)

[2020-09-03 11:22] WoLewicki commented on #621
Because it uses the previous version of `react-navigation`. There are 2 version that can be used. One you mentioned in `react-native-screens/src/createNativeStackNavigator.js` (for older version) and one in `react-native-screens/src/native-stack/navigators/createNativeStackNavigator.tsx`

[2020-09-03 16:19] olapersson commented on #572
What's the easiest way to install it from the branch?

I get an error when I try to install it like this:
[code]

[2020-09-04 03:35] luatnd commented on #621
That's a clear answer, thanks.
I haven't notice that it was mentioned here:
https://github.com/software-mansion/react-native-screens#using-createnativestacknavigator-with-react-navigation

[2020-09-04 07:34] WoLewicki commented on #572
The easiest way is to use [patch-package](https://www.npmjs.com/package/patch-package) and apply those changes as a patch in your node_modules.

[2020-09-04 10:36] cjpete opened #623 "Feature Request: Add 'replace' to stack navigator actions"
Per the react-navigation docs, there is a 'replace' function available for stack navigators, but this doesn't seem to be supported in the react-native-screens `stack-navigator`.

https://reactnavigation.org/docs/navigation-prop/#navigator-dependent-functions

[2020-09-04 18:06] zilurrane commented on #273
Searching for the solution to this.
We want to add slide from right transition to our app.

[2020-09-05 10:08] pedpess commented on #463
@WoLewicki Sorry for the delay. I think we don't use `native-stack` anymore as we recently migrated to `react-navigation v5`. We are using `@react-navigation/compat, drawer, native and stack`. Unfortunately, I haven't managed to reproduce the issue myself, but if you have ideas on how to force this issue to happen I could make a repo for you and share it here. From the data I got from Google Play,

[2020-09-06 18:49] nickyleach commented on #432
@WoLewicki When I apply #600 the header elements render perfectly 👌, but screens in nested navigators (e.g. modals) won't render until after the transition. #613 appears to address the latter issue, but #613 regresses the header element rendering 😞

[2020-09-07 02:59] nickyleach commented on #611
@WoLewicki looks like #620 is working well 👍

[2020-09-07 04:04] yadvendrayadav123 opened #625 "2020-09-07 09:32:53.758 4298-4298/com.example.yndrlook E/AndroidRuntime: FATAL EXCEPTION: main Process: com.example.yndrlook, PID: 4298 java.lang.RuntimeException: Unable to get provider com.google.android.gms.ads.MobileAdsInitProvider: java.lang.IllegalStateException:"
2020-09-07 09:32:53.758 4298-4298/com.example.yndrlook E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.example.yndrlook, PID: 4298
    java.lang.RuntimeException: Unable to get provider com.google.android.gms.ads.MobileAdsInitProvider: java.lang.IllegalStateException:

    ******************************************************************************
    * The Google Mobile Ads SDK was in

[2020-09-07 07:40] WoLewicki commented on #432
@nickyleach What does #613 it regress exactly? The elements don't align the way they should all the time?

[2020-09-07 07:59] WoLewicki commented on #273
@zilurrane currently, on Android there is no such option. You can follow #489 for more info. If you want to use custom JS-based transitions, you can use a normal `stack-navigator` along with `native-stack` ones.

[2020-09-07 08:14] nickyleach commented on #432
@WoLewicki Yeah, in my testing the combination of #600 and #613 seems like the same behavior as what's currently in 2.10.1

[2020-09-07 08:34] WoLewicki commented on #625
I cannot see anything related to `react-native-screens` here. How can I help you with this issue?

[2020-09-07 08:41] WoLewicki commented on #432
Can you provide a repo in which applying these changes show the wrong aligning again?

[2020-09-07 09:04] olapersson commented on #572
Thanks @WoLewicki, patch-package worked well and it seems https://github.com/software-mansion/react-native-screens/pull/622 does resolve the issue for me. 👍 I get a couple of warnings that it's not the version mandated by expo but I think that's expected.

[2020-09-07 09:08] WoLewicki commented on #572
Can you show a screenshot of these warnings?

[2020-09-07 09:13] olapersson commented on #572
Sure
<img width="697" alt="Screen Shot 2020-09-07 at 11 10 22" src="https://user-images.githubusercontent.com/1655608/92370564-beb14400-f0fa-11ea-9b59-d416ca035d24.png">

It might be possible to get around by installing 2.9.0 and patching all the way from there. Haven't tried that yet, also not verified if I can build the binary from this.

[2020-09-07 09:15] WoLewicki commented on #572
Oh ok, these warnings. Yes, this is normal due to the managed workflow having the native code of 2.9.0 version. But the changes made in JS only can be applied without any problems as long as they don't come with any native changes so it is ok in this case.

[2020-09-07 09:18] WoLewicki commented on #623
It should be available in `native-stack`. Can you provide an example where it does not work?

[2020-09-07 09:53] WoLewicki commented on #472
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-09-07 09:53] #472 closed

[2020-09-07 10:28] WoLewicki commented on #529
Closing this in order to keep the discussion in one place (#525).

[2020-09-07 10:28] #529 closed

[2020-09-07 10:28] WoLewicki commented on #535
Closing this in order to keep the discussion in one place (#525).

[2020-09-07 10:28] #535 closed

[2020-09-07 12:04] WoLewicki commented on #463
@pedpess based on the stack trace, it looks like you are not passing `null` since the `onCreate`'s argument is passed up to `FragmentActivity.onCreate()` and there is a check for a null in the passed argument, which, based on your stack trace, is not null since the `restoreSaveState()` is called. I attach screen of this below. Are you sure the null was passed there when the stack trace was collect

[2020-09-07 12:34] WoLewicki commented on #606
Cannot this behavior be achieved with `transparentModal`? You can see more discussion about it in #525.

[2020-09-07 13:06] pedpess commented on #463
@WoLewicki good news 🙂 the issue is gone adding the `super.onCreate(null)`. False alarm from my side, sorry about that. The problem was that we still had quite many users with the older version of the app that was with this crash and I can't force update them for now. I will ask them to update the app manually if it shows up 👍

[2020-09-08 09:26] WoLewicki commented on #463
@akontaroudis @ANIBIT14 can you provide a repo with the configuration needed to reproduce the issue? Your crashes are caused by `onDetachedFromWindow` method, so it is not related to passing `null` to `onCreate`, so the reproduction of this crash would really help us to remove the problem. Also, @adkenyon, if your crash is similar, could you try and submit a repro?

[2020-09-08 09:47] WoLewicki commented on #408
From the stack trace, I see that all reported crashes are due to not applying `null` to the `onCreate` method. It is obligatory for the `react-native-screens` to work correctly. You can get more info here: https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-425027574. I am closing this issue then. Feel free to comment if something is wrong.

[2020-09-08 09:47] #408 closed

[2020-09-08 14:38] #268 closed

[2020-09-09 01:03] mstrk commented on #349
Hi @WoLewicki I can confirm that by using `enableScreens`, the issues described by the OP happen in a real device. If one do not call `enableScreens` the native secondary popups (which is the case of pick saved password) do appear. I did not tested in the emulator tho.

[2020-09-09 07:48] WoLewicki commented on #349
@mstrk can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-09-09 09:13] Hirbod commented on #268
@WoLewicki since I am using an Expo App currently, I am pretty limited in testing PRs.

[2020-09-09 10:31] mstrk commented on #349
@WoLewicki I was trying to reproduce it in a snack and I can’t 🤔

In the project with the issue I don’t use expo btw. I'll try find some time to create a repo to test it without expo.

[2020-09-09 12:06] ArekChr commented on #619
I'm using large and blurred headers from native-stack

[2020-09-09 12:29] ArekChr opened #627 "Large header hides on back from screen with default header"
![ezgif-7-357e3b3a8104](https://user-images.githubusercontent.com/24796318/92598213-c9a9d700-f2a8-11ea-9df0-9d9cccb69107.gif)

iPhone 11 (13.4)

"react-native": "0.62.2"
"@react-navigation/bottom-tabs": "^5.8.0"
"@react-navigation/native": "^5.7.3"
 "@react-navigation/stack": "^5.9.0"

[2020-09-09 12:49] ArekChr commented on #627
This issue occur also in your gif here https://github.com/software-mansion/react-native-screens/issues/504#issuecomment-677634943
When you go back from third screen to second

[2020-09-09 12:55] WoLewicki commented on #619
@ArekChr It is not a solution to the bug, but a workaround, and I know it is wanted for many cases.

[2020-09-09 12:56] WoLewicki commented on #595
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-09-09 12:56] #595 closed

[2020-09-09 13:20] WoLewicki commented on #627
I am afraid it is a native behavior and you can spot it e.g. in Settings on your phone (at least happens on mine). I am not sure if it can be controlled anyhow, if you find any information about it, please share it here, and then I will try to elaborate. I will close this issue since I wouldn't consider it a bug. Feel free to comment if something is wrong.

[2020-09-09 13:20] #627 closed

[2020-09-09 16:53] ovy9086 commented on #349
@WoLewicki  here's a repo project for this : https://github.com/ovy9086/rn-autofill-bug

It's a bit weird but now it seems that the 'Save password' pop-up doesn't show at all when using react-nav-5 , no matter if screens is enabled or not.

But still, the context menu to autofill the inputs, is not working when screens are enabled.

As you can see in the screenshots, when screens are enabled, I ge

[2020-09-09 17:05] ovy9086 commented on #205
yes, it seems issues still exist. I uploaded a repo here : https://github.com/ovy9086/rn-autofill-bug
seems like it's related/duplicate of https://github.com/software-mansion/react-native-screens/issues/349 ?

[2020-09-09 18:14] ArekChr commented on #627
This is not native behavior, this occur when I have polish characters in headers, when you have first screen scrolled to top position then should never be wrapped after go back to this screen from another.
of course if you have scrolled settings to bottom then shouldn't be never expanded but I have opposite case

[2020-09-09 18:20] ArekChr commented on #627
![ezgif-7-e95cda1f7f6f](https://user-images.githubusercontent.com/24796318/92637912-cbd85980-f2d9-11ea-8e1f-6a3f290ea379.gif)
I don't think so this is also native behavior.
do you?

[2020-09-09 20:09] lakakoy opened #628 "How to disable shadow transition?"
This is how transitions work in **react-native-screens**:
![via-react-native-screens](https://media.giphy.com/media/KCqh3jPCQRMOM1vj23/giphy.gif)

Could you give me an idea how to do this:
![via-react-nativigation](https://media.giphy.com/media/SrzP8Tt3Fq5dOD6imT/giphy.gif)

There are several ways how to disable transition shadow in **react-navigation**.
None of these methods work in **react-nativ

[2020-09-09 22:49] manuhook commented on #105
Hey @SMJ93, thank you for your help, do you think it's possible to have a similar wrapper on react-native-navigation ?

[2020-09-09 23:09] SrBrahma commented on #628
There is also a strange shadow below the header in Android that gets stronger when it finishes transitioning.

[2020-09-09 23:19] SrBrahma commented on #484
Hmmm... This is happening in the current version but with the default react-navigation createStackNavigator props. Like, the shadow is weak during the transition but gets "fully shadowed" when the transition finishes. It's like the OP .gif, but with the shadow enabled.

[2020-09-10 00:14] mstrk commented on #349
Hi @ovy9086 thanks for the repo. I've tested it in the same android device I have the problem and like the snack I tried to reproduce the issue, this repo also works fine :s

I get the autocomplete and save password popups. So I’m really confused now.

[2020-09-10 01:57] happyfloat commented on #102
@WoLewicki I think I'm also experiencing this issue. Thankfully I found this issue before removing this library, it's clearly a deal breaker for production use!?

I didn't know it was related to the Lists and already gave up on creating a new Github-Issue to reproduce my "complicated navigation setup/issue".

I will give your PR a shot soon! Thank you very much 👍

[2020-09-10 07:30] WoLewicki commented on #627
If it happens in apps provided by Apple, and Settings is one of those apps, it should be called native behavior IMO. You can spot it in simulator with polish language enabled. And it is true that it looks related to the polish characters, as I said in the comment you linked. Why shouldn't it be scrolled though? If Apple wants such behavior, then using native navigation will behave accordingly. If

[2020-09-10 07:34] WoLewicki commented on #484
You should submit an issue in `react-navigation` then. It is almost certainly not the same issue since we use native behaviors in `native-stack`.

[2020-09-10 08:18] WoLewicki commented on #102
Please report here if it works correctly 👍 .

[2020-09-10 11:59] savelichalex opened #629 "Blank screen on native stack push animation with nested navigator"
react-native-screens version: 2.10.1 (with patch, details below)
react-native: 0.62.2 (same for 0.63)
@react-navigation/native: ^5.6.1

I had a same problem as in https://github.com/software-mansion/react-native-screens/issues/432 , therefore I had to apply a patch https://github.com/software-mansion/react-native-screens/pull/600 . It fixed header buttons positions, but introduced a new bug. When

[2020-09-10 12:42] todoranalex commented on #349
I tested @ovy9086 's repo on a Pixel 2 and the autofill framework works fine for me with screens turned OFF. If screens is turned ON, then I can't autofill the input field and also no pop-up to save your password is shown. But I also saw the following:

turn screens ON.
Open App -> Try to autofill email -> you get 'Content's can't be autofilled'. Put App in OVERVIEW (or background) -> Resume -> Tr

[2020-09-10 12:49] ovy9086 commented on #349
@mstrk @todoranalex yeah sorry for the confusions. I have left screens off in my repo. updated it now so it's enabled by default 🙈

[2020-09-10 12:53] WoLewicki commented on #629
Please apply also #613 and see if it fixes the issues.

[2020-09-10 13:13] savelichalex commented on #629
@WoLewicki it helped, thanks!

[2020-09-10 13:13] #629 closed

[2020-09-10 13:51] SMJ93 commented on #105
hey @manuhook, I haven't use react-native-navigation for while, but if they have transition listeners similar to react-navigation it should be possible

[2020-09-10 14:00] WoLewicki commented on #629
And there are no new issues with this setup?

[2020-09-11 07:37] WoLewicki commented on #349
Ok, I am reopening it then.

[2020-09-11 08:02] mstrk commented on #349
@ovy9086 @todoranalex absolutely right! I didn’t noticed the `false` argument, I normally comment the function, wasn’t aware that we can pass arguments sorry.

Tested again and yes now I can’t see any of the popups.

[2020-09-11 20:15] Sume-Ishtiaq opened #630 "cannot access NestedScrollingParent3"
The project runs fine on iOS without any issue, but gives the error mentioned below while compiling android project.

/node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStackFragment.java:26: error: cannot access NestedScrollingParent3
  private static class NotifyingCoordinatorLayout extends CoordinatorLayout {
                 ^
  class file for androidx.core.

[2020-09-12 11:31] bitttttten opened #631 "How to use with the jest preset "react-native"?"
The jest preset from React Native [mocks the UIIManager.getViewManagerConfig method](https://github.com/facebook/react-native/blob/bdf3c7911007f547101d753903da11ea4ee095f9/jest/setup.js#L61):

[code]

And so this creates an error [when calling enableScreen](https://github.com/software-mansion/react-native-screens/blob/620d063d19eb27faea7b91a99c262ce203e23a06/src/index.native.js#L16), since `UIMana

[2020-09-12 17:56] beardwin opened #632 "Setting `headerLeft` on Android modal hides title"
Greetings!
Either I've found a bug (and have failed to find a solution online), or my complete lack of understanding which, if the latter, I will retire into the hills of Saskatchewan, should I ever find one.

When presenting a screen modally inside a native Stack Navigator - **_on android_** - via `presentationStyle: modal`, everything works as one would expect. However, when I specify a `headerL

[2020-09-13 09:15] Aung-Myint-Thein opened #633 "RNSScreen crash with NSRangeException in iOS"
Hello,

I am using RNScreen with React-Navigation v5 in our app. I think sometimes when a user is using our app for a while, the app crashed with

[code]

Any recommendations for this issue? Will provide more info if need more. Thanks.

[2020-09-14 08:38] WoLewicki commented on #630
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-09-14 08:43] WoLewicki commented on #633
Can you provide more info? I haven't seen such a crash before. Is there an easy reproduction of this issue?

[2020-09-14 10:28] Aung-Myint-Thein commented on #633
This is the first time I see this crash in our app too. However, just 2 versions ago (1 month), we started using RNScreens. So, at this point, I am afraid wouldn't be able to get an easy reproduction of this issue yet. I am just wondering if anyone who uses this library with React-Navigation faced this problem before.

In my current set up, most of my screens are using `navigate()` on `nativeStack

[2020-09-14 10:39] WoLewicki commented on #633
Are you stacking many screens one on another? Maybe there is some kind of limit on the native side. I can just leave this open, but I don't think I can help you anyhow without a reproduction.

[2020-09-14 11:11] happyfloat commented on #577
I also run into this issue today. I did remove the immediate `SafeAreaView`, but it didn't help, it did just flicker less.

[2020-09-14 12:40] Aung-Myint-Thein commented on #633
I have a stack but user can keep on navigating from a screen to another screen by tapping items on the page and maybe it got to the limit. I was thinking it is what this message `replaced range {165, 96} extends beyond current run storage size 258` mean :D .. what is the best approach or best practices for apps which can get many screens stacked? Is it better for performance to use `replace()` tha

[2020-09-14 13:43] bitttttten commented on #572
I am still getting the `Unrecognised font-family` error. I'll put some time aside this week to make a repo!

[2020-09-15 05:50] anjara-itendro commented on #123
I have this same problem
`> Task :react-native-screens:generateReleaseRFile FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':react-native-screens:generateReleaseRFile'.

[2020-09-15 08:23] WoLewicki commented on #633
It is better for sure to use `replace` for memory consumption since you remove the screens that way. The drawback is that you cannot go back to a previous screen after that action.

[2020-09-15 08:28] WoLewicki commented on #123
@anjara-itendro can you provide a repo with the configuration needed to reproduce it? Also, since no one else submitted such a problem, please make sure it is not a wrong project configuration on your side.

[2020-09-15 08:28] WoLewicki commented on #572
@bitttttten are you using Expo managed workflow with these changes applied?

[2020-09-15 08:41] bitttttten commented on #572
@WoLewicki yes!

[2020-09-15 08:42] WoLewicki commented on #572
So please provide a repo that shows the problem so I can work on it.

[2020-09-15 09:12] bitttttten commented on #572
Yep, I have a very busy week but I'll try and get on it in the next few days :)

[2020-09-15 10:42] anirudhagarwal365 commented on #463
I have been facing the same issue. Not able to reproduce this, but seeing a number of crashes on Crashlytics.
Here are the dependencies I am using -
I am passing null to super.onCreate

`"@react-navigation/drawer": "5.1.1",
        "@react-navigation/native": "5.0.9",
        "react-native": "0.63.0",
        "react-native-screens": "2.10.1"`

Stacktrace -

`
Fatal Exception: java.lang.RuntimeExce

[2020-09-15 11:23] WoLewicki commented on #17
I think this issue can be closed since https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704067 is obligatory for the library to work correctly. Comment here if you have any question regarding it.

[2020-09-15 11:23] #17 closed

[2020-09-15 13:17] WoLewicki commented on #604
Closing due to no reproduction provided in 30 days.

[2020-09-15 13:17] #604 closed

[2020-09-15 13:20] WoLewicki commented on #623
I am closing it since I think this issue is invalid. Feel free to comment if I am wrong.

[2020-09-15 14:08] alexborton commented on #238
Sorry, i can't see where the fix has taken place here? I am still seeing the described issue in Android only when using `goBack` from a modal (Navigation is nested in tabs).

Removing `enableScreens` "fixes" the issue but i believe i am losing some performance enhancements?

My deps;

"expo": "^37.0.12"
"react-native-screens": "~2.2.0"
"@react-navigation/bottom-tabs": "^5.8.0"
"@react-navigation/n

[2020-09-15 14:28] WoLewicki commented on #432
#613 should have fixed most of the issues. Please comment here if I am wrong. Also, #528 is not fixed for sure, so I will reopen it to keep the discussion about that issue there.

[2020-09-15 14:32] WoLewicki commented on #463
@anirudhagarwal365 (and others), if you want to help, please provide some details of when the crashes happen in the lifecycle of the app. It looks like they happen only when pausing/resuming the activity, so if you would try to reproduce it to provide a repo, this is the direction I would go. You can try to make the app go into the background and then back. The important information would be if it

[2020-09-15 14:34] WoLewicki commented on #238
You cannot use newer version of native code in older expo versions due to it having that code compiled in the managed workflow. You can only use the one provided by the current version.

[2020-09-15 14:40] #611 closed

[2020-09-15 14:43] WoLewicki commented on #632
I don't think it has something to do with the `modal` presentation. The title disappears because it is replaced with the button and it is how it works on Android and is mentioned here: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerleft. Can I help you more with this?

[2020-09-15 14:53] alexborton commented on #238
Sorry, @WoLewicki - my mistake. I have just spun up my Beta Expo 38 version and the issue does seem to have been addressed 👍

[2020-09-15 15:16] #102 closed

[2020-09-15 19:03] nandorojo opened #634 "Add web support for native stack"
It would be great to have web support for the native stack. It's difficult to fall back to react navigation's `createStackNavigator` on web, since there isn't parity between the two APIs and naming is different for similar props.

[2020-09-16 08:40] Appkidd commented on #628
Also seeing this issue. Any workarounds?

[2020-09-16 08:42] codecog commented on #631
@bitttttten You can remove the error by mocking the `enableScreens()` method.

[code]

[2020-09-16 08:48] bitttttten commented on #631
Oh okay great! I didn't know if it was safe to mock or not. Thanks @codecog !

[2020-09-16 09:42] happyfloat commented on #102
@WoLewicki I did apply the PR as a patch. So far the issue did not appear again 👍 . I will report back if it happens again.

[2020-09-16 14:32] beardwin commented on #632
Thanks for this! Man.... I don't know how many times I read the docs and somehow.... missed that. The documentation says "For now, on Android..." - does that mean this is an issue in Android, or RNS, or is this just the way it is for android?

[2020-09-16 14:36] WoLewicki commented on #632
I thought maybe there is a way to do have both left items and title, but couldn't find any solution, so probably it is not possible. If you find any a way to do it, please post it here. Can I help you more with that?

[2020-09-16 14:55] WoLewicki commented on #628
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-09-16 16:26] #631 closed

[2020-09-16 17:50] beetlebum opened #638 "Can't dismiss full screen modals on iOS after upgrade to 2.11.0"
After upgrading to 2.11.0, full screen modals on iOS cannot be dismissed.
`canGoBack` from react navigation returns true, but `goBack` does nothing.
I've also tried `popToTop` to no avail.

The stack is configured as such:
[code]

Android works fine, and so does `'modal'` stack presentation.

Downgrading to 2.10 fixes the issue.

Thank you.

[2020-09-16 21:48] kamui545 commented on #638
I am experiencing the same and can confirm that it seems to be a regression from 2.10 -> 2.11.

`formSheet` works fine, but as soon as you try to dismiss a `fullScreenModal` the UI will "freeze" and you cannot interact with anything anymore.

[2020-09-17 09:44] WoLewicki commented on #638
Looks like this regression was introduced by #600 + #613. For now, you can revert them with [patch-package](https://www.npmjs.com/package/patch-package)

[2020-09-17 12:36] andredewaard opened #640 "ScrollView in Screen with StackPresentation 'modal'"
Is it possible to add a ScrollView inside a modal with a refreshControl?

I have this as Native Stack Navigator
[code]
And inside there is a profile page which also included a list of followers which can be refreshed with the refreshControl, like this:
[code]
On pull down to refresh nothing happens to the refreshControl but instead dismisses the modal.

At the app updates in the iOS app store ther

[2020-09-17 13:44] beardwin commented on #632
Sounds good dude - if I find anything I'll let you know. Other than that, I'm good! Thanks for all your help!

[2020-09-17 13:46] WoLewicki commented on #632
I am closing this issue then. Comment here if you find anything and good luck on the journey to the hills of Saskatchewan.

[2020-09-17 13:46] #632 closed

[2020-09-17 14:23] savelichalex opened #641 "Import of AppContainer not working for react-native-web"
react-native-screens: 2.11.0
react-native-web: 0.13.12

The fix: https://github.com/software-mansion/react-native-screens/commit/620d063d19eb27faea7b91a99c262ce203e23a06#diff-60df8443550215c0389d31251a8d7c2dR9 introduced an import of AppContainer, that doesn't work well with `react-native-web`, I got following error:
[code]

And that is expected since `react-native-web` don't have such file. Sad t

[2020-09-17 15:38] WoLewicki commented on #495
In order to activate this in `native-stack`, you also have to apply similar changes as in `AppDelegate.m`, but in `RNSScreenStack.m`: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreenStack.m#L38. This should also respond to `childViewControllerForStatusBarStyle`. I made a PR that applies this change: https://github.com/software-mansion/react-native-screens/pull/642

[2020-09-17 15:41] WoLewicki commented on #495
Also, this cannot be used alongside with RN `StatusBar` component and there is no option to hide the status bar in your changes. Were you going to work on it also? Otherwise, there is no need for the `statusBarAnimation` prop.

[2020-09-18 10:45] savelichalex commented on #641
Ok, I solved it. For someone who will search for similar problem to solve it use following `webpack` configuration:
[code]

My problem was with order of aliases, AppContainer should go before general `react-native` one.

[2020-09-18 10:45] #641 closed

[2020-09-18 10:52] WoLewicki commented on #638
Can you check if #643 fixes that bug and does not introduce new ones?

[2020-09-18 10:56] WoLewicki commented on #528
Can you check if #644 fixes your issue and do not introduce any new bugs?

[2020-09-18 11:28] beetlebum commented on #638
@WoLewicki I can't reproduce it anymore in #643 , seems to be fixed, thanks

[2020-09-18 12:05] JackMoseley2001 commented on #528
Thank you for taking time to have a look at this problem.

I have installed and tested the pull request regarding this, but am still experiencing that the icon will disappear on rotate. I have tried it by setting the right icon within the screen itself using props, and within the stack navigator screen.

I have since reporting this issue moved away from using React Native for the meantime and ther

[2020-09-18 14:42] WoLewicki commented on #495
I updated the PR so it should work with nested `native-stacks` and get the options from the deepest one. It should also now work with `native-stack` nested in other navigators that use `ScreenContainer`.

[2020-09-19 13:02] juergengunz opened #645 "Issue with largeTitle and BottomTabNavigator without a header"
The first screen in the RootNavigator is a BottomTabNavigator without a header and I want to navigate to a Screen in the RootStackNavigator with largeTitles. If I navigate to the second Screen with headerLargeTitle:true - Initially the title is collapsed.

Is there a way to force the large title to be not collapsed?

[code]

[2020-09-20 12:41] melkayam92 opened #646 "Android: android.view.ViewParent android.view.View.getParent()' on a null object reference"
Hi,

Since I upgraded from 2.5.0 to 2.10.* I'm getting a lot crashes in production saying:

"android.view.ViewParent android.view.View.getParent()' on a null object reference" - NullPointerExecption
"FragmentManager has been destroyed" - IllegalStateException

 "@react-navigation/native": "^5.7.3",
 "@react-navigation/native-stack": "^5.0.5",
 "@react-navigation/stack": "^5.9.0",
  "react-native":

[2020-09-21 09:13] WoLewicki commented on #645
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-09-21 09:15] WoLewicki commented on #646
Are you using `"@react-navigation/native-stack": "^5.0.5",`? The supported version of native-stack is taken from `react-native-screens/native-stack`. Does this issue happen there? If so, please provide a reproduction of this crash so we can work on it.

[2020-09-21 09:32] WoLewicki commented on #634
`native-stack` depends on platform-specific options for all the exported features, so it is not designed to be applicable in the web environment. I think all the options for web would have to be copied code from `stack-navigator`. How would you see such support?

[2020-09-21 09:33] lampn9397 commented on #646
This issue occur also with me on Android devices.
`"react-native-screens": "2.10.1"`
![image](https://user-images.githubusercontent.com/22604768/93751822-e5599980-fc27-11ea-894c-9f8ef5f21c32.png)

[2020-09-21 09:35] WoLewicki commented on #646
@lampn9397 could you provide a repo with a reproduction of the issue then?

[2020-09-21 10:59] WoLewicki commented on #609
Closing due to no reproduction provided in 30 days.

[2020-09-21 10:59] #609 closed

[2020-09-21 18:08] nandorojo commented on #194
Hey all, just echoing the gratitude for this library. It's been the greatest noticeable change in making my app feel smooth.

Did you end up making a search bar for the header?

[2020-09-21 18:10] nandorojo commented on #634
Got it, that makes sense. I ended up using a `stack.web.tsx` file that exports a regular stack for web from React navigation. It's a bit cumbersome to have 2 files like that, but it does the job, so I'll close this.

Thanks for your work on this library. It's a game changer to use.

[2020-09-21 18:10] #634 closed

[2020-09-21 23:42] MiguelGrability commented on #633
Hi, We are facing with crashes similars as this issue describes

![Screen Shot 2020-09-21 at 6 34 35 PM](https://user-images.githubusercontent.com/38761943/93831725-1bebe000-fc39-11ea-9183-2756b65c39f9.png)

Our app has been under test for months and now in production, we have been seeing these reports in our Sentry in both platforms ios and android

![Screen Shot 2020-09-21 at 6 38 01 PM](https:/

[2020-09-22 10:01] WoLewicki commented on #194
It is not implemented yet and I am afraid I do not have time for this now. I would love to merge a PR with it though!

[2020-09-22 17:38] melkayam92 commented on #646
I can confirm that downgrade the library to 2.5.0 didn't help.

Looks like it's related to saveInstanceState..

![Screen Shot 2020-09-22 at 20 37 45](https://user-images.githubusercontent.com/8774744/93917398-9f79ff80-fd13-11ea-89d5-b53846d62c66.png)

[2020-09-22 17:51] bitttttten commented on #572
Hey @WoLewicki , I managed to setup a repro: https://github.com/bitttttten/react-native-screens-font-crash-repo

There is a boolean toggling the crash in [App.tsx on line 14](https://github.com/bitttttten/react-native-screens-font-crash-repo/blob/86ae9cbd45d655cf028b5ced7bc395ecffff3e82/App.tsx#L14). Switching it to true and false will show the error I am getting. Or you can also remove the fontFa

[2020-09-22 18:39] melkayam92 commented on #646
Also, I forgot to say, I did use the "animationEnabled"  for my navigator in this version.

I will try to see what happens if I revert it to false.

[2020-09-22 20:41] ArrudaWillyan commented on #166
@Alaa-Ben @vivekraj
I tried all the solutions presented here for both navigation and flipper. I have version 0.63.2 and my problem persists, any solution?

[2020-09-23 11:50] #638 closed

[2020-09-23 14:23] Hirbod opened #649 "LargeHeader stays small after pop/goBack/swipe gesture on iOS 14+"
Hi,

I just upgraded to Expo SDK 39 and before of that, I had never an issue navigating to a child screen (from LargeHeader to small header). When I go back now, it stays smalls instead of growing back to large.

What has changed and is this something known?

[2020-09-23 15:08] WoLewicki commented on #649
Yeah, I can spot problems with this. It looks like some kind of bug because it doesn't happen in the `Settings` of your phone. Am I right?

[2020-09-23 16:50] fat commented on #489
PR https://github.com/software-mansion/react-native-screens/pull/648

[2020-09-23 16:54] Jalson1982 commented on #489
@fat wow this is so good. Hope this will be in master soon!

[2020-09-23 18:14] Hirbod commented on #649
@WoLewicki you are right, works great everywhere else in the system.

[2020-09-23 20:01] bjjeong commented on #349
Still occurring in `react-native-screens@2.11.0` and `react-native@63.2`

[2020-09-24 13:31] Sin- commented on #203
Hello!
This issue is still present, no transitions working on Android.
Config:
[code]

[2020-09-25 06:25] anirudhagarwal365 commented on #463
@WoLewicki We tried out the fix you pointed in our production app. This seemed to have reduced the number of crashes, but recently we faced another crash at [here](https://github.com/software-mansion/react-native-screens/blob/c8312f5110305700f0ea7b40d4978877cc818821/android/src/main/java/com/swmansion/rnscreens/ScreenContainer.java#L328).

The stacktrace is -
[code]

[2020-09-25 09:48] happyfloat commented on #432
@WoLewicki It is still happening with 2.11.0

[2020-09-25 15:38] TheEhsanSarshar opened #651 "how to achieve slide from bottom transition in android"
is there any way to achieve slide from bottom transition. I have tried to change the screen to Modal or fullScreen modal. but it's the same transition animation at all cost.

[2020-09-26 12:43] EhsanSarshar commented on #436
@WoLewicki I am using the `modal` stackTransition. it work find in Iphone X (with safeArea). but in iphone 7 and 8 it's not dismissable. it seems that it goes behind the status bar, far away.

[2020-09-27 07:41] EhsanSarshar commented on #436
@WoLewicki the issue still exist in latest release.

[2020-09-27 23:16] Abhishek12345679 commented on #651
you can use this library.

[React Native Swipe Gestures](https://github.com/glepur/react-native-swipe-gestures)

It works most of the times.

[2020-09-28 06:49] anirudhagarwal365 commented on #463
Actually the above PR actually fixes this issue(related to onPause). The stacktrace shared above is for another crash.
I suspected that the above crash could be affect of the changes made, but on careful examination of crashes on app, I found out that crash on onUpdate method has been happening throughout.

@WoLewicki Any insights on the above mentioned crash?

[2020-09-28 06:57] EhsanSarshar commented on #651
@Abhishek12345679  I mean with this library. creating a slide animation is doable with gesture-handler and reanimated. but I mean why the 'modal' screen don't have a slide from bottom animation in android it's almost like the default transition

[2020-09-28 11:15] ArekChr commented on #649
The same here 👍

[2020-09-28 16:33] DomiR commented on #17
Why is this not mentioned in the readme?

[2020-09-28 17:23] kamote commented on #402
The issue started to appear on Expo SDK 38, the issue also exists in expo SDK39. Only happens on Android. Disabling `enableScreens` for now

[2020-09-28 17:47] mikehardy commented on #17
A good question @DomiR 😅  if there's some place you just discovered it should go, I/we here may all be missing perspective at this point and so not have thought of it, but github can walk you through a super-quick PR if you hit the edit button at the top of whatever doc page it is

[2020-09-29 00:06] giaset commented on #645
Having the same issue.

`<Tab.Navigator>
    <Tab.Screen name='LobbyStackNavigator' component={LobbyStackNavigator} />
</Tab.Navigator>`

and

[code]

[2020-09-29 10:42] Hirbod commented on #651
@EhsanSarshar there is a open PR introducing slide transitions for android.
https://github.com/software-mansion/react-native-screens/pull/648

It's not merged yet but if they decide to add it, it should be an easy XML AddIn to support a slideUp transition

[2020-09-29 11:35] WoLewicki commented on #105
Closing this since #607 is merged. Comment here please if the crash appears after that commit and applying workaround for `native-stack`.

[2020-09-29 11:35] #105 closed

[2020-09-29 11:48] WoLewicki commented on #17
I think it would be good to mention this in README. Would you like to make a PR with a nice description? @mikehardy @DomiR? I would love to merge it.

[2020-09-29 11:49] WoLewicki commented on #402
@kamote could you please provide a snack/repo that shows the bug?

[2020-09-29 12:13] WoLewicki commented on #617
Closing due to no reproduction provided in 30 days.

[2020-09-29 12:13] #617 closed

[2020-09-29 13:07] WoLewicki commented on #463
I cannot help you much because I need a repo with a reproduction to work on it and see how the behaviors change. You can try and remove it, maybe it is forbidden when there are only synchronous transitions. It would be best if you could make a repo in which any of these crashes can be seen, otherwise, there is very little I can do.

[2020-09-29 13:11] WoLewicki commented on #633
@MiguelGrability why do you think it is the same issue? Please provide a repo with a reproduction of this problem so I could work on it.

[2020-09-29 14:05] MiguelGrability commented on #633
I am not sure if this is the same issue but is the only issue that I found something similar, for months we have been testing our app with differents QA teams and beta testers, and we never receive this reports until we launch the app to stores

And the other problem is that we've never been able to reproduce that crashes, but they still reporting in our sentry

[2020-09-29 14:16] #405 closed

[2020-09-29 14:16] #573 closed

[2020-09-29 14:18] WoLewicki commented on #633
Unfortunately, I don't think I can help you anyhow without the reproduction of the crash since I also see it for the first time.

[2020-09-29 14:50] WoLewicki commented on #572
@bitttttten after I applied changes from #622 in the node_modules, the error disappeared and the font worked in the header. I will close this issue with the merge of the PR, but please comment here if I am wrong.

[2020-09-29 14:51] #572 closed

[2020-09-29 14:54] WoLewicki commented on #203
I am afraid I cannot help you much with this issue. Can you provide a repo that shows the problem though? Maybe someone will be able to help you with this.

[2020-09-30 08:00] WoLewicki commented on #432
@happyfloat can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-09-30 08:01] WoLewicki commented on #436
@EhsanSarshar can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-09-30 08:14] happyfloat commented on #432
@WoLewicki It's on my todo list. Hopefully by Monday next week. Including the other modal bug, if I can reproduce everything.

[2020-09-30 17:22] TheEhsanSarshar opened #654 "react-native-screens RTL back arrow icon is not visible in ios"
the problem only exist with the release build in real device

[2020-10-01 08:42] WoLewicki commented on #654
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-10-01 13:49] kmagiera commented on #349
Thanks @ovy9086 for providing a repro, however I can't seem to be able to reproduce the problem there. When running your repro app on Pixel 2 with react-native@0.63.2 I'm getting "Contents can't be autofilled" message regardless of whether screens are enabled or not.

Next, I tried to remove react-navigation out of the equation and put the text fields from your app to one of out examples here: htt

[2020-10-01 14:10] todoranalex commented on #349
@kmagiera I just tested @ovy9086 's repo on a PIXEL 2. With screens turned on, I get 'Contents can't be autofilled', and with screens turned OFF I'm able to autofill and also I get the Save Password pop-up after 'logging' in.

[2020-10-01 14:45] ovy9086 commented on #349
@kmagiera sorry for the confusions, re-tested this repo on Pixel 3A and :

Autofill Text Input :
* `enableScreens(true)` 👉  Toast 'Contents can't be autofilled' 🔴
* `enableScreens(false)` 👉  I am able to autofill the user and password as expected ✅

Autofill Save suggestion:
* `enableScreens(true)` 👉   Save password pop-up after login not shown 🤷  🔴
* `enableScreens(false)` 👉  Save password pop-up

[2020-10-02 13:04] kmagiera commented on #349
Thanks for checking again, and sorry for the confusion. Previously I tried to pull your App.js into the screens Example app where I saw the behavior I descried earlier.

I can confirm that I see the same outcome as you when running the app from your repo. So this likely means we have some discrepancy between the dependencies or the project config that is causing different behavior.

On a flip side

[2020-10-02 18:45] juergengunz commented on #268
@WoLewicki #614 did not fix it for me, inspector is still behind...

[2020-10-05 07:21] WoLewicki commented on #268
@juergengunz can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-10-05 09:51] Vissp18 opened #657 "Native stack fullScreenModal screens wont close on iOS with navigation.goBack()"
After updating from 2.10.1 to 2.11.0 our React navigation (native stack) screens with stackPresentation: 'fullScreenModal' screens wont close any more on iOS with navigation.goBack(). It seems the underlying screen does regain focus after navigation.goBack(), but it doesnt slide down.