[2020-02-10 07:54] Preeternal commented on #309
I have the same behaviour when I am trying to turn on **toggle inspector** in my simulator:
`E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.*, PID: 4671
    java.lang.IllegalStateException: Fragment already added: ScreenFragment{f2ad48d (977dc763-f4e6-45fd-8225-8f20a879808b) id=0x3f5}
        at androidx.fragment.app.FragmentManagerImpl.addFragment(FragmentManagerImpl.java:1379)

[2020-02-10 07:57] luutruong commented on #300
Related here: https://github.com/kmagiera/react-native-screens/issues/309

[2020-02-10 08:40] Jarred-Sumner opened #317 "Consider exposing Animated.Value with transition progress (for shared element transitions)"
It'd be great if the native stack navigator supported shared element transitions. One way of implementing that, without `react-native-screens` needing to know anything about shared element transitions, is by exposing an `Animated.Value` with the progress of the current transition running.

I explored a little how one might implement this.

In here, if you switched from `[UIView animateWithDuration

[2020-02-10 09:53] appify-waheed commented on #316
@punisher97 i have tried in IOS and it didn't works.

[2020-02-10 10:43] punisher97 commented on #316
@appify-waheed Hi, you can setting stackAnimation="none" in previous screen?, in my example it's Register

[2020-02-10 14:56] appify-waheed commented on #316
@punisher97 same after passing
stackAnimation="none"
may be i have some other issue.

[2020-02-10 23:19] beaur opened #319 "Using custom font in navigation header?"
I'm using expo and have loaded a custom font using the expo-font package https://docs.expo.io/versions/v36.0.0/sdk/font/.  I am also using the new react-navigation 5 library and the Native Stack Navigator which uses react-native-screens.

I want to use this custom font in my navigation header however is seems setting `titleFontFamily` to this custom loaded font is not working.  I can set the font

[2020-02-11 05:58] iDuuck opened #320 "[native-stack] Large title scrolls completely wrong"
Hey guys, I wanted to implement React-Navigation v5 into my project, but now found an issue, which is very huge. I also found some bugs regarding this one.

**Referenced here:**
- https://stackoverflow.com/questions/48039046/ios-11-large-title-navigation-bar-snaps-instead-of-smooth-transition
- https://stackoverflow.com/questions/47649375/ios-11-large-navigation-bar-title-unexpected-velocity

I th

[2020-02-11 05:58] iDuuck commented on #320
Related: https://github.com/react-navigation/react-navigation/issues/6754

[2020-02-11 09:11] iDuuck opened #321 "`headerBackTitleStyle` only applies when `headerBackTitle` is set"
I am not able to style the `headerBackTitle` without setting it explicitly (i.e. inherited from the parent screen).

The problem lies in this method/line: https://github.com/kmagiera/react-native-screens/blob/f78c26441970f942f8c57a391c1ec5eb25a70cdc/ios/RNSScreenStackHeaderConfig.m#L280

[2020-02-11 11:04] matt-oakes opened #322 "ScreenStackHeaderConfig sometimes renders subviews incorrectly on iPad"
`ScreenStackHeaderConfig` will sometimes render it's subviews in the wrong position on iPad.

From the "Native stack example" in the `Examples` project, this is the correct rendering:

![Simulator Screen Shot - iPad Pro (11-inch) - 2020-02-11 at 10 50 03](https://user-images.githubusercontent.com/97068/74230474-5a411a00-4cbc-11ea-93d5-d9275fdc8161.png)

This is the rendering with the bug:

![Simul

[2020-02-11 12:18] dominiczaq commented on #314
We have same issue. Any idea where to start looking in the source code?

[2020-02-11 13:03] kmagiera commented on #314
Thanks @kantorm for reporting this. Would be great if you could link a workable app that I could run to reproduce this problem.

[2020-02-11 13:28] armata007 commented on #314
@kmagiera here is the repo: https://github.com/armata007/rn-screens-issue-back-project if you have any issues reproducing let me know

[2020-02-11 13:59] alimek commented on #309
just updated to latest `react-navigation` v4 + latest `react-native-screens` + `react-navigation-stack` and my android app is crashing with this when i trying to open `Toggle Inspector`

[2020-02-11 14:39] DovletAmanov commented on #309
Same issue with react-navigation v5 and react-native-screens v2.0.0-beta.2
Happens when going back to previous screen

[2020-02-11 14:44] kantorm commented on #314
@kmagiera here is a snack with a code that produced this error. For me, it was much easier to reproduce on an emulator than a real device.
https://snack.expo.io/@kantorm/d12b36

[2020-02-11 20:54] punisher97 commented on #316
I replace native back button with custom back, thanks

[2020-02-11 20:54] #316 closed

[2020-02-11 20:56] cristianoccazinsp commented on #105
I think I'm seeing the same crash:

This started to happen after an upgrade to react-native-screens and react-navigation stack (from 1.x to 2.x)

backtrace:
  #00  pc 00000000000f7748  /data/data/com.zinspector3/lib-0/libjsc.so (offset 0xbf000) (JSC::AccessCase::propagateTransitions(JSC::SlotVisitor&) const+16)
  #01  pc 0000000000143fe8  /data/data/com.zinspector3/lib-0/libjsc.so (offset 0xbf000)

[2020-02-12 16:45] dmarkow opened #326 "stackAnimation set to fade or none ignores navigation bar"
Normally when pushing a screen, the view respects the navigation bar. However, when you set a screen to use `stackAnimation: "fade"` (or "none"), the pushed view gets partially hidden behind the header.

Using the Example app's "Native Stack Bindings for RNN", I set the pushed screen to use a fade animation:

[code]

The animation does fade now instead of sliding in, however, the pushed screen's u

[2020-02-12 18:09] tapz commented on #279
Just added react-native-screen as react-navigation-native-stack requires it. And what it does it crash. Shouldn't be too hard to reproduce.

[2020-02-12 19:37] tapz commented on #62
After adding the settings to .eslintrc the error changed to this:

[2020-02-13 16:56] morteify commented on #281
I had similar issue and ended up adding these to Podfile:
[code]

[2020-02-13 22:15] allthetime opened #328 "iOS - React/RCTImageLoader.h file not found on RN 0.61.5"
error from xcode:

[code]

I just upgraded RN and now I am getting this error.

Reverting to 0.60.0 fixes the issue.

[2020-02-14 05:59] pdSatyam opened #329 "App crashes while navigating after adding react-native-screens on API 22 Android"
Package Info:
[code]

1. App is working fine on API 28, crashing when it starts navigating on API 22.
This started because I was using react-navigation: ^4.0.0 and 'react-native-screens' became a dependency of react-navigation.
2. No error in packager.
3. Error in device logs.

<img width="1396" alt="Screenshot 2020-02-14 at 11 26 57 AM" src="https://user-images.githubusercontent.com/13198518/7450

[2020-02-14 07:55] mahavirvataliya commented on #214
+1

[2020-02-14 14:41] morteify commented on #328
Duplicate of #281

[2020-02-14 15:42] mironiasty commented on #278
It should be fixed with in recent release [2.0.0-beta.3](https://github.com/software-mansion/react-native-screens/releases/tag/2.0.0-beta.3)

[2020-02-14 16:20] muhammadwafa commented on #309
I think you are using stack navigator and this is not necessary for that if you are using `native-stack` then you can use it.

[2020-02-15 15:27] sallar opened #332 "[Android] Header does not have left and right padding on Android"
Hi.

I'm using `@react-navigation/native-stack` in my app, and I have an issue with Header on Android. When the header doesn't show back button, the title is stuck to the left side of the screen without any padding.

The header right can be solved with CSS, but I couldn't find a way to do the same with title on Android.

![2020-02-15 17 25 57](https://user-images.githubusercontent.com/768052/74590

[2020-02-17 11:47] codecog commented on #297
Receiving this issue as well on the latest versions of rn screens & rn native stack

[2020-02-17 11:51] pvinis opened #334 "Why is `containedModal` not exported?"
Why is that `stackPresentation` not exported/exposed? The `index.d.ts` doesn't  have it, yet when I use it in a project it works great.

[2020-02-17 19:50] kmagiera commented on #278
Closing this one as it's been resolved in 2.0-beta.3. In case it does not work for you @beetlebum please comment here or start a new issue.

[2020-02-17 19:50] #278 closed

[2020-02-17 19:52] kmagiera commented on #314
Thank you all for your reports and comments. This issue has been resolved as of 2.0-beta.6. Please give it a try and if you still experience the issue, comment here or start a new one.

[2020-02-17 19:52] #314 closed

[2020-02-17 19:55] kmagiera commented on #162
Closing as the fix has been published on npm already. In case you still experience this problem please comment here or start a new issue.

[2020-02-17 19:55] #162 closed

[2020-02-17 20:04] kmagiera commented on #297
Thanks you @Kyberius for reporting this. Would be great if you could provide a simple app that we can use to reproduce this problem.

[2020-02-17 20:17] kmagiera commented on #334
I think this is just an oversight as we only check TS definition file every once in a while. Happy to accept a PR for the definition file that'd add that.

[2020-02-17 20:20] psloboda commented on #309
+1

[2020-02-17 20:20] kmagiera commented on #332
Hey, unfortunately native toolbar on Android does not apply a padding automatically in a way iOS navbar does. I haven't yet decided how do we want to go about handling this to provide better consistency. Thanks for reporting, I'll keep this open for now and check back soon when we have more time to address consistency issues.

Before that happens you should be able to add an empty view as left ite

[2020-02-17 21:44] sallar commented on #332
@kmagiera thank you. I couldn’t find a way to add an empty view to the left sidebar though. I’m using React navigation in my project and I went through all the options. Maybe I have missed something?

[2020-02-17 23:02] MostafaMAbdellateif commented on #279
Same here, i also tried downgrade them as @neoswallow said but didn't work

[2020-02-18 03:24] ctopher7 opened #338 "[Android] com.bumptech.glide.manager.SupportRequestManagerFragment cannot be cast to com.swmansion.rnscreens.ScreenFragment"
version 2.0.0-beta.6

[2020-02-18 03:26] #338 closed

[2020-02-18 03:27] ctopher7 commented on #338
forgot to delete build folder

[2020-02-18 03:31] ctopher7 opened #339 "[Android] com.bumptech.glide.manager.SupportRequestManagerFragment cannot be cast to com.swmansion.rnscreens.ScreenFragment"
version 2.0.0 beta 6

[2020-02-18 08:18] MohamadKh75 opened #340 "[Android][2.0.0-beta.6] Release fail"
Hey

I just upgraded from `2.0.0-beta.4` to `2.0.0-beta.6` and i can't build my project for release:

[code]

<details>
<summary>More info</summary>
<p>

[code]

</p>
</details>

Thanks for your amazing efforts! :heart: :sparkles:

[2020-02-18 13:45] dynbit commented on #339
In ours use this exception comes from https://github.com/DylanVann/react-native-fast-image,
as it is using view-less fragments.

Ref: https://bumptech.github.io/glide/javadocs/380/com/bumptech/glide/manager/SupportRequestManagerFragment.html

[2020-02-18 14:44] kmagiera commented on #340
please try starting a fresh project and adding this library to it. If it still results in this problem I'd be happy to look into it. If it does not it likely means that this is due to some prior configuration of your project in which case I'd recommend comparing setup of a fresh project and yours. I'm going to close this issue as I've been using beta.6 on a couple of projects and haven't experienc

[2020-02-18 14:44] #340 closed

[2020-02-18 14:45] kmagiera commented on #279
Hi @tapz – looks like you don't have any problems reproducing the crash. Do you mind pushing a sample project where the crash happens on github so that I can pull the code and reproduce for myself?

[2020-02-18 14:48] kmagiera commented on #309
I hear from @adamczyk777 that this crash no longer occurs on the most recent release (2.0.0-beta.6). As I don't see any repro case here I could use to verify I can only ask whoever reported the crash here if you still get it on beta.6. In case you do please comment below or start a new issue with a repro scenario.

[2020-02-18 14:48] #309 closed

[2020-02-18 14:49] kddc commented on #332
@sallar Yes, pretty sure it's related to this PR - https://github.com/software-mansion/react-native-screens/pull/289/files

[2020-02-18 14:50] sallar commented on #332
yes @kddc good find. that's it.

[2020-02-18 15:24] msantang78 commented on #339
Yeah, we have the same error and we are using react-native-fast-image
I even tried with version 8.0.0 (not available on NPM not sure why) but the error persists.

[2020-02-18 16:13] alimek commented on #309
@kmagiera

[code]
could this be still related to fix?

[2020-02-18 16:13] mtt87 commented on #309
@kmagiera on my end I just tried and it seems to be fine 😄 well done 🎉
Curious to what was?

[2020-02-18 16:17] kmagiera commented on #309
Great to hear @mtt87

@alimek – as for the crash I don't think it is related but I can understand what other change might've caused that crash. Would be great if you could prepare a repro case for that crash and start a new issue as I believe that one is not related.

[2020-02-18 16:20] alimek commented on #309
It is happening when I am closing modal screen, but not on every screen. I will try to check why it crashes on my side first and then try to create repo. 👍 cheers

[2020-02-18 16:29] panteleymonchuk commented on #290
Any solutions?

[2020-02-18 16:50] alimek opened #343 "[Android] AndroidRuntime: FATAL EXCEPTION"
Stack trace:

[code]

Versions:
[code]

It is crashing when I am closing Modal Screen, trying to investigate why its happening only for one screen in my app at the moment.

Will update this post once i have some more information.

[2020-02-18 19:01] alimek commented on #343
update:

Problem is here: https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenContainer.java#L255

`orphanedAry` sometimes has extra `SupportRequestManagerFragment` object and then casting this to `ScreenFragment` is crashing app.

Still trying to guess what is causing this problem in the app, because i have the same screen somet

[2020-02-18 21:30] Jekiwijaya commented on #343
related to #339

[2020-02-19 03:24] R4meau opened #346 "Method `useScreens` is deprecated, please use `enableScreens`"
I'm on Expo and when I use `useScreens`, I get the above error.

Although, the `README` on here is saying to use `useScreens` when using Expo and `enableScreens` when not.

I went ahead and used `enableScreens` and it's all working fine. This is just to make sure that the README is simply outdated.

[2020-02-19 09:26] MohamadKh75 commented on #340
I created a fresh project and upgraded to `2.0.0-beta.7` but unfortunately, the problem exists!

Here is my project info:

[code]

[2020-02-19 10:31] kmagiera commented on #346
`enableScreens` is just an alias for `useScreens`. They do the same thing, but we encourage to use `enabledScreens` as `useScreens` is detected as being a react hook (which is not) by some react tooling. Do you mind updating the docs, I'd be happy to merge such change to clarify that.

[2020-02-19 10:44] kmagiera commented on #340
can you publish that fresh project on github so that I can pull it in and reproduce the build error youre getting?

[2020-02-19 12:29] MohamadKh75 commented on #340
So, before I push, I noticed the problem is because of `minifyEnabled enableProguardInReleaseBuilds` which is `true`.

[2020-02-19 13:55] Flouwrian commented on #309
@kmagiera i´m having the same error, when i try to use the back button in the stack header bar. I´m currently migrating from react-navigation 4 to react-navigation 5 and everythings working nice just this is bothering me.

[2020-02-19 14:30] #343 closed

[2020-02-19 14:32] alimek commented on #339
I guess could be closed via #344

[2020-02-19 14:42] vikjovanov commented on #114
@douglasjunior I have the exact same error from the Google Play Console, how did you solve this problem?

[2020-02-19 16:11] douglasjunior commented on #114
Hi @vikjovanov, sorry, I removed the react-native-screens from the projects until it became stable, I had a lot of crash problems so we decided not to insist for now.

[2020-02-19 16:12] vikjovanov commented on #114
@douglasjunior Thank you for your answer, and do you feel a significant difference in performance or not?

[2020-02-19 16:16] douglasjunior commented on #114
I always used it without this lib, I was just experimenting.

The only difference you will have would be in apps that open a very large stack of screens.

In the case of these apps you will have a RAM savings using "react-native-screens".

[2020-02-19 16:21] vikjovanov commented on #114
@douglasjunior Ok ok ! Thanks a lot for your feedback, I'll think about it because I also have a lot of problems on Android with react-native-screens!

[2020-02-19 17:06] kmagiera commented on #114
I believe this issue should be resolved as of the latest version 2.0.0-beta.8. I can't tell for 100% because there was no repro scenario we could use to verify but fixes for few similar crashes have been applied since alpha.22. If you can still repro this on 2.0.0-beta.8 please provide a small repro app and start a new issue or comment here and I'll reopen.

[2020-02-19 17:06] #114 closed

[2020-02-19 17:07] kmagiera commented on #339
closing this as we already have a fix in and 2.0.0-beta.8 has been published that includes the fix.

[2020-02-19 17:07] #339 closed

[2020-02-19 17:09] #346 closed

[2020-02-19 17:28] douglasjunior commented on #114
@kmagiera Did "react-native-screens" have any versions requirements for "react-native-reanimated" or "react-native-gesture-handler"?

[2020-02-19 19:06] kmagiera commented on #114
what do you mean by "version requirement". Those three packages are all disjoint and not directly depend on each other. There are some libraries that depend on some combination of these three but out of the box they are not coupled

[2020-02-19 19:08] kmagiera commented on #340
I don't think I'm able to help unless you share a sample project that I can pull and exact steps I should run to get the error you're getting.

[2020-02-19 19:28] kmagiera commented on #290
Looks like a fix for this crash landed in alpha.28 -> https://github.com/software-mansion/react-native-screens/commit/1c7ebeba39a3d26437a89a1c929d68cec0257227

[2020-02-19 19:28] #290 closed

[2020-02-19 19:57] kmagiera commented on #328
Thanks for linking @morteify – I'm going to close this one as there are some resolution suggestions in #281 alrleady.

[2020-02-19 19:57] #328 closed

[2020-02-19 19:58] kmagiera commented on #281
Thanks @BadMask121 for posting your solution. Can you clarify whether you added that to the app's podfile or to the screens library podfile? If the latter do you know if the change is backward compatible with older versions of react-native?

[2020-02-19 20:01] kmagiera commented on #300
There were a couple of issues related that got fixed in the most recent version. I'm going to close this one and consider resolved as there is no repro scenario here I could use to verify, just the stacktrace that matches issues we resolved. In case you still experience this problem with 2.0.0-beta.8 please comment below or start a new issue.

[2020-02-19 20:01] #300 closed

[2020-02-19 20:11] MohamadKh75 commented on #340
Well, I find out that there is an `android.enableR8=true` flag in new project (gradle.properties)
when I add that, I can successfully build!

Thanks and sorry to bother you :grin: :heart:

[2020-02-19 20:40] BadMask121 commented on #281
@kmagiera I added my solution to the apps podfile and yes it's backward compatible, all it actually needed was the React-CoreModules.

[2020-02-19 20:52] tomffee commented on #309
what helped us was actually removing `useScreens` method while using android platform for now.

[code]

[2020-02-20 01:19] ctopher7 commented on #339
@kmagiera thank you!

[2020-02-20 04:40] kamleshh-bms commented on #300
@kmagiera I am still facing the same issue with latest version. I will try to provide repro soon.

[2020-02-20 09:41] todoranalex opened #349 "Android - TextInput Autofill not working"
"react-native": "0.61.4"
"react-native-screens: "2.0.0-alpha.5"

It seems that the library blocks the native autofill suggestions view. Also, there is no save password dialog after a successful login. (This dialog is auto popped-up by the Android framework).

[code]
Setting those props should be enough to trigger the autofill mechanism.

What we tried and **did not work**:
- Update to a library ve

[2020-02-20 17:46] kddc commented on #332
Hey @NekoMobileStudio, awesome that you tackled that issue - if i may make a suggestion, i would suggest to maybe make it more like a boolean parameter, which toggles if you want to use the default inset behaviour (which was used before the commit i linked) and the one with the inset 0.
But i have no idea about, why this was changed in the first place, and im sure there are good reasons for it.

[2020-02-21 00:03] Pacheco95 commented on #166
I added these lines to android/app/build.gradle file. The exception continues but now the app runs without crashing

[2020-02-21 09:22] matt-oakes commented on #322
This seems to be related to this iOS 13 issue:

https://forums.developer.apple.com/thread/121861

I have tried implementing the workaround, but it doesn't seem to fix it.

I have had success with re-setting the `screenView` of the `RNSScreenStackHeaderConfig` view a short delay after the `viewWillAppear` method is called on `RNScreen, however, this falls deeply into the "dirty hack" category:

[co

[2020-02-21 13:25] dominiczaq commented on #54
Hi @kmagiera, I've managed to create repro https://github.com/dominiczaq/react-native-screens-no-view-found-issue

The issue is occurring when component renders `<Stack.Navigator>` and while navigating the render changes to `null`.

It seems that there are no issues when Stacks are changing rapidly, only when the Stacks are unmounted while navigating.

[2020-02-21 18:56] Maskedman99 opened #353 "Android - Build Failing"
After upgrading to version 2.0.0-beta.10, running ``react-native run-android`` is failing.
[code]
downgrading to version 2.0.0-beta.4, the error goes away and build is completed successfully.

[2020-02-21 21:59] altinredapple commented on #353
Also having the same problem.

[2020-02-22 07:49] pvinis commented on #334
Started it on https://github.com/software-mansion/react-native-screens/pull/355

[2020-02-22 14:16] wong2 commented on #236
@owinter86 have you tried the latest 0.62.0-rc.2？

[2020-02-22 16:09] brendan-rius commented on #353
Same here, downgrading worked

[2020-02-22 18:09] satya164 opened #356 "[native-stack] Modals can't be transparent without changing ThemeContext"
_Moved from [react-navigation/react-navigation#6877](https://github.com/react-navigation/react-navigation/issues/6877). Originally opened by @Jarred-Sumner_
___

**Current Behavior**
Say you're on iOS and you want to show a modal with a transparent background.

All views have a background color set by default, so instead of the modal being transparent, it shows the system background color.

https:

[2020-02-22 18:11] satya164 opened #357 "[native-stack] If present native alert for iOS that time not navigate new screen in react-navigation 5 using createNativeStackNavigator"
_Moved from [react-navigation/react-navigation#6852](https://github.com/react-navigation/react-navigation/issues/6852). Originally opened by @singheshadev_
___

**Current Behavior**

- Not redirect new screen.

**Expected Behavior**

- Navigate new screen

**How to reproduce**

- Open A screen
- Present native alert view
- Execute to navigate second screen code (Using createNativeStackNavigator)

[2020-02-22 18:12] satya164 opened #358 "[native-stack] Swipe back is not working"
_Moved from [react-navigation/react-navigation#6809](https://github.com/react-navigation/react-navigation/issues/6809). Originally opened by @berkaey_
___

**Current Behavior**

with

[code]
swipe back is not work on iOS 13.

**Expected Behavior**

It should work line in stack navigator.

**How to reproduce**

just create a simple 2 view app and swipe back.

https://snack.expo.io/@berkaey/routing-

[2020-02-22 18:14] satya164 opened #359 "[native-stack] Cannot navigate more than 1 screen back in a NativeStack with stackPresentation transparentModal or modal"
_Moved from [react-navigation/react-navigation#6804](https://github.com/react-navigation/react-navigation/issues/6804). Originally opened by @jkingworking_
___

I have a demo app with one native stack navigator and 3 screens setup up with `stackPresentation:transparentModal`. Each screen navigates to the next except the final screen which attempts to navigate back to the first.

Attempting to navi

[2020-02-22 18:16] satya164 opened #360 "[native-stack] Header is out of the safe area on Android"
_Moved from [react-navigation/react-navigation#6797](https://github.com/react-navigation/react-navigation/issues/6797). Originally opened by @enheit_
___

**Current Behavior**

The header navigation is rendered beyond safe area on Android devices.

![image](https://user-images.githubusercontent.com/8645216/74091933-4f249900-4ac6-11ea-9ce6-bded773c13a7.png)

**Expected Behavior**

The header should

[2020-02-22 18:17] satya164 opened #361 "[native-stack] iOS 13 Style Modal Has White Background instead of Black"
_Moved from [react-navigation/react-navigation#6791](https://github.com/react-navigation/react-navigation/issues/6791). Originally opened by @hammadj_
___

**Current Behavior**

- What code are you running and what is happening?
Using a NativeStackNavigator and presenting a screen with `stackPresentation: 'modal'` results in the app having a white BG.
![Screen Recording 2020-02-06 at 12 15 20 AM](

[2020-02-22 18:18] satya164 opened #362 "[native-stack] autoFocus inputs with native stack causes double navigation glitch"
_Moved from [react-navigation/react-navigation#6778](https://github.com/react-navigation/react-navigation/issues/6778). Originally opened by @enheit_
___

### Current Behavior

- Navigating to a screen using createNativeStackNavigator will cause screen to have a double navigation glitch, the animation will reset when the keyboard is activated.
- I can confirm this does not happen with the JS stack

[2020-02-22 18:19] satya164 opened #363 "[native-stack] Issue with native-stack nested within a bottom-tabs navigator"
_Moved from [react-navigation/react-navigation#6774](https://github.com/react-navigation/react-navigation/issues/6774). Originally opened by @Mitch528_
___

I'm not sure if this is an issue with react-native-screens or with how react-navigation interacts with it, but I thought I'd start here.

---

### Current Behavior

When pushing a second screen using the native stack navigator nested within a

[2020-02-22 18:21] satya164 opened #364 "[native-stack] [iOS] BottomTabNavigator hide/show bug in Native Stack"
_Moved from [react-navigation/react-navigation#6772](https://github.com/react-navigation/react-navigation/issues/6772). Originally opened by @guvenakcoban_
___

### The problem

- When I tried to hide bottom tabs in native stack, tabs going out but the screen's height doesn't update. If I change orientation of device or pull the status bar, it's fixing. See the gif.
- This problem is only appear w

[2020-02-22 18:23] satya164 opened #365 "[native-stack] does not show header with transparentModal"
_Moved from [react-navigation/react-navigation#6768](https://github.com/react-navigation/react-navigation/issues/6768). Originally opened by @Aryk_
___

I was using createNativeStackNavigator to create a new stack. For one of the screens when setting presentation to "transparentModal" or "modal" in my iOS simulator, the overlay comes up but the header is completely gone. Removing {presentation: "t

[2020-02-22 18:24] satya164 opened #366 "[native-stack] Android: crash on pop/goBack"
_Moved from [react-navigation/react-navigation#6767](https://github.com/react-navigation/react-navigation/issues/6767). Originally opened by @Hirbod_
___

Newest version, ejected from expo, Alpha Screen Version 22.
Cross-Posting, since I don't know if the error is caused by screens or navigation-ex. Please close if not related to this package.

https://github.com/kmagiera/react-native-screens/issu

[2020-02-22 18:25] satya164 opened #367 "[native-stack] Can't toggle element inspector on modal window"
_Moved from [react-navigation/react-navigation#6766](https://github.com/react-navigation/react-navigation/issues/6766). Originally opened by @Hirbod_
___

When opening rn element inspector while a modal is open, the element inspector gets attached to the window behind. So it's not possible to inspect the modal screen.

No issues with the performance monitor though. This might be even an upstream i

[2020-02-22 18:27] satya164 opened #368 "[native-stack] Can't navigate to nested native stack navigator from native stack navigator"
_Moved from [react-navigation/react-navigation#6761](https://github.com/react-navigation/react-navigation/issues/6761). Originally opened by @foonx_
___

**Current Behavior**

I Currently have

- Main native stack navigator
  - Main menu screen (this is the initial route)
  - Nested native stack navigator
    - List Screen

**Expected Behavior**

I want to navigate from the main menu screen to the

[2020-02-22 18:28] satya164 opened #369 "[native-stack] Native animation (Large title) isn't scrolling properly"
_Moved from [react-navigation/react-navigation#6754](https://github.com/react-navigation/react-navigation/issues/6754). Originally opened by @iDuuck_
___

**Current Behavior**

When scrolling through the screens in my example (see "How to reproduce"), the large title bar is bouncing. I am not sure on how to **properly** recreate the issue, because it sometimes happens with `ScrollView`, and someti

[2020-02-22 18:29] satya164 opened #370 "[native-stack] headerLargeTitle exposes white background on navigation"
_Moved from [react-navigation/react-navigation#6751](https://github.com/react-navigation/react-navigation/issues/6751). Originally opened by @evanheckert_
___

**Current Behavior**

![demo-gif](https://user-images.githubusercontent.com/5625859/73494562-55a26a80-437a-11ea-904d-38376df88771.gif)

Gif was recorded with slow animations enabled in the iOS simulator (ios 13.3). Symptoms are the same whe

[2020-02-22 18:30] satya164 opened #371 "[native-stack] `headerLargeTitleStyle` isn't accepting any Expo fonts"
_Moved from [react-navigation/react-navigation#6750](https://github.com/react-navigation/react-navigation/issues/6750). Originally opened by @iDuuck_
___

**Current Behavior**

When I am trying to include a custom font into Expo, I am not able to use it using the native stack navigators `fontFamily` attributes. It keeps the SF Font.

**Expected Behavior**

I want the font to be the right one actua

[2020-02-22 18:31] satya164 opened #372 "[native-stack] Header Icons are sometimes unclickable and offset"
_Moved from [react-navigation/react-navigation#6746](https://github.com/react-navigation/react-navigation/issues/6746). Originally opened by @markmssd_
___

**Current Behavior**
<img width="476" alt="Screen Shot 2020-02-04 at 1 28 23 AM" src="https://user-images.githubusercontent.com/5899024/73719735-49a60800-46ee-11ea-91a6-df1706645a07.png">

When trying to display an icon in the header, it somet

[2020-02-22 21:30] janicduplessis commented on #236
Original fix didn't fix the issue completely. A better fix has been merged in master but not yet released https://github.com/facebook/react-native/commit/6adba409e6256fd2dcc27a4272edcedae89927af

[2020-02-23 00:53] nandorojo commented on #317
Would be awesome if this could make it before @expo releases sdk 37.

[2020-02-23 04:18] hukusuke1007 commented on #353
same problem

[2020-02-23 07:25] wong2 commented on #236
@janicduplessis thanks, will it be included in 0.62 release?

[2020-02-23 08:48] OscarYuen opened #373 "enableScreens() with react navigation make component inside ScrollView unable to receive touch event"
In the app , create a bottom tab bar with createBottomTabNavigator in react-navigation
There are two screens located at two bottom tabs respectively, the first one with ScrollView and the another one has normal flat list

-Opening the 1st tab for the first time, scrollView works fine.
-Switch to 2nd tab and back to 1st tab the scrollView still works
-Fast scroll the scrollview and switch to the 2n

[2020-02-23 09:51] owinter86 commented on #236
@janicduplessis I have added this commit to the RC candidate locally and resolves this issue.

[2020-02-23 09:53] owinter86 commented on #236
@wong2 I have requested this gets cherrypicked for the next 62 release candidate, should be a simple pick as I could do it locally quite easily.

[2020-02-23 18:02] ivopatty opened #374 "[native-stack] fullScreenModal and stackAnimation: flip hangs app"
**Current Behavior**

I have the following navigation structure
- Main native stack navigator
   - Welcome Screen (this is the initial route)
   - Sign In Screen
   - Sign Up Screen

So I've set up SignUp Screen to navigate with the options `options={{headerShown: false, stackPresentation: "fullScreenModal", stackAnimation: 'flip'}}`

**Succesful paths:**
Welcome Screen -> Sign In Screen -> Sign U

[2020-02-24 13:46] OmarBasem opened #375 "QUESTION: How can I benefit from this library?"
I use react-navigation for handling navigation. How can I benefit from this library? What can this library do that I cannot do with react-navigation alone?
Thanks!

[2020-02-24 17:57] coffenbacher commented on #205
Any luck on the merge of this one @kmagiera ? I see you doing great pumping out new betas, but as far as I can tell, this one is still an issue on the latest. Thanks!

[2020-02-24 22:45] dogukny opened #380 "White flash when using DarkTheme"
When DarkTheme is activated white flash appears while moving to the other page. Its not appear in DefaultTheme.

[code]

[code]

<img src="https://user-images.githubusercontent.com/35095902/75197735-0597a780-5770-11ea-85c0-816c053bcd79.gif" width="270" height="480">

[2020-02-25 05:26] sorakrisc commented on #353
Same here, downgrading worked

[2020-02-25 05:57] vishaalsaravanan opened #381 "Bug in react-native-screens latest beta release"
App Crashes when I try to render the component in the stack .Please fix it !..
Platform :Android
Version :2.0.0 beta 13
Error:Doesnt show any error message it simply crashes..
While looking into my package.json file i found out that the package react-native-screen  was in beta mode.Just downgraded the package's version to the one in my previous build which i had used before 2.0.0-alpha.27 and it w

[2020-02-25 08:11] billouboq commented on #381
maybe you should be more specific :
  - iOS android ?
  - Which version ?
  - What is the error ?

Please fix your message !..

[2020-02-25 15:46] davewthompson opened #382 "Java exception: java.lang.ClassCastException: com.facebook.react.modules.dialog.AlertFragment cannot be cast to com.swmansion.rnscreens.ScreenFragment"
The following exception is thrown when I show an Alert using 'Alert.alert' in a React Native app; the alert appears, but then a second or so later the following exception is thrown:

`2020-02-25 10:42:55.340 11170-11170/[redacted] E/unknown:ReactNative: Exception in native call
    java.lang.ClassCastException: com.facebook.react.modules.dialog.AlertFragment cannot be cast to com.swmansion.rnscree

[2020-02-25 16:55] Derewith commented on #371
No news?

[2020-02-25 17:20] iDuuck commented on #371
It super sad. Because `react-navigation` was one of my go to projects for React-Native.

[2020-02-25 19:26] kmanj-pixel commented on #372
Same problem. Happens in standalone build and in Expo app.

software | version
-- | --
iOS or Android | iOS
@react-navigation/native | ^5.0.2
@react-navigation/native-stack | ^5.0.2
react-native-screens | 2.0.0-alpha.12
react-native | expo's v36 fork
expo | v36
node | v12.16.1
npm or yarn | yarn 1.22.0

[2020-02-26 03:54] alexichristakis commented on #358
Confirm swipe back stops working with react-native-screens version 2.0.0 beta 11

[2020-02-26 05:25] BrendonSled opened #385 "Back gesture broken"
The back gesture in iOS no longer works in the latest release

Platform: iOS
Version: 2.0.0-beta.13

With some testing it looks like this issue started at beta.11

[2020-02-26 09:30] cryptedx commented on #381
I have the same problem, directly after app start. I can just can see a white screen for a short time.
Platform :Android
Version :2.0.0 beta 13

beta 4 was working fine.
iOS is also working fine.

[2020-02-26 10:52] sallar commented on #332
@kmagiera any chance we could have a review on this PR?

[2020-02-26 10:57] sallar opened #387 "[native-stack] [iOS]: headerTranslucent doesn't work and causes issues with layout"
Hi,

When adding `headerTranslucent: true` on iOS, the header does NOT get translucent, but instead, some new issues are caused by it.

Without `headerTranslucent`:

![image](https://user-images.githubusercontent.com/768052/75338344-3b837b80-5897-11ea-9909-e72fb02c9798.png)

With `headerTranslucent`:

![image](https://user-images.githubusercontent.com/768052/75338380-49d19780-5897-11ea-95de-4f91b9

[2020-02-26 11:01] guvenakcoban commented on #364
tested with `"react-native-screens": "^2.0.0-beta.13"` still same.

[2020-02-26 11:03] guvenakcoban commented on #364
tested with "react-native-screens": "^2.0.0-beta.13" still same.

[2020-02-26 14:06] OscarYuen commented on #373
Confirmed that this issue also happens in 2.0.0-beta.12

[2020-02-26 16:54] janicduplessis commented on #385
I can confirm this, looking into it.

[2020-02-26 17:45] Hirbod commented on #385
Bummer... v2 just got released and merged into expo sdk 37. I can confirm this too

[2020-02-26 17:51] janicduplessis commented on #385
@Hirbod can you confirm that #389 fixes the issue?

I will make sure this gets included in expo release

[2020-02-26 17:51] ShotSkydiver commented on #385
Yep.... seems to have been introduced somewhere in between beta.10 and beta.13 - at least, that's when I first noticed it

[2020-02-26 17:52] Hirbod commented on #385
Gimme couple if minutes, gonna implement the fix

[2020-02-26 17:59] Hirbod commented on #385
@janicduplessis 👍 #389 fixed the issue, gesture is working again.

[2020-02-26 18:05] janicduplessis commented on #385
👍 Thanks!

[2020-02-26 18:07] #385 closed

[2020-02-26 20:57] Legi0n1138 commented on #208
Experiencing this issue, at least on android.
[code]
Any known solutions?

[2020-02-26 21:09] Hirbod commented on #385
@janicduplessis u have contacts to get this into sdk 37?

[2020-02-26 21:20] janicduplessis commented on #385
Yes, I mentioned this to people at Expo to make sure it gets included.

[2020-02-27 00:22] kmagiera commented on #364
one thing you can do as a workaround is to place stack above tabs in the hierarchy.

[2020-02-27 00:25] enheit commented on #380
I have the same issue on Android (v9)

[2020-02-27 00:55] enheit opened #394 "Add animationTypeForReplace"
I would like to have `animationTypeForReplace` option for `Stack.Screen`.

See: https://reactnavigation.org/docs/stack-navigator#animationtypeforreplace

[2020-02-27 04:48] fernandoavf7 commented on #381
same problem here, I tried with 2.0.1, 2.0.0, 2.0.0 beta 13, 2.0.0 beta 4 and doesnt work app crush at start with a white screen and show this message
https://imgur.com/ir2r8HP
if I delete the module from package.json, delete node_modules and install all again the app works

[2020-02-27 08:40] kmagiera commented on #381
Thank you all for your reports. However I'd like to point out that the level of details provided on this report is not actionable. Would be great to get at least the stack trace of the crash and at best a reproducible simple app I can use to see the problem for myself.

[2020-02-27 08:41] kmagiera commented on #364
One benefit of the approach of structuring the navigation the other way around (tabs inside stack) is that when you push, the tabs will animate away along the previous screen.

[2020-02-27 08:44] kmagiera commented on #208
@Legi0n1138 Please try react-native-screens@2.1.0 and report back if that did not solve the problem

[2020-02-27 08:46] flavordaaave opened #395 "RefreshControl does not work properly with NativeStackNavigator and headerLargeTitle=true"
"@react-navigation/native": "5.0.8"
"react-native-screens": "2.1.0"

[code]

Current behavior: RefreshControl partially hidden under header
![ijoa4BqQHS](https://user-images.githubusercontent.com/5305150/75426670-6cba8500-5945-11ea-80e2-bd6401bf84dc.gif)

Expected behavior (screenshot from iOS Mail app): RefreshControl is displayed on top of the header
![IMG_40F0EC6E32A2-1](https://user-images.git

[2020-02-27 09:25] kmagiera commented on #236
Going to close this issue as the proper fix is outside of the scope of this library.

In order for auto focus to work as in native iOS app, it is necessary for the field to be marked as focused right when it installs. This needed to be change in RN core as autoFocus used to be a prop that'd just call to `focus` with some delay. With @janicduplessis's change to RN when you push a screen with autoFo

[2020-02-27 09:25] #236 closed

[2020-02-27 09:28] kmagiera commented on #382
I believe this is fixed as of #344 which landed in beta.8

[2020-02-27 09:28] #382 closed

[2020-02-27 09:31] kmagiera commented on #362
dupe of #236

[2020-02-27 09:31] #362 closed

[2020-02-27 10:13] i-suraj007 commented on #381
``
2020-02-27 15:33:52.167 31172-31172/com.epsumthings E/HAL: PATH3 /odm/lib64/hw/gralloc.qcom.so
2020-02-27 15:33:52.167 31172-31172/com.epsumthings E/HAL: PATH2 /vendor/lib64/hw/gralloc.qcom.so
2020-02-27 15:33:52.167 31172-31172/com.epsumthings E/HAL: PATH1 /system/lib64/hw/gralloc.qcom.so
2020-02-27 15:33:52.167 31172-31172/com.epsumthings E/HAL: PATH3 /odm/lib64/hw/gralloc.msm8953.so
2020-02-

[2020-02-27 10:32] owinter86 commented on #236
@kmagiera this is also fixed in the new React native release candidate so can be closed anyway.

[2020-02-27 11:04] kmagiera commented on #332
Ended up coming with an alternative approach for this. I'd like to avoid adding too many settings to header (like it was done in #350). My approach is not as flexible but brings consistency between Android and iOS. In the future we can give option to remove default paddings (on both Android and iOS) and this way allow the user to specify margin in JS starting from the edge of the navigation bar.

[2020-02-27 11:04] kmagiera commented on #332
@sallar I'm not going to merge #396 just yet, do you mind checking if it provides a solution to your usecase?

[2020-02-27 11:26] kmagiera commented on #381
As one of the causes of the crash I can see the following record:

`ClassNotFoundException: Didn't find class "androidx.swiperefreshlayout.widget.SwipeRefreshLayout"`

The above error means that Android app tries to load a class that is not included in the application bundle.

I presume there is something wrong with your project setup as that class should no longer be needed in screens 2.1.0.

[2020-02-27 11:27] #356 closed

[2020-02-27 11:34] kmagiera commented on #381
I was actually wrong about the above comment and that dependency is needed by another dependency screens use (however androidx does not list it as dependency despite loading some of the classes).

You should follow the steps in the readme and add swipetorefresh dependency to your gradle project. See step 4 here https://github.com/software-mansion/react-native-screens#usage-with-react-navigation-wi

[2020-02-27 11:34] #381 closed

[2020-02-27 11:51] kmagiera commented on #353
Thank you all for reporting you have the same problem. However, I'd like to point out that this isn't really an actionable feedback for me. I'd much rather prefer if you'd posted a full stacktrace from the issue (e.g. enable to run build in verbose mode) and ideally provide a sample app that I could pull in to try the problem for myself.

[2020-02-27 11:53] kmagiera commented on #205
Great, closing this as the fix has been out for a few releases already.

[2020-02-27 11:53] #205 closed

[2020-02-27 13:04] kmagiera commented on #300
Any updates here @kamleshh-bms

[2020-02-27 13:55] Maskedman99 commented on #353
@kmagiera  here's the repo, you have to change the react-native-screens version to the latest one in package.json to observe the error, https://github.com/Maskedman99/MEC

``cd android && ./gradlew build --stacktrace``
[code]
``cd android && ./gradlew build --info``
[code]

[2020-02-27 14:03] CoryWritesCode commented on #287
@billypap1 we recently found this also. It seems like there's something conflicting in the cardStyleInterpolator for the transition spec you might be using. We swapped them around and found one that worked. ( We were using `forModalPresentationIOS` with some custom adjustments I believe and swapped to using just the card style interpolator from `forFadeFromBottomAndroid` )

Not sure if it's the wa

[2020-02-27 20:16] #332 closed

[2020-02-27 20:58] cryptedx commented on #381
OK, I have fixed my startup crash problem with your help. Thank you very much!

[2020-02-27 23:11] sallar commented on #332
Thanks @kmagiera I’m going to test this as soon as possible. Is it out in a beta?

[2020-02-27 23:29] laurentlucian commented on #214
+1

[2020-02-28 18:31] Legi0n1138 commented on #208
@kmagiera `react-native-screens@2.1.0` solved the issue. Thanks!

[2020-02-29 00:40] Frends23 commented on #62
also resolve with
yarn add react-native-screens

[2020-02-29 10:55] Hirbod commented on #371
@iDuuck but this is a native stack issue, not related directly to react navigation

[2020-02-29 11:00] Hirbod commented on #361
Could you try „transparentModal“ instead of Modal in Version 2.2.0 and report back?

[2020-02-29 11:39] JB1905 opened #401 "Screen is inactive after force refresh when screen with stackPresentation modal is opened"
Screen is inactive after refresh app in Expo Client when native-stack screen with `stackPresentation: 'modal'` is opened (it seems that the modal layer is still visible over main screen).

**Platform:**
- XCode Simulator 11.3.1 / iOS 13.4 b3
- Expo Client: 2.14.1
- Expo SDK: 36.0.2
- react-native-screens: 2.0.0-alpha.12 / 2.2.0

[2020-02-29 13:43] punisher97 commented on #380
I was think same your, but the white flash must be the root view container, in my case always was white, because, simply check color schema and change your backgroundColor root wrapper.

[code]

[2020-02-29 13:47] punisher97 commented on #375
Native view controllers increase UX and smooth animations, your can check this in JS and UI fps with perf monitor

[2020-02-29 14:17] OmarBasem commented on #375
@punisher97 so react-navigation does not have native view controllers?
Thanks for your reply!

[2020-02-29 17:30] punisher97 commented on #375
Not, it this is objective of react-native-screens
more info:
https://reactnavigation.org/docs/react-native-screens/

[2020-02-29 17:38] OmarBasem commented on #375
@punisher97 Thank you so much!

[2020-02-29 17:38] #375 closed

[2020-03-01 07:05] Jekiwijaya commented on #214
this is the expo link: https://snack.expo.io/@jekiwijaya/react-native-screens-webview

[2020-03-01 10:51] ChrisEelmaa commented on #279
I just noticed there is no `isTransitioning` property in the latest version (2.2.0). I've rolled out that version to production to see how everything holds up, worth a try if anyone has still problems.

[2020-03-01 13:53] Hirbod commented on #385
@janicduplessis I don't know what happened or what I've done, I also made a clean local demo but the back gesture is still broken, I am 100% on react-native-screens 2.2.0

[2020-03-01 14:06] Hirbod commented on #385
@janicduplessis false alarm.. its the simulator, which wan't we do drag over the edge to recognize my swipe.. everything is working

[2020-03-01 15:01] Hirbod commented on #364
I can confirm this issue, will try the suggestion

[2020-03-01 15:06] Hirbod opened #402 "Android: Navigation resets to first tab in nested navigations"
I have a TabBar. 3 Tabs. Each Tab has its own stack. On iOS, being in Tab 3 and navigating inside that tab and switching tabs and returning back to tab 3: everything works as expected. I am still on the same screen.

When I do the same on android, I get back to the first screen of that Tab, while I should remain on the same inside stack screen. So the navigation state gets lost. Assume I have an o

[2020-03-01 15:23] Hirbod commented on #266
This issue is fixed in 2.2.0 - verified. #366 can be closed to

[2020-03-01 15:23] #266 closed

[2020-03-01 15:24] Hirbod commented on #268
Also, packages like https://github.com/testshallpass/react-native-dropdownalert can't display any alerts inside modals. Looks like "nothing is higher in order" then a modal. We need a fix for this :/

@kmagiera any thoughts?

[2020-03-02 08:18] baraa95 opened #403 "RTL SUPPORT"
hi , i'm trying to use the native stack for iOS and android ,

the issue that when the app is rtl ... the animations and the headers still from left to right ,

this issue was in the react native navigation library and they added their support here

![Screen Shot 2020-03-02 at 10 18 12 AM](https://user-images.githubusercontent.com/16765528/75657565-29c31f00-5c6f-11ea-81e2-ebf80ec968e7.png)

https:

[2020-03-03 00:51] desis123 opened #404 "createNativeStackNavigator documentation missing"
I used createNativeStackNavigator while it was with @react-navigation, today I just found it moved with  react-native-screens. But the document I used from react-navigation website, it's not in there  anymore. . I found it from google cache. It would be very helpful for us if elaborated  documentation is present here.

One more thing to say, if you look for performance, there is no choice but to u

[2020-03-03 06:56] iDuuck commented on #371
Native-stack belonged to react-navigation before this issue was moved. Now it seems a little abandoned. No documentation and no Changelog or so.

[2020-03-03 08:05] derwo commented on #404
Seems like documentation should arrive soon. This is from the README:

[2020-03-03 12:55] diego-better-half commented on #404
I believe that should be changed to `import { createNativeStackNavigator } from 'react-native-screens/native-stack';`

[2020-03-03 14:27] sallar commented on #387
This is still the case in `2.2.0`

[2020-03-03 17:34] aaronkaz commented on #125
I have this issue on RN 0.61.5 with android.  Tried installing fresh, autolinking, manual-linking, nothing works.

[2020-03-03 22:26] Hirbod commented on #404
It’s there, just look closer ;)

https://github.com/software-mansion/react-native-screens/blob/master/native-stack/README.md

[2020-03-04 06:57] wibb36 commented on #280
@osdnk I can't seem to change the Status bar to light in` stackPresentation='modal'`

[2020-03-05 09:29] taismassaro commented on #332
hi @kmagiera
I've read the release commit list for version `2.2.0` and it says this fix should already be there, but that's the version I'm using and I'm still having this inconsistency between Android and iOS.

I'm using `react-native-screens/native-stack` for the Stack and `@react-navigation/native` hooks to show the header on screens I want `skip` or `back` buttons:

[code]

![Screenshot_158339

[2020-03-05 14:52] leshniak opened #405 "[native-stack] Custom image background on the whole screen"
**Platform:** Android

**Problem:** I'd like to set a custom image background on the whole app screen, including the header bar. On react-navigation and non-native stack I can do it with https://reactnavigation.org/docs/stack-navigator/#headertransparent.

Is this possible on native-stack? Or will it be possible in the future?

[2020-03-06 07:15] jimkhan commented on #329
i aslo same problem. Did you solve it? or get any solution?? @pdSatyam

[2020-03-06 09:44] jeanlucdu55 opened #407 "How to use with React Native Router Flux?"
Hi,

Our app is done with RNRF and we'd like to have the iOS 13 modals but we don't understand how to add react-native-screens to our project,

Does anyone has successfully used Screens with RNRF?

Thanks,

Théo

[2020-03-06 13:56] iDuuck commented on #320
Wow, still no update?

[2020-03-07 20:01] kperreau opened #408 "Craslytics: Fatal Exception: java.lang.RuntimeException"
Some of my users crash and i got this error on crashlytics.
It's random and not all the time.
It look like an internal error so if it can help i post the screen here.
Thank you.

![hht](https://user-images.githubusercontent.com/9469797/76151560-a9f5e400-60b6-11ea-8809-843f20a6300c.png)

[2020-03-07 20:11] artyfy-tech-kjetil commented on #371
Any news on this?

[2020-03-09 13:56] lucasluca commented on #408
Same issue here

[2020-03-09 14:17] kperreau commented on #408
And some times my users got a black screen and get stuck, they only can kill app and restart.

Hope it can help to solve it.

[2020-03-09 17:06] MMiladSSanati opened #410 "error in running project: Could not find swiperefreshlayout.jar (androidx.swiperefreshlayout:swiperefreshlayout:1.0.0)."
I am trying to install react-native-screens in my project. I installed it without any problem but when i want to run the app, the following problem will occur:

`
Executing tasks: [:app:assembleDebug] in project D:\Programming\Projects\Sharmarket\mobile app\v1.0.0\Sharmarket\android

Gradle Daemon started in 3 s 898 ms

FAILURE: Build failed with an exception.

 What went wrong:
Execution failed f

[2020-03-09 18:51] muhammadwafa opened #411 "How to use native stack navigator ?"
`@react-navigation/native-stack' to 'react-native-screens/native-stack`, how can I use `native stack `from `react-native-screens`.

If I need only `native-stack`, then do I need to install` react-navigation` too ???

[2020-03-09 21:23] Hirbod commented on #411
Yes you will, if you actually want a navigation library.

https://github.com/software-mansion/react-native-screens/blob/master/native-stack/README.md

[2020-03-10 09:41] muhammadwafa commented on #411
Thank you Is `native-stack` faster than `@react-navigation/stack`

[2020-03-10 11:11] Hirbod commented on #411
Yes, it’s smoother since it’s a native primitive but less customizable

[2020-03-10 20:36] gvankeerberghen commented on #17
Anyone observed a link / correlation with having `android:launchMode="singleTask"` on the MainActivity in AndroidManifest?
Could this help find a "good" solution?

I've also started to see these crashes reported in production for some users with my last published version only.

Looking at the changes I made for that version, there were plenty but no update of dependency and I have been using `reac

[2020-03-11 03:27] desis123 commented on #411
@muhammadwafa I highly recommand to use native stack ... I have tested both of them on production.  native-stack is way to smoother than react-navigation stack.

[2020-03-11 05:57] ouabing commented on #161
Seem like fixed in 2.2.0+

[2020-03-11 05:57] #161 closed

[2020-03-11 06:16] ouabing commented on #238
Appear again on Android in 2.3.0.

[2020-03-11 06:23] ouabing commented on #238
Also appear on 2.2.0.

[2020-03-11 07:04] muhammadwafa commented on #411
thank you so much

[2020-03-11 07:47] pqminh commented on #214
enableScreens()
navigate to screen has a webview make app crash.

[2020-03-11 10:35] wibb36 commented on #153
@kmagiera Have you thought you wanted to do with the header on modal? It's still missing on RNS 2.3.0. I'd collaborate but I'm not an iOS developer. I'd appreciate your help with this.

[2020-03-11 14:20] tvhimanshu opened #415 "'React/RCTImageView.h' file not found | iOS Build Failed"
**Error** - node_modules/react-native-screens/ios/**RNSScreenStackHeaderConfig.m** **'React/RCTImageView.h' file not found**

**Versions**

    "react-native-screens": "2.3.0",
    "react": "16.8.3",
    "react-native": "0.59.8",
    "react-navigation": "^3.1.2"

[2020-03-11 19:42] lefrankleal commented on #205
not working for me, any suggest?

[code]

just updated from `"react-native-screens": "^2.0.0-alpha.32"` to `"react-native-screens": "^2.3.0"` but the issue is still there

I dont want to use the `setTimeout()` workaround, thanks for your time

[2020-03-12 01:24] guioum commented on #372
Same problem here in Expo SDK 36.

[2020-03-12 01:34] lucasluca commented on #408
I removed react native screens from my app, because when this error happens, even the AsyncStorage database is cleaned

[2020-03-12 03:53] singheshadev opened #416 "While swipe back view - Automatically call on click event."
Issue only when crate sub stack.navigator crate

- Create one stack.navigation and create another stack.navigation and use second navigation in first navigation

[code]

When swipe to back in **changeTeam2** screen then swipe back successfully but call click event in list in view changeTeam2.

[2020-03-12 04:31] Maskedman99 commented on #353
@kmagiera  any updates on the issue build still fails for version 2.3.0

[2020-03-12 06:56] rinpatva14 opened #417 "Accidental click event on swipe back gesture"
I have create multiple Stack.Navigator.

Present one controller(Present screen - screen A) then navigate to second screen(Right to left transition - Screen B).
-> Swipe to back (Execute click event in second B). I have using flat list in screen B. When I back screen B to screen with swipe event then execute click event on screen B.

= Generaly no view event execute while swipe to back but multiple

[2020-03-12 11:17] dancomanlive commented on #415
Same here

[code]

[2020-03-12 19:05] othorin commented on #369
I'm having the same issue. As soon as the content of the native stack screen is higher then the viewport, the header scrolls away faster then the touch.

[code]

I've tried both nesting inside navigators and stand alone native stack. Same issue regardless.

[2020-03-12 23:58] jonathanmachado commented on #361
Same here

[2020-03-13 00:01] jonathanmachado commented on #361
"react-native-screens": "2.3.0",

[2020-03-13 04:45] xtroncode commented on #135
@tentechgroup  were you able to solve this ? I am facing a similar issue (same error stack ) . In my case when I remove useScreens() the app does not crash but becomes very slow after navigating a few screens

[2020-03-13 04:48] xtroncode commented on #135
@kmagiera Can I help resolve this issue ? It is blocking the release of react-native version of our app. It would be great if you could point to where I should be looking at as to why this is occurring. Thanks.

[2020-03-13 07:44] kmagiera commented on #135
Thanks for offering your help. The  first step as with all the issues reported would be to prepare a small reproduction app for example in a form of snack or small repo on GitHub

[2020-03-13 09:24] maitrungduc1410 commented on #353
same issue here. v2.3.0

[2020-03-13 13:04] bermann commented on #415
I'm having the same issue with react-navigation 4.1

[2020-03-13 13:28] AlexSmirnov9107 opened #418 "[iOS] Navigate from tabs causes error"
Navigate from tabs to stack causes error.

![image](https://user-images.githubusercontent.com/32673518/76624929-6db3ff00-6560-11ea-82e1-243f9ab59c40.png)

![image](https://user-images.githubusercontent.com/32673518/76624998-8b816400-6560-11ea-9106-4e3716feae18.png)

`

-  "react-navigation": "^4.2.2",
- "react-native-screens": "^2.3.0",

`

[2020-03-13 15:04] i-man92 commented on #410
this, not work for me BUT i fix it by change this:
androidx.swiperefreshlayout:swiperefreshlayout:1.0.0

GO to

[2020-03-13 16:05] mikedizon commented on #418
Seeing this as well

[2020-03-13 19:28] mikedizon commented on #418
In my case, the problem appears to go away when I switch from `createAnimatedSwitchNavigator` to `createSwitchNavigator`

[2020-03-14 07:50] Jekiwijaya commented on #408
I think this related to https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704067

[2020-03-14 13:03] kperreau commented on #408
Not really a fix.
I tried this 2 weeks long, my users got a lot of crash when i put `null` in `super.onCreate();`.

[2020-03-14 14:43] mikedizon commented on #418
@AlexSmirnov9107 were you able to resolve?

[2020-03-14 15:09] Maskedman99 commented on #353
Ok I've fixed the issue by changing

gradle-wrapper.properties
```distributionUrl=https\://services.gradle.org/distributions/gradle-6.0.1-all.zip```

android/build.gradle
[code]
These changes were found in the react-native v0.62.0-rc.5, which is not a stable release. I am using react-native v0.60.5 and made the above changes, no problems were faced.
Let me know if this works for you guys.

[2020-03-14 20:56] abdullateef97 commented on #415
@tvhimanshu have you found a fix for this

[2020-03-15 08:27] Jekiwijaya commented on #408
I also face the same issue, I just tried to publish the `onCreate(null)` solution.  Anyway,  do you know how to repro the crash?

It's would be sad if must comment `enableScreen()` again, it improves a lot in android performances

[2020-03-16 03:47] rinpatva14 commented on #114
Hi @kmagiera,
Facing same issue still in version - 2.3.0.

Issue.- com.facebook.react.ReactActivity.onCreate.
Crash when app launch - Many live app user reported this issue.

[2020-03-16 04:17] rinpatva14 opened #421 "App crash on launch in Android - Unable to instantiate fragment com.swmansion.rnscreens.ScreenStackFragment: could not find Fragment constructor"
Unable to instantiate fragment com.swmansion.rnscreens.ScreenStackFragment: could not find Fragment constructor

Latest version - 2.3.0

Fatal Exception: java.lang.RuntimeException
Unable to start activity ComponentInfo{com.brainbuddy.android/com.brainbuddy.android.MainActivity}: androidx.fragment.app.Fragment$InstantiationException: Unable to instantiate fragment com.swmansion.rnscreens.ScreenSta

[2020-03-16 04:36] #353 closed

[2020-03-16 15:39] WoLewicki commented on #319
It seems like a duplicate of #371 . I am closing it then, please inform me if it is not the same issue.

[2020-03-16 15:39] #319 closed

[2020-03-16 15:46] WoLewicki commented on #380
@dogukny @enheit does @punisher97 's solution fix your issue?

[2020-03-16 15:57] WoLewicki commented on #404
@Hirbod is right, it is the available documentation of `native-stack`

[2020-03-16 15:57] #404 closed

[2020-03-16 16:07] WoLewicki commented on #411
I'm closing since it's resolved.

[2020-03-16 16:07] #411 closed

[2020-03-16 16:19] WoLewicki commented on #416
Are you using `native-stack` or just `stack` navigator?

[2020-03-16 16:21] WoLewicki commented on #417
Looks like a duplicate of #416, I'm closing it then. If it is not the same, please inform me.

[2020-03-16 16:21] #417 closed

[2020-03-16 16:45] WoLewicki commented on #219
@tarunkonda2016 is your issue solved? Can I close it?

[2020-03-16 16:49] enheit commented on #380
@WoLewicki  I have not checked yet... I will try ASAP

[2020-03-16 21:26] sushrut-desora commented on #353
I do not get this error while running the app from android studio, but get it while running 'react-native run-android'

[2020-03-16 23:31] beaur commented on #319
Yes this seems to have been since duplicated.  I will continue monitoring #371 .

[2020-03-17 11:04] rinpatva14 commented on #416
I am using native-stack.

[2020-03-17 11:05] singheshadev commented on #416
I am using native-stack.

[2020-03-17 14:08] ravirajn22 commented on #353
@Maskedman99 Please reopen this issue, until a solution is found or root cause identified, let it be open so that the issue is easily visible to contributors and users.

I get the following error using 2.0.0-beta.10 in some machines, (in some machines it builds properly)

[code]

[2020-03-17 14:16] CharlesMenier commented on #353
We have a similar issue but not for the same compilation step.
I looked for `error: resource style/Widget.AppCompat.TextView (aka com.myawesomeproject.android:style/Widget.AppCompat.TextView) not found.` error without success.

Compile is working fine in version 2.0.0-beta.4 but not with more up to date versions :

`cd android && ./gradlew build --stacktrace`

[code]

`cd android && ./gradlew buil

[2020-03-18 04:42] Maskedman99 commented on #353
@CharlesMenier notice the last lines of your ```cd android && ./gradlew build --stacktrace```

Use '--warning-mode all' to show the individual deprecation warnings.

You're using gradle 5.5, apparently the newer versions of react-native-screens need gradle 6.0, refer the above solution I provided -> https://github.com/software-mansion/react-native-screens/issues/353#issuecomment-599076696

[2020-03-18 05:02] Maskedman99 commented on #353
@ravirajn22 make sure all your machines are using gradle 6.0 .
check your gradle-wrapper.properties and look if it has a line exactly equal to this:
```distributionUrl=https\://services.gradle.org/distributions/gradle-6.0.1-all.zip```

If the issue still persists, post the results of both
```cd android && ./gradlew build --stacktrace``` and ```cd android && ./gradlew build --info```
 then I'll reo

[2020-03-18 06:14] emroot commented on #361
I'm using and experiencing the same issue:
Not sure how to set the overlay options.
my nmp package: `"react-native-screens": "^2.3.0",`

[code]

![image](https://user-images.githubusercontent.com/110190/76930859-b0e5d900-68a4-11ea-990f-6507653e4eca.png)

`transparentModal` doesn't seem to give me the same behavior as it doesn't push away the view below., It just slides the new screen up.

[2020-03-18 08:36] CharlesMenier commented on #353
Tried your fix with no luck, react-native-webview was not compatible with gradle 6 so I updated it, tried again and I pretty much have the same warning (except with gradle 7 this time...) and the same problem with the resource linking :

[code]

[2020-03-18 18:45] kperreau commented on #408
No idea.
When the app is killed, then receive a notification and open application from notification. But not sure at 100%.
Plus, it look like the app got a lot of crash with the Google TestLab (without notification, first install).

[2020-03-19 06:23] itsjgf commented on #421
Probably related to #408

[2020-03-19 10:48] velraj-t2s commented on #89
400ms only working for me

Platform.OS === "ios" ? this.ref.focus() : setTimeout(() => this.ref.focus(), 400)

[2020-03-19 11:13] kenma9123 commented on #123
today I encountered this problem with `react-native: 0.61.5` with `react-native-screens: 2.3.0` and the solution is to upgrade the gradle version to `3.5.2`

`android/build.gradle`
[code]

The changes were found in the [react-native v0.62.0-rc.5](https://react-native-community.github.io/upgrade-helper/?from=0.61.5&to=0.62.0-rc.5). It did work for me after a few hours of finding a solution.

[2020-03-19 12:40] ouabing commented on #238
@osdnk @kmagiera Shall we reopen this? After upgrading from alpha version to 2.3.0, this problem occurs again on Android (tested on several devices), just like my original comment described at the top.

This week I upgrade react-navigation from 4.x to 5.x, still no luck.

[2020-03-19 12:46] fontesrp commented on #238
I was having this problem again too. I've adapted my project to use

[code]

Instead of

[code]

And it stopped. That's a big change though, and not every project can make such a refactor.

[2020-03-19 12:57] ouabing commented on #238
Thanks @fontesrp , I'll give `createNativeStackNavigator` a try. I do have customizations on bunch of headers, hope it will not another huge work like migrating react-navigation from v4 to v5...

[2020-03-19 16:52] GollyJer opened #424 "Navigator rendering twice and resetting screenOptions to defaults."
Hi. I'm using v2.3.0.

I have a simple stack and am trying to turn off gestures.
[code]

**However, gestures remain enabled.**

I walked through the source and landed here.
https://github.com/software-mansion/react-native-screens/blob/89658d9361d32865bf5955549e94f85be155da89/src/screens.native.js#L109

When I `console.log({...this.props})` they get printed twice.
The first output show correct valu

[2020-03-19 18:27] beiBe1991 commented on #123
thank you so much it worked

[2020-03-19 20:06] MMiladSSanati commented on #410
@i-man92 did that but still not working

[2020-03-19 20:19] i-man92 commented on #410
خطایی که داریو بفرست ببینمش

[2020-03-19 22:54] emroot commented on #401
I'm experiencing this as well.
The bug doesn't happen when there's only one modal open (or at least I couldn't reproduce), on force refresh I can still interact with the UI.
However when I open 1 modal, then open another one on top, and force refresh, I can't interact with the UI. The modal layer seems to be on top of my view.
A workaround is to close all my modals first and then force refresh. No

[2020-03-20 10:40] zcmgyu commented on #387
This still remains on 2.3.0

<img width="538" alt="Screen Shot 2020-03-20 at 7 33 23 PM" src="https://user-images.githubusercontent.com/13638569/77156419-ae70c280-6ae2-11ea-91a0-711088079e3e.png">

[2020-03-20 11:22] zcmgyu opened #425 "In the case of Stack Presentation is modal, after dismissing modal, could not push to any screen."
In the case of Stack Presentation is `modal`, after dismissing modal, could not push to any screen.

I try adding an event to trigger dismiss but it hasn't any event callback.

 Stack Presentation is `push` works fine.

### Code:

`stackPresentation: 'modal'`

[code]

### Evidence:

**Modal:**

![Mar-20-2020 20-20-20](https://user-images.githubusercontent.com/13638569/77159214-458c4900-6ae8-11ea-9

[2020-03-20 12:11] wibb36 commented on #425
It doesn't push to other screens in the same navigator. when modal presentation.

It works fine without #260 @kitten changes. The only thing that doesn't work is the missing headers. Try  it without the patches.

[2020-03-20 13:54] zcmgyu commented on #425
@wibb36 Thanks. This is a patch's issue.

[2020-03-20 13:54] #425 closed

[2020-03-20 14:20] tboerc opened #428 "Crash on Android when setting route params"
I'm using the last version avaliable of **react-native-screens** (2.3.0) with **react-navigation** (5.0.3), and in one of my screens, I set it params after refreshing the data from database, and if the database returns an empty array, which is a normal behavior, the app just crash. This only happens on newer versions of Android (tested on 6.0, 8.1 and only 9.0 is crashing). Somehow, if I disable r

[2020-03-20 17:29] zcmgyu opened #430 "How to measure header height?"
I implement padding to KeyboardAvoidingView.
In react-navigation I could get header height through useHeaderHeight hook.

[code]

Could you mind share ideas to measure that header height?

[2020-03-21 06:24] zcmgyu opened #431 "The header blinks when rendering after upgrading to 2.4.0"
The header blinks when rendering after upgrading to 2.4.0

**Version 2.3.0:** OK

![Mar-21-2020 14-57-58](https://user-images.githubusercontent.com/13638569/77220845-9acb6780-6b87-11ea-9728-43347791b5c0.gif)

**Version 2.4.0:** NG

![Mar-21-2020 15-15-34](https://user-images.githubusercontent.com/13638569/77220837-82f3e380-6b87-11ea-91fb-750cd011c4dd.gif)

**Version:**

react: 16.9.0
react-native:

[2020-03-21 07:38] sumansarkarwd commented on #161
It's not fixed. I'm on latest version 2.4.0. The UI freezes for a second than the app crash.

[2020-03-21 07:52] abdullateef97 commented on #415
Unlinking and the downgrading the package to a lower package worked for me

[2020-03-21 13:58] lnmunhoz opened #432 "headerRight randomly position the component incorrectly"
I was testing the `createNativeStackNavigation` and ended up having this random issue where the component rendered by `headerRight` is being positioned incorrectly sometimes. There's nothing special in my code, I am just rendering a `<Button>` from `react-native`.

Here's the source code: https://github.com/lnmunhoz/react-native-experiments/blob/master/react-navigation-examples/examples/NativeNavi

[2020-03-21 15:38] firede opened #433 "The headerLargeTitle is transparent when navigating"
After upgrading to 2.4.0, the headerLargeTitle is transparent when navigating:

![RN-Screens-Issue](https://user-images.githubusercontent.com/157338/77230017-3b437b00-6bcc-11ea-8f48-8fa5946ac11f.gif)

- react@16.9.0
- react-native@0.61.5
- @react-navigation/native@5.1.1
- react-native-screens@2.4.0

[2020-03-22 19:31] alexichristakis opened #436 "[native-stack] modals are only dismissible on iOS 13"
In a barebones project I can't get a modal to dismiss on iOS 11 or 12.

[code]

When an action is fired from Modal to dismiss or navigate back to Root the screen seems to be unmounted based on the performance monitor.

before `navigation.goBack()` or `navigation.navigate('ROOT')` is called:
![Simulator Screen Shot - iPhone X - 2020-03-22 at 12 22 24](https://user-images.githubusercontent.com/21017

[2020-03-23 08:17] olliefinn commented on #62
I tried all of the options outlined here (and elsewhere) and had no luck. What has seemed to resolve the issue was to add the following to the `.flowconfig` file
[code]

[2020-03-23 09:24] ramyareye commented on #410
check https://github.com/software-mansion/react-native-screens/issues/213#issuecomment-554567547

[2020-03-23 09:50] hossein-ghanbari commented on #213
Thank you , worked for me

[2020-03-23 14:48] MMiladSSanati commented on #410
![Screenshot (8)](https://user-images.githubusercontent.com/3746891/77328914-dbb7ad80-6d3a-11ea-9d12-8f600aa020e7.png)

![Screenshot (9)](https://user-images.githubusercontent.com/3746891/77328973-f1c56e00-6d3a-11ea-8d95-f1e8107851d3.png)

[2020-03-23 14:58] MMiladSSanati commented on #410
@ramyareye
it worked thanks. although i changed this two lines:
`
implementation 'androidx.coordinatorlayout:coordinatorlayout:1.1.0@aar'
    implementation 'androidx.swiperefreshlayout:swiperefreshlayout:1.0.0@aar'
`

[2020-03-23 14:59] #410 closed

[2020-03-23 15:03] WoLewicki commented on #436
The problem seems to be here: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreen.m#L85, the `UIModalPresentationFullScreen` causes the block. You can check it if you set `stackPresentation="fullScreenModal"`, then it will resolve to `UIModalPresentationFullScreen` as well and block the application. Am I right @alexichristakis?

[2020-03-23 15:31] MMiladSSanati commented on #213
also worked for me thanks, however i changed
`implementation 'androidx.swiperefreshlayout:swiperefreshlayout:1.0.0'`  to
`implementation 'androidx.swiperefreshlayout:swiperefreshlayout:1.0.0@aar'`

[2020-03-23 16:43] alexichristakis commented on #436
yep, you're correct. any ideas on how we can fix this?

[2020-03-24 06:08] zcmgyu commented on #430
Hey there

[2020-03-24 12:47] GabrielRegis opened #437 "[native-stack] Add headerLargeTitleStyle to Native Stack Navigator"
I'm trying to change the Large Header Font Family when using Native Stack Navigator and it's not working as it should. It would be nice if we could configure font properties for the Large Title component.

[2020-03-24 17:01] WoLewicki commented on #436
You can wait for #438 to be merged or change the presentation to `containedModal`. It should look the same on iOS < 13. Does it fix your issue?

[2020-03-24 18:02] alexichristakis commented on #436
containedModal does fix the issue, but #438 does not fix fullScreenModal. is it working for you?

[2020-03-24 19:58] JMV2112 commented on #281
I already have those lines in my apps podfile, so this isn't a solution for me.

[2020-03-24 22:26] BadMask121 commented on #281
@JMV2112 please check if React is added to your scheme on xcode, if it doesn't add it, then clean build and rebuild

[2020-03-25 06:47] kamui545 commented on #187
I am experiencing a similar issue, but only on Android (simulator and real device).
Here's what I've found:

**2.3.0**: This issue is only happening when I am "quickly" switching tabs.
**2.4.0**: Issue is now happening all the time.

Issue is gone if I remove `enableScreens()`

Deps are updated and Hermes is turned ON:

[code]

Here's some GIF to visualise the bug:

2.3.0

![screens-2 3](https://u

[2020-03-25 08:36] WoLewicki commented on #436
It worked for me, can you make a quick repro where it is not working? And is it failing on iOS < 13?

[2020-03-25 09:48] WoLewicki commented on #437
Can you be more specific of what is not working how it should? `headerLargeTitleStyle` is exposing `fontFamily` property.

[2020-03-25 09:49] kmagiera commented on #213
I think the original problem reported here has been resolved. Not sure what is happening for you now but the dependency mentioned in the orig report is no longer needed and was removed so shouldn't cause build failures.

For all build related issues I suggest to create a clean app using react-native init, add screens to it and try building. This helps determine if there is a problem with your dev

[2020-03-25 09:54] #431 closed

[2020-03-25 09:54] #433 closed

[2020-03-25 09:55] kmagiera commented on #161
Thank you @sumansarkarwd for your comment. Would you mind providing a small reproducable app that we can use to see the problem you are reporting?

[2020-03-25 10:07] ramyareye commented on #213
@kmagiera strange is that seems all people here facing this issue are located inside Iran! we usually have problem with gradle and have to use VPN to download dependencies, and as I know on a situation we get 404 for these packages! lol

[2020-03-25 10:41] #437 closed

[2020-03-25 11:00] WoLewicki commented on #432
I cannot repro your issue either on a simulator or physical device. Upgrade packages to the newest version. Is the issue still present then? If so, please try to write which steps to take for the issue to occur.

[2020-03-25 11:43] lnmunhoz commented on #432
Yes, I just tried again and the issue is still present. I did a fresh install and the issue persisted. Have you tried the repo I've sent?

[2020-03-25 12:42] hstorz commented on #187
@kamui545 yes I have almost same setup as you (using v8 instead of hermes) and also the problem looks similiar: blank page and bottom-tabs still visible. It works for me with none of 2.X versions I tried. And since some of my transitions look flickering on Android with 1.0.0.alpha23 I will now remove enableScreens for Android, on iOS I have no problem. What I also notice when using an 2.0.0.alpha

[2020-03-25 13:18] WoLewicki commented on #432
I cloned your project and also made a bare react-native project. The issue exists only while opening it through Expo Client. This means that the version of RNScreens in the current Expo Client is having the bug since it has RNScreens in version 2.0.0-alpha.12. Can you repro it that way to prove if it is right?

[2020-03-25 14:21] kmagiera commented on #428
Thanks @tboerc for reporting but I am afraid that this description is hardly actionable for us. Happy to look more into the crash but would need to get a small reproducable demo. It appears like you can reproduce the crash locally so maybe try to comment out fragments of the app that are not relevant for the crash to happen and build up that small example this way. Thanks!

[2020-03-25 14:26] kmagiera commented on #401
Apparently upgrading screens to 2.3.0 in expo won't help here as the client with SDK 36 uses native code from alpha-12. I believe this problem should've been addressed already and if you have time I'd appreciate if you could test your app on a clean react-native project with latest version of screens installed.

[2020-03-25 15:08] kmagiera commented on #361
Thanks for all the comments here. There is no way in screen at the moment to control that background so trying different options or changing app background won't help. I'll be looking into it more in the next couple of days and report back here about the options.

[2020-03-25 15:12] kmagiera commented on #380
I believe the white flash comes from some container view having a white (or default background). Possibly the app container you render need to be styled properly

[2020-03-25 15:49] WoLewicki commented on #424
Does the bug occur after upgrading to the latest version of RNScreens? If so, can you provide a repo with a minimal repro with the options passed to the navigator that is not working correctly?

[2020-03-25 15:54] WoLewicki commented on #416
Can you provide a repo with the minimal needed configuration to recreate the issue?

[2020-03-25 16:50] punisher97 commented on #380
@kmagiera it's correct i use react-navigation and setting backgroundColor(#000) in previous viewContainer, in my case  a stack

[code]

[2020-03-25 20:38] JMV2112 commented on #281
@BadMask121 that did it for me, thanks a lot!

[2020-03-25 21:52] frankyjuang commented on #366
Still seeing this with latest 2.4.0.
Here's a repro snack https://snack.expo.io/@milkjobs/fast-back-blank-screen

1. start at home tab
2. press profile tab. switch to profile tab
3. press edit button. open edit screen
4. press back button twice fast
5. crash

Note that on bare react native app, it doesn't crash but shows a blank screen

@Hirbod saw you close https://github.com/software-mansion/rea

[2020-03-25 21:53] Hirbod commented on #366
I closed it since I could not reproduce it anymore. @frankyjuang

[2020-03-25 22:21] loverdeveloper commented on #410
@i-man92 Jan,
You saved my day, I did this and it works, thank you! BUT
I think it's not good to change node_modules files is there other solutions?
Can you create PR or anything to fix this in the right way?

[2020-03-25 22:46] #281 closed

[2020-03-25 22:50] i-man92 commented on #410
sorry, i tried more than 100 way but none of them was'nt a solution, if you
live in iran like me, i think it's a temporary fix
داداش اگه مثه من تو ایرانی، فکرکنم این فعلا تنها راهمون باشه، ی هفته درگیرش
بودم، فقط تونستم کیرفنی بش بزنم

On Thu, Mar 26, 2020 at 2:51 AM Mohmmad Najafian <notifications@github.com>
wrote:

[2020-03-25 22:52] loverdeveloper commented on #410
@i-man92
:D

[2020-03-25 23:01] loverdeveloper commented on #410
@i-man92 Ba ejaze

[2020-03-25 23:05] loverdeveloper commented on #410
Omran merge beshe :)

[2020-03-25 23:08] i-man92 commented on #410
ok nashod? build nakard? error dari hanuz?

On Thu, Mar 26, 2020 at 3:36 AM Mohmmad Najafian <notifications@github.com>
wrote:

[2020-03-25 23:12] loverdeveloper commented on #410
@i-man92 Haji build shod ok bood damet garm

[2020-03-25 23:24] i-man92 commented on #410
فدا

On Thu, Mar 26, 2020 at 3:42 AM Mohmmad Najafian <notifications@github.com>
wrote:

[2020-03-26 13:30] WoLewicki commented on #432
@lnmunhoz can I close it then? Is your issue solved?

[2020-03-26 13:49] kmagiera commented on #361
I'm currently working on exposing a way to customize status bar from stack header options. This is not ready yet and I'll update here on the status.

In the meantime wanted to share some solutions you may try right now:

1) The background color that you see under the new iOS 13 modal is the application window background. Apparently expo sets that to be white. If your app is ejected from expo (or u

[2020-03-26 13:52] WoLewicki commented on #421
I'm closing it then. If it is not duplicate, feel free to comment here to reopen.

[2020-03-26 13:52] #421 closed

[2020-03-26 13:57] WoLewicki commented on #418
Can you provide a minimal repo where the bug can be seen?

[2020-03-26 14:09] WoLewicki commented on #415
Does the issue still exist in v. 2.4.0?

[2020-03-26 14:14] abdullateef97 commented on #415
@WoLewicki was experiencing the issue when using a lower version

[2020-03-26 14:15] WoLewicki commented on #402
Try setting https://reactnavigation.org/docs/bottom-tab-navigator#unmountonblur to `false`. Does the stack still reset after this?

[2020-03-26 14:15] abdullateef97 commented on #415
sorry, I meant to say latest version

[2020-03-26 14:18] WoLewicki commented on #415
So it is still there in v. 2.4.0 yes? Can you provide a repo with minimal configuration needed that shows this bug?

[2020-03-26 14:41] emroot commented on #361
@kmagiera could we maybe allow setting the background color from the `app.json` like it's implemented for the splash screen?
Also is this something that @brentvatne is looking into?
https://github.com/expo/expo/issues/6585

[2020-03-26 15:11] kmagiera commented on #361
yes, this is the same issue. There is a setting in `app.json` for the background color, however it sets the color for the root view while the new iOS modal displays over the rootview revealing fragments of the window which has a white background set on expo shell.

[2020-03-26 15:12] WoLewicki commented on #374
It looks like the same issue as #436. It should be resolved with #438. I am closing it. If it is not the same issue, feel free to comment to reopen.

[2020-03-26 15:12] #374 closed

[2020-03-26 15:15] WoLewicki commented on #373
Can you provide a repo with minimal configuration needed that shows the bug?

[2020-03-26 15:18] WoLewicki commented on #372
It looks like a duplicate of  #432. I am closing it then. Feel free to comment if it is not the same and I will reopen it.

[2020-03-26 15:18] #372 closed

[2020-03-26 16:48] WoLewicki commented on #370
Looks like the issue has been resolved in the previous thread. Feel free to comment it would be needed to be reopened.

[2020-03-26 16:48] #370 closed

[2020-03-26 18:12] lnmunhoz commented on #432
Let me try to reproduce one more time so we can figure out why it was happening.

I will update here in a couple hours.

[2020-03-26 18:32] Hirbod commented on #402
It’s false by default. And it does not occur on iOS, only on Android.

[2020-03-26 21:27] ivopatty commented on #374
@WoLewicki In my testing #438 has not resolved the issue. Please find a reproducible example for my problem here:  https://github.com/ivopatty/modal-flip-reproduce-example

This affects my simulator on  13.4 and 12.4 as well as my iPhone Xr @ 13.3.1

Thank you!

[2020-03-26 23:19] dogukny commented on #380
Still appears. I changed root view's background to black already and tried with useTheme but not didn't fix.

[code]

[2020-03-26 23:20] Deepp0925 commented on #432
This is happens in bare RN project as well, so I doubt it has anything to do with Expo

[2020-03-27 00:24] punisher97 commented on #380
@dogukny an screen its not a root view container, must be in the top, the first View or Navigator

[2020-03-27 08:41] WoLewicki commented on #402
True. Can you make a quick snack or repo with the minimal configuration that will show the issue?

[2020-03-27 11:30] WoLewicki commented on #436
It looks like I made a mistake by adding the check in the wrong method. Try #441 and please tell if it fixes your issue.

[2020-03-27 11:31] WoLewicki commented on #374
It looks like I made a mistake by adding the check in the wrong method. Try #441 and please tell if it fixes your issue.

[2020-03-27 11:33] punisher97 commented on #430
Hi, I can use useSafeArea and add value for default platform:

[code]

[2020-03-27 11:34] WoLewicki commented on #432
@Deepp0925 does it happen with the newest RNScreens version: 2.4.0?

[2020-03-27 14:50] WoLewicki commented on #371
I made a PR: #442. Can you check if it resolves the issue?

[2020-03-27 22:24] ivopatty commented on #374
That does indeed fix the issue! Thank you so much :)

[2020-03-27 23:33] Deepp0925 commented on #432
Yes sir

[2020-03-27 23:59] GollyJer commented on #424
@WoLewicki Just tried with `2.4.0`. Still the same.

Is it working in your tests? If it's on my end I don't want to bother you.

[2020-03-28 00:44] phyng commented on #105
😞same crash on Android 9:
[code]

[code]

[2020-03-28 22:02] markmssd commented on #432
I have a workaround if it's a blocker for anyone here https://github.com/react-navigation/react-navigation/issues/6746#issuecomment-583897436:

[2020-03-29 12:16] kyle-ssg opened #445 "Include back button in ScreenStackHeaderLeftView"
Firstly, this lib is awesome.

When defining a custom ScreenStackHeaderLeftView, I feel that a lot of the times I'd want to still have the native back button where applicable. If I wish to be able to both go back and have a custom view next to it.

Also perhaps a side question on this, would I be able to detect if the stack can go back?

Edit: figured the last point out already - thanks

[2020-03-30 08:37] wong2 opened #446 "[native-stack] Is it possible to support gestureResponseDistance?"
as https://reactnavigation.org/docs/stack-navigator#gestureresponsedistance

[2020-03-30 10:26] WoLewicki commented on #424
I think it might be some error on your side since I haven't noticed such behavior. Maybe if you provided minimal configuration where the error occurs, it would be easier to spot the problem.

[2020-03-30 11:38] kyle-ssg commented on #430
I hate to hijack this thread, but I've got a need to something similar to this description that is not solve-able via the react-native-safe-area-view. It seems at the moment if you measure a component

[code]

This value differs when you're debugging vs not, the difference in measurement I believe is down to the navbar height not being taken into consideration.

[2020-03-30 13:16] fontesrp commented on #114
I'm facing the issue again too. I don't believe a repo with a reproducible project is necessary in this case, as it's very simple to reproduce and most of the steps are done in the device, rather than in the code:

On a physical device, go to Developer Options and enable the "Don't keep activities" option; then run your project (make sure you're calling `enableScreens()`); press the home button to

[2020-03-31 06:25] artmerlop opened #447 "headerLargeTitleHideShadow prop is not working for me"
This is my code:

`<Stack.Navigator screenOptions={{headerBackTitle: 'Atrás'}}>
      <Stack.Screen name="Test" component={Test} options={{headerLargeTitle: true, headerLargeTitleHideShadow: true, headerLargeStyle: {backgroundColor: 'transparent'}, headerTitle: "Test"}} />
    </Stack.Navigator>`

[2020-03-31 07:48] WoLewicki commented on #447
The option's name is `headerHideShadow`, that is probably why it is not working for you. Does it solve your issue?

[2020-03-31 07:51] artmerlop commented on #447
Hi @WoLewicki I'm trying to use the recently added props: largeTitleHideShadow and headerLargeStyle, none of them work.

[2020-03-31 07:56] WoLewicki commented on #447
Oh ok, so it is a question to @janicduplessis then.

[2020-03-31 07:57] luizfonseca commented on #428
I am having a similar issue with Android; I cannot use the native stack to open any screens when setting params or the format `{ screen: 'ScreenName', params: { something... } }`

I will setup a example app to showcase the issue

[2020-03-31 08:34] everfire130 opened #448 "Android leak"
[code]
and after I have added this code to app.js.
[code]
and use `push` 、 `navigate` to route in some pages
  I got the leak warnings
![WechatIMG1188](https://user-images.githubusercontent.com/11308837/78004907-60bf4a00-736d-11ea-9cde-d1fe0b150736.jpeg)
![WechatIMG1189](https://user-images.githubusercontent.com/11308837/78004917-66b52b00-736d-11ea-8cc2-44aa592e1b7a.jpeg)

[2020-03-31 08:45] WoLewicki commented on #365
Follow #260 to see any changes in the topic.

[2020-03-31 08:56] WoLewicki commented on #363
It looks like a duplicate of #364. If I am wrong, comment and I will reopen it.

[2020-03-31 08:56] #363 closed

[2020-03-31 09:14] WoLewicki commented on #360
@enheit can you repro the issue in v. 2.4.0?

[2020-03-31 09:20] WoLewicki commented on #359
@jkingworking can you repro the issue on the latest master branch?

[2020-03-31 09:23] WoLewicki commented on #358
@berkaey @alexichristakis can you repro the bug on the newest master branch?

[2020-03-31 09:26] WoLewicki commented on #357
@singheshadev can you provide a repro with a minimal configuration that shows the bug? Because I cannot understand what you mean by the native alert view.

[2020-03-31 09:28] WoLewicki commented on #349
@todoranalex can you repro the issue in the newest version?

[2020-03-31 10:16] KaelLuo commented on #169
I met the same issue when I trying to launch other library and solved it by remove few dependencies, in y case is `compile 'com.library.name'`.
The author made a mistake and compile the library itself in it's dependencies, and the library was built in old gradle version.
Hope this could help you or others

[2020-04-01 08:35] WoLewicki commented on #315
You are right, it is no longer necessary so this issue is outdated. I am closing it then.

[2020-04-01 08:35] #315 closed

[2020-04-01 08:38] WoLewicki commented on #311
Does the issue persist in the newest version or can I close it @kopax ?

[2020-04-01 08:41] WoLewicki commented on #301
It was related to the breaking change in Android, as you mentioned correctly. I am closing this then. Feel free to comment if you have any more questions.

[2020-04-01 08:41] #301 closed

[2020-04-01 08:47] WoLewicki commented on #295
@billypap1 is it still the case with the newest version?

[2020-04-01 08:50] WoLewicki commented on #293
Does the issue still exist with the newest version and newest XCode @pedro-lb ?

[2020-04-01 08:57] WoLewicki commented on #287
I believe it is the same issue as #364. I am closing it then. Feel free to comment if it is not the same issue or if you have any questions.

[2020-04-01 08:57] #287 closed

[2020-04-01 09:15] WoLewicki commented on #279
Does the issue still persist in the newer version @maitrungduc1410 @ChrisEelmaa or can I close this issue?

[2020-04-01 09:16] WoLewicki commented on #276
Does the issue still exist in v 2.4.0 @winkelsdorf @afishhhhh ?

[2020-04-01 09:20] WoLewicki commented on #274
@SmirnovM91 does the issue still exist in v. 2.4.0?

[2020-04-01 09:24] WoLewicki commented on #273
@bartzy Does it solve your issue? Can I close it then?

[2020-04-01 09:26] ChrisEelmaa commented on #279
No problems from me with 2.2.0, looks like everything is ok

[2020-04-01 09:32] WoLewicki commented on #269
@ParryGao does the issue still exist in v. 2.4.0? If so, can you clarify what is the issue exactly?

[2020-04-01 09:38] WoLewicki commented on #367
Looks like it is the same issue you already opened in this library #268, so I am closing it here. Feel free to comment here if I am not right.

[2020-04-01 09:38] #367 closed

[2020-04-01 09:45] WoLewicki commented on #265
https://github.com/software-mansion/react-native-screens#hideshadow should allow this now. If I am not right, feel free to comment.

[2020-04-01 09:45] #265 closed

[2020-04-01 09:51] WoLewicki commented on #263
Can you create a repo with the minimal configuration that shows the issue?

[2020-04-01 09:54] WoLewicki commented on #446
It is duplicate of #251 so I am closing it.

[2020-04-01 09:54] #446 closed

[2020-04-01 11:00] kopax commented on #311
We can close it. Thanks so much for asking prior closing it, this is really really really the good way to deal with issue and it is much appreciated, you got all the kudos on hearth for that.

[2020-04-01 11:01] WoLewicki commented on #242
They are available https://github.com/software-mansion/react-native-screens/blob/master/src/screens.d.ts and https://github.com/software-mansion/react-native-screens/blob/master/native-stack/types.tsx. If you have any questions, feel free to comment here.

[2020-04-01 11:01] #242 closed

[2020-04-01 11:02] #311 closed

[2020-04-01 11:12] WoLewicki commented on #230
@janicduplessis @tobiaslins can I close this issue since it is fixed by #24 ?

[2020-04-01 11:24] WoLewicki commented on #229
It indeed looks like a duplicate of #220 so I am closing it. Feel free to comment if I am wrong.

[2020-04-01 11:24] #229 closed

[2020-04-01 11:27] WoLewicki commented on #220
Does the issue still exist in the newest version? @ouabing @pepf ? Or can I close it?

[2020-04-01 11:28] WoLewicki commented on #219
I am closing it. Feel free to comment if something is not ok.

[2020-04-01 11:28] #219 closed

[2020-04-01 11:39] WoLewicki commented on #214
Does the issue still exist in v. 2.4.0?

[2020-04-01 11:41] WoLewicki commented on #206
It is no longer needed to add those lines, so I am closing this issue. Feel free to comment if I am wrong.

[2020-04-01 11:41] #206 closed

[2020-04-01 11:46] pepf commented on #220
The issue seemed to be solved using this config :)

[2020-04-01 11:50] WoLewicki commented on #204
Can you repro the issue in the newest version @MarcusMorter?

[2020-04-01 11:55] WoLewicki commented on #203
Does the issue still exist in the newest versions of the libraries? @Freddy03h

[2020-04-01 11:57] WoLewicki commented on #200
Does the issue exist in the newest version @tobiaslins ?

[2020-04-01 11:58] WoLewicki commented on #199
Does the issue still exist in the newest version @catmans1 @atlkuk ?

[2020-04-01 12:09] Freddy03h commented on #203
I need to re-test it! I removed `enableScreens()` on my production app due to too much crash reported by Android vitals on google play console at this time and haven't re-enable it since.

Thank you for the follow up of the issue!

[2020-04-01 12:16] WoLewicki commented on #250
Thanks for your contribution! I will close it since it is not an issue so it shouldn't lay in the open ones, but it will be still able to show the link to the issue to anyone interested. If you have another idea, feel free to comment.

[2020-04-01 12:16] #250 closed

[2020-04-01 12:37] WoLewicki commented on #267
If I am not wrong, now the `backgroundColor` is now explicitly a string and there is no option for a gradient there. I am closing it then. Feel free to comment if something is not clear.

[2020-04-01 12:37] #267 closed

[2020-04-01 12:38] WoLewicki commented on #279
Ok, so I am closing it. Feel free to comment if something still does not work as it should.

[2020-04-01 12:38] #279 closed

[2020-04-01 12:40] WoLewicki commented on #220
Ok, so I am closing it. Feel free to comment if the issue still persists for someone.

[2020-04-01 12:40] #220 closed

[2020-04-01 12:46] MarcusMorter commented on #204
@WoLewicki I'll try (just don't have a pc now, gonna be durring the weekend)

[2020-04-01 12:51] WoLewicki commented on #194
Thanks for your contribution! Feel free to open a PR about the Header Searchbar whenever you have time. I will close this one but comment here if you need anything regarding this topic.

[2020-04-01 13:08] niksudan opened #449 "Native Stack does not compile when isolatedModules flag is provided"
Attempting to compile `react-native-screens/native-stack` with the `isolatedModules` flag enabled throws the following error:

[code]

This is caused by [this line of code](https://github.com/software-mansion/react-native-screens/blob/master/native-stack/index.tsx#L16):

[code]

A solution for this is to [upgrade to TypeScript 3.8](https://www.typescriptlang.org/docs/handbook/release-notes/typescr

[2020-04-01 13:30] kopax commented on #267
Thanks. Yes you can close it is welcomed.  Keep doing such a good work. Dimitri

[2020-04-01 13:38] WoLewicki commented on #178
Does the issue still persist in the newest version? If so, can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-04-01 13:42] WoLewicki commented on #168
Does the issue still persist in the newest version? If so, can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-04-01 13:42] WoLewicki commented on #167
Does the issue still persist in the newest version? If so, can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-04-01 13:42] Hirbod commented on #168
This is fixed in SDK 37

[2020-04-01 13:44] WoLewicki commented on #168
Ok, I am closing the issue then.

[2020-04-01 13:44] #168 closed

[2020-04-01 14:05] WoLewicki commented on #164
You can use https://github.com/software-mansion/react-native-screens#stackanimation with the option 'none'. Feel free to comment if it does not solve your issue.

[2020-04-01 14:05] #164 closed

[2020-04-01 14:09] WoLewicki commented on #159
Does the issue still exist in the newest version? If so, can you provide a repo with minimal configuration needed to recreate the issue?

[2020-04-01 14:13] WoLewicki commented on #154
v. 1.1.0 is used in the library so I am closing this issue. Feel free to comment if I am wrong.

[2020-04-01 14:13] #154 closed

[2020-04-01 14:23] WoLewicki commented on #365
I am closing this issue. Feel free to comment if it is not the duplicate of #260.

[2020-04-01 14:23] #365 closed

[2020-04-01 14:24] WoLewicki commented on #153
It looks like this issue is concerning #260 only now, so can I close it @ferrannp ?

[2020-04-01 14:25] #151 closed

[2020-04-01 14:25] osdnk commented on #151
done

[2020-04-01 14:26] ferrannp commented on #153
Hey @WoLewicki ! Yes let's close this as I need to do another round of tests but if I find another issue, I can open a new one. I think this has been long enough here :).

[2020-04-01 14:26] #153 closed

[2020-04-01 15:04] WoLewicki commented on #166
It looks like the problems here are not strictly related to react-native-screens. Flipper should work just fine in rn 0.62 btw. I am closing this issue then. Feel free to comment if you still encounter any issues.

[2020-04-01 15:04] #166 closed

[2020-04-01 15:10] WoLewicki commented on #138
You can read about it here: https://stackoverflow.com/questions/54704207/the-ios-simulator-deployment-targets-is-set-to-7-0-but-the-range-of-supported-d I am closing it. Feel free to comment if something is unclear.

[2020-04-01 15:10] #138 closed

[2020-04-01 15:35] WoLewicki commented on #134
Does the issue still exist in the newest version? If so, can you provide a repo with minimal configuration showing the issue?

[2020-04-01 15:36] alimek commented on #134
I will be updating deps next week in my app, so will check and post update here. If everything will be fine will close issue.

[2020-04-01 15:36] WoLewicki commented on #129
Looks like this issue is outdated, so I am closing it. Feel free to comment if I am wrong.

[2020-04-01 15:36] #129 closed

[2020-04-01 15:42] WoLewicki commented on #126
It looks like the issue is outdated, I am closing it then. Feel free to comment if I am wrong.

[2020-04-01 15:42] #126 closed

[2020-04-01 15:44] WoLewicki commented on #124
It looks like the issue is outdated, so I am closing it then. Feel free to comment if I am wrong.

[2020-04-01 15:44] #124 closed

[2020-04-01 15:46] WoLewicki commented on #123
It looks like the problem has been solved, so I am closing this issue. Feel free to comment if any other problems occur or if I am wrong.

[2020-04-01 15:46] #123 closed

[2020-04-01 15:50] WoLewicki commented on #122
Looks like @frankyjuang is right and it is duplicate, I am closing it then. Feel free to comment if I am wrong.

[2020-04-01 15:50] #122 closed

[2020-04-01 15:55] WoLewicki commented on #121
When trying the snack, it looks like it is working fine now. Can I close the issue then?

[2020-04-01 16:00] WoLewicki commented on #112
It looks like this issue is outdated, so I am closing it. Feel free to comment if I am wrong.

[2020-04-01 16:00] #112 closed

[2020-04-01 17:16] afishhhhh commented on #276
I didn't notice. Now I can press "d" on the Terminal to access developer menu. @WoLewicki
`react-native` v 0.61.5
`react-native-screens` v 2.3.0
`react-navigation` v 5.x

[2020-04-01 18:24] Hirbod commented on #263
Just open a modal in native-stack with a <FlatList inverted={true}> and try to close the modal by swiping down. It wont work, since the direction is reversed. So I need to slide up to move the modal down.

(The FlatList ofc needs to have a height bigger then the viewport)

[2020-04-01 19:30] winkelsdorf commented on #276
@WoLewicki Yes, still exists with v2.4.0. RN still on v0.61.5 and react-navigation still on v4.3.6. I'm encountering other issues as well, `createNativeStackNavigator()` does not respect `headerTitleStyle`.

I'm going to re-investigate as soon as customer decides to upgrade to newer react-navigation branch.

[2020-04-01 19:39] janicduplessis commented on #230
Sure!

[2020-04-02 02:13] ouabing commented on #220
I've already migrated to react-navigation v5 and react-navigation-stack v2, no more this issue so far.

[2020-04-02 03:13] catmans1 commented on #199
@WoLewicki It no longer happen.

[2020-04-02 03:13] #199 closed

[2020-04-02 04:52] nateblog commented on #125
in your podfile just add

  pod 'RNScreens', :path => '../node_modules/react-native-screens'

then pod install

it should work, I hate it but it seems not all RN Packages are autolinked

[2020-04-02 05:23] Erc93 commented on #360
Hi. I am getting the same issue and it looks like it still occurs in v2.4.0

[2020-04-02 07:08] enheit commented on #360
@WoLewicki  Issue is no reproduced on Android 9

![image](https://user-images.githubusercontent.com/8645216/78220142-a55ff800-74c9-11ea-994f-455ec236b0b6.png)

I would recommend to verify on other Android versions & devices if it possible

[2020-04-02 07:55] enheit opened #450 "[Android] NativeStackNavigator lose state when switching between tabs in BottomTabNavigator"
### Implementation

1) Create `bottomStackNavigator` with 2 tabs
2) Create `createNativeStackNavigator` in the first tab of `bottomStackNavigator`
2) Create `createNativeStackNavigator` in the second tab of `bottomStackNavigator`

Now you have 2 tabs with each unique `nativeStackNavigator`

4) Provide few `Stack.Screen` to the `createNativeStackNavigator` in the second screen.

### Step to reprodu

[2020-04-02 08:26] WoLewicki commented on #111
Looks like this issue is outdated. Can I close it @ammoradi ?

[2020-04-02 08:29] WoLewicki commented on #106
This issue seems outdated, can I close it @raphaelrk ?

[2020-04-02 08:43] WoLewicki commented on #104
Does the issue still exist with the newest version? Or can I close it? @OscarYuen

[2020-04-02 08:51] WoLewicki commented on #98
Does the issue still exist or can I close it?

[2020-04-02 09:07] WoLewicki commented on #94
I think this issue is outdated. Can I close it @aleixo ?

[2020-04-02 09:38] aleixo commented on #94
Yes @WoLewicki.

Thank you.

[2020-04-02 09:41] muhammadwafa commented on #106
I actually dont know where to put this, is the following ok?

[code]

[2020-04-02 10:46] WoLewicki commented on #92
This issue seems outdated. Can I close it @xutm ?

[2020-04-02 11:29] WoLewicki commented on #78
Does the issue still exists or can I close it @bonesyblue @brentvatne ?

[2020-04-02 11:31] WoLewicki commented on #72
Does this issue still exist or can I close it?

[2020-04-02 11:35] WoLewicki commented on #71
Can someone tell if the issue still exists in the newest version? @jwhscholten @CruelMoney ?

[2020-04-02 11:35] WoLewicki commented on #70
Does the issue still exist or can I close it @slorber ?

[2020-04-02 11:46] WoLewicki commented on #54
@dominiczaq do you know if the merged changes fix the bug?

[2020-04-02 11:55] WoLewicki commented on #33
Can someone tell if the issue still exists or was it solved with the commit? @janicduplessis @javiercr

[2020-04-02 11:59] WoLewicki commented on #32
Can someone tell if the issue still exists?

[2020-04-02 12:07] WoLewicki commented on #15
Can someone tell if the issue still exists in the newer versions of Expo and Screens?

[2020-04-02 12:26] dominiczaq commented on #54
Yes, the fix works. I believe this issue could be closed.

[2020-04-02 12:40] WoLewicki commented on #169
It looks like the issue is solved. Can I close it @johndanek ?

[2020-04-02 12:43] WoLewicki commented on #276
Ok, it would be great if you could provide a reproduction with a minimal needed configuration for easier debugging. Could you do it?

[2020-04-02 12:44] #230 closed

[2020-04-02 12:47] WoLewicki commented on #360
@Erc93 can you provide a reproduction with a minimal needed configuration that would show the issue?

[2020-04-02 12:47] #94 closed

[2020-04-02 12:50] WoLewicki commented on #106
@muhammadwafa if you are asking where to use `enableScreens()`, it should be done in the main file of your project. If it is so, it's ok.

[2020-04-02 12:51] #54 closed

[2020-04-02 12:56] muhammadwafa commented on #106
I dont have **main.js** ifle my root file is  **index.js**, but my all route is in my `App.js` as you can see in the above code. so please see the above code is it the right place as I have put it?

[2020-04-02 13:03] WoLewicki commented on #106
Yes, the top of the App.js looks like the right place in your case.

[2020-04-02 13:07] muhammadwafa commented on #106
thank you

[2020-04-02 13:26] winkelsdorf commented on #276
@WoLewicki Tbh, sadly this is out of the time scope for me :/ I'm a native iOS Developer and the side project using this has currently no budget at all, not even for RN 0.62 or `react-navigation` migration :( When I try to use this component with `enableScreens()` I start having disappearing views on Android, debugging this and creating a minimal reproducing demo would mean some 3-5 unpaid hours a

[2020-04-02 13:43] slorber commented on #70
I don't know, @xcarpentier could you check?

[2020-04-02 13:58] xcarpentier commented on #70
@WoLewicki Yes, you can close it :)

[2020-04-02 14:04] #70 closed

[2020-04-02 15:38] WoLewicki commented on #450
It is probably duplicate of #402 so I am closing it. Feel free to comment if I am wrong.

[2020-04-02 15:38] #450 closed

[2020-04-02 16:07] johndanek commented on #169
@WoLewicki I'm no longer working on this Android app, so I can't verify. Feel free to close. Thanks.

[2020-04-02 16:28] paul-apacio opened #451 "On going back, or navigating to a screen that exists, a blank page is displayed. 5.x"
This one drove me insane for a while.
Setting up basic stack navigator on Android as described in the docs resulted in the following:

Navigating "forward" works fine, as long as the page does not yet exist in the stack.
Navigating to a preexisting screen in the stack, or using goBack resulted in a blank screen.

Initially I thought the issue was my screens, but it simply seems to be the animation

[2020-04-02 16:37] WoLewicki commented on #368
@foonx according to the snack it does not work for native-stack and normal stack. You can also not use the `enableScreens()` and you will see the same. It is like that due to the fact that the second screen is not rendered. The second screen in the main navigator is also a navigator, and if it is not rendered, the `Profile` screen does not exist because the nested navigator does not exist. (the se

[2020-04-02 16:37] #368 closed

[2020-04-02 16:42] WoLewicki commented on #451
Can you provide a snack or repo with a minimal configuration that shows the issue?

[2020-04-02 16:43] #451 closed

[2020-04-02 16:58] janicduplessis commented on #33
@WoLewicki I'm not seeing this crash anymore, no idea what fixed it though.

[2020-04-02 18:22] artmerlop commented on #447
@WoLewicki he is not home, haha

[2020-04-02 21:52] enheit commented on #402
I have absolutely the same issue on my Android (v9).

[2020-04-02 22:28] ammoradi commented on #111
@WoLewicki I did ;)

[2020-04-02 23:09] raphaelrk commented on #106
@WoLewicki I have no idea if the issue is still around or not as I've moved on from that project, but this does seem outdated / closing it!

[2020-04-02 23:09] #106 closed

[2020-04-03 01:03] Erc93 commented on #360
@WoLewicki
I just realised that I might be running into a separate but similar issue. I seem to be getting the problem when using `import { createNativeStackNavigator } from "react-native-screens/native-stack";` to create my stack. Using the stack navigator from react-navigation seems to fix my issue.

Here is an example:
https://snack.expo.io/HqDtTeyzQ

[2020-04-03 08:08] WoLewicki commented on #33
Ok, so I am closing it. Looks like it was https://github.com/software-mansion/react-native-screens/commit/c0b73545ffba5eb3310451c368ec6cbcac429a59 which @kmagiera linked since no more activity on the issue since then.

[2020-04-03 08:08] #33 closed

[2020-04-03 09:15] WoLewicki commented on #360
![image](https://user-images.githubusercontent.com/32481228/78344142-3ef7da00-759c-11ea-8178-3578218e4b97.png)
@Erc93 I cannot repro your issue with this configuration. It looks like the safe area is correctly applied on Android. Can you be more specific on how to reproduce the bug?

[2020-04-03 10:30] WoLewicki commented on #402
I cannot repro this issue on Android (v9), but I am not testing on a physical device. Can someone provide a repo or snack with the configuration needed to recreate the issue?

[2020-04-03 10:32] Hirbod commented on #402
Neither am I. It's reproducible on emulator and physical device. Tested with Expo 37 and 2.4.0 directly with RN

[2020-04-03 11:06] WoLewicki commented on #402
I have 3 tabs and each one has a native-stack with two screens. Going to the second screen in any of the stack navigators and next switching between tabs does not reset the stack navigator both on Android 9 and X. I use bare RN project with the newest RNScreens. Remember that using ExpoClient v. 37 will give you native code from RNScreens in v. 2.2.0.

[2020-04-03 11:09] enheit commented on #402
@WoLewicki  Didn't understand that sentence

I use Expo v36.0.0, you want to say that issue can disappear after switching to the latest version?

[2020-04-03 11:14] WoLewicki commented on #402
When using Expo Client, it comes with the native code inside it that can't be changed by giving higher version of package in package.json. So if you use Expo Client v. 36, RNScreens will have native code of version "2.0.0-alpha.12" which you can see here: https://unpkg.com/browse/expo@36.0.0/bundledNativeModules.json

[2020-04-03 11:16] enheit commented on #402
I've updated to the latest version of expo (at the moment it 37.0.0) and issue still reproducible

P.S. I also have updated expo app on my android which running my app.

[2020-04-03 11:17] WoLewicki commented on #402
What I'm saying is you should try to make a bare RN project with the latest version of RNScreens and check if the issue exists there as well. If it doesn't, then it was probably fixed in the newer version of RNScreens and then it means that it will not work in Expo Client until they release the version with fixed native code of RNScreens so probably ~second half of June.

[2020-04-03 11:19] enheit commented on #402
Ah, I understand. I have no time to create bare RN project, so I can't be useful here :(

[2020-04-03 11:26] Hirbod commented on #402
Issues exists with v2.2.0 + 2.4.0

[2020-04-03 11:55] WoLewicki commented on #373
It looks like a duplicate of #102 so I am closing it. Feel free to comment if I am wrong.

[2020-04-03 11:55] #373 closed

[2020-04-03 12:38] WoLewicki commented on #371
I am closing this issue. Feel free to comment if the issue still persist after #442.

[2020-04-03 12:38] #371 closed

[2020-04-03 13:28] WoLewicki commented on #402
Maybe it has something to do with react-redux? Can you check if disabling it makes the bug disappear?

[2020-04-03 13:42] Hirbod commented on #402
I'll try that but I doubt that connecting a store has anything to do with that.

[2020-04-03 16:32] Hirbod commented on #428
That screen params only works when you try to open a Screen which is nested inside another stack.

[2020-04-03 16:48] Hirbod commented on #71
This bug has been resolved long time ago @WoLewicki
I can confirm it, since it was broken for me too (im one of the first comments)

[2020-04-04 08:13] wcandillon commented on #111
I am also experiencing this issue. @ammoradi it looks like downgrading the version of `react-native-screens ` fixed the issue for you?

[2020-04-05 04:01] AlissonBlaas opened #452 "Could not resolve androidx.cardview:cardview:1.0.0."
[code]

I try to do different thing and nothing works. Anyone can help me with that?

[2020-04-05 09:23] omrip2 commented on #214
This issue exists in v. 2.4.0

[2020-04-05 11:28] OscarYuen commented on #104
It doesn't exist now. Thanks

[2020-04-05 11:28] #104 closed

[2020-04-05 11:30] lucasmotta commented on #432
I can also confirm that this bug still happens on `react-native-screens@2.40` and `react-native@0.62`.

[2020-04-05 23:59] Erc93 commented on #360
<img width="274" alt="Screen Shot 2020-04-06 at 9 42 02 am" src="https://user-images.githubusercontent.com/10914349/78512843-174a8100-77eb-11ea-8ab7-ef610d685ae8.png">
<img width="379" alt="Screen Shot 2020-04-06 at 9 43 08 am" src="https://user-images.githubusercontent.com/10914349/78512844-19144480-77eb-11ea-8e99-dcc5e4d29317.png">

@WoLewicki I'm not sure why you cannot reproduce the issue. The

[2020-04-06 06:34] outaTiME commented on #238
Yup same here using Expo 37 with the following dependencies:

react-native-screens: 2.2.0
react-navigation: 4.3.7
react-navigation-stack: 2.3.11

[2020-04-06 07:34] WoLewicki commented on #71
Ok, I am closing it then. Feel free to comment if someone still has that issue.

[2020-04-06 07:34] #71 closed

[2020-04-06 07:45] WoLewicki commented on #360
I think the problem might be that you are trying to do it in Expo Client, which has an older version of `react-native-screens`, where the bug still exists. Could you try making a bare RN project with newest `react-native-screens` and check if the issue exists there?

[2020-04-06 07:56] WoLewicki commented on #452
Can you show your `build.gradle` file?

[2020-04-06 09:46] divonelnc opened #456 "Focusing on a text input when navigating to a new screen only works when adding to the stack, not when going back."
### Current Behavior
Calling `.focus()` on a text input (or using autoFocus) when the screen becomes focused works when you add a screen to the stack (Screen A -> Screen B) but not when going back (Screen B -> Screen A).
Instead, the input is focused for a second then blurs immediately.

![cannot focus](https://user-images.githubusercontent.com/1695307/78545493-2685fa80-77fc-11ea-829d-3c743b6d1afe

[2020-04-06 11:40] ovy9086 commented on #349
yes. this is still happening with RN 0.62 , and screens 2.4.0

[2020-04-06 12:50] WoLewicki commented on #445
@kyle-ssg can you check if using `backButtonInCustomView` from #457 set to `true` gives you what you want?

[2020-04-06 13:58] SmirnovM91 commented on #436
Hi, When update is going to be released?

[2020-04-06 14:55] ammoradi commented on #111
@wcandillon No, I used the latest version of RN when I used this lib.

[2020-04-06 15:17] akkassmurat commented on #238
Appear again on Android in 2.4.0.
Is there any solution?

[2020-04-06 16:37] limaAniceto commented on #436
Hi @WoLewicki,
Really appreciate all the work you've done on this project

I'm afraid I tried #441 and it still happens on fullScreenModal 😞

@alexichristakis do you mind testing #441 to confirm?

[2020-04-06 17:35] jack828 commented on #95
Hey @kmagiera hope you're keeping well given the current circumstances!

Just wondering if you've had time to look into this?

[2020-04-06 17:41] kmagiera commented on #95
Hey! Sorry, not yet, but I saw your repo and looks like it is something that would help investigate the issue. The comment about changing pointer events is helpful too and thank you for purchasing the solution, however the events checks where added there on purpose and I need to think a little bit more about what kind of consequences that change could have

[2020-04-06 17:43] jack828 commented on #95
No problem at all, I appreciate you have a lot to do already without this.
Please let me know if there is anything I can do to help!

[2020-04-06 19:18] Luan-Sens commented on #456
+1

[2020-04-06 22:18] AlissonBlaas commented on #452
[code]

[2020-04-07 01:44] Erc93 commented on #360
@WoLewicki Yup you are right. I was using the Expo client the whole time. I created a bare project as you advised and the issue does not occur. Thanks for all the assistance!

[2020-04-07 02:24] brentvatne commented on #72
not a problem anymore @WoLewicki!

[2020-04-07 02:24] #72 closed

[2020-04-07 07:57] atlkuk commented on #199
@WoLewicki I installed the latest version and it happen again

[2020-04-07 09:06] WoLewicki commented on #436
@limaAniceto can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-04-07 09:14] WoLewicki commented on #452
Can you try and build the Example app from `react-native-screens`?

[2020-04-07 09:19] WoLewicki commented on #360
Ok so sadly all you can do with Expo client is to wait for the next release where the newer native code will be added. I am closing the issue since it is resolved.

[2020-04-07 09:19] #360 closed

[2020-04-07 09:33] WoLewicki commented on #199
@atlkuk are you using bare RN project or Expo?

[2020-04-07 09:57] WoLewicki commented on #321
@iDuuck can you check if applying #458 solves your issue?

[2020-04-07 09:58] iDuuck commented on #321
Will check once back on this project. Currently only working on projects with a bare workflow, where it is working flawlessly as usual.

[2020-04-07 11:44] mortezacruise commented on #410
you save my day buddy

[2020-04-07 17:15] AlissonBlaas commented on #452
Thanks bro, sorry for delay! I fix that one.

i just clean build gradlew and react native cache and this is work fine

[2020-04-07 17:15] #452 closed

[2020-04-08 07:16] WoLewicki commented on #447
@artmerlop are you using it in iOS 13?

[2020-04-08 13:26] atlkuk commented on #199
@WoLewicki I'm using RN 0.61.5 + router-flux obviously.

[2020-04-08 13:55] WoLewicki commented on #199
I mean do you use Expo Client?

[2020-04-08 14:02] atlkuk commented on #199
Ah no sorry

[2020-04-08 14:08] WoLewicki commented on #199
Can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-04-08 14:49] #98 closed

[2020-04-09 14:10] limaAniceto commented on #436
Hi @WoLewicki,
I've managed to identify that the issue is on the usage of the prop `transparentCard` from `react-navigation` and that removing it addresses the issue 🎉

[code]
https://reactnavigation.org/docs/4.x/stack-navigator-1.0/#specifying-the-transition-mode-for-a-stacks-screens-explicitly

You can see the issue on this GIF (iOS 13.3 - iphone 11)
![2020-04-09 15 10 05](https://user-images.gi

[2020-04-10 08:51] InvictusGar commented on #448
same problem

[2020-04-10 16:59] sebaitu11 commented on #430
This works with headerLargeTitle=true ??, and what extraOffset is I don't understand that part , if you could help me please thanks!!!

[2020-04-10 19:24] punisher97 commented on #430
Not working with headerLargeTitle, and extraOffset working with tabs or others components with you add

[2020-04-11 12:53] ICeZer0 commented on #415
I'm seeing a similar issue on `2.4.0` trying to build on iOS.

`fatal error: 'React/RCTImageLoader.h' file not found
#import <React/RCTImageLoader.h>`

This is not an issue on android.

[code]

@WoLewicki I can try to rip apart my code base later to produce a minimal example if I don't find a solution soon.

[2020-04-11 14:38] ICeZer0 commented on #415
Fixed. Most likely one of the modules is missing from your podfile.

After adding `pod 'React-CoreModules', :path => '../node_modules/react-native/React/CoreModules'`

I was able to get my app running using `react-native-screen 2.4.0` and `react-native 0.62`

Make sure to run `pod install --repo-update` in your ios folder.

Here is my pods for react if that helps anyone

[code]

[2020-04-13 03:18] JonsonHI opened #462 "The stack is invalid"
[code]
index.js
[code]

0.59.8  0.61.5 Integration success  but use was ineffective

![image](https://user-images.githubusercontent.com/18373125/79089334-5f801b00-7d78-11ea-880e-319522555213.png)

[2020-04-13 10:01] henrymoulton opened #463 "2.4.0 [Android] Crash: No view found for id 0x531 (unknown) for fragment ScreenFragment"
#54 was closed, I'm creating a new issue for the following dependencies:

[code]

Raw Exception:
[code]

MainActivity.java:

[code]

`enableScreens()` is called in the same way as `https://github.com/software-mansion/react-native-screens/blob/master/Example/App.js#L16`

Additional information that might be helpful:

### Android Versions:

OS versions | OS | Events | % Events
-- | -- | -- | --
10ab

[2020-04-13 10:06] henrymoulton commented on #54
Hi @WoLewicki I'm still seeing this crash on the app making use of `"react-native-screens": "^2.4.0",`. I've created a new issue in #463

[2020-04-14 12:57] #321 closed

[2020-04-14 13:27] sebinq opened #464 "TS - Possible typing compilation error"
Hello. I keep getting following error from TS compilation:

[code]

Thanks for any advice/fix!

[2020-04-14 13:29] sebinq commented on #464
Closing in favour of #449

[2020-04-14 13:29] #464 closed

[2020-04-15 08:17] cbrevik commented on #238
@kmagiera I've created a repro-project here: https://github.com/cbrevik/blankmodal

This is using:

[code]

For the problem we experienced in our app, the bug seems to be related to the modal screen also wrapping a Stack-`Navigator`, and the screen navigating to the modal is also wrapped in its own nested `Navigator`. It doesn't seem to matter if the nested `Navigator` is of type Stack or Bottom T

[2020-04-15 08:53] WoLewicki commented on #445
Ok so I am closing this issue. Feel free to comment if there is something wrong.

[2020-04-15 08:53] #445 closed

[2020-04-15 09:28] WoLewicki commented on #462
Can you be more specific on what the issue is?

[2020-04-15 09:32] JonsonHI commented on #462
Under react-native-screens, there should be only one page on the page, and mine shows multiple

When I call the enclosing props. Navigation. Navigate () there is no change

[2020-04-15 09:37] WoLewicki commented on #369
It looks like the same issue as #320, so I am closing it. Feel free to comment if I am wrong.

[2020-04-15 09:37] #369 closed

[2020-04-15 13:55] WoLewicki commented on #456
I cannot repro this issue in the v. 2.4.0. I can see that you are using expo, can you try to repro it on bare RN project?

[2020-04-15 16:39] tdoran commented on #436
I think there may be two issues being discussed here:

1. When using react-screens' `createNativeStackNavigator`, on iOS devices below iOS13, modals are not dismissable. I believe this is what is being references in the first post in this issue.

2. When using react-native-screens 2.4.0 and the `transparentCard` option on a `createStackNavigator` from react-navigation: after dismissing a modal, it

[2020-04-16 01:24] JonsonHI commented on #462
When I use the react-native screen the ios stack should be just one page on the Controller,
When I call the enclosing props. Navigation. Navigate (" page ") to jump to a new page.
The current controller should also be a page, instead of pushing on the current page in the form of a view or overwriting a view
The react-native screen worked well on the project I created on my own, but my current proj

[2020-04-16 07:16] WoLewicki commented on #436
@tdoran so can you provide a repo with a minimal configuration that shows the bug so I can work on it?

[2020-04-16 07:21] WoLewicki commented on #462
I think what you are getting is the result of https://github.com/react-navigation/react-navigation/blob/master/packages/stack/src/views/Stack/CardStack.tsx#L418 RNScreens are currently disabled on iOS in stack navigator, but they are enabled in Tab navigator so this is why you get it, so this issue is not strictly the issue of react-native-screens. Is this what you meant?

[2020-04-16 08:32] WoLewicki commented on #359
I reproduced the bug in Expo Client, but the bug does not exist in the bare RN project with the newest react-native-screens, which means that the bug has been fixed in the newer version of react-native-screens than the one available in Expo Client. So the only solution for using it with Expo Client is to wait for the next release with the native code without that bug. I am closing it then. If I am

[2020-04-16 08:32] #359 closed

[2020-04-16 08:40] WoLewicki commented on #358
I used the snack provided and couldn't repro the issue on the newest branch. Looks like it has been fixed in one of the newer versions. I am closing it then. Feel free to comment if I am wrong.

[2020-04-16 08:40] #358 closed

[2020-04-16 11:56] WoLewicki commented on #449
@niksudan can you provide a repo with minimal configuration needed to repro the issue so I can work on it?

[2020-04-17 01:16] JonsonHI commented on #462
![image](https://user-images.githubusercontent.com/18373125/79521510-f1936680-808b-11ea-8835-a055877bba36.png)
screen A->B->C 的ios stack
this is new project

But as I mentioned above it's a View that push a page

[2020-04-17 04:26] luatnd opened #467 "gesturesEnabled not supported for createNativeStackNavigator()"
Hi, I changed `createStackNavigator` to `createNativeStackNavigator` and my swipe to back feature is not work anymore on android.
[code]
Is createNativeStackNavigator already support the `gesturesEnabled` prop from 'react-navigation'?

[2020-04-17 04:33] folowing commented on #214
I found the main code cause this crash is below method inside Screen.java

[code]

if the webview set androidHardwareAccelerationDisabled={true} would temporarily fix it

[2020-04-17 06:40] qalqi commented on #238
+1

[2020-04-17 07:40] sebastianknopp opened #468 "How to get a blured/ transparent background for stackPresentation: "modal""
I want to use stackPresentation: "modal" and have a semi-transparent or blured background, so you can see the screen below.

I understand that transparent backgrounds can be achieved by using stackPresentation: "transparentModal", but the presentation is a different one compared to 'modal'. I want to have the same presentation/ behaviour like 'modal' but with a transparent/ blured background.

How

[2020-04-17 12:45] mezhik91 commented on #238
I have the same issue with "react-native-screens": "^2.5.0". The last package version which was working fine is 2.1.0

[2020-04-17 13:43] mrbrentkelly commented on #353
This might need to be re-opened? I'm hitting the issue with `React Native 0.62.2` and `react-native-screens 2.4.0`. Reverting to `2.0.0-alpha.32` resolves the issue.

[code]

[code]

`2.4.0`. Reverting back to `2.0.0-alpha.32` resolves the problem.

[code]

[2020-04-17 14:00] mrbrentkelly commented on #353
Upgrading `androidx.appcompat:appcompat` to `1.1.0` (from `1.0.0`) locally fixed it for me 👍 https://github.com/material-components/material-components-android/issues/1018#issuecomment-587340784

[2020-04-17 14:14] WoLewicki commented on #467
If you mean going back with swipe gesture, there is no such thing in native Android navigation and so it is not available here. The `gestureEnabled` prop resolves to disabling `goBack()` behavior of hardware back button. Does it solve your issue?

[2020-04-17 16:57] brentvatne commented on #78
probably not but i'm not familiar with the current state of it. would be necessary to clone the repo provided in the original post and update screens to latest

[2020-04-18 01:36] Collin3 opened #469 "Jest - TypeError: Unable to require `.d.ts` file."
As soon as I add `import {createNativeStackNavigator} from 'react-native-screens/native-stack';` into my production code, my jest test file fails to run with the error below.

[code]
I have found that if I rename the `native-stack/types.tsx` file to `native-stack/index.d.ts` then the error goes away. I'm curious if anyone else is seeing this as well. I wonder if there's a problem with how the type

[2020-04-18 03:04] Collin3 commented on #469
I take that back, that workaround did not actually work. If I clear my jest cache before I run tests for a file that imports `createNativeStackNavigator` it always fails with that error. However, if I run the tests five times in a row, it will fail every time until the 5th time. The first four times it will give me the same error as above and complain about `index.tsx`, `createNativeStackNavigator

[2020-04-20 14:58] sebinq commented on #468
Did you try to use "transparentModal" option?

Actually, For me it is working for iOS, but on Android I'm not able to see underlaying screen when stackPresentation is set to "transparentModal" either.

[2020-04-20 17:39] svengiebel commented on #238
Got the same problem on Android with `2.5.0` (also tried the in-between versions, but no luck). For me it works with the android hardware back button but not with calling `navigation.goBack()`.

[2020-04-20 17:40] WoLewicki commented on #78
I opened the project with updated packages and it looks like the issue is not there. I am closing it then. Feel free to comment if I am wrong.

[2020-04-20 17:40] #78 closed

[2020-04-20 17:42] WoLewicki commented on #238
Can someone check if the issue is still there when applying changes from #471?

[2020-04-20 17:52] svengiebel commented on #238
@WoLewicki Thanks for your efforts!
I still have the same but with the changes from #471  :(

[2020-04-20 17:53] WoLewicki commented on #238
@svengiebel can you provide a repo with minimal needed configuration to reproduce the issue?

[2020-04-20 18:13] svengiebel commented on #238
@WoLewicki I created a [Sample Repo](https://github.com/svengiebel/rnScreensAndroidBug)

[2020-04-20 20:48] AndriiBoiko opened #472 "Keyboard doesn't show up when use someRef.current.focus()"
Hey!
When use
[code]
nothing happends
but if use
[code]
I don't think that this a good idea
It is a bug?

[code]

[2020-04-21 03:52] luatnd commented on #467
Thanks,
it's mean my app will lack of swipe-to-back if I switch to `createNativeStackNavigator`?
So my final decision is going back to `createStackNavigator`.

[2020-04-21 06:55] WoLewicki commented on #467
Yes since it is not native behavior.

Ok, so I am closing it. Feel free to comment if anything is wrong.

[2020-04-21 06:55] #467 closed

[2020-04-21 07:19] WoLewicki commented on #238
@svengiebel what is the `GlobalStack`? Why is the screen from another navigator a child of a navigator? I don't quite understand this setup. Can you give more information about what are you achieving there and what are the steps to reproduce the blank screen? Also, can others check is the issue persists with #471, and, if so, create a repro?

[2020-04-21 07:47] svengiebel commented on #238
@WoLewicki I threw the example together pretty quick yesterday. I just pushed an update to the [Sample Repo](https://github.com/svengiebel/rnScreensAndroidBug).

I am using a "Root Stack" to include my TabNavigation and my "Modals". I do this, because on iOS i want the Modal Screens to render on top of the tabbar, so the tabbar is not visible when a modal is rendered.

On iOS everything is working

[2020-04-21 10:16] WoLewicki commented on #238
@svengiebel ok I can recreate the issue, but it seems unrelated to react-native-screens since you didn't enable them in the repo? Am I right? enabling them doesn't resolve the issue so it seems like a problem with `goBack()` method of react-navigation.

[2020-04-21 12:06] svengiebel commented on #238
@WoLewicki True im using `@react-navigation/stack`, i thought that it uses `react-native-screens` under the hood, since its a dependency of it.

[2020-04-21 12:21] cbrevik commented on #238
@WoLewicki I've tested your changes with the sample repo I've made above, and it seems to have fixed the problem. I'll do a larger test with our production app.

@svengiebel The `react-navigation` framework only uses `react-native-screens` if you've run `enableScreens()`. You can see it in the code here: https://github.com/react-navigation/react-navigation/blob/82edb2581bab960f206fd67368a45ad38495

[2020-04-21 12:29] svengiebel commented on #238
thanks for the information @cbrevik .
As @WoLewicki  enabling it does not resolve the issue. Pretty weird that it works with the Android Hardware Button, but not the `goBack()` Method.

[2020-04-21 13:09] cbrevik commented on #238
No probs!

I've tested the patch in our production app, and it has fixed the issue for us.

[2020-04-21 16:55] Hirbod commented on #402
@WoLewicki as I thought, react-redux isnt the issue. The tabs get resetted on android while they work perfectly fine on iOS

[2020-04-21 19:55] kmagiera commented on #463
Hey @henrymoulton, thank you for reporting. Is this crash something you can reproduce locally, or just traces collected from the app running in production?

[2020-04-21 20:05] henrymoulton commented on #463
Thanks for responding @kmageira, this was collected in production.

[2020-04-22 03:14] Paduado opened #474 "Confirm installation is correct"
Hi, I'm following the steps described [here](https://reactnavigation.org/docs/react-native-screens), for a RN App without expo, however I don't see any notable difference in my App's performance, is there a way to confirm `react-native-screens` is properly working?

[2020-04-22 06:28] sebastianknopp commented on #468
@sebinq thanks a lot for your fast reply.

I guess I didn't explain well enough what I mean. Please have a look at the attached screenshots.

You can easily see how changing `stackPresentation` from `modal` to `transparentModal` changes the complete presentation and not only the background-transparency as one would expect.

I am trying to get the very same behavior as `modal` has but with a transp

[2020-04-22 06:50] WoLewicki commented on #402
Hmm ok, so can you provide a repo/snack with minimal code needed to spot the issue? I cannot work on the code you provided higher since it's too big and has too many dependencies.

[2020-04-22 07:14] sebinq commented on #468
I dont know if you re able to achieve this from JS code. Did you try to change default background color for screen in your stack?

There is a possibility that you will need to adjust backgroundColor from native code in order to make the very first view transparent.

If native View has some default background color and JS view is just drawing on it, then I think there is no way to set it from JS si

[2020-04-22 07:17] WoLewicki commented on #474
`react-native-screens` are currently disabled on iOS in StackNavigator due to some bugs, so there will be no performance boost there. `react-native-screens` has also `screensEnabled` method, with which you can check if they are enabled for sure. Does it solve your issue?

[2020-04-22 07:35] WoLewicki commented on #238
Ok so I am closing this issue. Feel free to comment if there is something wrong or the issue still exists.

[2020-04-22 07:35] #238 closed

[2020-04-22 07:55] WoLewicki commented on #472
Can you create a snack that will show the issue? And what Platform does the bug occur on?

[2020-04-22 07:59] AndriiBoiko commented on #472
Hey!

A little bit later, sorry, very busy

Android...

[2020-04-22 08:03] WoLewicki commented on #469
Can you check if is not related to https://github.com/kulshekhar/ts-jest/issues/1336? It doesn't seem like the bug in `react-native-screens`.

[2020-04-22 08:27] Hirbod commented on #402
@WoLewicki I've finally found out the reason. It ONLY happens on

`import { createMaterialBottomTabNavigator } from "@react-navigation/material-bottom-tabs";`
and not on
`import { createBottomTabNavigator } from "@react-navigation/bottom-tabs";`

Now I have to find out why and prob. report this to react-navigation.

[2020-04-22 08:32] WoLewicki commented on #402
Can you check if the problem exists with `stack`, not `native-stack` navigator?

[2020-04-22 08:35] Hirbod commented on #402
@WoLewicki good catch. createMaterialBottomTabNavigator with STACK works perfect (no resets on android), but breaks with native-stack.

[2020-04-22 08:38] WoLewicki commented on #402
It may be the same issue as the one fixed in #471. Could you try and check if applying this change fixes the issue?

[2020-04-22 10:47] WoLewicki commented on #349
Can you provide a repo/snack with the minimal configuration needed to repro the issue?

[2020-04-22 10:50] WoLewicki commented on #169
Ok so I am closing this issue. Feel free to comment if there is something wrong.

[2020-04-22 10:50] #169 closed

[2020-04-22 13:11] Hirbod commented on #402
My specific app is on Expo RN, I can't test your fix currently :/

[2020-04-22 15:03] Hirbod commented on #402
But since you've already tested this and have an test-example you might want to run it against?

[2020-04-22 15:23] WoLewicki commented on #402
[code]

This works ok with the latest changes. Can you confirm that the issue exists with your configuration and such setup?

[2020-04-22 15:26] Hirbod commented on #402
As I told you, I am on Expo SDK 37 (react-native-screens v.2.2.0) - so I can't confirm if your fix works on my setup. I need to eject, grab the update and confirm it.

Asking the other way around: does the bug occur also for you with 2.2.0 and material bar + native-stack and is it fixed with you with the master?

[2020-04-22 15:35] WoLewicki commented on #402
Ok I managed to recreate the issue. Will work on it.

[2020-04-22 22:10] Collin3 commented on #469
🤦‍♂️  Bumped up to the latest of jest and ts-jest and that seems to have fixed it.

[2020-04-22 22:10] #469 closed

[2020-04-22 22:17] Hirbod commented on #402
Awesome! Thank you

[2020-04-22 22:34] Hirbod commented on #401
This is fixed in SDK 37

[2020-04-22 22:36] Hirbod commented on #395
I can confirm this too. I played around with it a bit today and it’s not useable on large header

[2020-04-22 22:42] Hirbod commented on #334
@pvinis you need help on this?

[2020-04-22 22:50] milesper commented on #447
This is still an issue for me in the 2.5.0 release, is there any solution or planned fix?

[2020-04-23 07:42] Hirbod commented on #450
@enheit did you also use "materialBottomTabs" by any chance? Because for me, its only happening with that navigator, it works with the other tab navigators.

[2020-04-23 10:07] JB1905 commented on #401
In the new Expo Client with SDK 37 the Dev Menu opens under the modal, but you can still refresh the app using the keyboard shortcut – `command` + `r` (iOS Simulator)

[2020-04-23 10:09] Hirbod commented on #401
Thats true, the dev menu and element inspector always attaches under the modal. There is already an open issue I've posted couple of months ago.

[2020-04-23 14:00] Hirbod opened #476 "Hide Bottom Tab Navigation while still be able to animate the header on push/navigate"
Hi,

I am using EXPO SDK 37 (RNS v2.2.0), native-stack and createMaterialBottomTabNavigator.
Using the default bottomTabNavigator isn't an option, as it's missing features (like the badge) which I need. bottomTabNavigator has a "tabBarVisible" prop, which is broken and unusable anyway (and the docs say you should not use it)

I know there have been several tickets about this, but none of them help

[2020-04-23 15:33] Hirbod commented on #472
This is true, when you try to focus on component mount. It also does not work for me without timeout. But for me .current.focus doesn't work anyway, I need to run it like this:

`input.current?._root?.focus?.();`

[2020-04-23 15:48] Neck1T commented on #474
I used enableScreens
on android I use android studio layout inspector - and I saw the different. But on ios
I do not see changes
like here
https://twitter.com/janicduplessis/status/1039979591815897088/photo/2

[2020-04-23 16:22] Paduado commented on #474
Yes 🙌, but I was still looking to see a different kind of component being rendered or something like that.

on android I use android studio layout inspector - and I saw the different. But on ios
I do not see changes
like here
https://twitter.com/janicduplessis/status/1039979591815897088/photo/2

I'll try that, thanks!

[2020-04-23 20:00] artmerlop commented on #447
Yes! @WoLewicki

[2020-04-24 06:50] WoLewicki commented on #474
Ok, so I am closing this issue. Feel free to comment if there is something more you would like to know.

[2020-04-24 06:50] #474 closed

[2020-04-24 09:10] xstable commented on #111
@ammoradi Don't look like that you used the last available versions.
They have to be the following, or am I wrong?!?:

    "@react-navigation/native": "^5.1.5",
    "@react-navigation/stack": "^5.2.10",
    "react": "16.11.0",
    "react-native": "0.62.2",
    "react-native-screens": "2.6.0",

The issue still appears with like described above. Only thing that work is to remove react-native-screen

[2020-04-24 09:30] ammoradi commented on #111
Ok seems it came back to newer versions.

[2020-04-24 11:10] Hirbod commented on #402
@WoLewicki following the official specs at https://material.io/components/bottom-navigation#behavior, this looks like it is intended.

If so (which I am not sure about), it might have to be configurable. I still think that this "intention" is caused by a bug as it only happens on the native-stack with material-bottom-tabs.

Just posted this as an informative article.

[2020-04-24 13:47] WoLewicki commented on #402
It is a bug caused by tabs of material-bottom-tabs not being `Screen` components since react-native-screens is not used in that package. It causes `ScreenStack` of each native-stack navigator to have the same FragmentManager, which pops one Screen at each change of the tab in https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenSt

[2020-04-24 15:00] WoLewicki commented on #111
Can someone provide a repo with minimal configuration needed to reproduce the issue?

[2020-04-24 16:20] Hirbod commented on #402
Oh I didn’t know about that. But I think none of the tabs are using Screen, right? Actually a loss of performance :-

[2020-04-24 17:37] nandorojo opened #478 "[TypeScript] Minor issue: cannot re-export type."
[code]
It seems like, if the `isolatedModules` flag is set to `true` in `tsconfig.json`, then this line needs to be changed to:

[code]

I tried setting `isolatedModules` to `false`, but Next.js requires it to be `true` to build.

Could I submit a PR to change this line?

https://github.com/software-mansion/react-native-screens/blob/dd115b8be0b4ce99be15c0d6f352283f4959c872/native-stack/index.tsx#L

[2020-04-24 18:19] Hirbod commented on #402
Your suggested workaround works, which is pretty weird, since android don' have any gestures support anyway :D (at least they removed it on navigation v5 and native-stack never supported it for me on android anyway)

<img width="529" alt="Bildschirmfoto 2020-04-24 um 20 16 29" src="https://user-images.githubusercontent.com/504909/80244051-9a335e80-8668-11ea-93cc-7a2cad9700f1.png">

So I've added
[

[2020-04-26 08:48] AnOptimistSeePessimist opened #480 "enableScreens(true) with react navigation make component flash"
## Current Behavior

**enableScreens(true)**

![11](https://user-images.githubusercontent.com/27407218/80302376-421d6900-87dc-11ea-8092-db0a2fe3e8c2.gif)

**enableScreens(false)**
![12](https://user-images.githubusercontent.com/27407218/80302456-c07a0b00-87dc-11ea-8002-49516beb3a8e.gif)

## How to reproduce
https://github.com/AnOptimistSeePessimist/example

[2020-04-27 11:23] #449 closed

[2020-04-27 12:01] WoLewicki commented on #447
What exactly does not work?
With headerLargeTitleHideShadow: true:
![image](https://user-images.githubusercontent.com/32481228/80369920-58d0c800-888f-11ea-8152-6992709fb4dc.png)
With headerLargeTitleHideShadow: false:
![image](https://user-images.githubusercontent.com/32481228/80370001-7c940e00-888f-11ea-8ec3-646138064594.png)
Maybe it is an Expo project and the native code, which you are using do

[2020-04-27 14:53] akontaroudis commented on #463
Just got a similar stack trace on production today as well:

[code]

It's slightly different from what @henrymoulton has attached as mine clearly has an `rnscreens` package in the stack trace. I only had one case on HUAWEI PRA-LX1 Android 8.0.

[code]

[2020-04-28 08:54] WoLewicki commented on #395
Can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-04-28 10:40] WoLewicki commented on #468
As you can read here https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreen.m#L345 and here https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreen.m#L76, these are the options available for `stackPresentation`. You can check them and/or read how each of them works to achieve the desired behavior. The `modal` presentation is resolved to `UIMod

[2020-04-28 15:36] alphasp opened #482 "[native-stack] Header is out of the safe area on Android with translucent status bar"
When setting StatusBar `translucent` to true, header will get render out of safe area on android.

StatusBar `translucent=true`
![tt](https://user-images.githubusercontent.com/2891447/80507011-4ea6ea80-89b1-11ea-85b3-070d2ffdc2ca.png)

StatusBar `translucent=false`
![tt2](https://user-images.githubusercontent.com/2891447/80507040-58305280-89b1-11ea-8256-3fc77aab840c.png)

Snack code:
https://snack

[2020-04-28 16:12] alphasp commented on #482
Closing as I misunderstand translucent status bar behaviour

[2020-04-28 16:12] #482 closed

[2020-04-29 03:19] caiobiodere commented on #394
@WoLewicki is there any workaround to get this working?

[2020-04-29 07:57] Jalson1982 opened #483 "No touchable events on Android with Native Stack"
Hello. I am playing around and want to use native stack because of performances but have an issue.
 `
<NavigationContainer><Stack.Navigator screenOptions={{headerShown: false}}>
          {!isAuthenticated && <Stack.Screen name="Auth" component={Auth} />}
          {isAuthenticated && (
            <Stack.Screen
              name="Wizard"
              component={WizardStack}
            />

[2020-04-29 08:21] janicduplessis commented on #472
This should be fixed in react-native 0.63 (currently in RC). See https://github.com/facebook/react-native/commit/6adba409e6256fd2dcc27a4272edcedae89927af, https://github.com/facebook/react-native/commit/055a41b081c5bc9535b071d9b4b7488b92e71803,

[2020-04-29 09:10] Jalson1982 commented on #411
@desis123 @Hirbod  how you use it? I tried native stack on IOS perfect fine performance great but on android, I do not have any touchable event.

[2020-04-29 09:19] Jalson1982 commented on #483
I have them enabled!
`import React from 'react';
import {SafeAreaProvider} from 'react-native-safe-area-context';
import {NavigationContainer} from '@react-navigation/native';
import FlashMessage from 'react-native-flash-message';
import {useSelector} from 'react-redux';
import {createNativeStackNavigator} from 'react-native-screens/native-stack';
import {Auth, WizardStack} from './src/navigation/

[2020-04-29 09:23] Jalson1982 commented on #483
Complete App.js file:

`import React from 'react';
import {SafeAreaProvider} from 'react-native-safe-area-context';
import {NavigationContainer} from '@react-navigation/native';
import FlashMessage from 'react-native-flash-message';
import {useSelector} from 'react-redux';
import {createNativeStackNavigator} from 'react-native-screens/native-stack';
import {Auth, WizardStack} from './src/navigatio

[2020-04-29 09:26] Jalson1982 commented on #483
Here is a gist for the complete App.js file. If I replace native stack with a stack from react-navigation it works!
https://gist.github.com/Jalson1982/0bbcc73d628397da9b803c8fced6b5e1

[2020-04-29 09:27] Hirbod commented on #483
iirc I've heard people had some problems with touch events and could fix them (its also in the react-navigation docs) that you should include

[code]

at the first import at top your App.js (before you even import React. Try that and lets see if its working. For me its working anyways, with or without that import.

[2020-04-29 09:28] Jalson1982 commented on #483
I have that too. In index.js file I have it :

import {AppRegistry} from 'react-native';
import React from 'react';
import {PersistGate} from 'redux-persist/integration/react';
import 'react-native-gesture-handler';
import {Provider} from 'react-redux';
import App from './App';
import {name as appName} from './app.json';
import {store, persistor} from './src/state/store';

[2020-04-29 09:30] Hirbod commented on #483
Is there any render in your index.js? If so, enableScreens might be called to lately. Also check if your nested Auth-Sack and Wizard-Stack uses nativeStack.

[2020-04-29 09:33] Hirbod commented on #483
The last thing I see which differs from my setup is, that I don't use ```SafeAreaProvider```  - maybe thats messing up.

[2020-04-29 09:33] Jalson1982 commented on #483
Auth stack and wizard stack use native stack. Here is full index.js can it be that this create issue?

`
import {AppRegistry} from 'react-native';
import React from 'react';
import {PersistGate} from 'redux-persist/integration/react';
import 'react-native-gesture-handler';
import {Provider} from 'react-redux';
import App from './App';
import {name as appName} from './app.json';
import {store, pers

[2020-04-29 09:34] Jalson1982 commented on #483
Here is index.js. Can it be issue with it?

https://gist.github.com/Jalson1982/752b3b6a8aca1aed987e1d22a72ff180

I will try enable screens in index.js now and inform.

[2020-04-29 09:36] Hirbod commented on #483
Few hints that might help, even if all of them might be trial and error

1) move ```import 'react-native-gesture-handler';```to first position
2) Import and call enableScreens() in your index.js, not your App.js
3) Remove SafeAreaProvider and try again
4) If you really need SafeAreaProvider (i don't even need it), you need to make sure that your ```SafeAreaView``` has flex: 1

[2020-04-29 09:56] Jalson1982 commented on #483
Really crazy. I am using Buttons from react-native-gesture-handler and that is the reason why it does not work! If I add normal TouchableOpacity it works.

[2020-04-29 09:57] Hirbod commented on #483
I also had a lot of issues with those buttons and I don't use them anymore from react-native-gesture-handler. They only worked for me when handling with absolute positioning on android.

[2020-04-29 10:37] Jalson1982 commented on #483
Thanks mate. Last one, do you maybe know how to remove shadow under header on android? On ios headerHideShadow works on android when i go back it returns shadow

[2020-04-29 10:59] Hirbod commented on #483
Sounds like a bug, might be worth an own ticket. Maybe that react-native-gesture-handler bug is also worth an own issue. This should be closed :)

[2020-04-29 11:10] WoLewicki commented on #483
If your first issue is resolved, please close it and open another one with the correct topic if you have any.

[2020-04-29 11:30] Jalson1982 opened #484 "Header hide shadow on android do not work"
Hello. I have set on Stack.Navigator property headerHideShadow: true and it works on IOS but on android on goBack it returns shadow or randomly adds it. Look into gif:

![giphy](https://user-images.githubusercontent.com/35011526/80591304-c579cd00-8a1d-11ea-9c30-0b44a1518f08.gif)

[2020-04-29 11:34] #483 closed

[2020-04-29 14:58] Jalson1982 commented on #484
For now I hide header and made my custom header component but this is issue.

[2020-04-29 15:47] tankers746 opened #485 "Navbar window fitting android"
I was wondering why the following was reverted:
https://github.com/software-mansion/react-native-screens/commit/4f8efd2873516dd2d3c30661dffce99b5fa76f57

The current navbar on android doesn't take into account for using a translucent status bar:

`MainActivity.onCreate`

`getWindow().getDecorView().setSystemUiVisibility(View.SYSTEM_UI_FLAG_LAYOUT_STABLE | View.SYSTEM_UI_FLAG_LAYOUT_FULLSCREEN);`

[2020-04-29 15:47] SRandazzo commented on #484
Thanks just came searching for this issue as I am seeing the same. Will see if I can poke around at the code

[2020-04-29 16:04] WoLewicki commented on #394
@caiobiodere @enheit can you check if #486 is what you need and works right?

[2020-04-29 16:48] janicduplessis commented on #485
I'm using this patch as a workaround for now, we tried making it work properly before but ended up very difficult.

In ScreenStackHeaderConfig.java
[code]

Maybe we could make it a prop so try to find some heuristic to figure out if we're drawing under the statusbar.

[2020-04-29 17:51] Hirbod commented on #485
Well.. we both got the same error on the same day ;)
Was about to release my app right now. So we need to set translucent to false again and go with black for now...
So Expo -> translucent just dont work.

<img width="400" alt="Bildschirmfoto 2020-04-29 um 19 50 09" src="https://user-images.githubusercontent.com/504909/80629130-afd2ca80-8a52-11ea-90de-df14cd4ea2ca.png">

[2020-04-29 19:48] Jalson1982 commented on #484
Well, I will also try to invest some time but this is an easily reproducible bug home @WoLewicki will have time to take a look.

[2020-04-30 01:09] caiobiodere commented on #394
@WoLewicki Hey mate thanks for doing this, that's exactly what we need but there is still a problem when you use it as a push replacement the navigation bar is changing its height I think probably because of the animation sequence of how you are changing the controllers maybe this works:

[code]

[2020-04-30 07:08] WoLewicki commented on #394
I am not sure what do you mean by the change of the bar height. Can you be more specific? Also, I cannot make it this way because your configuration adds one more controller. `newControllers` is the new array of controllers that should be set. You add an excessive element in that configuration.

[2020-04-30 07:17] enheit commented on #394
@WoLewicki I currently not able to check this functionality. If something will not be working as expected I will create another issue.

Thank you (:

[2020-04-30 10:23] Hirbod opened #487 "Feat: Support gestureEnable for iOS page sheet modal"
Currently, there is no way to disable the pull down to close gesture. I know that this is a system ux but sometimes it should be configurable, trough stack options or through setOptions()

There are different approaches. One of the approaches will leave the modal still pullable but won’t dismiss it. I don’t see any benefits from this. The other approach is to actually disable. (The most important

[2020-04-30 11:04] caiobiodere commented on #394
@WoLewicki what happens is while the navigation is pushed from using replace animation the bar height is almost collapsed to the top and when the animation is done the bar height is pushed to the right size

[2020-04-30 12:49] WoLewicki commented on #484
Did this start happening recently or was it always like this? Can someone tell? @SRandazzo @Jalson1982

[2020-04-30 12:52] Jalson1982 commented on #484
Hello @WoLewicki. To be honest I use react-navigation 5 and wanted because of performances to give a shot to native stack and I use it just for a few days so I can not say how it was in the past. So if I set prop headerHideShadow, on IOS it works as you expect on android you can see this flash showing shadow on transition and then on goBack show it like there is no prop. Hope that this can help th

[2020-04-30 13:00] WoLewicki commented on #484
Ok, thanks.

[2020-04-30 13:31] WoLewicki commented on #484
Can you check if #488 resolves the issue?

[2020-04-30 13:39] Jalson1982 commented on #484
@WoLewicki  thx I will try it during the day and inform! Thanks!

[2020-04-30 16:18] lucasmotta commented on #487
Hey @Hirbod, sorry if I missed something, but you can disable the pull down gesture by passing `gestureEnabled: false` to your screen.

[2020-04-30 16:22] lucasmotta commented on #447
I don't see this option available on the `2.7.0` - if I use `headerHideShadow: true` it does remove the shadow.

[2020-04-30 16:55] lucasmotta commented on #432
Hey @WoLewicki, do you want me to setup a sample project, showing this issue? Here's some screenshots demonstrating the problem:

This first one, is just adding a 44x44 Touchable button as the `headerRight` - you can see it's quite far to the left.
<img width="410" alt="Screenshot 2020-04-30 at 17 45 37" src="https://user-images.githubusercontent.com/76673/80737104-f1bf4780-8b0a-11ea-9f7c-e5bc3853

[2020-04-30 17:04] Hirbod commented on #487
Nope, https://github.com/software-mansion/react-native-screens/blob/master/native-stack/README.md#gestureenabled

Also tested this, it’s not working. It’s always dismissible by gesture

[2020-04-30 17:15] lucasmotta commented on #487
Oh sorry I should have been more specific - it does not disable the gesture entirely, but for me at least it does not allow it to be dismissed - see the gif below:

![Kapture 2020-04-30 at 18 13 33](https://user-images.githubusercontent.com/76673/80739505-7bbcdf80-8b0e-11ea-8f57-14fd0d48bcd2.gif)

[2020-04-30 17:58] Hirbod commented on #487
Where did you put that prop? On the modal itself or on the stack?

If this really works (I’m on expo, so stuck at version 2.4.0, maybe that’s the reason I haven’t seen this behavior) But I would also like to have a full disable. There a plenty of use cases why it should be possible.

[2020-04-30 18:13] lucasmotta commented on #487
I'm not really sure on what version Expo is using, but this behaviour was working for me from version 2.5.0 and still works on 2.7.0.

The config is set  on the screen itself on my case:
![image](https://user-images.githubusercontent.com/76673/80743558-102a4080-8b15-11ea-8dd9-8a255ae9fc4f.png)

And if you want to completely block the gesture from happening, I would suggest wrapping your screen wit

[2020-04-30 19:49] Hirbod commented on #487
Thanks. I will test that. It might break my Scrollview inside of it I think.

[2020-05-01 06:29] Guuz commented on #482
What did you misunderstand? I also noticed it renderd underneath it, but since the header is native you cant apply insets to it, right?

[2020-05-01 16:34] alphasp commented on #482
I was confuse with how it should behave, but you are right, the native-stack should handle it correctly. There is an another new issue #485 mention about this problem.

[2020-05-01 20:22] agarant commented on #484
@WoLewicki I confirm that #488 resolves the issue.

[2020-05-01 22:36] Jalson1982 commented on #482
@WoLewicki is it possible to look into this too? This is issue with android devices and header again :(

[2020-05-02 09:20] sbeigel commented on #432
Using a custom compontent in headerCenter is affected by the same bug/problem...

[2020-05-02 16:55] sa8ab commented on #480
+1 same issue

[2020-05-03 04:38] pedro-lb commented on #293
We've solved the issue! 💯

To solve this we're going to need to modify files inside `node_modules` folder.

## 1. Identifying conflicted libs

First, we need to identify which libs are conflicting - we can do this by checking the error details in XCode. In our case, these libs were generating conflicts:

- react-native-screens
- @react-native-community/masked-view
 - react-native-safe-area-context

[2020-05-03 04:38] #293 closed

[2020-05-03 08:43] Hirbod commented on #487
It works, but I had to add some activeOffset and failOffsets in order to make the swipe back gesture work but disable the pull down + I had to change my component so that only iOS wraps the gesture handler and not Android because Android wasn’t playing well. But since I achieved what I need I will close this.

[2020-05-03 08:43] #487 closed

[2020-05-03 09:37] Jalson1982 opened #489 "Android animation slide from right"
Hello. This is not a bug or issue it like I want to ask is it possible on android to have slide from the right animation and not this default one. I really like performances with react native stack it is so crazy fast and smooth but if we somehow could have the option on android to change the way how screen will be present ( like on IOS by default ) would be really great! Good work @WoLewicki  @km

[2020-05-03 09:38] Jalson1982 commented on #484
I can confirm the same. It works with #488

[2020-05-03 11:44] Hirbod commented on #489
+1

[2020-05-03 12:38] Jalson1982 opened #490 "Android strange behaviour on hardware back press"
Hello. I have noticed strange behaviour when press android back hardware button, my icons are invisible and then we return back. Look gif bellow:

![giphy2](https://user-images.githubusercontent.com/35011526/80914419-a647ac00-8d4b-11ea-977e-1bb84f7c1443.gif)

And here is the behaviour when I press the icon and go back it does not remove icons on the previous screen and no strange behaviour.

![gip

[2020-05-03 14:03] Jalson1982 opened #491 "All gestures are lost with react-native-stack"
Hello. React native stack disables all gestures. I have an action bottom sheet and drag down is not possible because all gestures are dead! It is easily reproducible with for example this package: https://github.com/nysamnang/react-native-raw-bottom-sheet

[2020-05-03 14:05] Jalson1982 commented on #491
False alarm solved sorry!

[2020-05-03 14:05] #491 closed

[2020-05-03 19:17] Hirbod commented on #490
I can confirm that this also happens when I use icons on headerRight(). The moment I goBack() or pop() I can see that the icon disappears. Its just a visual thing, not breaking anything, since I am leaving the screen anyway.

[2020-05-03 19:20] Jalson1982 commented on #490
Yes it does not break but it looks strange and bad from UX perspective!

[2020-05-04 07:35] WoLewicki commented on #447
@lucasmotta you are right, `headerHideShadow` works both on the large and normal header and `headerLargeTitleHideShadow` will work only for the large title.

[2020-05-04 08:16] WoLewicki commented on #268
Does the issue still exist after #481?

[2020-05-04 08:50] WoLewicki commented on #447
Is this issue still relevant? As far as I can repro, these props are working fine. Can someone provide a repo with something not working, and, if not, can I close this issue?

[2020-05-04 09:11] artmerlop commented on #447
The property is now working for me in latest version (2.7.0) I think is now safe to close this issue.

[2020-05-04 09:11] #447 closed

[2020-05-04 20:47] Hirbod commented on #268
No @WoLewicki, it is just partially fixed. The developer menu finally mounts on top of the modal, but the element inspector is still behind it.

[2020-05-05 06:33] Mukhammadali opened #492 "Unexpected token error while using react-native-web"
I am facing this problem while integrating react-native-web. Is there any solution for this?

<img width="730" alt="Screen Shot 2020-05-05 at 11 21 47 AM" src="https://user-images.githubusercontent.com/22298895/81040005-dc0fa080-8ec3-11ea-8613-c209aa434eea.png">

[2020-05-05 13:20] jacobp100 opened #494 "Allow changing animation for modals"
We're creating a navigator using `createNativeStackNavigator` and we have a screen with options `{ stackPresentation: 'transparentModal', stackAnimation: 'none' }`

We're doing our own animation with a backdrop, so we need to be able to disable the system animation

Currently `stackAnimation` only works with stack transitions

Tested on iOS

[2020-05-05 13:47] jacobp100 opened #495 "View controller based status bars"
It would be neat if we could set the status bar style on a screen. It would mean fewer issues from imperative status bar handling people tend to have to do in the app. I know on iOS this can be done via view controller based status bars - not sure about Android

[2020-05-05 17:35] enheit commented on #402
I have updated to the latest version of the expo (Expo SDK 37) and issue disappeared on Android (v10)

[2020-05-06 22:58] NappyPirate commented on #214
This issue still exists in version 2.7.0.  Setting `androidHardwareAccelerationDisabled={true}` on the webview does temporarily fix it, but I would like to see a better solution.  The `react-native-webview` repo is also tracking a similar issue: https://github.com/react-native-community/react-native-webview/issues/1338

[2020-05-07 04:01] CodeKazuko opened #501 "Module not found: Can't resolve 'react-native'"
After I type in my code for adding switch, I encounter this error.

Module not found: Can't resolve 'react-native' in 'C:\Users\hille\Desktop\virusattack\src\components'

This is my package.json file below.

[code]

[2020-05-07 04:05] AzzouDuGhetto commented on #387
Ran into the same issue

[2020-05-07 06:59] WoLewicki commented on #480
Can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-05-08 05:30] AnOptimistSeePessimist commented on #480
tested in android real device(ios is ok): https://snack.expo.io/@chengxiaodong1/reactnativescreens

[2020-05-08 11:24] WoLewicki commented on #432
@osdnk

[2020-05-08 15:40] Hirbod commented on #501
U are in the wrong Git mate 😅

[2020-05-08 15:49] Hirbod opened #503 "UX feat: Make gesture back distance adjustable"
There is currently no way to increase the distance where a user can swipe to go back. It has to be super close on the left side in order to work. It would be nice if we could set a much higher distance for this, so people with single hand usage on big screens can swipe too.

If you take instagram as example, it works on the full screen.

[2020-05-08 19:47] ArekChr opened #504 "While go back to screen with large title, position of content is jumping"
Content of screens jumps, like top padding/margin changes while view is focused.

This issue is very weird because it occur only when I have title with special Polish characters,
Tested on title with Polish characters: "Szczegóły" and without "Szczegoly". in second one there is no issue.

When screen with Polish characters is opened first time then this issue occurs in every screen while going bac

[2020-05-08 20:16] ArekChr opened #505 "Absolute elements jump on the screen with a large title when scrolling"
After scrolling 'faster', the position of the screen and/or button changes position more, in a clean application with simple empty screen it occurs less often, while in a larger app it occurs almost every time.

Code:

[code]

Gif with 0.5x speed:
![ezgif-4-a44db65b9766](https://user-images.githubusercontent.com/24796318/81445423-1ce40f80-9179-11ea-9654-91b71c066c49.gif)

[code]

[2020-05-09 04:28] CodeKazuko commented on #501
Which github community is this question should be? There were many groups which I don't really know where is best to ask about react-native.

[2020-05-09 08:09] wong2 commented on #503
We are in desperate need of this!

[2020-05-09 08:18] Hirbod commented on #501
StackOverflow

[2020-05-09 08:20] Hirbod commented on #503
And additionally: support swipe to pop also on Android, since gestures getting common on Android too

[2020-05-09 09:14] WoLewicki commented on #503
Isn't it a duplicate of #251?

[2020-05-09 09:55] WoLewicki commented on #394
@caiobiodere could you post here a gif that shows the behavior you are talking about?

[2020-05-09 10:30] WoLewicki commented on #476
One way I can think of is putting a stack navigator above the tabs navigator and navigating to another screen of this stack navigator. This way you keep the header animation and make the `tabBar` disappear on the other screens. I know it may not be the thing you are looking for though.

Can you provide an example where it could be animated? There is no animation when
e.g. switching tabs.

[2020-05-09 12:14] Hirbod commented on #503
True.

[2020-05-09 12:14] #503 closed

[2020-05-09 13:49] Hirbod commented on #476
Can you explain this to me please @WoLewicki ?

I have 3 Tabs, each Tab has a Stack.Navigator.

AppRootNavigator
   TabBar
       Tab1 -> Stack
       Tab2 -> Stack
       Tab 3 -> Stack
RootScreen
...
RootScreen

If I open a Rootscreen, it overlaps the TabBar but no HeaderAnimation
If I open a Screen of a Stack, it has a nice HeaderAnimation but the TabBar stays visible, but I dont want this, bec

[2020-05-10 12:26] ashkanghaderi opened #506 "Got null of undefined when logout in react native"
When i logout in my app after call api for logout in .then i navigate to login page like this:

dispatch(logout())
      .then(() => {
        navigation.reset({
          index: 0,
          routes: [{ name: 'AuthNavigator' }],
        })
      })
      .catch((err) => {
        console.log('err', err)
        }
but it seems some pages are still mounted and i have got null of undefined issue beca

[2020-05-11 09:08] WoLewicki commented on #476
[code]

Something like this conceptually. You start in `TabStack`, so the user sees the tabs. Then each navigating goes to the screens of the `Root` stack navigator. It causes the tabs to disappear and keeps the header transitions since it is in the same navigator. You would have to play a bit with the header titles etc, and, as I say, there might be cases where this configuration is unusable. Do

[2020-05-11 09:26] Hirbod commented on #476
Hi, thanks for the ideas. I will play around and see if this fits my needs (since sometimes I want to keep the tabs and some tabs need their own navigator).

Not sure if I get what I need with this approach.

Beside of this workarounds, is there any way „native“ could help to connect different navigators? Is my request even possible?

[2020-05-11 11:39] WoLewicki commented on #476
It may be possible with custom interpolators but `react-native-screens` don't support it now and I think it won't come in the near future.

You can e.g. provide the same routes for different navigators. There are ways to enforce the needed behavior most of the time, but they may be not too straightforward.

[2020-05-11 16:11] jtomaszewski opened #507 "[Android] When there are multiple Stack navigators in a Tab navigator, only one Stack navigator is rendered"
We use both `@react-navigation/material-top-tabs` and `@react-navigation/stack` in such a way that:

- the app at root uses `@react-navigation/material-top-tabs` navigator created with `createMaterialTopTabNavigator()`
- then, each tab may consist of its own' `Stack.Navigator` created with `createStackNavigator()`

Problem is, that after adding `enableScreens()`, the following bug appears **only o

[2020-05-11 21:57] mikeRChambers610 opened #508 "(0 , _reactNativeScreens.enableScreens) is not a function"
Anyone getting issue below?? I've placed the import in the app.js file and I do not have any screens rendered here.

(0 , _reactNativeScreens.enableScreens) is not a function

[2020-05-12 00:12] mikehuebner commented on #467
There might actually be a bug with this, while testing `gesturesEnabled` on iOS I cannot seem to disable them.

[code]

Yet I am still able to swipe back on iOS. Is there something I'm missing or is this not supported yet?

[2020-05-12 05:49] Bageerapm commented on #452
Error:

ERROR: Failed to resolve: androidx.cardview:cardview:1.1.0
Show in Project Structure dialog
Affected Modules: app

[2020-05-12 05:50] Bageerapm opened #509 "ERROR: Failed to resolve: androidx.cardview:cardview:1.1.0"
Error

ERROR: Failed to resolve: androidx.cardview:cardview:1.1.0
Show in Project Structure dialog
Affected Modules: app

[2020-05-12 06:44] WoLewicki commented on #467
Prop's name is `gestureEnabled`, maybe this is the problem @mikehuebner?

[2020-05-12 10:27] WoLewicki commented on #509
Did you try this solution? https://github.com/software-mansion/react-native-screens/issues/452#issuecomment-610512829

[2020-05-12 10:27] WoLewicki commented on #508
Can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-05-12 10:44] WoLewicki commented on #507
Do you have the newest version of `RNScreens`? I copied the snack and it works just ok on Android.

[2020-05-12 10:46] WoLewicki commented on #506
Does it happen too if you set `screensEnabled(false)`?

[2020-05-12 10:47] WoLewicki commented on #501
It doesn't look like the issue with `react-native-screens` so I am closing it. Feel free to comment if I am wrong.

[2020-05-12 10:47] #501 closed

[2020-05-12 11:49] #494 closed

[2020-05-12 11:54] #402 closed

[2020-05-12 12:48] ashkanghaderi commented on #506
yes still happen

[2020-05-12 12:51] WoLewicki commented on #506
So it is not the issue of `react-native-screens`, yeah? I think you should submit an issue e.g. in React Navigation repo. Am I right?

[2020-05-12 13:12] osdnk commented on #480
@AnOptimistSeePessimist
Would you mind moving this issue to the react-navigation repo? Screens are working fine but appear to be improperly handled by navigation stack.

Thanks for your watchfulness!

[2020-05-12 13:19] AnOptimistSeePessimist commented on #480
ok

[2020-05-12 13:19] #480 closed

[2020-05-12 14:12] WoLewicki commented on #387
What behavior do you want to achieve? setting `headerTranslucent: true` on iOS 13 makes the content not respect the header's height and appears under it. If you want to see the content below the header, use semi-transparent header backgroundColor, e.g.
[code]

[2020-05-12 14:19] Hirbod commented on #401
No, its not. The dev menu opens on top of the modal now, which is great, but when you select force refresh, the app will reload but you can't use the app after that. No touches. Expo SDK 37.0.9 with the new interface fix.

[2020-05-12 14:21] sallar commented on #387
@WoLewicki that makes sense. Two questions:

1- Isn't `headerTranslucent` supposed to make the header look blurred? Will setting a translucent background colour achieve this?
2- How do I find out what body padding to use so the content appears at the right spot?

[2020-05-12 14:48] mrousavy commented on #485
@janicduplessis Your patch doesn't work for me, it's saying "package Build does not exist". Where did you import the `Build` class from?

[2020-05-12 14:54] mrousavy commented on #485
Nevermind, found it! If anyone's interested, [I've created a patch for this](https://gist.github.com/mrousavy/8ab7f59df622cdc94eb7f0ff83500bb1). Use [patch-package](https://www.npmjs.com/package/patch-package) and rebuild to include the patch.

[2020-05-13 07:29] #506 closed

[2020-05-13 08:26] WoLewicki commented on #387
1. In the current implementation, setting `headerTranslucent` to `true` will resolve to `configureWithDefaultBackground` of appearance (https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreenStackHeaderConfig.m#L271). It makes the content appear under the header, which gives the opportunity to see the content when applying backgroundColor with alpha < 1 to the header.
2.

[2020-05-13 08:56] WoLewicki commented on #495
Would you like to make a PR with this functionality?

[2020-05-13 09:01] jacobp100 commented on #495
I can take a shot at it!

[2020-05-13 09:36] WoLewicki commented on #495
Great!

[2020-05-13 09:38] sallar commented on #387
@WoLewicki I see. thanks. So there's no way currently to also make it blurred like native iOS apps?
Seems like background effect needs to be applied. https://developer.apple.com/documentation/uikit/uibarappearance/3197994-backgroundeffect?language=objc

[2020-05-13 12:01] jacobp100 commented on #495
I made a start over here - https://github.com/jacobp100/react-native-screens/tree/status-bar-styles

I can't figure out how to get it to register the correct view controller as the status bar controller. Do you have any ideas?

[2020-05-13 12:25] WoLewicki commented on #492
Can you check if applying #510 fixes the problem?

[2020-05-13 16:59] Pierre-CLIND commented on #89
Still not working on :
"react-native-screens": "^2.7.0",
   "react-navigation": "^4.3.8",

[2020-05-14 01:43] nero2009 commented on #508
Just upgraded from expo sdk 35 to sdk 37 and I get this error
<img width="378" alt="Screenshot 2020-05-14 at 02 27 40" src="https://user-images.githubusercontent.com/29065069/81882393-91102000-958a-11ea-87c1-fa83098e4e58.png">
I suspect this is caused by the `enableScreens()` call in `line 38` of my `index.js` as seen although not clearly in the above stacktrace

<img width="990" alt="Screenshot 2

[2020-05-14 07:38] jtomaszewski commented on #507
Yeah. 2.7.0 , just as the snack references in package.json . Here's the video from my Android (Xiaomi Mi 9 SE):

https://www.dropbox.com/s/z7lp93mds43w8zy/WhatsApp%20Video%202020-05-14%20at%2009.35.17.mp4?dl=0

[2020-05-14 08:27] WoLewicki commented on #507
Oh, you are using Expo Client. It has the native code of RNScreens of v. 2.2.0 compiled inside it, iirc. So the bug still exists there. Using v. 2.7.0 can only change JS code of the library. So you either have to wait for the SDK38 of Expo, which should be here in about a month, or use bare workflow. Does it fix your issue?

[2020-05-14 08:40] WoLewicki commented on #508
Can you provide a repo with minimal configuration needed to reproduce the issue?

[2020-05-14 08:53] jtomaszewski commented on #507
Oh, that explains a lot. We like using Expo client a lot, so I guess we'll just disable this plugin for now, and wait for SDK 38.

Maybe it could have been noted in README (that there's such an issue for android on SDK 37), but I guess our usage of navigators is a rare case... and now that I've created this issue, hopefully other people which encounter this bug will find this GH issue with a quick

[2020-05-14 08:53] #507 closed

[2020-05-14 11:54] nero2009 commented on #508
I was able to fix this and for me the error not caused by `react-native-screens` `enableScreens`, it was actually caused by the `bugsnag()` on line 39, SDK 37 uses a different version of bugsnag from sdk 35 so instead of initialising it with `bugsnag()` I used `bugsnag.start()`.

That fixed the problem for me

[2020-05-14 13:25] WoLewicki commented on #387
Hmm I can add `backgroundEffect` as a prop to RNScreens.

[2020-05-14 15:29] WoLewicki commented on #387
I added PR for it #512. Can you check if it is what you would like to have @sallar?

[2020-05-14 19:44] sallar commented on #387
@WoLewicki thanks! I’ll check in a minute.

[2020-05-14 22:05] sallar commented on #387
@WoLewicki that's it :) works nicely.

[code]

I added this in `nativeNavigation.js` in RNScreens Example and works perfectly.

<img width="346" alt="image" src="https://user-images.githubusercontent.com/768052/81990509-f8d87080-9647-11ea-998f-ee3a9030b6f3.png">

The thing is, when I don't add `blurEffect`, it still works (of course with a normal blur this time):

<img width="320" alt="image" src=

[2020-05-14 22:12] sallar commented on #387
However I think something's wrong with the master version "in my project only". this is what happens in mine but not in Example@master:
[code]

Results in an "opaque" background:

<img width="492" alt="image" src="https://user-images.githubusercontent.com/768052/81991083-2245cc00-9649-11ea-8e3a-419885d0348c.png">

So the navigation is not actually translucent.

[2020-05-15 08:10] WoLewicki commented on #387
Blur effect can be only applied with connection to backgroundColor and with that color having alpha < 1. Then it can change the default blur applied. It works with `backgroundColor: 'transparent'` too. In your case, there might be a problem with aligning the content after the refresh. Try switching the translucency and refreshing the app with cmd+R. After disabling translucency, the content should

[2020-05-15 09:16] WoLewicki commented on #489
We are not planning to support other types of animations on Android for now. The possible option is to achieve the custom animations with `react-native-reanimated` and it is probably the direction in which we will go.

[2020-05-15 09:41] WoLewicki commented on #312
`react-native-screens` are not enabled in `@react-navigation/stack`, which you can see here: https://github.com/react-navigation/react-navigation/blob/master/packages/stack/src/views/Stack/CardStack.tsx#L384. It is disabled due to some bugs happening when wrapping navigation with `RNScreens`. Does it solve your issue?

[2020-05-15 09:43] WoLewicki commented on #329
Does the issue still exist? And if so, can you provide a repo with minimal configuration where this happens?

[2020-05-15 09:53] compojoom commented on #312
Ok, now at least I know what's going on. Thanks for the information @WoLewicki !

[2020-05-15 09:53] #312 closed

[2020-05-15 09:55] WoLewicki commented on #418
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-15 09:55] #418 closed

[2020-05-15 10:16] compojoom commented on #214
I can also confirm that this happens with 2.7.0. A temporary fix as already mentioned is `androidHardwareAccelerationDisabled={true}`

[2020-05-15 10:46] codecog commented on #17
Experiencing the same issue here. Latest version of screens and react native.

[code]

[2020-05-15 13:57] WoLewicki commented on #424
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-15 13:58] WoLewicki commented on #357
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-15 14:03] WoLewicki commented on #295
Closing due to no reply for more than 30 days. Feel free to comment here to reopen.

[2020-05-15 14:03] #295 closed

[2020-05-15 14:06] WoLewicki commented on #297
@codecog can you provide a repo with minimal configuration needed to reproduce the bug?

[2020-05-15 14:07] codecog commented on #297
@WoLewicki No problem, i'll put something together today.

[2020-05-15 14:13] WoLewicki commented on #274
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-15 14:16] WoLewicki commented on #269
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-15 14:20] osdnk commented on #251
Hi,
We'd like to ephazite that priority of React Native Screens is to deliver a native-like experience with a minimal cost of modifying what's actually delivered by the Platform.
Therefore we don't want to go for supporting features that are not ready out of the box or easy to implement by native components' kit.
Feel free to make this change in your fork or patch but I need to want you that messi

[2020-05-15 14:25] WoLewicki commented on #200
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-15 14:25] #200 closed

[2020-05-15 14:26] #269 closed

[2020-05-15 14:26] #274 closed

[2020-05-15 14:26] #357 closed

[2020-05-15 14:27] #424 closed

[2020-05-15 14:29] WoLewicki commented on #273
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-15 14:29] #273 closed

[2020-05-15 14:46] WoLewicki commented on #187
Could someone check if it is fixed with #496? And if not, can you provide a repo with minimal configuration needed to reproduce the bug?

[2020-05-15 17:18] Kyberius commented on #297
I apologize for the delayed response, for me the problem went away with an update to one of the stable versions.

[2020-05-15 18:52] codecog commented on #297
Hmm, i've tried starting a new project and setting listeners up for `AppState` and `NetInfo`. Can't reproduce the issue so perhaps it's something else that doesn't play nicely. I'll create a new issue if i end up reproducing it again.

[2020-05-16 00:05] hadnet opened #513 "InteractionManager.runAfterInteractions with createStackNativeNavigator"
When I'm using the Js implementation I use InteractionManager.runAfterInteractions to delay some process and then display an Alert. But when I'm using this native implementation, this InteractionManager.runAfterInteractions is not working and my processes and alert trigger even before entering the screen stack (just clicking on the button to go to that specific screen is enough to trigger the proc

[2020-05-17 00:52] AnasAlsaadi opened #514 "Faild to run android after npm install react-native-screens"
`* What went wrong:
Execution failed for task ':react-native-screens:generateDebugRFile'.

     Searched in the following locations:
         https://dl.google.com/dl/android/maven2/com/google/android/material/material/1.1.0/material-1.1.0.aar

     Searched in the following locations:
         https://dl.google.com/dl/android/maven2/androidx/viewpager2/viewpager2/1.0.0/viewpager2-1.0.0.aar

[2020-05-17 13:53] jimkhan commented on #329
for me it was Graphics Card problem. @WoLewicki

[2020-05-18 08:36] WoLewicki commented on #380
Did you manage to fix the issue with these solutions @dogukny?

[2020-05-18 08:44] WoLewicki commented on #366
@frankyjuang does the issue still exist or can I close it? Also, your snack does not have `profile` tab. Am I missing something? Since I cannot repro the bug anyhow.

[2020-05-18 08:48] WoLewicki commented on #297
Ok, thanks! So I am closing this issue. Feel free to comment here if you need anything.

[2020-05-18 08:48] #297 closed

[2020-05-18 10:41] WoLewicki commented on #514
What version of `react-native` are you using?

[2020-05-18 11:29] Hirbod commented on #263
@WoLewicki this is how facebook fixed it for the status bar tab:
https://github.com/facebook/react-native/commit/7a4753d76aab1c52a09f26ec6f7fd43a68da8a97

it would be nice if you guys could also implement in the same fashion so a modal, which contains a inverted Scrollview or FlastList, works as expected (and not reversedd)

[2020-05-18 12:05] AnasAlsaadi commented on #514
@WoLewicki  0.62

[2020-05-18 12:12] WoLewicki commented on #204
@MarcusMorter did you manage to do that?

[2020-05-18 12:17] WoLewicki commented on #484
After some consultation, we changed the behavior to #516 which does not dive into android's implementation but does not give you an opportunity to switch the shadow visibility while being on screen. It shouldn't be a case though. I am closing this issue then. Feel free to comment if the change does not work correctly or if you have any questions.

[2020-05-18 12:17] #484 closed

[2020-05-18 12:27] WoLewicki commented on #514
So it is not needed to use `react-native link`. It should be enough to add the library via npm/yarn and then just build the project. Can you check?

[2020-05-18 12:46] WoLewicki commented on #416
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-18 12:46] #416 closed

[2020-05-18 16:18] TalonHughes13 commented on #102
I am getting this issue on iOS when upgrading from 1.0.0-alpha.23 to 2.7.0 and using enableScreens(). The removal of enableScreens resolves the issue, but would like to see if there is a better resolution.

[2020-05-18 21:42] TalonHughes13 commented on #61
Any update on this? This is happening to me as well on iOS while using `enableScreens();` and `transparentCard: true` together.

[2020-05-19 07:12] WoLewicki commented on #405
So you basically need a transparent header?

[2020-05-19 07:17] leshniak commented on #405
Yes, I want to achieve an effect like this:
![IMG_1737](https://user-images.githubusercontent.com/752917/82296527-d5435c00-99a0-11ea-8931-ef0e218d08b2.PNG)

[2020-05-19 07:28] WoLewicki commented on #167
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-19 07:28] #167 closed

[2020-05-19 07:39] WoLewicki commented on #159
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-19 07:39] #159 closed

[2020-05-19 07:44] WoLewicki commented on #135
@xtroncode any update on that? Can you say if it is the same issue as #214?

[2020-05-19 08:23] WoLewicki commented on #121
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-19 08:23] #121 closed

[2020-05-19 08:24] xtroncode commented on #135
@WoLewicki  I am not working on that project now but I think we got around the issue by adding the `androidHardwareAccelerationDisabled={true}` prop to WebView component.

[2020-05-19 08:43] sbkl commented on #361
Setting up at navigator level with cardOverlayEnabled set to true is getting the right background colour with expo sdk37:

[code]

[2020-05-19 08:52] Hirbod commented on #361
This issue has been fixed with the lastet SDK 37 patch-release. Just set the color in your app.json - it also works for native-stack

[2020-05-19 09:22] sbkl commented on #361
@Hirbod  Just gave it a try. Doesn't seem to work when the stack containing the modal is not the root stack. At least in my case. Unless I'm missing something?

[2020-05-19 09:24] Hirbod commented on #361
Make sure u pass a theme to your ```<NavigationContainer>``` which can contain a background color. Set backgroundColor in your `app.json` (expo.backgroundColor) or set it in your platform (expo.ios.backgroundColor)

[2020-05-19 09:30] Hirbod commented on #513
U will prob. wait for these pull requests to land:
#499
#498

[2020-05-19 09:35] WoLewicki commented on #405
On iOS it is already an option with:
[code]
On Android it is not available currently.

[2020-05-19 09:38] WoLewicki commented on #135
Ok, it looks similar to the workaround of #214 so the origin of the bug seems to be the same. I am closing it then. Feel free to comment if I am wrong.

[2020-05-19 09:38] #135 closed

[2020-05-19 09:50] WoLewicki commented on #322
@osdnk

[2020-05-19 11:00] WoLewicki commented on #178
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-05-19 11:00] #178 closed

[2020-05-19 14:07] berkaey commented on #263
Yes, this is a real issue for chat views inside modals on iOS 13. Any suggested workarounds for this type of use case. Do we even stop propagation between nested scroll views?

[2020-05-19 14:09] berkaey commented on #263
@Hirbod did you find any solution?

[2020-05-19 14:14] Hirbod commented on #263
There is no solution currently @berkaey. react-native-screens needs to fix this. I would love to help but my obj-c/ios native development skills are super limited. I think the listener values for the swipe down gesture have to be reversed (or listen for negative)

[2020-05-19 16:22] frankyjuang commented on #366
Can't repro either. Go ahead and close it.

[2020-05-20 09:20] #366 closed

[2020-05-20 10:16] AnasAlsaadi commented on #514
@WoLewicki

it is working now after try another solution and spent alot of time

girdle version should be ;

**classpath 'com.android.tools.build:gradle:3.4.2'**

in waraper :

**distributionUrl=https\://services.gradle.org/distributions/gradle-5.5-all.zip**

react-native-screen/android/build.gridle

**implementation 'androidx.swiperefreshlayout:swiperefreshlayout:1.1.0-beta01'**

after all change

[2020-05-20 16:20] pvinis commented on #334
I don't have time to continue this unfortunately :(. Feel free to take over that PR.

[2020-05-20 16:56] hiteshharora commented on #415
is there any update on [this](https://github.com/software-mansion/react-native-screens/pull/465) PR? It fixes the issue.

[2020-05-21 09:27] WoLewicki commented on #485
Can you check if #518 fixes your issue? It should apply proper insets for translucent/non translucent status bar.

[2020-05-22 08:10] kyle-ssg opened #520 "Color flash between large and small title screen"
"react-native-screens": "^2.7.0",
    "react-native": "0.62.2",

<img src="http://g.recordit.co/ps9wNfqwp4.gif"/>

I can't seem to transition between a large and small title screen without colours flashing.
Screen A
[code]

Screen B

[code]

Edit: It seems like I have to force translucent={false} on both screens for this issue to go away.

[2020-05-22 08:13] kyle-ssg commented on #520
Ah progress on this, It seems like I have to force translucent={false} on both screens for this issue to go away.

[2020-05-22 08:42] kyle-ssg opened #521 "Allow navigation bar move with screen"
<img src="http://g.recordit.co/HoqAKahZq9.gif"/>

From what I can see there's no way to achieve the right of this gif in that the navigation bar stays in place between screens. I'd imagine this is achievable native side as it's quite common to want to do this type of thing.

[2020-05-22 10:11] codecog commented on #380
The `contentStyle` of `<Stack.Screen>`, `backgroundColour` of `<NavigationContainer />` `theme` prop, `rootView.backgroundColour` in `AppDelegate.m` for iOS & `windowBackground` in `styles.xml` for Android all need to be set.

[2020-05-22 17:25] MarcusMorter commented on #204
@WoLewicki yup, it works now

[2020-05-22 17:25] #204 closed

[2020-05-23 08:28] muhammadwafa opened #523 "Is there any example of usage for native stack?"
I am using react-native-screens with react-native native stack navigator from `react-navigation`, but now native stack navigator is exist in `react-native-screens`, so How can I canfigur it safely ?? is there any example? I saw the example as it was still with `react-navigation`.

[2020-05-23 11:26] kyle-ssg commented on #523
From what I've been able to see, the actual usage of react-native-screens by react-navigation is currently very limited in that there's no actual support for stacks and it simply uses the screens part for efficient memory consumption.

The best example I've seen of getting this lib working currently is https://github.com/ajsmth/earhart/.

[2020-05-23 11:47] muhammadwafa commented on #523
@kyle-ssg thank you for recomendation, but `native stack navigator` is work very smooth and fast for me. My question was only how can I use `native stack` which available with `react-native-screens`, and about options there is no problem it is `Ok` for me. I just need to know how can I use it.

[2020-05-23 11:51] muhammadwafa commented on #523
import { createNativeStackNavigator } from "@react-navigation/native-stack";

const Stack = createNativeStackNavigator();

const MyStack = ()=> (
    <Stack.Navigator screenOptions={{headerShown: false}}>
        <Stack.Screen name="ChatList" component={ChatList}/>
        <Stack.Screen name="Contacts" component={Contacts} />
    </Stack.Navigator>
);

As you can see `createNativeStackNavigator` c

[2020-05-23 16:00] kyle-ssg opened #524 "large title is never translucent when backgroundColor is set"
**Works fine when backgroundColor is transparent**
[code]

![image](https://user-images.githubusercontent.com/8608314/82735081-0ca26780-9d17-11ea-8b8c-50c8864eed52.png)

**Causes large title to be opaque**
[code]
![image](https://user-images.githubusercontent.com/8608314/82735088-1af08380-9d17-11ea-9cf3-80fe8299ebc5.png)

[2020-05-23 17:02] kyle-ssg commented on #521
Closed as the following bugs are more specific:
https://github.com/software-mansion/react-native-screens/issues/524
https://github.com/software-mansion/react-native-screens/issues/520

[2020-05-23 17:02] #521 closed

[2020-05-24 01:16] ScottDikowitz commented on #523
@muhammadwafa You can import it like this:
`import { createNativeStackNavigator } from 'react-native-screens/native-stack';`

It works pretty much the same.

[2020-05-24 13:55] bedevgirl-com commented on #401
How to use Expo SDK to version 37.0.9 in project? npm i -g expo-cli does't upgade version in my project.

[2020-05-24 14:34] Hirbod commented on #401
just increase it manually. It will bring some few js based optimizations.

[2020-05-24 17:06] dogukny commented on #380
I did punisher97's solution for first view but didn't change. It's not about just black color or darktheme, other colors effect too.

[2020-05-24 18:35] muhammadwafa commented on #523
Thank you I will check it out

[2020-05-24 19:30] janicduplessis commented on #317
Could be possible to use this along with native animated. We could expose an animation progress event which could be connected to an animated value. Not sure if it could work with stock pop / push animations but with the custom fade one it seems possible (turns out good since it is probably the animation you want to use with shared elements).

Here's how it could look:

[code]

[2020-05-24 20:06] Hirbod commented on #317
But Android does not have a fade animation. (at least currently in native-stack). We would need both platforms.

I would be happy to do a shared animation with fade. It’s the most common pattern anyway.

[2020-05-24 20:14] Hirbod commented on #523
https://github.com/software-mansion/react-native-screens/blob/master/native-stack/README.md

The readme is right here. Performance is awesome, native pagesheet modal support, nestable, large header with collapse support. I am using native-stack only but it’s also mixable with js-stack

[2020-05-24 20:15] mrousavy commented on #317
@Hirbod I'm not quite sure I understand, do you mean fade animation is the only animation for this use case? I've seen quite a few uses of shared element transitions and they're almost always more than just a simple fade.. The App Store's App of the day animation is a (very complex) example for this.
Don't get me wrong, native shared element fade animations are a good start!