[2020-10-06 09:13] WoLewicki commented on #640
Does it work in RN's `Modal` component?

[2020-10-06 09:33] WoLewicki commented on #640
I tested it and this commit: https://github.com/facebook/react-native/commit/702ff6d1cdc378815ff1beb563c2c8cc4f30585c should fix the issue. Unfortunately, it is not yet available in RN 0.63. Could you apply the changes made in it and see if the problem disappears for you too? If so, I think we can close it since there is nothing that `RNScreens` can do about it.

[2020-10-06 09:45] WoLewicki commented on #657
It seems to be duplicate of #638. I am closing it. Please comment if I am wrong or if you have any questions.

[2020-10-06 09:45] #657 closed

[2020-10-07 08:51] goodryanboy commented on #89
`const _input = useRef();

  useEffect(() => {
    setTimeout(() => {
      _input.current.input.focus();
    }, 400);
  });

<Input
        ref={_input}
        placeholder="Say something about this..."
        inputStyle={style.inputShareStyle}
        inputContainerStyle={{borderBottomWidth: 0}}
        placeholderTextColor="#90949c"
      />`

make sure in android you removed autofocus

[2020-10-07 13:33] Cal-um commented on #577
confirm I am also seeing the bottom jitter on iOS 14 modals when pulling the modal upwards.

[2020-10-07 14:53] WoLewicki commented on #577
Can you check if the same happens in RN's `Modal` component? And does it happen only on phones with bottom notch?

[2020-10-07 16:16] Cal-um commented on #577
I have presented the same component in the RN modal and the problem does not exist.

Can repo it with createNativeStackNavigator on notch and non notch device running iOS 13 +.

The issue is most evident when pinning a component to the bottom={0} of the screen.

[2020-10-07 20:36] spacesuitdiver opened #659 "Should initialRouteName preserve stack?"
[code]

I am noticing that popping `AuthenticationScreen` off in this style stack leads to the transition presenting `HomeScreen` despite it's ordering in the component tree. I assume this is just because it's not explicitly pushed onto the stack and maybe is expected behavior?

[2020-10-08 15:12] Cal-um commented on #577
I think I have found the issue. RNScreen frames are set to the navigation controller frame when the parent is not UINavigationController. This forces the UIModalPresentationPageSheet modal to be the height of the modal (which extends below the screen since the height of the NavigationController does not equal the height of the modal on screen) on first frame and subsequent calls to viewDidLayout i

[2020-10-08 21:49] SamuelPinho commented on #89
For anyone looking for some typescript implementation

[code]

[2020-10-08 23:11] scottmas opened #661 "Enabling with react-navigation causes white flash"
This bug has been well explained here https://github.com/react-navigation/react-navigation/issues/8242 and seems to be affecting all users of the latest react navigation, both react navigation 5 and the latest on 4.

Is there anything that could be done to fix this inside this package? Thanks!

[2020-10-09 22:02] ioness commented on #111
Thank you so much, worked for me

[2020-10-12 08:54] WoLewicki commented on #659
Can you be more precise about what is the issue? Is it something specific to `native-stack`?

[2020-10-12 08:55] WoLewicki commented on #625
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-10-12 08:55] #625 closed

[2020-10-12 09:04] WoLewicki commented on #120
I believe this option was added in #636, so I am closing this issue. Feel free to comment if I am wrong.

[2020-10-12 09:04] #120 closed

[2020-10-12 09:06] WoLewicki commented on #630
Closing due to no reproduction provided in 30 days. Feel free to comment to reopen.

[2020-10-12 09:06] #630 closed

[2020-10-12 19:19] ArekChr commented on #645
Have the same issue, every large title header is collapsed inside bottom tab on app mounted

[2020-10-13 11:00] Mikenso commented on #111
You can add screenOptions with cardStyle prop to your Stack.Navigatior for react-navigation 5+

[code]
or
[code]
for Tab Navigator

[2020-10-13 13:42] clind-arthur commented on #89
Here it's working with InteractionManager:

useEffect(() => {
    if (autoFocus && inputRef.current) {
      if (inputRef.current) {
        InteractionManager.runAfterInteractions(() => {
          inputRef.current?.focus();
        });
      }
    }
  }, [autoFocus, editable, inputRef]);

[2020-10-13 13:57] henninghall commented on #436
Having the same problem, the app becomes unresponsive when trying to close a modal on iOS 12, reproduced with iPhone 6, iOS 12.4.5. The problem occurs when stackPresentation is set to `modal` but not when set to `transparentModal`.

[2020-10-13 16:46] zibs commented on #432
Hey @WoLewicki,

Here's a MVCE (minimally viable complete example) of the issue:
[Repo](https://github.com/zibs/mvce-rn-screens-header-btn)
[Issue with GIF](https://github.com/zibs/mvce-rn-screens-header-btn/issues/1)

I believe this represents the base issue where a custom header button disappears on rotation. I've had some success following some of the other fixes around, like using a time out,

[2020-10-14 03:29] handipriyono commented on #646
sorry, i think the solution above still not resolved.
i still getting crash
_Android: android.view.ViewParent android.view.View.getParent()' on a null object reference_

[2020-10-14 08:46] WoLewicki commented on #432
@zibs the issue with items disappearing on rotation is discussed in #528. This issue is about positioning the header items on load, which I believe was fixed. You can check the workaround proposed in there (#644), but I am aware it is not a perfect one.

[2020-10-14 10:58] WoLewicki commented on #646
Can you try and change https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenStackFragment.java#L157 to `ViewParent screenStack = getView() != null ? getView().getParent() : null;` and see if it fixes the issue?

[2020-10-14 11:03] WoLewicki commented on #661
Isn't it a duplicate of https://github.com/software-mansion/react-native-screens/issues/111? If not, could you be more descriptive of what the issue is exactly and provide some repo/snack/gifs that show buggy behavior?

[2020-10-14 11:04] handipriyono commented on #646
i'll try, @WoLewicki , but, btw, if i change / modif in node_modules react-native screens repo,   it means that, for the production-App, i have to clone that repo and use my repo instead of using from react-native-screen?

[2020-10-14 11:06] WoLewicki commented on #646
You can use [patch-package](https://www.npmjs.com/package/patch-package) until the version with a fix is released to automatically apply the change to your code.

[2020-10-14 11:08] WoLewicki commented on #436
Can you apply https://github.com/software-mansion/react-native-screens/pull/643 and check if it fixes your issue @henninghall @EhsanSarshar ?

[2020-10-14 11:15] WoLewicki commented on #651
You can follow #662 since it implements this animation. You can also check this PR already and see if there are any problems with it @EhsanSarshar.

[2020-10-14 11:40] handipriyono commented on #646
@WoLewicki , thank for the solution, 👍🏼
unfortunatelly, this crash-case is random, so i can not make sure that that solution is working.,
but i still investigating into this issue,, and re-check my sentry if the crash still exist or not

[2020-10-14 12:24] WoLewicki commented on #654
@EhsanSarshar can you tell if this bug appeared in iOS 14 or was it present in iOS 13 already?

[2020-10-14 12:35] WoLewicki commented on #645
Does this behavior appear only if using `ScrollView` in the screen with large title?

[2020-10-14 12:43] WoLewicki commented on #649
Does this behavior appear only while using `ScrollView`?

[2020-10-14 12:55] Hirbod commented on #649
For me, it happens when using `ScrollView` and `FlatList`

[2020-10-14 15:45] zibs commented on #432
Hey @WoLewicki thanks for the follow up. Can you check out this updated gif and see if you have any insights. I've integrated the workaround you proposed in #644 into my repo, and it seems to partly fix one issue, but the not issue I'm hunting down in particular:

You can see in this gif that it works fine now while rotating on screen 1, but you if go to screen 2, rotate there, and then come back

[2020-10-14 16:00] EhsanSarshar commented on #654
@WoLewicki yes the issue exist in iOS 14 and I don't test it in iOS 13. and one thing more the header also don't have the shadow.

[2020-10-14 16:54] ArekChr commented on #645
@WoLewicki  I have manipulatet props a bit, If I set remove paddingBottom contentContainerStyle from scrollview (which is needed for bottom tab translucent) then this doesn't occur I hope that helps

[2020-10-14 16:57] ArekChr commented on #645
@WoLewicki  This error doesn't occur if scrollview is empty and without props, hope that helps

[2020-10-14 16:59] ArekChr commented on #645
@WoLewicki this error also occur with contentContainerStyle={{ paddingBottom: 10 }} **but with empty scrollView**

[2020-10-15 03:11] chengsokdara opened #665 "Change header height in headerStyle"
**Is your feature request related to a problem? Please describe.**
I would to be able to change header height. Is it considered in future version?

**Describe the solution you'd like**
I would like to be able to change it in headerStyle, currently I can only change the backgroundColor.

**Describe alternatives you've considered**
Alternatively let us use custom component to replace the whole heade

[2020-10-15 08:59] a-eid commented on #525
@WoLewicki I'm wondering how RN `perf monitor` works, could we display a `toast` the same way that the `perf monitor` is being displayed ?

[2020-10-15 12:01] WoLewicki commented on #665
`react-native-screens` uses native components for the header and does not provide a method to change its height. You can use `headerShown: false` option to hide the native header and provide your own, custom one. Can I help you any more with this?

[2020-10-15 12:44] chengsokdara commented on #665
Right now I'm going with that approach and just use FlatList ListHeaderComponent to render custom header. Thank you.

[2020-10-15 12:45] WoLewicki commented on #665
I will close this issue then. Feel free to comment if you have any questions.

[2020-10-15 12:45] #665 closed

[2020-10-15 12:48] WoLewicki commented on #645
It looks like the native iOS implementation of `RCTScrollView` is messing with the large header. It would require more debugging on the native side. Thanks for the information @ArekChr 🎉 .

[2020-10-15 12:51] ArekChr commented on #645
Im not pretty sure that it is RCTScrollView, With wix react-native-navigation this issue doesn't occur with the same config

[2020-10-15 12:56] WoLewicki commented on #432
@zibs can you post this comment in #528 to keep the discussion there? Also, you can try to move all the code inside this added method to a new method, and then call it in `RNSScreen` `viewWillAppear`, maybe it will fix the issue for when coming back from another screen. Please comment if you need more help with applying this.

[2020-10-15 12:57] WoLewicki commented on #645
That is interesting. I will try to look into it more. Please comment if you find some more clues about it!

[2020-10-15 22:32] zibs commented on #528
Copy pasting [my comment](https://github.com/software-mansion/react-native-screens/issues/432#issuecomment-708490367) from #432 by request.

Hey @WoLewicki thanks for the follow up. Can you check out this updated gif and see if you have any insights? I've integrated the workaround you proposed in #644 into my repo, and it seems to partly fix one issue, but the not issue I'm hunting down in particu

[2020-10-16 13:06] alexanderstrom commented on #645
If you delay the render of the scrollView the title is not collapsed. For example, delay it by setting a state showScrollview in useEffect. Maybe a little clue

[2020-10-17 12:00] saeho commented on #638
I still have the same issue in both v2.11.0 and also the "fixed" commit.

May I have some assistance?

Using goBack() on a full screen modal seems to trigger this.

[2020-10-18 14:52] julian-baumann commented on #649
Maybe this is related: [iOS 14 Large title collapse when app run firstly](https://developer.apple.com/forums/thread/660745).

I experience this issue too, when I start the app or scroll to the top, navigate and go back on iOS 14.

[2020-10-18 16:14] nicastelo commented on #432
Having the same issue on iPhone. Worked it around by setting headerRight as an empty Text on the screen definition.

[code]

[2020-10-19 09:37] melkayam92 commented on #646
I can confirm that disabling the animation "fixes" the issues.

[2020-10-19 10:12] WoLewicki commented on #645
Can you check if #670 fixes the issue and does not introduce any new issues?

[2020-10-19 10:12] WoLewicki commented on #649
Can you check if #670 fixes the issue and does not introduce any new issues?

[2020-10-19 10:47] WoLewicki commented on #525
@a-eid I think it is just a `View` that shows on the screen. You can see that enabling it on one screen and then going to a modal screen makes it stay on the background screen.

[2020-10-19 11:07] WoLewicki commented on #646
@melkayam92 can you check if having the animation and applying #671 fixes the bug?

[2020-10-19 11:49] a-eid commented on #525
@WoLewicki yes, however if you enable it on a `formsheet modal` and then dismiss it it stays in place as if it's not part of that screen. ( somehow mounted at the top of the tree . ).

[2020-10-19 12:14] WoLewicki commented on #525
Yes, it is directly under the `UIWindow`. But the modal is on the same level in the view hierarchy. That's why it is visible after dismissing the modal but goes under after going to another modal since that modal is displayed as the most visible subview of the window. You can use your own component that will add a subview to the `UIWindow` and I think it will behave the same. You can check it by d

[2020-10-19 13:35] WoLewicki commented on #628
@SrBrahma if you mean the shadow under the header on Android, it can be hidden with this prop: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerhideshadow.
@vjjd the shadow in the iOS transition is provided by the `UIKit` and unfortunately it looks like it is not customizable. Can I help you any more with it?

[2020-10-19 14:45] WoLewicki commented on #649
Looks like it works @grahammendick :tada:. Are you going to submit a PR with this in the `react-native` repository?

[2020-10-19 14:59] grahammendick commented on #649
@WoLewicki I'm glad it works for you too!
I don't really like submitting PRs in the react-native repo. It takes me a while to set everything up to run locally and then they never look at the PR anyway. I'm happy for someone on this issue to submit the PR instead if they want

[2020-10-19 15:11] grahammendick commented on #649
@Hirbod You're right, but the react-native repo is just one example of the problems you have if you're an unknown name in React. I've found it impossible to get my work looked at. If you're  not a name then you're not getting in

[2020-10-19 17:41] ArekChr commented on #649
@WoLewicki can someone from your team create PR to react-native repository?

[2020-10-20 07:53] WoLewicki commented on #659
You can read about `initialRouteName` here: https://reactnavigation.org/docs/stack-navigator/#initialroutename. If you want the `initialRouteName` screen to be always loaded when going to a navigator, you can use `initial: false` (see https://reactnavigation.org/docs/nesting-navigators#rendering-initial-route-defined-in-the-navigator).
It seems that the issue is not connected specifically to the l

[2020-10-20 07:53] #659 closed

[2020-10-20 09:28] WoLewicki commented on #649
It would need more debugging, submitting a PR with changes to a component used by almost every developer must have a very strong explanation and must ensure that no right behavior will be broken after it.

[2020-10-20 15:34] #280 closed

[2020-10-20 15:34] #495 closed

[2020-10-20 18:26] scottmas commented on #661
Hey sorry didn't a notification for your response for some reason. But yes, this is a duplicate of https://github.com/software-mansion/react-native-screens/issues/111. Closing. I think the underlying issue is that the view hasn't been remounted to the view hierarchy before react navigation wants to display it.

[2020-10-20 18:26] #661 closed

[2020-10-21 07:41] WoLewicki commented on #661
Yeah, that is the reason. Hopefully, it will be fixed by #624, where you will be able to keep e.g. 2 screens mounted all the time.

[2020-10-21 12:17] HasanSahabGlobal opened #674 "[ANDROID CRASH] with @react-navigation/material-top-tabs"
when i try to navigate by "react-native-screens/native-stack" from "@react-navigation/material-top-tabs" top tabs, it is crashes.

    "@dudigital/react-native-zoomable-view": "^1.0.15",
    "@react-native-community/async-storage": "^1.9.0",
    "@react-native-community/cameraroll": "^4.0.0",
    "@react-native-community/hooks": "^2.6.0",
    "@react-native-community/masked-view": "^0.1.7",
    "@

[2020-10-21 12:47] WoLewicki commented on #674
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-10-21 13:39] HasanSahabGlobal commented on #674
OK i will do that ASAS.
thank you

[2020-10-21 16:15] yodaheis opened #676 "[iOS crash] with react-native-screens version 2.11.0 and ViewPager"
Package info:
* react-native-screens: 2.11.0
* @react-native-community/viewpager: 4.1.6
* expo: 39.0.3

On Android, ViewPager works fine.
But on iOS, it crashes with the following message:
Downgrading the library to previous version: 2.10.1 seems to work fine

![IMG_2063](https://user-images.githubusercontent.com/22661681/96747651-2939ed00-13e6-11eb-953f-11552d646fea.PNG)

[2020-10-21 22:04] zachgibson commented on #561
So would you say `react-native-shared-element` is compatible with this lib? @IjzerenHein

[2020-10-21 22:09] zachgibson opened #677 "Navbar BG Color Does Not Change When Appearance Changes"
If you change the system appearance in iOS while a modal is open the previous screen's navbar background color does not update.

[2020-10-22 09:44] WoLewicki commented on #677
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-10-22 09:45] WoLewicki commented on #676
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-10-22 09:59] VanDu97 opened #678 "BottomTabNavigator hide/show bug in Native Stack"
I had a problem with BottomTabNavigation have some Stack in there.
 "@react-navigation/stack": "^5.9.3"
"react-native-screens": "^2.11.0",

[2020-10-22 10:16] VanDu97 commented on #364
"react-native-screens": "^2.11.0"
 "@react-navigation/native": "^5.7.6"
Same still issues

[2020-10-22 11:08] WoLewicki commented on #678
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-10-22 11:32] VanDu97 commented on #678
The same issues was https://github.com/software-mansion/react-native-screens/issues/364

[2020-10-22 11:39] WoLewicki commented on #678
So if it is a duplicate of #364, can I close it then? Unfortunately, I cannot help you more than what is mentioned there already.

[2020-10-22 11:44] VanDu97 commented on #678
but not solved. Please fix this!

[2020-10-22 11:57] WoLewicki commented on #678
Can you check if #680 fixes your issue? It seems to fix the problem for the code given in #364.

[2020-10-22 12:05] VanDu97 commented on #678
Thank you for your help. It's fixed my problem.

[2020-10-22 12:05] #678 closed

[2020-10-22 12:10] WoLewicki commented on #577
@mrousavy @Cal-um can you check if #680 fixes this issue?

[2020-10-22 14:04] zachgibson commented on #677
Yeah here's a public repo with an Expo repro app. I couldn't import to snack. https://github.com/zachgibson/rndarkmode

[2020-10-22 14:06] zachgibson commented on #677
If you start in light mode, then open modal, then change to dark mode, the home navbar bg color is still light colored.

[2020-10-22 17:17] kamote commented on #402
@WoLewicki here's the repo https://github.com/kamote/navigation-v5-screens-bug/blob/master/App.js#L124-L129
The issue kind of weird on my side and the issue only happening on expo standalone android and when `enableScreens`

I got it working by removing the `View` wrapper of style of `flex:1`
so from
[code]
to
[code]

[2020-10-23 08:32] RupamShaw commented on #349
Its still autofill not working

[2020-10-23 14:29] ZeeshanAhmadKhalil commented on #61
I had same issue, reinstalling the `react-native-screens` resolved the issue.

[2020-10-23 16:02] Cal-um commented on #577
@WoLewicki  This does fix the wobbling issue, however the bottom of the view extends below the screen itself. Im not sure if is meant to do this.

[2020-10-25 18:40] rphlmr commented on #674
We have some crash with Android devices only (one plus, xiaomi).
It occurred when we swipe on left side (when we are on the first tab).
It seems to be an issue with index. But I have no clue.

To prevent that (can't repro on simulator) we change the pager.

[code]

[2020-10-26 18:37] ZakSingh commented on #44
Was a fix for this released? I'm having a bit of trouble following the convo here (I don't know anything about native dev). We're experiencing the exact same problem with the InputAccessoryView rendering a second or so after the screen transition ends. It works ok in regular react-navigation v5, so that's a fallback for now, but it would be great if we could use react-native-screens instead!

[2020-10-27 10:33] DanielMarkiel commented on #436
@WoLewicki I can confirm that #643 fixes the issue described above.

[2020-10-28 00:39] jamsch opened #684 "2.12.0 (Android) createNativeStackNavigator "headerTitle" / "title" not displaying when "headerLeft" is set"
Using v2.12.0, given the following example

[code]

Setting `headerTitle` or `title` doesn't seem to display at all when `headerLeft` is set.

![image](https://user-images.githubusercontent.com/12927717/97376709-f54d5300-1922-11eb-9a39-e92c0d491df2.png)

[2020-10-28 09:24] WoLewicki commented on #684
It is the native behavior on Android since the title is on the left side of the header: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerleft. Can I help you more with this?

[2020-10-28 11:10] jamsch commented on #684
Thanks for the link. Looks like that's a bit of a divergence from the `createStackNavigator` API meaning it won't be a simple drop-in replacement and there'll be a need for `Platform.OS` checks on client side code along with header text styling to achieve "left icon + text" on the top bar. May want to leave this issue open if there isn't one already.

[2020-10-28 11:28] WoLewicki commented on #684
`createStackNavigator` API is not and should not be similar to the `createNativeStackNavigator` since, as the name suggests, `createNativeStackNavigator` uses native APIs of the platform, while `createStackNavigator` uses only JS to implement the parts of the e.g. header. We try to keep the `native-stack` options available for both platforms, but there will always be some APIs that don't exist on

[2020-10-28 14:06] WoLewicki commented on #677
Can you try and use `PlatformColor('systemBackgroundColor')` as a `backgroundColor` of your header? You can check this comment: https://github.com/software-mansion/react-native-screens/issues/596#issuecomment-676270650.
Btw, the problem with navigation bar color seems like some kind of native bug: https://developer.apple.com/forums/thread/119413, it is written there that it is fixed in iOS 13.3, b

[2020-10-28 15:15] WoLewicki commented on #402
I opened your repo but I don't know how to check that resetting behavior? What are the steps to reproduce the issue and what is the issue exactly?

[2020-10-28 22:27] zachgibson commented on #320
https://github.com/software-mansion/react-native-screens/issues/320#issuecomment-670469660 fixed it for me.

[2020-10-29 13:23] efstathiosntonas commented on #111
In my case i was using `<Host>` from `react-native-portalize` before all routing in App.js

example:
[code]

[2020-10-29 16:31] aperomingo commented on #349
I have suffered a lot to implement this in iOS successfully:
- Create account (password suggestion and later saved in the KeyChain)
- Login (choice of username and password of your KeyChain).

However, in Android there is little information and I think that it is not very successful:
- The information about the **React Native** <TextInput> only tells you to implement the property `autoCompleteType

[2020-10-29 16:48] dktrvamp opened #686 "tvOS RNScreens build errors"
![Screen Shot 2020-10-28 at 6 04 25 pm](https://user-images.githubusercontent.com/8250990/97605289-13bf5700-19d4-11eb-832d-615fb41eeec1.png)
React Native For TVOS:
"react-native": "npm:react-native-tvos@0.63.1-1",

Breaks tvOS
"react-native-screens": "^2.12.0",

downgraded to and it works fine
"react-native-screens": "2.11.0",

[2020-10-29 18:25] thomaswang commented on #649
I have large headers enabled using Expo SDK 39, but when the app is first opened, the large header is collapsed. It happens on iOS 14 and Simulator. @WoLewicki I added the patch https://github.com/software-mansion/react-native-screens/pull/670 but it doesn't change anything.

[2020-10-29 18:26] jmkmay opened #687 "[Android] Memory leak leading to intermittent crashing"
It looks like a memory leak in `MainActivity` related to the ScreenFragment `onDestroy` function is causing app crashes.

We have a Tab Navigator with a nested Auth Stack Navigator for login flows. We are using `react-native-screens` with `enableScreens()` at the top of `App.tsx` outside of the root component.

When we turn off `enableScreens()` the memory leak goes away. But this causes exception

[2020-10-30 03:30] joshua-augustinus opened #688 "RCTImageLoader.h not found error (IOS) RN0.60.6"
Current Behavior

Build error in XCode. RCTImageLoader.h not found.
See image:
https://i.stack.imgur.com/49P3q.png

Expected Behavior
No build error.

How to reproduce

Create a react native project with v0.60.6
Add react-navigation v4
Add dependencies by following tutorial.
Add AppContainer and StackNavigator.
Build project in Xcode.

Example minimal repo: https://github.com/joshua-augustinus/rea

[2020-10-30 03:31] joshua-augustinus commented on #688
I have tested the solution from here:
https://github.com/software-mansion/react-native-screens/issues/281#issuecomment-585859427

but it doesn't seem to work with react native 0.60.6.

When I change the podfile with the solution I get the error:
[code]

[2020-10-30 08:02] fdwcomune commented on #688
A workaround that worked for me was to downgrade `react-native-screens` to `v2.11.0`. Seems like something in the latest version (`v2.12.0`) changed something that caused this issue.

---

My app environment:

- react-native: 0.60.2
- iOS: 14.1

[2020-10-30 08:33] joshua-augustinus commented on #688
Thanks @fdwcomune it worked after I downgraded.

[2020-10-30 08:33] #688 closed

[2020-10-30 09:39] WoLewicki commented on #686
Can you check if applying #675 resolves all the issues with tvOS? I tried to add the checks in all places there.

[2020-10-30 09:54] WoLewicki commented on #687
At the end of your comment, you placed a stack trace that shows going into `androidx.fragment.app.FragmentController.restoreSaveState FragmentController.java:196`, but is only achievable if there is no `null` in `MainActivity.java`'s `super.onCreate(null);` (see the picture below). Are you sure there is a `null` there? Am I missing something?

![image](https://user-images.githubusercontent.com/324

[2020-10-30 14:26] jmkmay commented on #687
Yea I was confused about that as well. The `MainActivity.java` there is copy pasted from our app...

Could it be that its getting overloaded from somewhere else?

[2020-10-30 18:37] dktrvamp commented on #686
@WoLewicki I am a bit confused. #675 is part of the `2.11.0` version. This bug I reported was introduced in `2.12.0`
Here is what I did.
I installed the following dependency:  `"react-native-screens": "software-mansion/react-native-screens#675/head", `
however my `yarn.lock` shows
[code]

Please Advise!

[2020-10-31 10:57] a-eid commented on #577
@WoLewicki the issue persists,

I think when dragging views should persist height. ( so things wouldn't jump around esp absolutely positioned. )

[2020-10-31 16:55] DasArthur commented on #649
For me, this quick hack worked.
If you are using Flatlist or ScrollView even then before <FlatList> add <View></View> and wrap it all in the <> </>

Example code:

[code]

[2020-11-02 08:59] WoLewicki commented on #687
I am not sure, maybe you changed it not so long ago and these logs are from the older version of your app?

[2020-11-02 09:28] WoLewicki commented on #686
#675 is not merged so it is not available in 2.11.0. Did you copy all the changes from the file on the screenshot? I added checks there: https://github.com/software-mansion/react-native-screens/pull/675/files#diff-c58852b1c4aee1faddadefe30184a27d6598427b60dcf335c889df3e03d55424R8 which I cannot see on your screenshot.

[2020-11-02 09:29] WoLewicki commented on #686
The bugs were introduced in `2.12.0` because the other PR (#642), which is first available in `2.12.0`, introduced them.

[2020-11-02 09:46] suwu150 commented on #246
这个问题在后期版本中解决了吗

[2020-11-02 10:20] WoLewicki commented on #649
@DasArthur in my test cases, it looks like there is some race condition and it sometimes loads initially a large header and sometimes a small one. Can you check this solution @ArekChr @grahammendick ?

[2020-11-02 10:28] grahammendick commented on #649
I remember trying a variety of contentOffset and contentInset and repeatedly reloading  - sometimes it worked and sometimes it didn't. My guess is that the times it worked is when the [reactSetFrame was called after it was added to the window](https://github.com/software-mansion/react-native-screens/issues/649#issuecomment-712199895) - @DasArthur Could you check if the timing of the reactSetFrame

[2020-11-02 10:36] ArekChr commented on #649
I don't have maintainVisibleContentPosition prop, @DasArthur what version of RN are you using?

[2020-11-02 15:07] andredewaard opened #690 "Conditional rendering of screens doesnt update rendered page"
Conditional rendering screens based on authentication doesnt update screen when condition becomes false.

Implemented conditional rendering like this example: https://reactnavigation.org/docs/auth-flow/#define-our-screens
When loggin in it works great and i automatically shows the Home page, but on logout it stays on the same page and freezes the screen.

This works when i use the normal https://r

[2020-11-02 18:21] eschos24 commented on #688
Downgrading to 2.11.0 fixed it for me too. The docs need to be updated to reflect that `react native 0.60.x` does not work with `react-native-screens v 2.12.x`.

[2020-11-03 03:46] nandorojo opened #691 "Modal doesn't close when navigating to another tab."
Hey there, I am using the `native-stack`.

I have a bit of an issue. I have stacks nested inside tabs. **I'm trying to close a modal when I jump to another tab. However, the modal stays open when I jump from one tab to another.**

## Current Behavior

`Tab1` opens a `modal`. User places an order. This needs to send the user to `Tab2` (where I can see my orders.)

[code]

## Illustration

[code]

I

[2020-11-03 09:02] WoLewicki commented on #690
Can you provide a repo/snack with minimal configuration needed to reproduce the issue? I changed the `stack` to `native-stack` navigator in the https://reactnavigation.org/docs/auth-flow/#implement-the-logic-for-restoring-the-token, where the conditional rendering is used, and it works the same. Also, which platform does the bug appear on?

[2020-11-03 09:36] WoLewicki commented on #691
The modal is not dismissed because the tab in which it is rendered is not unmounted on the JS side, so the modal is not dismissed, and unfortunately, the native iOS modal is rendered above almost anything else in the native view hierarchy and so it is not unmounted there too on the tab change.

One option I can think of is to use https://reactnavigation.org/docs/bottom-tab-navigator#unmountonblur

[2020-11-03 10:09] WoLewicki commented on #194
I investigated it a bit more and I tried to add the `SearchBar` component (e.g. the one from this comment: https://github.com/software-mansion/react-native-screens/issues/194#issuecomment-635302265) to the header on the native side on iOS. The problem is that this component cannot be used as is, it can be only delegated to use the given methods, it means that it won't apply any of the properties l

[2020-11-03 10:22] grahammendick commented on #194
@WoLewicki Just thought I'd let you know that I've wrapped the [native iOS search bar](https://github.com/grahammendick/navigation/blob/master/NavigationReactNative/src/ios/NVSearchBarView.m) in [my Navigation router](https://grahammendick.github.io/navigation/documentation/native/navigation-bar.html).

[2020-11-03 10:31] WoLewicki commented on #194
@grahammendick I thought of maybe doing something like that. The second option is to take props from the passed `SearchBar` component instead of passing so many props from the JS side. I don't know if any of them is good enough though.

[2020-11-03 10:38] grahammendick commented on #194
@WoLewicki There aren't that many props. Here's the [typescript def for my SearchBar component](https://github.com/grahammendick/navigation/blob/e4036e40fc39322ea3321e29987d89f2a817ee9b/build/npm/navigation-react-native/navigation.react.native.d.ts#L220)

[2020-11-03 14:07] nandorojo commented on #691
Hey thanks a lot for the response.

I don't know if unmount is what I'm looking for. Would this mess with other screens lower in the stack? All I want to do is close this modal in particular, although I'm willing to pop to the top of the stack.

Reset _may_ work, I can try that out. It seems a bit low-level; am I resetting my entire navigation? I'm a bit worried that if I change tabs around in the

[2020-11-03 15:47] WoLewicki commented on #349
Are the `TextInput`s nested in a `ScrollView` component (does not need to be direct nesting)? I tested it a bit and it looks like having a `ScrollView` as a parent makes the autofill not work correctly. Can someone elaborate on this?

[2020-11-03 16:10] dillonharlessNHRMC commented on #415
This doesn't seem to work for older versions, like the OP who is using RN 0.59... I have 0.60.5 and my node_modules/react-native/React/ does not contain a CoreModules file... just React-Core, React-DevSupport, and React-RCTFabric

[2020-11-03 16:12] todoranalex commented on #349
For me it's not working even if the text inputs are not inside a scroll view. (Pixel 2)

[2020-11-04 08:45] martinandert opened #692 "Make header left/right insets configurable"
Currently, the insets (paddings from the edge of the window) for custom `headerLeft` and `headerRight` views can not be adjusted. It always uses the default insets on iOS and Android (probably these values are provided by the system).

Pull request #350 proposed making the insets customizable, but it was dismissed, I suppose because of [this comment](https://github.com/software-mansion/react-nativ

[2020-11-04 13:49] WoLewicki commented on #349
Could you check such an example?

[code]
In my case, when I have the `enableScreens(true)`, the `TextInput`s above the `Login` button have Autofill available, and the ones under the `Login` button do not (these have a `ScrollView` above them). If I have the `enableScreens(false)`, Autofill works in both options. Can someone check if it is only specific to my setup or is it like this for you too?

[2020-11-04 14:07] WoLewicki commented on #633
Closing due to no reproduction provided in 30 days, I cannot do much without it. Feel free to comment to reopen.

[2020-11-04 14:07] #633 closed

[2020-11-04 14:10] Guuz commented on #17
@WoLewicki i have questions about it :)
What is not clear to me from the readme is if you need this onCreate "patch" only when using the complete native navigation or also if you only use `enableScreens()`.
I have a RN app that uses React Navigation. And in both their docs as the docs here recommend calling this method for "performance and memory optimisations". So we do :) But i'm unsure if we al

[2020-11-04 14:24] WoLewicki commented on #17
Using `enableScreens()` makes the Android native code use `Fragment`s in `stack`, `bottom-tabs`, and `drawer` navigators, so not applying this "patch" can possibly lead to this crash.

[2020-11-04 15:03] #646 closed

[2020-11-05 06:37] timurridjanovic opened #693 "How could I implement a toaster"
## Description

Is there a way that I could implement a toaster that could show up on top of the modals?
I could just move the <Toaster /> component inside the modal but then if I close the modal while the toaster is showing, the toaster will animate away alongside the modal.. Ideally it would be great if I could have some sort of global component that
could show on top of all screens (even modals

[2020-11-05 10:46] WoLewicki commented on #693
There is already a discussion about it in #525. I will close it to keep the discussion in one place. Feel free to comment if you have any questions.

[2020-11-05 10:46] #693 closed

[2020-11-05 14:51] jarvisluong opened #694 "[native-stack] [iOS] usage of UIAlertController created some strange crashes"
## Description

Usage of UIAlertController (from react-native's Alert) does result in some strange crashes. I cannot reproduce the issue myself but I can present the crash traces from Sentry:

https://sentry.io/share/issue/88d7772d5b434794a83ec57ee55fbed9/

(UIAlertController is a subclass of UIPresentationController I believe)

### Screenshots

The link above does not show the breadcrumbs of the

[2020-11-09 10:26] WoLewicki commented on #694
I made a simple example of using `native-stack` and `Alert` but I cannot reproduce this crash in any configuration. I am afraid that I cannot help you if you don't provide a reproduction I could work on.

[2020-11-09 10:26] sbalay commented on #623
@WoLewicki I think this issue meant that right now, to replace a screen we have to do

[code]

And it would be nice to be able to do

[code]

Correct me if Im wrong though. Im using the following types:

[code]

[2020-11-09 10:31] jarvisluong commented on #694
Hi, Thanks for looking at this. I also understand that this is hard to fix, so I tried to provide as much information as I can (I'm also trying to reproduce this in my end too). I will definitely update this when I have more information

[2020-11-09 12:02] WoLewicki commented on #623
Oh I can see what is the problem now. Can you check if #695 fixes this?

[2020-11-09 12:05] sbalay commented on #623
Yep, I think #695 should fix this

[2020-11-09 19:41] yfunk opened #696 "Overriding onCreate causes compileDebugJavaWithJavac to fail."
I have started using _react-native-screens_  with _react-navigation_, but I'm facing an issue where compileDebugJavaWithJavac fails when I add the Override for onCreate [mentioned in the installation instructions](https://github.com/software-mansion/react-native-screens#android) to my `MainApplication.java`.

[code]

Since I'm using a considerable amount packages and made a few changes to native c

[2020-11-09 19:50] hadijoons commented on #415
it is easy do this :

//#import <React/RCTImageView.h>
#import <React-RCTImage/React/RCTImageView.h>

and
//#import <React/RCTResizeMode.h>
#import <React-RCTImage/React/RCTResizeMode.h>

if you have error with RCTImageLoader
do same thing:
//#import <React/RCTImageLoader.h>
#import <React-RCTImage/React/RCTImageLoader.h>

[2020-11-09 20:33] yfunk commented on #696
The solution turned out to be as simple as adding a missing `import android.os.Bundle` statement.
Since most people probably use something like VSCode as opposed to an IDE with auto imports for making small changes to native code I feel like this should be mentioned in the instructions.

[2020-11-10 08:58] WoLewicki commented on #696
I made a PR with more information in README: #697. Does it solve the issue?

[2020-11-10 08:59] #696 closed

[2020-11-10 14:27] #61 closed

[2020-11-10 14:27] #134 closed

[2020-11-10 14:44] m-ruhl opened #699 "[Android] Enlarged AppBarLayout"
Hello,

it seems that in Android the AppBarLayout is enlarged.

### Screenshots

![react_navigation_screens](https://user-images.githubusercontent.com/867772/98688361-0ce8fa80-236b-11eb-80cd-add5902638d2.png)

## Steps To Reproduce

Not sure how to reproduce it.. I checked out the sample and there it was fine

### Expected behavior

If I switch back to `createStackNavigator`it is rendered correctl

[2020-11-10 14:52] WoLewicki commented on #699
If you mean the height of the header, please refer to release notes: https://github.com/software-mansion/react-native-screens/releases/tag/2.9.0, where it is explained. Can I help you more with it?

[2020-11-10 14:56] WoLewicki commented on #95
Closing this in favor of #624, where the logic of disabling interactions has been changed. Feel free to comment if something is wrong.

[2020-11-10 14:59] WoLewicki commented on #111
After the introduction of #624, you can apply https://reactnavigation.org/docs/stack-navigator#detachpreviousscreen (from version 5.10.0) for the previous screen to stay attached after the transition. It should cause the `goBack()` action to not produce flickering. Can you check it and share your view on this?

[2020-11-10 15:00] m-ruhl commented on #699
yeah, I meant the header.. thanks 👍

[2020-11-10 15:00] #699 closed

[2020-11-10 16:45] #623 closed

[2020-11-10 16:52] bjjeong commented on #111
@WoLewicki With `react-native-screens@^2.14.0`, `enableScreens(true)`, and `detachPreviousScreen: false` I am no longer seeing a flicker when calling `goBack()`

[2020-11-10 18:13] a-eid commented on #577
please keep in mind that the issue happens only when `gestureEnabled` is set to false.

it behaves correctly when the gestures are enabled.

[2020-11-10 18:55] grahammendick commented on #649
The [workaround](https://github.com/software-mansion/react-native-screens/issues/645#issuecomment-710033686) of @alexanderstrom seems to be the only reliable one. This is where you conditionally render the ScrollView after a delay (useEffect with a timeout of 0). I think it works for the same reason that [my fix](https://github.com/software-mansion/react-native-screens/issues/649#issuecomment-7121

[2020-11-10 20:20] TikiTDO opened #701 "src/index.js is missing a shouldUseActivityState export"
## Description

As of 2.14 the `src/index.native.js` file exports a `shouldUseActivityState` value, while the `src/index.js` file does not. This triggers a warning when using `react-navigation` in conjunction with `react-native-web`.

The fallback `index.js` should export some sort of value for this variable to align the APIs.

### Expected behavior

Expect no `react-native-screens` related warnin

[2020-11-11 10:10] longprao opened #702 "Push animation between screens not working"
This is the version that was working for me:

[code]

I recently updated to this version and on iOS, navigation no longer has any animation, it happens instantly:

[code]

I have deleted Podfile.lock and `npx pod-install ios`, still not work.

When I changed `createNativeStackNavigator()` to `createStackNavigator()`, it worked fine again with animation.

Please let me know if it's a bug or what co

[2020-11-11 12:39] muhammadashfaq commented on #281
Can you please clarify in which podfile it will be added?   main podfile or library pod file

[2020-11-11 13:11] BadMask121 commented on #281
@muhammadashfaq add it to the main podfile, clean and rebuild

[2020-11-11 15:03] ferrannp opened #703 "Modal + keyboard autoFocus (native stack) issues on iOS 14+"
## Description

### Native modal stack + keyboard autoFocus. iOS 13 vs iOS 14

A native modal stack with a TextInput using `autoFocus`.

Smooth in iOS 13 (no jumping) + handle keyboard when sliding:

![ios13-modal-keyboard](https://user-images.githubusercontent.com/774577/98827449-2eafb380-2437-11eb-91f2-a1c4e84b11c6.gif)

Not smooth on iOS 14 (jumping) + does not handle keyboard when sliding:

![

[2020-11-11 15:08] #96 closed

[2020-11-11 21:05] adamawang opened #704 "Outdated packages warning"
Getting that new warning after upgrading to 2.14.0 on every page navigation:

All my @react-navigation packages are up to date, list is below:

    "@react-navigation/compat": "^5.3.9",
    "@react-navigation/material-bottom-tabs": "^5.3.9",
    "@react-navigation/material-top-tabs": "^5.3.9",
    "@react-navigation/native": "^5.8.9",
    "@react-navigation/stack": "^5.12.6",
    "react-native-scr

[2020-11-12 00:19] JeffAbney commented on #415
@hadijoons where do you add that code?

[2020-11-12 09:51] WoLewicki commented on #704
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-11-12 09:53] WoLewicki commented on #702
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-11-12 13:59] dillonharlessNHRMC commented on #415
@JeffAbney This helped me: https://react-native-community.github.io/upgrade-helper/

Just choose the version you're moving from and to, and it will show you everything you need to change in every file that needs to be changed or added. I'm able to launch the simulators from Xcode successfully after following that.

[2020-11-12 22:04] exotexot opened #707 "How das createNativeStackNavigator behave in react-native-windows?"
How das createNativeStackNavigator behave in react-native-windows? Will it fall-back to normal StackScreenNavigator, or would I need to if/else Platform from my .js code?

[2020-11-12 22:10] hsavit1 opened #708 "Enabling the status bar causes a crash for react-navigation navigator screens"
## Description

Turning on the UIViewController native status bars eliminates the possibility of using react navigation's status bar, which requires

[code]

This makes it extremely difficult for me to add createStackNavigator to my project that previous did not use createStackNavigator

[2020-11-13 05:46] punisher97 commented on #623
#695 not working, you need add replace function, see:

[code]

[2020-11-13 09:48] WoLewicki commented on #623
`StackActionHelpers` does contain `replace` action in it. How did you test that this PR is not working @punisher97 ?

[2020-11-13 11:18] WoLewicki commented on #707
`native-stack` is not available for this platform, you need to use `stack` navigator. Can I help you more with this issue?

[2020-11-13 11:19] #707 closed

[2020-11-13 11:21] WoLewicki commented on #708
Yes, you should use only one of those options since they are mutually exclusive. Can I help you more with this?

[2020-11-13 11:41] WoLewicki commented on #701
Does #709 resolve your issue?

[2020-11-13 12:23] dylancom commented on #702
Same here since I updated from version 2.12. Going to a new screen doesn't show an animation anymore. Navigating back to a screen shows an animation though.

[2020-11-13 12:27] WoLewicki commented on #708
I check the `react-navigation` code and I can see that `drawer` navigator uses `StatusBar.setHidden()` with the `hideStatusBar` option. This method cannot be used on iOS with `native-stack`'s `StatusBar` management. You need to choose which of the options to use.

[2020-11-13 12:28] WoLewicki commented on #702
@dylancom please provide a repo that shows this bug so I can work on it.

[2020-11-13 13:14] punisher97 commented on #623
@WoLewicki  I use:
[code]
How add ‘replace' in NativeStackNavigationProp or which I should use?

[2020-11-13 14:46] Hirbod commented on #649
@grahammendick still feels so hacky :/

[2020-11-13 14:52] grahammendick commented on #649
@Hirbod I think another option is you could use patch-package to apply [the fix to RCTScrollContentView](https://github.com/software-mansion/react-native-screens/issues/649#issuecomment-712199895)

[2020-11-13 14:54] Hirbod commented on #649
@grahammendick unfortunately not an option for me, because I'm still on Expo and I don't want to eject. Since I only have 3 LargeTitle Screens, I'll try the delay render useEffect hack.

[2020-11-13 14:57] grahammendick commented on #649
@Hirbod You can see that [I'm using it in the zoom example app](https://github.com/grahammendick/navigation/blob/37096f0d605a71eb1b97db2279da9aad07930b0a/NavigationReactNative/sample/zoom/Grid.js#L45) in my Navigation router

[2020-11-13 17:24] longprao commented on #702
@dylancom hey thanks for that, I'm using exactly the same thing too.

[2020-11-13 21:59] TikiTDO commented on #701
Yep, looks great, thanks. I'll close this issue.

[2020-11-13 21:59] #701 closed

[2020-11-14 09:18] kockok commented on #704
I am encountering this problem too:

![Screenshot 2020-11-14 at 5 17 03 PM](https://user-images.githubusercontent.com/232541/99144006-556f2380-269d-11eb-8f18-e6e0985da570.png)

Just cannot figure out where's the cause.

[2020-11-15 01:15] Hirbod commented on #649
Weird, for me it was simply enough to add this:

[code]

So just empty brackets surrounding and an empty view before my Scrollview.

[2020-11-15 01:16] Hirbod commented on #649
Ohhh... ok, my hack "works" for the back button, but it won't collapse when I scroll now. Dang it!

[2020-11-15 01:44] Hirbod commented on #649
None of those workarounds working for me, even delaying the Scrollview. I don't have any INITIAL issues with the LargeHeader, it is working for me always, its just when navigating to a stack-screen and returning. The header stays small for me after I pop. Only my mentioned "workaround" fixes this, but will break collapsing on scrolling :/

[2020-11-15 05:36] Hirbod commented on #703
Weird, I also have the same Issue with my bottom bar, but only in production mode

[2020-11-15 08:34] Hirbod commented on #703
I had the same issue, but it's not related to native-stack, its related to material-bottom-tabs.

Fix is easy

[code]
If you're not on expo, just make sure that you install them with yarn/npm and make sure to have v2 and not 1.1.1 of react-native-safe-area-view.

And add this to your package.json (below devDependencies on root level)

[code]

Restart your app, enjoy fixed app :)

[2020-11-15 10:03] grahammendick commented on #649
@Hirbod Ok, [my fix](https://github.com/software-mansion/react-native-screens/issues/649#issuecomment-712199895) probably doesn't work for you either, then. Can you temporarily eject from expo, apply the fix and let me know if it works, please?

[2020-11-15 11:18] happyfloat commented on #649
@grahammendick I tested it on iOS so far and it seems to work well so far! Thank you.

Here the patch `react-native+0.63.3.patch` for [patch-package](https://github.com/ds300/patch-package#readme):

[code]

[2020-11-15 19:15] VanDu97 opened #711 "stackPresentation: 'modal'"
My screen have a Modal (from react-native-modal ) When I touched Button in Modal for Navigate anther screen stackPresentation: 'modal'. It's not show up.

- React:
- React Native: 0.63.3
- React Native Screens:2.11.0

[2020-11-15 20:18] ningacoding commented on #111
where the `detachPreviousScreen` goes?

[2020-11-16 05:03] #711 closed

[2020-11-16 08:28] sbalay commented on #623
@punisher97 note that this fix has not been released yet. Make sure that you are using the correct reference of react-native-screens when trying to test these changes.

@WoLewicki can we get this included in a release soon? 😇

[2020-11-16 08:44] WoLewicki commented on #704
@kockok can you post here the versions of your packages? The warn should present if you are using old `react-navigation` with the newest `react-native-screens`.

[2020-11-16 08:49] kockok commented on #704
[code]

[code]

[2020-11-16 09:04] WoLewicki commented on #704
@kockok this warning should not appear with those versions of packages iirc. Can you provide a repo with a minimal configuration where this warning appears?

[2020-11-16 09:10] WoLewicki commented on #703
@ferrannp can you check if @Hirbod's solution works? And if not, can you or @Hirbod provide a simple repo where I can test it?

[2020-11-16 09:35] WoLewicki commented on #623
@sbalay 2.15.0 is out 🎉

[2020-11-16 10:14] WoLewicki commented on #111
@ningacoding it makes the previous screen stay attached in the native view hierarchy after the transition. Please keep in mind that it is a recursive operation and applying it to all screens will remove the benefit of detaching the screens (performance boost). If you spot the flickering on every screen, the best option is to have the two top-most screens' `detachPreviousScreen` set to `false`, whi

[2020-11-16 10:39] WoLewicki commented on #111
`native-stack` uses native navigation components and there is no need to implement such things there. The attaching/detaching and animations of screens are provided by the platform there.

[2020-11-16 12:05] Cal-um opened #713 "iOS transitionStart - transitionEnd not firing when calling navigation.goBack()."
## Description

When calling navigation.goBack()/ pop() the transitionStart/End events are not fired when in stackPresentation "modal" in iOS.

### Screenshots

## Steps To Reproduce

1. Subscribe to the transitionStart and transitionEnd listeners on a modal screen on iOS that has a header close button with an navigation.goBack() onPress function.
2. Open the screen and notice the call-backs firin

[2020-11-16 12:07] Cal-um commented on #713
Events added in  #https://github.com/software-mansion/react-native-screens/pull/499 @janicduplessis

[2020-11-16 12:26] Cal-um commented on #713
Having an issue similar to #https://github.com/software-mansion/react-native-screens/issues/513 where the alert is firing before a transition is finished causing the app to lock up

[2020-11-16 13:17] WoLewicki commented on #702
I tested the reproduction and I can spot this bug too. Until we find the solution, the workaround is to set `detachInactiveScreens` to `false` on iOS in the `stack` navigator.

[2020-11-16 13:55] WoLewicki commented on #684
I am closing this issue then. If you have any questions, please comment here.

[2020-11-16 13:55] #684 closed

[2020-11-16 14:09] WoLewicki commented on #577
Can you check if applying #712 fixes these issues?

[2020-11-16 14:13] WoLewicki commented on #708
I am closing this issue since I don't know if there is something at the side of `react-native-screens` that can be done. Please comment here if you have any questions.

[2020-11-16 14:13] #708 closed

[2020-11-16 14:42] hsavit1 commented on #708
I think the StatusBar section of the readme just needs to be updated a bit to reflect that it should not be added to projects that use createStackNavigator status bars

[2020-11-16 14:46] WoLewicki commented on #708
Do you mean `createDrawerNavigator`? I couldn't find any usages of `StatusBar` in `createStackNavigator`.

[2020-11-16 14:48] hsavit1 commented on #708
no I meant createStackNavigator, why wouldnt `StatusBar` have use in createStackNavigator? It is something that comes from react native https://reactnative.dev/docs/statusbar

[2020-11-16 15:07] rppld commented on #395
@WoLewicki looks like https://github.com/facebook/react-native/commit/1b0fb9bead4d158d14df5a994423d06716b5e377 has been merged, but I’m still seeing the same behaviour with the latest Expo SDK 39 which uses React Native `0.63` under the hood. Example here: https://snack.expo.io/CRaFk41At

![refresh-control](https://user-images.githubusercontent.com/491962/99268234-2aafd700-2825-11eb-9816-756782dce

[2020-11-16 15:13] WoLewicki commented on #708
But it is not directly used by `createStackNavigator`, so how is it connected directly to the `stack-navigator`? You can use `createStackNavigator` without using `StatusBar`. I am not sure if I understand you.

[2020-11-16 15:17] WoLewicki commented on #395
But is it available in the `0.63`? I think the `0.63` branch was cut earlier and this commit is not included in there. You can check in the bare `react-native` project if this commit is available there, but IIRC it is not, unfortunately.

[2020-11-16 15:20] rppld commented on #395
@WoLewicki ah, you’re absolutely right, was checking in `master`. Should be in the next release then. Thx for the hint.

[2020-11-16 16:06] WoLewicki commented on #111
A good option to enforce the behavior of always having the previous and only previous screen mounted is to add `mode="modal"` to your `stack-navigator`. It applies such behavior without the need to specify it by yourself (normally in modal, you want to see the screen below in stack). Can you check if it works OK in all cases?

[2020-11-16 16:27] a-eid commented on #577
@WoLewicki I'm wondering if this is related to this issue.

![Nov-16-2020 18-26-50](https://user-images.githubusercontent.com/19273413/99279833-550b8f80-2839-11eb-9ddb-7dfc4525e4e3.gif)

is there a way to keep the inner frame size as is when dragging the modal down ?

[2020-11-16 16:29] a-eid commented on #577
@WoLewicki I'm also wondering if there is a way to completely disable dragging the modal down ?

[2020-11-16 17:01] sharadrb commented on #111
Nothing worked for me with React Navigation 4. This is what worked for me to resolve flickering.
animationEnabled: false

[2020-11-16 17:59] ajsmth commented on #436
just tested this on iPhone 8 and iPhone X (iOS 12) - the modals are not dismissable with #643

[2020-11-16 22:12] zachgibson commented on #677
I will try your suggestion and report back.

[2020-11-16 22:58] vjjd commented on #628
@WoLewicki sorry for my late response. Now I'm trying to find where the transition shadow parameters are set. Most likely, I'll be able to change the values with the [patch-package](https://github.com/ds300/patch-package). It would be fantastic if you could share information where these parameters might be located.

[2020-11-17 03:54] hsavit1 commented on #649
I used the useIsFocused() hook from react navigation

[2020-11-17 09:40] WoLewicki commented on #678
#680 was closed in favor of #712. It fixes the issue of #364 from what I tested and seems not to introduce new, wrong behavior.

[2020-11-17 10:33] Hirbod commented on #649
For doing what?

[2020-11-17 11:28] Cal-um commented on #713
Seems that updating navigation state via the navigation prop causes these events to not fire. So tapping the back button on a stack triggers a ViewController dismiss which in turn updates navigation state so we get these events. I wonder if we can expose something on the native side to trigger a dismiss so we can get these events when dismissing with react navigation?

[2020-11-17 14:07] WoLewicki commented on #702
@longprao @dylancom can you check if #714 resolves the problem?

[2020-11-17 14:33] WoLewicki commented on #111
@sharadrb in React Navigation 4, the `stack` navigator must be at least of version 2.9.0 for the changes from `react-native-screens` `2.14.0` to be applied.

[2020-11-17 14:42] WoLewicki commented on #436
@ajsmth please provide a repo that shows the issue so it can be reproduced.

[2020-11-17 14:43] VanDu97 opened #715 "stackPresentation: 'modal' not working in ios 11.x"
- React Native:0.63.3
- React Native Screens:2.11.0

[2020-11-17 15:11] WoLewicki commented on #628
I tried the solution presented in the SO thread, but it did not change the transition shadow. It changes the view that is not visible (attached screenshot), maybe it would work for the native iOS project or maybe I am doing something wrong. You can try it by applying the changes anywhere where the `navigationController` is used.

![image](https://user-images.githubusercontent.com/32481228/99407174

[2020-11-17 15:34] WoLewicki commented on #577
Is the bug from the GIF appearing after applying #712? If so, could you provide a reproduction of this? You can use `TestsExample` app for it: https://github.com/software-mansion/react-native-screens/tree/master/TestsExample. About the disabling of dragging, I am afraid it is not provided by the platform.

[2020-11-17 20:42] HassanAbbas198 commented on #704
I am encountering this, too.
I believe this has nothing to do with the 'versions' of the packages.
the problem is with the IOS emulator, because sometimes the app runs normally, and sometimes I get this warning.

p.s. the app works just fine on the Android emulator. it is so weird

[2020-11-17 22:48] vjjd commented on #628
@WoLewicki сould you post a stoke of code you're using? Thank you.

[2020-11-18 06:13] a-eid commented on #577
@WoLewicki I can't reproduce it, I need to look more into it,
is it possible however to maintain the screen frame  when dragging down the screen `gestureEnabled: false` ?

[2020-11-18 09:43] WoLewicki commented on #704
The warning appears here: https://github.com/software-mansion/react-native-screens/blob/master/src/index.native.js#L102 and it appears when using versions of `react-navigation`'s navigators that do not include the new API provided by `react-native-screens`. These packages for `react-navigation` v5 are all of the navigators before version `5.10.0`, at least it should be like that if there is no bug

[2020-11-18 10:57] WoLewicki commented on #628
I just added `navigationController.view.backgroundColor = [UIColor blueColor];` below this line: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreenStack.m#L120

[2020-11-18 11:50] Cal-um commented on #577
Confirm it fixes the wobble noted in #https://github.com/software-mansion/react-native-screens/pull/660
🙌

[2020-11-18 15:58] WoLewicki commented on #715
The description you gave is not enough for me to work on that issue. Is it the same problem as in #436? If not, can you be more descriptive?

[2020-11-18 16:34] VanDu97 commented on #715
In ios 11.x When I set screen stackPresentation ='modal'. It's not showing up modal.It's kind of full modal.

[2020-11-19 09:22] WoLewicki commented on #715
On iOS < 13, using `modal` presentation resolves `fullScreen` modal (see https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreen.m#L86). You can try and use other options, probably `formSheet` will give you what you want. Can I help you more with this?

[2020-11-19 09:23] johankasperi commented on #645
I've had the same issue and the solution proposed by @grahammendick [here](https://github.com/software-mansion/react-native-screens/issues/645#issuecomment-712199841) solves it for me. Thank you @grahammendick!

[2020-11-19 09:31] grahammendick commented on #645
@johankasperi glad it works and thanks for letting me know

[2020-11-19 10:26] kockok commented on #704
I use [this bottom tab](https://github.com/torgeadelin/react-native-animated-nav-tab-bar) third party library. Could that be a reason?

[2020-11-19 10:59] WoLewicki commented on #704
@kockok yes, it uses old prop (`active`): https://github.com/torgeadelin/react-native-animated-nav-tab-bar/blob/master/src/ResourceSavingScene.js#L12, you need to change it to `activityState` if you are using `react-native-screens` 2.14.0 or higher.

[2020-11-19 11:26] #702 closed

[2020-11-19 12:08] VanDu97 commented on #715
I use formSheet not working the same modal.
how to use modal in ios < 13?

[2020-11-19 12:12] WoLewicki commented on #715
You used `stackPresentation: 'formSheet'` and it still shows `fullScreen` modal?

[2020-11-19 13:35] WoLewicki commented on #713
Isn't it the same for screens with `stackPresentation: 'push'`? The callbacks are not fired for the screen we are leaving when it is done by doing it from the JS side. Am I right?

[2020-11-19 13:54] Cal-um commented on #713
Yes that is correct

[2020-11-19 13:57] Cal-um commented on #713
I dont think this is going to be a big issue for me because in the next react-native release UIAlerts are going to be presented from the window but it would be nice if we could find a fix for this. I think it would involve building a new StackRouter to handle it from removing the screen from state until the transition is finished.

[2020-11-19 14:28] ferrannp commented on #703
@Hirbod thanks for the hint! Yes, that solves the bottom tabs issue @WoLewicki. Looks like `react-native-paper` is using an old version of `react-native-safe-area-view`. I'll send a PR there.

So we can rename this issue just to be the modal one.

[2020-11-20 04:28] VanDu97 commented on #715
yes. It's stills fullcreen

[2020-11-21 21:05] stereodenis opened #717 "enableScreens with storyshots"
## Description

How to use native screens with storyshots (https://github.com/storybookjs/storybook/tree/master/addons/storyshots/storyshots-core)

## Code

[code]

### Package versions
[code]

[2020-11-22 20:33] Hirbod commented on #703
I think you prob. should use a setTimeout and manually focus your input for now as a workaround. But indeed, this issue persists and my fix was only for the tab bar

[2020-11-23 08:54] kockok commented on #704
simply changing `active`  to `activityState` would kick away the warning, however, the touch activity of the WHOLE screen would not function.

E.g. the button will not work, the `onPress` function cannot be called.

I had to revert back to
[code]

[2020-11-23 09:22] WoLewicki commented on #704
I am sorry, I forgot to mension that after the introduction of `activityState`, you have to change the values too, since now `1` has different meaning. It should rather be like this then: `activityState={isVisible ? 2 : 0}`. Can you check if this fixes the issue?

[2020-11-23 09:43] WoLewicki commented on #717
Try and use `enableScreens()` somewhere at the top of the test file. Does it fix the issue?

[2020-11-23 10:25] WoLewicki commented on #715
It looks like on iOS pre 13, the fullScreen modals were the only ones available for iPhone. You can read more about it e.g. here: https://hacknicity.medium.com/view-controller-presentation-changes-in-ios-13-ac8c901ebc4e. It also tackles what other options resolve to on different devices. Can I help you more with this?

[2020-11-23 13:29] WoLewicki commented on #713
Can you elaborate on what is the use-case for these events that cannot be handled by e.g. `useEffect` cleanups?

[2020-11-23 14:11] Cal-um commented on #713
I believe it is helpful to have a way of knowing when a screen transition has finished. useEffect cleanups do not happen when transitions are complete.

[2020-11-23 14:41] WoLewicki commented on #676
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-11-23 14:41] #676 closed

[2020-11-23 14:41] WoLewicki commented on #674
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2020-11-23 14:41] #674 closed

[2020-11-23 14:57] WoLewicki commented on #645
I am closing this issue in favor of #649 in order to keep the discussion in one place. Please comment here if something is wrong with it.

[2020-11-23 14:57] #645 closed

[2020-11-23 15:38] HasanSahabGlobal commented on #674
@WoLewicki thank you

[2020-11-23 15:39] WoLewicki commented on #674
@HasanSahabGlobal did you manage to reproduce it?

[2020-11-23 15:54] WoLewicki commented on #704
Can I help you any more with this or can I close this issue then?

[2020-11-23 15:57] WoLewicki commented on #687
Did you manage to spot out what was the issue @jmkmay? Also, can I help you any more with this, and if not, can I close this issue then?

[2020-11-23 16:34] adamawang commented on #704
Can confirm adding activity state fixes the warnings. Thanks @WoLewicki

[2020-11-23 16:34] #704 closed

[2020-11-24 05:31] a-eid opened #719 "Nested Push stack gestures doesn't work inside of a formSheet unless gestures for the formsheet is disabled ?"
## Description

- nested push stack goback on ios doesn't work unless you disabled gestures on the formSheet,

- is shows 2 nested headers on android which is not the case on ios.

![Screen Shot 2020-11-24 at 7 36 14 AM](https://user-images.githubusercontent.com/19273413/100052965-bd550500-2e27-11eb-93a6-ba9ada3ca935.png)

![Screen Shot 2020-11-24 at 7 36 38 AM](https://user-images.githubuserconte

[2020-11-24 07:07] #719 closed

[2020-11-24 09:01] WoLewicki commented on #489
Closing since #648 has been merged. Feel free to comment here if you have any questions.

[2020-11-24 09:01] #489 closed

[2020-11-24 09:34] nimabrownlee opened #721 "Modals don't close on iOS when navigating to a screen with presentation 'push'"
## Description

When navigating to `TestScreen` from another screen that has a `formSheet` presentation the form sheet/modal does not close upon navigation. Is this expected behaviour? And how can I fix it?

## Code

[code]

### Package versions

- React: 16.13.1
- React Native: 0.63.3
- React Native Screens: 2.10.1+

[2020-11-24 09:38] HasanSahabGlobal commented on #674
i will do it ASAS

[2020-11-24 09:49] Cal-um commented on #713
Agree this is probably more work than its worth unless if people are crying out for it. @janicduplessis What use cases have you used these events for? I think at least can add something in the docs since its known that it doesn't work for react-navigation navigation actions. Im happy to add that in.

[2020-11-24 09:57] WoLewicki commented on #691
Did you manage to make it work? Can I help you any more with this?

[2020-11-24 11:19] WoLewicki commented on #713
What I can suggest is that you can use `onFinishTransitioning` of `ScreenStack`, which should fire at the end of transitions. You can change https://github.com/software-mansion/react-native-screens/blob/master/src/native-stack/views/NativeStackView.tsx#L61 to something like this:
[code]
We are not using this event in v5 `native-stack`, but you can see how it is used in the old version:
https://git

[2020-11-24 14:32] WoLewicki commented on #654
@EhsanSarshar can you check if applying #722 fixes the issue?

[2020-11-24 14:43] WoLewicki commented on #721
On the iOS native side, modal screens are higher in the view hierarchy than the normal ones. As long as you don't dismiss the modal or add another modal on top of it, the normal views will not be visible above it. You can use `navigation.replace()` in the modal screen to pop the modal and then navigate to the desired screen. Does it resolve your issue?

[2020-11-24 19:23] alexandersandberg opened #723 "Documented stackAnimation options (slide_from_right/left) not implemented"
## Description

The Native Stack Navigator options `slide_from_right` and `slide_from_left` for [stackAnimation](https://github.com/software-mansion/react-native-screens/tree/master/native-stack#stackanimation) are mentioned in the documentation but not actually implemented.

## Package versions

- React Native Screens: 2.15.0

![Screen Shot 2020-11-24 at 20 25 11](https://user-images.githubuserco

[2020-11-24 21:21] alexandersandberg commented on #723
Oops! I was too fast. They were only added yesterday and will probably be out in the next release 🙈

[2020-11-24 21:21] #723 closed

[2020-11-25 10:16] nimabrownlee commented on #721
@WoLewicki Hey, thanks. It works but somehow Typescript complains. I am using the `useNavigation` hook. Should I add a type somewhere?

[2020-11-25 10:31] WoLewicki commented on #721
`replace` action was not present in the TS types due to a mistake, it has been fixed in a PR: https://github.com/software-mansion/react-native-screens/pull/695, which is available from v. `2.15.0`. Can you check if upgrading the version or just adding this change to your files resolves the issue?

[2020-11-25 11:16] nimabrownlee commented on #721
@WoLewicki Unfortunately it doesn't fix the issue after upgrading.

`TS2339: Property 'replace' does not exist on type 'NavigationProp  , string, Readonly{ key: string; index: number; routeNames: string[]; history?: unknown[] | undefined; routes: (Readonly{ key: string; name: string; params?: object | undefined; }> & { ...; })[]; type: string; stale: false; }>, {}, {}>'.`

[2020-11-25 11:18] WoLewicki commented on #721
Can you provide a repo/snack with minimal configuration needed to reproduce the issue? Then I can see for myself what is the problem exactly.

[2020-11-25 11:23] nimabrownlee commented on #721
@WoLewicki Also expo complains that `2.15.0` is incompatible with other packages and that I should downgrade. I will post a repo in the following days when I can find time in the work schedule. Thanks for the help.

[2020-11-25 11:26] WoLewicki commented on #721
Oh, if you are using Expo, you should stay with the version that is provided by Expo, otherwise, you can have problems with the integration of the JS and native side. It is better just to apply this one commit since it only changes types.

[2020-11-25 13:58] WoLewicki commented on #686
@dktrvamp can you check if #724 fixes all the problems with the compilation?

[2020-11-25 14:51] nandorojo commented on #691
Hey thanks for following up. I haven't yet, but I can close this for now while I keep experimenting. I'll report back if I have new info. Thanks again your help, really appreciate it.

[2020-11-25 14:51] #691 closed

[2020-11-26 15:02] RocKer004 commented on #214
androidHardwareAccelerationDisabled worked for me, thanks a lot

[2020-11-27 10:17] stereodenis commented on #717
Problem was on my side

[2020-11-27 10:17] #717 closed

[2020-11-29 05:16] ahmed5605 commented on #556
Can someone let me know what worked for them?

[2020-11-29 16:12] wahiche opened #725 "Not able to use Animated to animate the transparency of the header."
## Description

I am trying to make the React Navigation header change it's transparency from 0 to .95 and back to 0 while scrolling up and down.  I have followed many different methods to get this working but it does not work with the **createNativeStackNavigator**, but it does work with **createStackNavigator**.

I surmise this is because the way it gets handled is adding the opacity to the **he

[2020-11-30 09:00] joonhocho opened #726 "iOS screen is frozen when swiping to previous page"
## Description

Original issue: https://github.com/react-navigation/react-navigation/issues/9015
iOS screen is frozen when swiping to previous page when `detachInactiveScreens` is `true`.
https://reactnavigation.org/docs/stack-navigator/#detachpreviousscreen

### Screenshots

NA

## Steps To Reproduce

1. On iOS simulator, with react navigation stacks, try swipe back to previous screen
when having

[2020-11-30 09:06] Cal-um commented on #713
I will experiment with this but will need to find a way to trigger a transition start as well.

[2020-11-30 10:34] #721 closed

[2020-11-30 12:41] WoLewicki commented on #556
@ahmed5605 you can try and change the line to `mCurrentTransaction.commitNowAllowingStateLoss();` here: https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenContainer.java#L219

[2020-11-30 13:27] WoLewicki commented on #726
Can you provide a repo/snack with minimal configuration needed to reproduce the issue?

[2020-11-30 15:11] WoLewicki commented on #725
`native-stack` exposes the `backgroundColor` prop on the `headerStyle` object, which is probably what you are looking for. You can check it here: https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerstyle. Remember that the component for the header in `native-stack` is not written in JS, but instead passes props to the native side, where the platform-specific com

[2020-11-30 21:48] wahiche commented on #725
So I tried to update that background color by trying to chagne the rgba value like this

[code]
The problem is that it never changed.  Just showed white.

I have no other way of explaining my issue, or how to actually get it to work.  If you have a working example of the React Navigator Native version changing the background opacity while scrolling up and down, in a snack, that would be ideal.

Th

[2020-12-01 13:06] gazedash commented on #556
in fact, in my case, it crashes with fatal exception about react-native-screens, but looks like a freeze with white background, exactly as described

[2020-12-01 15:22] thomasgosse opened #728 "Header shadow appearance on iOS"
## Description

Hi, first, thanks to the maintainers of this nice library !

I just wanted to know if there was a way to set an appearance prop for the header shadow. The color changes automatically when phone is in dark or light theme. As I don't support dark theme in my app yet, the dark divider can appear almost transparent, I would like to know if there is some way to force the color divider t

[2020-12-01 15:33] BeaRRRRR commented on #415
@hadijoons YOU ARE THE CHOSEN ONE! xD Thank you so much, no solutions worked for me except your one, you saved me from wasting much more time on this problem.

P.S. Another fix for this problem is updating react-native to 0.60 or higher, since 0.60 is the lowest version officially supported by react-native-screens
![image](https://user-images.githubusercontent.com/32522878/100761178-ab64fa80-3403-

[2020-12-01 16:52] ajsmth opened #729 "ScreenStack for react-native-web"
## Description

Currently this package does not export the ScreenStack component for react-native-web. This crashes any project that imports ScreenStack directly, would it be preferable to provide some kind of mock instead?

Thanks!

[2020-12-01 22:35] nandorojo commented on #561
Just checking, has anyone managed to get shared element transitions to work with `native-stack`, either with RNSE or a different solution?

Thanks!

[2020-12-01 22:44] mrousavy commented on #561
@nandorojo I've went a different approach. I saitched to the wix/react-native-navigation library and tried the shared element transitions. They had a lot of issues, but at least a foundation was implemented. I decided to create some issues, which later turned into me creating PRs and now I'm a maintainer over there. With the incredible help of the other maintainers, we managed to get shared elemen

[2020-12-01 22:52] nandorojo commented on #561
I appreciate the detailed and quick response. I'm pretty deep into using React Navigation (and managed Expo), so this solution unfortunately won't work for me.

The video on your Twitter looks awesome though, congrats! Glad you were able to solve it for your app.

For now, I'll keep trying to figure this one out. I'd love to use it with native stack if possible.

[2020-12-02 10:24] WoLewicki commented on #556
@gazedash can you provide a reproduction of this? It would help with debugging.

[2020-12-02 11:04] WoLewicki commented on #728
You can remove header shadow by using: https://github.com/software-mansion/react-native-screens/blob/master/src/native-stack/types.tsx#L122 or https://github.com/software-mansion/react-native-screens/blob/master/src/native-stack/types.tsx#L144. Is it what you need?

[2020-12-02 11:11] WoLewicki commented on #729
Can you check if #730 fixes it?

[2020-12-02 13:13] thomasgosse commented on #728
No, I would like something like a color setting !
I want the shadow to be shown, but I want to lock the color appearance to "light", because in the actual version, it seems it colors switch automatically when the color scheme of the phone changes 😕

[2020-12-02 15:05] ocarreterom commented on #728
You can disable dark mode in your iOS app:

https://developer.apple.com/documentation/xcode/supporting_dark_mode_in_your_interface/choosing_a_specific_interface_style_for_your_ios_app

[2020-12-02 15:23] thomasgosse commented on #728
Perfect, I didn't know about that. I will use this solution and close the issue.

Thank you for your time 😀

[2020-12-02 15:24] #728 closed

[2020-12-02 19:58] ajsmth commented on #729
Yes that works

[2020-12-03 07:45] piotrfalba opened #732 "Custom header component"
## Description

It would be nice to be able to use a custom header component.

## Motivation

Then you could easily add a search field, avatars, buttons etc.

[2020-12-03 13:47] SDSLeon opened #733 "[iPad] [14.2] setOptions headerRight headerLeft is not rendered"
## Description

on ipad (ios 14.2) setOptions headerRight not working for stack in modals
for ios 12 all woking good
rootStack -> ModalStack as Modal -> Screen (workaround for header in modals)

### Screenshots
![image](https://user-images.githubusercontent.com/6071034/101024879-6c5ab480-357d-11eb-9209-f49a7cffd471.png)

## Steps To Reproduce
1. create root stack (createNativeStackNavigator) with

[2020-12-03 14:41] JoniVR commented on #632
@beardwin Running into the same issue now, did you find a solution?

[2020-12-03 15:23] beardwin commented on #632
@JoniVR - no solution. As per Wojciech's comment:

There's a couple things that can be done. creating platform specific headers/navigators for that specific flow, or....

do what i did, which is say "don't worry about android for now." I'm ultimately re-working the nav flow for this specific use case because I think it'll be more delightful.

[2020-12-03 15:28] JoniVR commented on #632
Alright, the reason why it's happening makes sense, it's just that the title could probably be a separate property or something.. Thanks for the speedy reply! I think I'll just go ahead an try to replicate the original title and add a button next to it similarly to how it looks inside modals.

[2020-12-04 08:52] mistermadness87 commented on #395
Hello, I downloaded *.zip file v0.64.0-rc.1.zip from here https://github.com/facebook/react-native/releases, unzip to folder, then copy all files from React\Views\ScrollView and React\Views\RefreshControl to same folders of my App myProject\node_modules\react-native\React\Views\RefreshControl and myProject\node_modules\react-native\React\Views\RefreshControl, but I'm still see the same behaviour.

[2020-12-04 11:06] a-eid commented on #586
@WoLewicki basically this
https://github.com/a-eid/react-native-native-stack-global-loader/blob/475fb7d95003606551c29bacae547ec7c35a980f/App.tsx#L50

I wanna control the `gestureEnabled` via an animated value | sharedvalue so I can avoid the re-rendering of the stack. is that possible ?

[2020-12-05 13:15] #42 closed

[2020-12-06 02:28] VictorioMolina opened #734 "Incompatibility between detachInactiveScreens and react native lotties"
https://github.com/react-navigation/react-navigation/issues/9130

**Current Behavior**
I have a navigator stack navigator with the prop detachInactiveScreens equals to true.

When you are in a screen of this stack which has a lottie animation, if you change to another app and put it in the background for 10 seconds, and then, come back, the app completly fails (start going too slow until freezing)

[2020-12-06 02:29] satya164 commented on #586
Why is re-rendering Stack a problem?

[2020-12-06 05:22] a-eid commented on #586
@satya164 TBH, I'm a little concerned about performance.

[2020-12-06 16:42] kyle-ssg opened #735 "[Android Only] - React Native Modals within "Screen" component flicker if status bar is transparent"
## Description
React Native Modals within "Screen" component flicker if status bar is transparent, the height of the modal seems to be incorrect on the first render which causes the modal to jump around instead of staying in place.

### Screenshots

## Steps To Reproduce

1. set the status bar to translucent
2. show a react native modal within a screen

### Expected behavior
Modal renders without

[2020-12-06 16:47] iDuuck opened #736 "[native-stack] Implement ability to set `isModalInPresentation`"
## Description

The implementation is fairly simple. I want a boolean toggle (preferably in the options of the screen) to toggle the screens `isModalInPresentation` for the transparent modals.

I will work on a PR, if I have the time to.

### Caveats

## Motivation

I think the motivation behind this one is pretty clear.

## Code example

N/A

[2020-12-06 17:00] kyle-ssg commented on #735
Nevermind, being an idiot - setting statusBarTranslucent={true} wasn't needed.

[2020-12-06 17:00] #735 closed

[2020-12-07 07:15] baraa95 commented on #403
@WoLewicki Thanks a lot its working now but only when headerShown is true... if you set the headerShown to false the issue still exist

[2020-12-07 09:31] #729 closed

[2020-12-07 10:50] WoLewicki commented on #403
@baraa95 can you check if #722 fixes both those issues? I can spot the large title jumping from the left side to the right one when there is large title in the first screen of the app, but I don't know if there is a way to fix this unfortunately.

[2020-12-07 10:55] WoLewicki commented on #395
I think it would be better to use [patch-package](https://www.npmjs.com/package/patch-package) for this than manually coping files, since after e.g. using `yarn` command, the `node_modules` can be changed and `patch-package` ensures that the changes are applied. Also, did you check if these changes are available in `rc.1`? They should be, but it is always better to check.

[2020-12-07 11:12] Guuz opened #737 "Bug using React Navigation, React Native Screens and KeyboardAvoidingView together."
## Description

Using React Navigation, React Native Screens, KeyboardAvoidingView and navigation.setOptions() results in weird glitches.

In our app we have screens that have 1 or more TextInputs. If the input is valid a submit button appears in the header. Thats why setOptions() is used. We also enabled React Native Screens (enableScreens()) as recommended in the docs. For making text input poss

[2020-12-07 11:29] WoLewicki commented on #586
I wouldn't be too concerned about performance, `react-navigation` already does a lot to prevent unnecessarily re-rendering your screens. Or can you spot a problem with this already?

[2020-12-07 12:41] #8 closed

[2020-12-07 13:24] WoLewicki commented on #732
One of the `native-stack`'s main goals is to leverage the usage of native components for header. You can always specify `headerShown: false` and add your own component as a header. Can I help you any more with this?

[2020-12-07 13:26] WoLewicki commented on #733
Can you provide a repo/snack with minimal configuration needed to reproduce the issue? It would be best if it could be added to `TestsExample` project to make the testing even easier.

[2020-12-07 13:29] WoLewicki commented on #734
Can you provide a full reproduction of the issue, would be best to add it to the `TestsExample` project (https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) for the easier testing.

[2020-12-07 13:30] WoLewicki commented on #736
I think it is already available here: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreen.m#L154 by using `gestureEnabled` option in modals. Or do you mean something else?

[2020-12-07 13:55] WoLewicki commented on #737
The actual behavior should show how it looks now and the expected one should show how it should look (I mean GIF links). I cannot reproduce it on my physical SE 2020 and on the 12 Pro Max simulator. The view doesn't jump. Does this issue happen only on the phones with a notch? And does it happen on the simulator too? Could you add your example to the
[TestExample](https://github.com/software-mansi

[2020-12-08 10:53] a-eid commented on #586
@WoLewicki  are u saying that rerender the stack wouldn't re-render the screens inside of it ?

I thought it does, I never tried actually I'll try and see whether or not it does rerender the nested screens, thanks.

[2020-12-08 12:36] a-eid commented on #586
@WoLewicki @satya164 that is the case indeed, it works great. thank you.

[2020-12-08 12:36] #586 closed

[2020-12-08 13:28] Guuz commented on #737
Whoops, i swapped the actual and expected video. Does it really need to be a GIF or are the streamable links fine?

I'll add an example in te TestExample and i'll ping when. Hope to do it today.
I'll also test older non-notch devices. Did not do that because i didn't think it would be related. But a good suggestion!

[2020-12-08 14:08] Aryk opened #740 "iphone 6 full screen video player gets hidden by transparentModal"
## Description

On iphone 6, the full screen video starts playing (I can hear the audio), but it is behind the transparentModal. When I close the transparent modal, I see the full screen video that was playing underneath.

On iphone X, it works correctly.

## Package versions

- React: 16.13.1
- React Native Screens: ~2.10.1

[2020-12-08 15:12] WoLewicki commented on #737
Streamable links are fine, but they expire after some time, hopefully it won't be a problem here. Thanks

[2020-12-08 20:27] hsavit1 opened #741 "Support for subtitle"
## Description
The iOS header has no support currently for a subtitle property. Can we get that added that to the roadmap?

[2020-12-09 08:16] Hirbod commented on #741
You can add this by your own, since `headerCenter` accepts any view.

[2020-12-09 15:03] sslash commented on #525
I'm having the same issue. I can append my view to UIWindow on the native side, and it will appear on top. But the problem is that I have a ViewController with IBActions etc, and afaik you can't append a ViewController to UIWindow (?). Or do you know if there's another way to natively append a ViewController to the `UINavigationController` (ie the modal) ?

[2020-12-09 16:43] Guuz commented on #737
@WoLewicki this baffles me...
https://github.com/Guuz/react-native-screens/blob/reproduction-keyboardavoidingview-bug/TestsExample/App.js
I forked the repo and changes App.js to be the exact same as that i have build here:
https://github.com/Guuz/react-native-screens-navigation-keyboard-bug/blob/main/App.tsx

The only difference is that i used TypeScript and that i depend on `react-native-screens`

[2020-12-09 18:59] ComputerWolf opened #742 "React Navigation preventDefault() does not work with beforeRemove listener when using createNativeStackNavigator"
## Description

`preventDefault()` does not work with `beforeRemove` listener when using `createNativeStackNavigator` when header back button is pressed. However, it works properly using the Android back button. Not sure if this is a react-navigation or react-native-screens bug since it works in some cases.

[React Navigation Issue](https://github.com/react-navigation/react-navigation/issues/9137)

[2020-12-09 19:28] spsaucier-bakkt commented on #105
We are still getting this crash, and while `androidHardwareAccelerationDisabled` helped on some devices, it also crashed some simulators, at the very least. We have ended up removing `react-native-screens` for now, as it has caused a panoply of hard-to-debug issues.

[2020-12-10 03:33] a-eid commented on #608
@Evan-Younan could u post an example of this ? does it work as a normal ios uisearchbar does ?

![Uploading Dec-10-2020 05-32-22.gif…]()

[2020-12-10 03:36] a-eid commented on #194
wondering if there's any progress on this ?

[2020-12-10 03:36] Evan-Younan commented on #608
No, this cannot be achieved with the current implementation. I think that RNN supports a UISearch component in the navigation header though.

[2020-12-10 03:37] a-eid commented on #608
yeah, I know there are other libs that supports this, thanks.

[2020-12-10 08:45] juice49 commented on #732
We are doing exactly this for our project. The biggest problem we've encountered is that we don't seem to be able to access the screen `title` option inside our custom header component.

I can see the screen options are [exposed to the navigator](https://github.com/software-mansion/react-native-screens/blob/aa57d19bd6ab2ecef39c083d53b98cf1e1e8d3eb/src/createNativeStackNavigator.js#L275), but I can

[2020-12-10 09:13] Strate commented on #525
@WoLewicki thank you for suggestion!
Do you have any idea how to implement this thing: "You can use your own component that will add a subview to the UIWindow"? Sounds very easy, but very hard for non-iOS developer :(

[2020-12-10 09:23] iDuuck commented on #736
No, sadly this is a difference. With `isModalInPresentation`, the modal can be dragged for about 20-30 pixels, and with `gestureEnabled` set to false, I am not able to drag at all.

[2020-12-10 09:24] iDuuck commented on #736
@WoLewicki Have a look at this example: https://sarunw.com/posts/modality-changes-in-ios13/#a-simple-way

[2020-12-10 10:35] WoLewicki commented on #736
I am not sure what you mean. Setting `gestureEnabled` to `false` in a screen that is a modal, resolves in setting `isModalInPresentation` to `true` on the native side. You can check an example here: https://github.com/software-mansion/react-native-screens/blob/master/TestsExample/src/Test577.js, it provides the same behavior as in the article you sent. What am I missing?

[2020-12-10 10:42] WoLewicki commented on #737
Oh, it is very interesting. Most probably one of the latest commits introduces the change that resolves it, and in the repo's example, we are using the version from the newest master. Maybe this commit changed it: https://github.com/software-mansion/react-native-screens/commit/c528f83bd9f0ebedcc21af3be609535037bc0067 ? And yes, the files for the `react-native-screens` are taken from the source and

[2020-12-10 10:50] WoLewicki commented on #105
Can you provide a test example in TestsExample project (https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) with minimal configuration needed to reproduce the issue? It would be very helpful in debugging the problem.

[2020-12-10 11:40] WoLewicki commented on #737
@Guuz https://github.com/software-mansion/react-native-screens/releases/tag/2.16.0 :tada:

[2020-12-10 12:00] WoLewicki commented on #740
Can you provide a test example in TestsExample project (https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) with minimal configuration needed to reproduce the issue? Also, what iOS version are you using on iPhone 6?

[2020-12-10 12:01] WoLewicki commented on #741
Does @Hirbod answer solves your issue @hsavit1 ? If not, please provide some more information about the feature.

[2020-12-10 12:15] WoLewicki commented on #732
We don't expose the `header` option in `native-stack`, so the solution seems to be not to use the options. You can also create a PR with `header` component or add a patch to your project with the `descriptor.options.title` exposed.

[2020-12-10 12:18] maystrenkoYurii opened #744 "android bug latest version"
<img width="1095" alt="Снимок экрана 2020-12-10 в 14 17 33" src="https://user-images.githubusercontent.com/23016311/101771400-8acb2d80-3af2-11eb-9eb2-9327adeaca06.png">

After update from "react-native-screens": "2.15.0" to "react-native-screens": "2.16.0", android not bundled

[2020-12-10 12:23] WoLewicki commented on #742
`Native-stack`'s header back button is not a component provided by `react-navigation`, but a native header back button. It triggers the native transition, which changes the navigation stack at the end of it, so the alert appears only after the transition has ended. It cannot be controlled from the JS side unfortunately. It is the same with going back with a swipe. Can I help you more with this?

[2020-12-10 12:24] juice49 commented on #732
Thank you for replying so quickly @WoLewicki! 🙂

That makes sense. I wanted to check I wasn't missing a way to do this.

For now, we have worked around the issue by passing the screen options down to our custom header component. The one downside is that programmatic changes to the title (e.g. via `setOptions`) are not reflected.

I will definitely think about whether this can be nicely handled in

[2020-12-10 12:25] JaapWeijland commented on #744
Same!

[2020-12-10 12:26] JaapWeijland commented on #744
![Schermafbeelding 2020-12-10 om 13 26 39](https://user-images.githubusercontent.com/7115712/101772206-57d16b80-3aeb-11eb-822a-484f73b1ac0a.png)

Same!

[2020-12-10 12:33] gremech commented on #742
I am experiencing the same problem
Is there another way to prevent going back navigation that will work with `react-native-screens`?

[2020-12-10 12:37] GuentonBrooks commented on #744
I have this problem too:

`..\node_modules\react-native-screens\android\src\main\java\com\swmansion\rnscreens\ScreenStack.java:189: error: cannot find symbol
            getOrCreateTransaction().setCustomAnimations(R.anim.rns_slide_in_from_right, R.anim.rns_slide_out_to_left);
                                                               ^
  symbol:   variable rns_slide_in_from_right
  location:

[2020-12-10 12:38] Guuz commented on #737
@WoLewicki Updating to 2.16.0 fixes the issue! ❤️  Thanks so much for the assistance! 👍

[2020-12-10 12:38] #737 closed

[2020-12-10 12:44] WoLewicki commented on #742
@gremech You mean with `native-stack`? I am afraid it is not possible right now. As a workaround, you could disable the back button by providing your own [`headerLeft`](https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerleft) component with a `navigation` prop used there. You would have to disable swipe gesture on iOS by providing `gestureEnabled: false` option

[2020-12-10 12:48] mostafero commented on #111
Exactly, commented enablescreens  and the flickering disappears (here is my config: RN 0.63.3)

[2020-12-10 12:58] kaunghtethein977 commented on #744
Same Here. Happened in the latest version `"react-native-screens": "^2.15.0",`

[2020-12-10 12:59] kaunghtethein977 commented on #744
Same Here. Happened in the latest version "react-native-screens": "^2.16.0",

[2020-12-10 13:00] MaixEqu commented on #744
The same problem in 2 diffrent projects.
2 solutions work:
1 - back to 2.15.0.
2 - (rude) comment in Java in 2 places where the vars are.

[2020-12-10 13:05] MaixEqu commented on #744
/home/maick/xMx/aaViewers/aAviewC/node_modules/react-native-screens/android/src/main/java/com/swmansion/rnscreens/ScreenStack.java:190: error: cannot find symbol
            getOrCreateTransaction().setCustomAnimations(R.anim.rns_slide_in_from_right, R.anim.rns_slide_out_to_left);
                                                               ^
  symbol:   variable rns_slide_in_from_right
  locati

[2020-12-10 13:08] WoLewicki commented on #744
Can you check if this regression is fixed in `2.16.1`?

[2020-12-10 13:09] GuentonBrooks commented on #744
Hang on, I'll check right away

[2020-12-10 13:15] GuentonBrooks commented on #744
Steps:
`yarn upgrade react-native-screens --latest
cd android
./gradlew clean
cd ..
yarn android`

Confirmed working using react-native-cli
`"react": "17.0.1",
"react-native": "0.63.4",`

Thank you so much for your quick action @WoLewicki you're the MVP for the day!

[2020-12-10 13:18] MaixEqu commented on #744
Yes. The 2.16.1 solves the problem in my both projects.

[2020-12-10 13:19] WoLewicki commented on #744
Thanks for finding the bug so quick 💪  Since this is fixed now, I am closing this issue.

[2020-12-10 13:19] #744 closed

[2020-12-10 13:20] MaixEqu commented on #744
And very quick correction. Thanx!

[2020-12-10 13:34] WoLewicki commented on #111
@mostafero using `enableScreens(false);` resolves in `react-native-screens` not being used in the project, so the screens are not detached when navigating from them. It will result in no performance gain from the usage of the library, but also the bugs coming from it will disappear. You can try the solution provided here: https://github.com/software-mansion/react-native-screens/issues/111#issuecom

[2020-12-10 13:44] kyle-ssg commented on #744
Haha this caught me out for 15 minutes, cheers for the quick work!

[2020-12-10 14:50] hsavit1 commented on #741
In some applications, like the GitHub iOS application, when the large header collapses on scroll, you see a regular sized header with a prominent centered title and a centered subtitle beneath it. I believe to achieve this with `headerCenter` you'd have to implement your own animation such that the view only appears on scroll?

[2020-12-10 14:59] mostafero commented on #111
`mode="modal"` not working as well

[2020-12-10 15:01] WoLewicki commented on #111
@mostafero Can you provide a test example in TestsExample project (https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) with minimal configuration needed to reproduce the issue?

[2020-12-10 15:13] mostafero commented on #111
Finally **fixed** it keeping `enableScreen`, I relalized that i was setting `headerMode="float"` to my root stack navigator, removing `headerMode` fixed the issue.
[code]
[code]
fyi, i am using `gestureEnabled: true,` as  `screenoptions` for my stack navigator

[2020-12-10 15:32] WoLewicki commented on #741
I cannot see anything else than small title in the GitHub iOS app, can you show a GIF/photo of what you mean exactly?

[2020-12-10 15:40] Hirbod commented on #741
@hsavit1 yeah, with the current implementation, thats the way to go. So you want to have a single large header and a small header with subtitle after collapse, is that right?

[2020-12-10 15:44] Hirbod commented on #741
I think he means this feature @WoLewicki
https://streamable.com/jau5du

But this doesn't look like the default LargeHeader collapse. Its something custom.

[2020-12-10 16:14] WoLewicki commented on #741
Oh this. I am afraid it is not a native iOS header at all, so I don't think there is anything I can do about it. It is probably some custom component with the animation coupled with the ScrollView's scrolling. Can I help you more regarding this?

[2020-12-11 12:05] WoLewicki commented on #690
Closing due to no reproduction provided in 30 days. Feel free to comment to reopen.

[2020-12-11 12:05] #690 closed

[2020-12-11 19:02] kevgrig opened #749 "KeyboardAvoidingView flickering and hangs with Expo SDK 40, React Navigation, and even with latest react-native-screens@^2.16.0"
## Description

I recently upgraded to [Expo SDK 40](https://blog.expo.io/expo-sdk-40-is-now-available-d4d73e67da33) and started experiencing extreme glitches with KeyboardAvoidingView. In a couple of cases, the phone became completely unresponsive and had to be hard-restarted. I isolated it to the interaction of React Navigation and react-native-screens. Expo forces react-native-screens@2.15 but

[2020-12-11 19:06] kevgrig commented on #737
Issue still happens with 2.16.1: https://github.com/software-mansion/react-native-screens/issues/749

[2020-12-11 19:28] kevgrig commented on #749
Further investigation by an Expo contributor shows that this seems to be related to `KeyboardAvoidingView` being a parent of `NavigationContainer`. Moving `KeyboardAvoidingView` into the screen seems to resolve the issue.

[2020-12-11 22:02] kevgrig commented on #749
Note for anyone else hitting this that, in testing my more complicated application, moving `KeyboardAvoidingView` inside of `NavigationContainer` did not help and commenting out the two `enableScreens` lines was still the only workaround.

[2020-12-12 11:12] owinter86 opened #750 "[2.16.1] - Lazy loaded tabs renders stack headers without safe area insets."
## Description
The latest version (2.16.1) and more related to this merge https://github.com/software-mansion/react-native-screens/pull/712, has issues where the header insets are not applied if not using lazy loaded tabs from react navigation `lazy={false}`.

### Screenshots
<img src="https://user-images.githubusercontent.com/2920419/101982276-ff2cda80-3c72-11eb-878b-0390f9149199.png" width="300"

[2020-12-12 12:56] hussainarthuna commented on #750
Experiencing the same issue.

[2020-12-14 09:54] iDuuck commented on #736
Super sorry, searched the repository for `isModalInPresentation`, but just found out that the Obj-C equiv is `modalInPresentation` and is set here: https://github.com/software-mansion/react-native-screens/blob/6d110d64356309ebac4d64e22d5b1f16b98c36bb/ios/RNSScreen.m#L153

Thanks!

[2020-12-14 23:12] melkayam92 opened #751 "FragmentManager has been destroyed"
## Description

I can't reproduce it, but it happened 1000 times in the last month in production. (Sentry and Google Console crash report)

This is the stack trace:

java.lang.IllegalStateException: FragmentManager has been destroyed
    at androidx.fragment.app.l.a
    at androidx.fragment.app.l.a
    at com.swmansion.rnscreens.g.onDetachedFromWindow
    at android.view.View.dispatchDetachedFromW

[2020-12-15 00:00] xmflsct commented on #725
@wahiche I get a state to it and it works. But it is not smooth. Any suggestions?

[2020-12-15 00:17] ajpaulingalls commented on #654
@WoLewicki I have applied the patch and verified that it fixes the issue.

[2020-12-15 15:55] WoLewicki commented on #725
@xmflsct can you provide a reproduction of how you do it so we can work on it?

[2020-12-15 16:16] alminde commented on #692
This is something we need as well. The hit areas are just too small. I‘ve tried all combinations of margins, paddings, hit slops, but to no avail.

Does anyone know how to do this with UIKit so we can PR or patch-package it?

@martinandert Did you find a suitable workaround for this?

[2020-12-15 19:16] 1Ajay commented on #687
is it resolved?

[2020-12-15 20:54] martinandert commented on #692
Unfortunately not. We're using managed expo, so our ability to patch native code is very limited.

[2020-12-15 21:20] xmflsct commented on #725
@WoLewicki Sure!

So my stack has one screen like this:
[code]

And then in my component:
[code]

[2020-12-15 22:01] Appkidd commented on #628
Hey guys, did you manage to find a workaround at all? The shadow is particularly noticeable in our app based on our stack configuration so would be great to find a fix.

@WoLewicki would it be possible to add a custom transition we can use as [demonstrated here](https://stackoverflow.com/questions/30719916/uinavigationcontroller-remove-drop-shadow-when-transitioning-to-another-vc) so that we can r

[2020-12-15 23:38] csantos1113 commented on #686
Hi @WoLewicki - I tried this in my project:
[code]

and now got the following errors:
<img width="1272" alt="Screen Shot 2020-12-15 at 6 37 05 PM" src="https://user-images.githubusercontent.com/9648559/102285642-b12f0580-3f04-11eb-8d1b-73fda47a0778.png">

[2020-12-16 10:41] WoLewicki commented on #687
@1Ajay most probably it was caused by not specifying `super.onCreate(null);` in `MainActivity.java`, at least it is what the stack trace suggests.

[2020-12-16 13:44] #686 closed

[2020-12-17 11:03] winterdouglas opened #755 "statusBarStyle has no effect on iOS 12"
## Description
I observed that when setting the `statusBarStyle` it has no effect at all on iOS 12. On newer versions of iOS that's working nicely, I checked on 13 and 14 too.

I'm attaching a repro with the same setup as I'm using on my project.
To setup the project I followed the react navigation instructions, and also https://github.com/software-mansion/react-native-screens/tree/master/native-s

[2020-12-17 11:45] WoLewicki commented on #755
`UIStatusBarStyleDarkContent` is available since iOS 13: https://developer.apple.com/documentation/uikit/uistatusbarstyle/uistatusbarstyledarkcontent?language=objc, so on phones with iOS < 13, it will resolve in `UIStatusBarStyleLightContent `: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreenStackHeaderConfig.m#L570, since it is the only available option for custo

[2020-12-17 12:00] winterdouglas commented on #755
Thanks for the fast reply!
Got it. Hm but then for this case that I'm mentioning what would you suggest me to do? Cause this issue started to happen when I enabled the `View controller-based status bar appearance` to support the status bar style change.

[2020-12-17 12:09] WoLewicki commented on #755
Is not passing any `statusBarStyle` for iOS < 13 enough? It should resolve to default option there.

Another option is to change this line: https://github.com/software-mansion/react-native-screens/blob/master/ios/RNSScreenStackHeaderConfig.m#L570 to
[code]

and, in JS, check for iOS version, and if it is lower than 13, pass `auto` option for everywhere you want it to be default, and `light` for pl

[2020-12-17 12:14] winterdouglas commented on #755
I think I tried with `auto` and not setting that also, none of them worked. Just let me have another try here and I'm gonna mention to you if that worked.

[2020-12-17 12:27] winterdouglas commented on #755
So, confirming what I said earlier, setting it to `auto` or not setting it has the same effect, the text is still white.
I did a double check also on my info.plist, and there the status bar is set as default.

[2020-12-17 12:35] WoLewicki commented on #755
So could you check the second proposed solution?

[2020-12-17 12:42] winterdouglas commented on #755
I think I can, but to be honest I need to ask you: can I change that locally as part of my small repro directly, or do I need to clone and build rnscreens, change it in the lib and then reference my changed version on my project?

[2020-12-17 12:44] WoLewicki commented on #755
You can use [patch-package](https://www.npmjs.com/package/patch-package) to apply changes only to your repository. I think I will make a PR with this change, but it would need to be merged and then released before you could use it.

[2020-12-17 12:53] winterdouglas commented on #755
I will give it a try then, thanks for letting me know, I haven't used that tool before :)
No problems on waiting for it to be merged and released too, at least knowing that there will be a fix is already good.

I will take my time to check that and I'll let you know if that worked or not.

[2020-12-17 15:30] winterdouglas commented on #755
Good news :) With your suggested code, setting the style to `auto`, `dark` or not setting it will present the status bar text in black, while setting it to `light` presents the text in white, which is the same behavior as when running against iOS >= 13 now.

If you can PR that I'll be more than happy and will be looking forward for the next release :D
Thank you for your help!

[2020-12-18 11:30] Cal-um commented on #750
Also have this issue

[2020-12-18 11:36] ubaidmoin commented on #380
I resolved the issue by following @dogukny instructions.
In NavigationContainer add:
`theme={ colors: { background: '#000' }}`
It stopped the white flickering as i set it to black.

[2020-12-18 17:14] hussainarthuna commented on #750
Any fixes or workaround??

[2020-12-18 18:40] jparkrr commented on #749
Just wanted to say that we're running into this too. Also since the update from the versions in expo sdk 39 to 40.

[2020-12-18 18:51] jparkrr commented on #749
Oh, I just saw that this was likely fixed in 2.16 (https://github.com/software-mansion/react-native-screens/issues/737), and expo sdk 40 is on 2.15. So it seems like it's on expo to upgrade.

(@kevgrig if you use the managed workflow in expo, the package.json upgrade does nothing, since this package uses native code)

[2020-12-18 18:56] kevgrig commented on #749
@jparkrr Oh, I didn't know that, makes sense. @brentvatne FYI

[2020-12-19 21:38] ha3 opened #756 "Measuring header height in Android"
Hello,

I am trying to implement a custom search bar header to my screen. I want it to have the same height as a native header. Readme explains how to measure header height in iOS but I couldn't find anything about Android. Is there a way to get header height in Android?

Thank you,

[2020-12-21 10:46] WoLewicki commented on #755
I added #757 with this change :tada:.

[2020-12-21 10:52] #756 closed

[2020-12-21 10:56] WoLewicki commented on #751
Can you post the whole stack trace with the exact line and file in `react-native-screens`, where the exception occurs? And could you post a runnable reproduction in
[TestExample](https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) ? Also, you didn't provide the packages versions.

[2020-12-21 10:58] winterdouglas commented on #755
Thank you!

[2020-12-21 10:59] winterdouglas commented on #755
BTW, should I've closed it already? Sorry, did it without asking.

[2020-12-21 11:01] WoLewicki commented on #755
It would have been closed automatically when #757 is merged, so technically it would be better to leave this open for other users to comment and maybe find some mistakes. But don't worry, it is not a problem. I will reopen this.

[2020-12-21 12:30] WoLewicki commented on #194
@a-eid I added a first look at it in #758. Can you check if the most basic version with `placeholder` and events option work?

[2020-12-21 12:35] viveksc1994 commented on #704
@adamawang, Still issue is not resolved.
This issue is reproducible (checked in android) - https://snack.expo.io/WrH8BnFmS

[2020-12-22 00:06] amorino commented on #236
I'm still having this issue using `react-native-screens@2.16.1` and `react-native@0.63.3`

[2020-12-22 10:16] #755 closed

[2020-12-23 04:20] wahiche commented on #725
I am on break from work for a couple of weeks but I will try this out and let you know if I was successful.  Thank you very much.

[2020-12-23 13:58] diego-paired commented on #751
We're experiencing the same issue, here's a stack trace with line numbers (v2.16.1):

[code]

[2020-12-24 16:05] DTX-Elliot opened #760 "Configuring react-native-screens with jest"
I'm trying to test navigation in my react-native app with jest and I keep getting errors. If I attempt to mock the enableScreens function in my setup file like so;

[code]
then I get the following error when I run the tests:

If however I don't mock the enable screens function then I get this error:

Any help would be greatly appreciated, thanks!

[2020-12-26 11:35] FrankFundel commented on #194
@WoLewicki I tested it and I couldn't get it to work. I tried:
`static navigationOptions = ({ navigation }) => {
    const {params = {}} = navigation.state;
    return {
      title: translate('Search'),
      searchBar: () => <NativeSearchBar
        placeholder="Placeholder"
        onChangeText={() => alert('changetext')}
        onSearchButtonPress={() => alert('button press')}
        onCance

[2020-12-26 13:51] bartzy commented on #95
@WoLewicki I don't think #624 resolved this.
I'm using the following versions:
[code]

I'm still getting the exact behavior as described in this issue - Interactions are not enabled briefly after animating to a screen.
Anything I'm doing wrong/not enabling?

[2020-12-26 15:42] FrankFundel commented on #194
I cannot get it to work. I looked through all your changes, they seem to be fine. But somehow `case RNSScreenStackHeaderSubviewTypeSearchBar: {` does not get called in RNSScreenStackHeaderConfig.m line 478. I thought maybe add `export const ScreenStackHeaderSearchBarView = View;` in src/index.js or `if (options.searchBar)...` in src/createNativeStackNavigator.js but no effects.

[2020-12-26 16:34] Jobeso commented on #692
The only way I found till now is using negative margin, e.g. `marginLeft: -8` for headerLeft.

[2020-12-27 11:59] Piero87 commented on #555
@WoLewicki Is this currently true?

[2020-12-27 17:17] FrankFundel commented on #194
Plus: How to unFocus after searchButton has pressed? And when scrolling down, the title disappears.

[2020-12-28 08:58] frknnay commented on #380
`detachInactiveScreens={false}` also  fixed the issue for me.
example:
`<MainStack.Navigator
      detachInactiveScreens={false}

     ...
 </MainStack.Navigator>`

[2020-12-28 13:35] WoLewicki commented on #628
Can you check if #761 is what you need? @Appkidd @lakakoy

[2020-12-28 13:45] WoLewicki commented on #704
I cannot repro it in the snack you provided @viveksc1994. Maybe it is because the version with the proper code has been released. Can you check again?

[2020-12-28 13:53] WoLewicki commented on #555
It is no longer true. `react-native-screens` are now available on both platforms for stack navigator :tada:

[2020-12-28 13:57] WoLewicki commented on #751
@diego-paired can you provide a reproduction of this? It is really hard to do anything about this without the crash being reproducible.

[2020-12-28 14:52] WoLewicki commented on #194
@FrankFundel can you provide the reproduction of your problems? It would be easier to work on them then.

[2020-12-28 15:12] FrankFundel commented on #194
@WoLewicki it is in a bigger private project, I dont have the time to set up a new project. Maybe I can add you to the rep?

[2020-12-28 22:03] Piero87 commented on #555
@WoLewicki Thanks for the answer! I already do this in my code:

import { enableScreens } from 'react-native-screens';
....
enableScreens();

But I use this:

import { createStackNavigator } from '@react-navigation/stack';
const Stack = createStackNavigator();

If I read instead this:

https://github.com/software-mansion/react-native-screens/tree/master/native-stack

I have to do this:

import { c

[2020-12-29 09:13] WoLewicki commented on #555
`createStackNavigator` is just a different navigator than `createNativeStackNavigator`. The second one uses `iOS` and `Android` native primitives for navigation, as mentioned in the `README`. The first one uses JS only, and it is using `react-native-screens` (but does not have to) to boost the performance by detaching inactive screens.

[2020-12-29 09:15] Piero87 commented on #555
@WoLewicki Perfect, thank you, so if I use createNativeStackNavigator what other perfomance I boost?

[2020-12-29 09:20] WoLewicki commented on #194
Adding is not a good option because it doesn't make reproduction available for all of the users. Making an easy reproduction should not take too much time, you can just fork the `react-native-screens` repository, and add a simple test case in [TestExample](https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) project.

[2020-12-29 09:23] WoLewicki commented on #555
The boost comes from using platform primitives for navigation, which of course is faster than managing it only in JS.

[2020-12-29 09:24] WoLewicki commented on #555
I will transform this into a discussion since other people may want to look at this thread for some information about the `native-stack`. Is it ok for you?

[2020-12-29 09:25] Piero87 commented on #555
@WoLewicki yes of course

[2020-12-29 09:26] #555 closed

[2020-12-30 04:20] reyanshmishra commented on #472
I have this did anyone of you solve it?

[2020-12-30 09:18] viveksc1994 commented on #704
Thanks for looking into,

![image](https://user-images.githubusercontent.com/10026278/103341547-41487f80-4aad-11eb-9a38-acc607dae24f.png)

device android version 9
expo client version 2.18.4

Is there anything I missed? (in the code or for an update)

[2020-12-30 15:32] WoLewicki commented on #704
Oh, it is my fault, I was not looking at the right logs. I will investigate it further.

[2020-12-30 15:38] WoLewicki commented on #704
It may come from using `react-navigation` v.3. It is deprecated and may raise such warnings because it is not updated to use the latest versions of navigators. The only solution seems to be to upgrade to v4/v5. Can I help you more with this?

[2021-01-01 11:36] iqqmuT commented on #380
@frknnay For me it was `screenOptions={{ animationEnabled: false }}` (which you also have) that fixed the issue.

[2021-01-04 05:49] brentvatne commented on #749
@kevgrig - thanks for the ping!

[2021-01-04 09:34] joaocosta9 commented on #472
was anyone able to solve this problem? It was working on react native 0.59, but I upgraded to 0.63 and is not working anymore

[2021-01-04 18:46] JakyChen commented on #630
I ran into a similar issue and I wanted to share a solution in case anyone else was also facing a similar problem.

I upgraded my project build.gradle dependency from 3.2.0 to 3.6.2 and androidx.core version to 1.3.2 (I'm guessing NestedScrollingParent3 is a module in this newest androidx version)
dependencies {
    classpath('com.android.tools.build:gradle:3.6.2')
}

subprojects {
    project.con

[2021-01-05 09:30] WoLewicki commented on #749
Can I close this issue then? Seems that it is resolved (#737), but not available in Expo managed workflow in SDK 40, but we can't do anything about it unfortunately. Can you confirm it @kevgrig?

[2021-01-05 11:33] Jobeso opened #766 "Missing header bottom border on physical devices"
## Description
When using react-native-stacks with react-navigation v4 the bottom border of the header is not visible on larger iOS devices like an iPhone Xs & Xr. The border is visible on Simulators and is also visible as a component in the hierarchy view on the physical devices but not visible.

### Screenshots
<details>
  <summary>Device & simulator screenshots</summary>

  iPhone Xs physical,

[2021-01-05 15:06] todorone commented on #726
@WoLewicki That's the minimal reproduction - https://snack.expo.io/@todorone/697343
When trying to swipe back from second screen to first, it immediately freezes(iOS only). If keyboard is hidden or `enableScreens()` is not called, no freeze occurs.
Relevant for the latest version of react-native-screens.

[2021-01-05 15:19] kevgrig commented on #749
@WoLewicki I'm using the Expo managed flow so I can't test the (hopeful) solution, so I'd like to wait until the Expo SDK upgrades react-native-screens, but if you'd like to close it, that's okay with me, and I can re-open it if the problem still exists after the next Expo SDK upgrade.

[2021-01-05 19:44] blueberry6401 opened #767 "Wrong icon color when push modal on iOS"
## Description

When form sheet or page sheet modal is pushed, info icon on status bar should change color to white as shown

### Screenshots

| RNC      | Right |
| ----------- | ----------- |
|![ezgif-6-a1f17d5dd8c6](https://user-images.githubusercontent.com/7337535/103691468-cc070e00-4fc8-11eb-9344-c474fbed47be.gif)|![ezgif-6-dfd7927aed0c](https://user-images.githubusercontent.com/7337535/10369

[2021-01-06 19:34] diegolmello commented on #750
I have a similar issue, but on the bottom inset and I was able to workaround by patching off #712

[2021-01-07 09:25] Staryixing opened #769 "xcode build failed"
'React/RCTImageLoader.h' file not found

### Screenshots

## Steps To Reproduce

1. npm install react-native-screens
2. cd ios pod install
3.  import { enableScreens } from 'react-native-screens'; enableScreens();

### Expected behavior

### Actual behavior

## Snack or minimal code example

## Package versions

- React:16.8.6
- React Native: 0.60.5
- React Native Screens: 2.16.1

[2021-01-07 10:26] WoLewicki commented on #749
I don't have a strong opinion on it. We can leave it open so people with the same problem can find it easier.

[2021-01-07 14:12] wahiche commented on #725
I have used this solution, but there is still something that is not happening and I am not sure how to handle it.

First thing is I want to go from transparent to black, at a gradual rate, which is what you have in your example, but the big difference is yours is going from to white, and I want mine to go to black.  When I do that I notice that the large title scrolls up and is transparent, but th

[2021-01-07 17:13] WoLewicki commented on #472
@reyanshmishra @joaocosta9 can you provide a reproduction of this issue in [TestExample](https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) project?

[2021-01-08 00:25] lakakoy commented on #628
Awesome! It's working. Thanks so much!

[2021-01-08 02:54] Chill-Studio commented on #415
It worked for me.

I had to do a search of every import you mentioned and replaced all of them.

[2021-01-08 12:05] GKotsovos commented on #111
In our project we are having the exact same issue, it is reproducible in every screen that an SVG is used.
This happens on screens inside react-native-screens/native-stack navigator.
Both react-navigation and react-native-screens are on their latest versions.

@WoLewicki any suggestions?

[2021-01-10 14:07] FrankFundel commented on #194
My stuff is exatly like you have it, except I'm using it like:
`export default class SearchScreen extends React.Component {
  static navigationOptions = ({ navigation }) => {
    const {params = {}} = navigation.state;

    return {
      title: translate('Search'),
      searchBar: () => <SearchBar
        placeholder={translate("Search")}
        onChangeText={params.search}
        onSubmitEdit

[2021-01-10 18:12] ex-git commented on #111
This works for me. With enableScreens() also. Resolved the flicker/white edge in dark theme when switch screen.
[code]

[2021-01-11 07:41] hehex9 commented on #111
facing the same issue, repro snack: https://snack.expo.io/@hehex/native-stack-svg-blink.

only happens in native-stack (createNativeStackNavigator), @react-navigation/stack works fine.

https://user-images.githubusercontent.com/9209882/104156012-426d9b00-5423-11eb-9e11-cf1de5d0aa66.mp4

[2021-01-11 09:23] Cal-um commented on #750
Can anyone confirm that the bug still happens when managing the status bar natively using https://github.com/software-mansion/react-native-screens/tree/master/native-stack#status-bar-and-orientation-managment

[2021-01-11 11:07] WoLewicki commented on #726
Thank you @todorone! I reproduced it and it happens due to `keyboardHandlingEnabled={false}` and it looks like a bug on the native iOS side. When swiping to change screen, we disable user interaction on the native side, but at the same time `textinput` fires an event `textInputDidEndEditing` which wants to aquire the same mutex as the swiping gesture, so it leads to a deadlock. When keyboard dismi

[2021-01-11 11:12] todorone commented on #726
@WoLewicki Great, happy that reproduction helped. Unfortunately, enabling `keyboardHandlingEnabled` is not an option for us, so we will patiently wait for fix...🐱

[2021-01-11 13:24] WoLewicki commented on #769
It is most probably duplicate of #415. I will close this issue then. Feel free to comment here if I am wrong.

[2021-01-11 13:24] #769 closed

[2021-01-11 14:16] WoLewicki commented on #733
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2021-01-11 14:16] #733 closed

[2021-01-11 14:16] WoLewicki commented on #734
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2021-01-11 14:16] #734 closed

[2021-01-11 14:16] WoLewicki commented on #740
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2021-01-11 14:16] #740 closed

[2021-01-11 14:17] WoLewicki commented on #715
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2021-01-11 14:17] #715 closed

[2021-01-11 14:35] WoLewicki commented on #767
You can control the the color of the status bar icons with a prop: [`statusBarStyle`](https://github.com/software-mansion/react-native-screens/tree/master/native-stack#statusbarstyle). Does it solve your issue?

[2021-01-11 14:40] WoLewicki commented on #725
@wahiche there are two options, each of them controlling the [small](https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerlargestyle-ios-only) / [large](https://github.com/software-mansion/react-native-screens/tree/master/native-stack#headerstyle) header style. Maybe you should properly use each of them to aquire the behavior you need?

[2021-01-11 15:11] WoLewicki commented on #194
@FrankFundel you are using v4 `native-stack`, yes? I haven't added the new prop there, it's my mistake. Can you check if it works now?

[2021-01-12 09:19] WoLewicki commented on #741
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2021-01-12 09:19] #741 closed

[2021-01-12 10:52] WoLewicki commented on #750
Can you check if #772 fixes the issue and does not introduce any new bugs?

[2021-01-12 10:56] WoLewicki commented on #742
I am closing it due to no response in more than 30 days. Feel free to comment to reopen it.

[2021-01-12 10:56] #742 closed

[2021-01-12 10:58] WoLewicki commented on #111
@hehex9 can you open another issue about the SVG with all the information required? It will be easier if we keep the discussion of the certain problems in one place.

[2021-01-12 11:30] hehex9 opened #773 "SVG component becomes transparent when goBack"
## Description

There is an obvious UI blinking that occurs when returning from a screen that uses svg (react-native-svg), svg views in the child screen will become transparent and then disappear with the screen. (check the video)

It happens in navigators created by native-stack (createNativeStackNavigator) @react-navigation/stack works just fine in this scenario.

Not sure if it's related to rea

[2021-01-12 11:31] hehex9 commented on #111
@WoLewicki sure https://github.com/software-mansion/react-native-screens/issues/773

[2021-01-12 14:25] msvargas commented on #773
I have same issue with custom headerCenter and headerLeft, if you add any Image component in screen or header the same thing happen,  maybe native stack is very fast? or React Native bridge its slower? @wkozyra95

[2021-01-13 15:41] jkadamczyk commented on #760
Hi! I think this happens because NativeStack like the name suggests is in part native. In order to make it work it might require to have a complete mock of screens that simulate its mechanisms in JS instead of the native code.
You simply can't use react-test-renderer to render native views 🤷
I don't think there are plans to fix that in the close future.
What I can suggest to you is e2e testing nat

[2021-01-14 09:46] Cal-um commented on #750
@WoLewicki Looks good to me. Not seen any obvious bugs.

[2021-01-14 10:52] jkadamczyk commented on #760
@DTX-Elliot there's one more thing. Would you mind sending us a minimal repro? Maybe we can try looking at this anyway.

[2021-01-15 15:31] msvargas commented on #773
FIY: only happen in Android

[2021-01-15 23:47] limiaspasdaniel commented on #95
#624 has not resolved the issue for me either. Anyone knows how to solve this? The library is amazing but having touch event delays bugs me

[2021-01-16 02:31] limiaspasdaniel opened #774 "Unresponsive interactions after navigating between screens on nested navigators."
## Description

After switching to this library and specially after using `createNativeStackNavigator` on my app, I have noticed that touch events / interactions after navigating between screens are unresponsive or delayed in comparison to not using the library.

I have checked issue #95 , updated the library to the latest version, cleaned cache, rebuilt and I still notice the same issue.

## Step

[2021-01-17 14:30] iDuuck commented on #736
Just a little heads up on this issue and a little RFC. I would *think* of `gestureEnabled` to disable all gestures (even the `modalInPresentation` thingy). And then I would think that an additional `modalInPresentation` prop should enable the `modalInPresentation` thingy. What do you think about this, @WoLewicki?

[2021-01-18 07:49] lakakoy commented on #628
@WoLewicki
I still face problem when using swipe back gesture.
![swipe-back-gesture-shadow](https://media.giphy.com/media/xlSSC9T9eJgXQOA9Sg/giphy.gif)

[2021-01-18 10:55] WoLewicki commented on #628
@lakakoy it happens because the swipe gesture does not use the specified transition, but rather the default one provided by the platform. The only solution I can think of is to disable going back with swipe by setting `gestureEnabled: false` on the navigator.

[2021-01-18 11:01] WoLewicki commented on #736
I am not sure if I fully understand what you mean. The 'gesture' in this context means the ability to discard the screen with a gesture. The way to do this in normal presentation is swiping horizontally and for modal it is swiping vertically. What would be the benefit of adding another prop? You can specify the `gestureEnabled` prop per screen, so you can not add it in you modal screens if you don

[2021-01-18 11:05] iDuuck commented on #736
You understood me correctly, but I don't know, if I am right. FWIW, the `gestureEnabled` prop (at least for the rest of the `react-navigation` family, is disabling the gestures *completely*).

My proposal:
- `gestureEnabled: true` → everything like normal
- `gestureEnabled: false` → Not even the small "peak" (currently, you have the ability to drag the screen 20px downwards, but not further)
- NEW

[2021-01-18 11:13] WoLewicki commented on #736
For the second dot, I am afraid there is no possibility to disable the ability to do this small "peak" in the native implementation. If you find any code/thread, where people make it possible, please link it here.

[2021-01-18 11:18] WoLewicki commented on #774
Please post this comment in #95 to avoid keeping the discussion in two places. I will close this issue and reopen #95. Feel free to comment here if something is wrong.

[2021-01-18 11:18] #774 closed

[2021-01-18 11:27] WoLewicki commented on #95
You can check #775 and see if it is what you would like to have in your library. Please keep in mind that it introduces the ability to interact with screens that are transitioning.

[2021-01-18 11:40] Hirbod commented on #95
@WoLewicki which might be an issue for others. Should this be editable using a prop?

[2021-01-18 11:42] WoLewicki commented on #95
@Hirbod I thought about it, maybe it is a proper direction. cc @kmagiera.

[2021-01-18 12:54] limiaspasdaniel commented on #774
Thank you 👍

[2021-01-18 12:56] darron1217 commented on #684
@WoLewicki
Then how about providing a way to override BackButton behavior?
All I wanted to do is overriding BackButton behavior, but I had to override `headerLeft` and it removed the title of screen :(

[2021-01-18 13:08] WoLewicki commented on #726
Can you check if #777 resolves the issue and does not introduce any new bugs? It may have some effects that we do not have knowledge of, so it would extremely helpful to test it in many examples.

[2021-01-18 13:18] darron1217 commented on #684
Oh, I found a solution `navigation.addListener('beforeRemove', callback)`

[2021-01-18 13:28] darron1217 commented on #742
I came here from #684

Using `headerLeft` removes title on Android. Is there any workaround?

[2021-01-18 13:33] darron1217 commented on #742
But I think this should be implemented.
because it was weird for me that touching back button on header is much faster than pressing hardware backbutton.
It should be same, I think.

[2021-01-18 15:33] jkadamczyk commented on #766
Thanks for the issue and a repro I will try to check it on my device and see what we can do with it 😄

[2021-01-18 15:45] jkadamczyk commented on #766
So I can confirm that I see the issue and have the same in the view hierarchy. I spoke to @WoLewicki and he thinks it might be a bug in UIKit itself, but we will double check

[2021-01-18 15:53] WoLewicki commented on #742
I am not sure what you mean that something is faster. You can apply your own logic by using combination of `headerLeft` and `headerCenter` to simulate having title and custom back button.

[2021-01-18 15:55] #750 closed

[2021-01-19 01:03] darron1217 commented on #742
@WoLewicki
On returning to heavy screen using hardware back button, it lags.
But pressing back button on header(with this package) is fast even on returning to heavy screen.

I guess it's possible because this package don't wait for navigation event to be finished. (like `beforeRemove`)

[2021-01-19 04:56] todorone commented on #726
@WoLewicki Just tried, works perfect for me. Will report on side effects if any...

[2021-01-19 07:40] fangasvsass commented on #773
android react-native-fast-image have the same problem  when goback  android ViewManager  onDropViewInstance method callback immediately and view detach the tree (android native), although view detach the tree view can't invisible immediately  until animation finished

`     /**
     * This method tells the ViewGroup that the given View object, which should have this
     * ViewGroup as its parent,

[2021-01-19 09:06] jkadamczyk commented on #766
Hi @Jobeso! I found where your problem lies and it is not related to React Native Screens, it's rather an iOS **feature**.

Why a feature though?
So you have a React Native app on iOS with dark mode enabled. Native stack uses native components which follow system-wide appearance setting. Because your app tries to adapt, it has a dark status bar by default. What you were trying to do is to style th

[2021-01-19 09:06] #766 closed

[2021-01-19 14:46] msvargas commented on #773
@fangasvsass amazing! but the same happen with de header (react-native-screens's HeaderConfig), Do you found any solution?

[2021-01-20 05:12] ZeiRashed commented on #556
Still seeing repros of this issue. The line switch above didn't fix the issue for me - has anyone found a fix?

[2021-01-20 12:49] hunterbmt commented on #726
This also happens when swiping back after moving the app to the background, could you help to confirm the fix on this case as well @WoLewicki

[2021-01-20 21:51] MarioUnlam commented on #17
Isn't there a proper fix for this yet? I'm experiencing the same crashes using react-native-image-picker. After taking a photo, sometimes it crashes when returning to the app. Another plugin, react-native-image-crop-picker, seems to have the same problem. The Firebase logs are the same everyone posted here (in fact, I found this post thanks to the link included in one of the errors).

I tried the

[2021-01-20 22:33] mikehardy commented on #17
I think the consensus was that it is an intractable design problem because the javascript view state is not well known on Activity restore when there's a configuration change or similar, so there is nothing better / more correct to do other than assume things might be out of sync and rebuild your view from the application state you have? Thus the otherwise distasteful solution of killing the passe

[2021-01-21 08:56] fangasvsass commented on #773
@msvargas  HeaderConfig view is not rnscreen child ,you can call startViewTransition with HeaderConfig views

add code

`
 private void prepareOutTransition(ViewGroup screen) {
    startTransitionRecursive(screen);
  }

  private void startTransitionRecursive(ViewGroup parent) {
    for (int i = 0, size = parent.getChildCount(); i < size; i++) {
      View child = parent.getChildAt(i);
      paren

[2021-01-21 10:46] somebody32 commented on #749
@WoLewicki I have the same problem with the latest version and I'm not using expo: with `enableScreens` keyboardAvoidingView is flickering on every keyboard tap

[2021-01-21 10:57] WoLewicki commented on #749
@somebody32 could you please provide a repo with the minimal reproduction needed to spot the issue?

[2021-01-21 12:37] hanno-ferrannegre commented on #773
Got the same problem with `react-native-svg` and on Android. When you trigger to go back, the svgs disappear while the transitions happens.

[2021-01-21 13:07] ferrannp commented on #773
Got the same problem with react-native-svg and on Android. When you trigger to go back, the svgs disappear while the transitions happens.

[2021-01-21 14:04] ferrannp opened #780 "Touchables still respond (and fire) when swiping left on iOS inside a stack that is inside a modal"
### Screenshots

Wrong behaviour:

![wrong](https://user-images.githubusercontent.com/774577/105361312-de548f00-5bf9-11eb-85e9-749dc43cf60d.gif)

Expected behavior:

![good](https://user-images.githubusercontent.com/774577/105361338-e3b1d980-5bf9-11eb-9144-f5b15b9894e1.gif)

## Steps To Reproduce

1. Add a native stack (Modal)
2. Inside the modal add another stack (no matter if native or not)
3. W

[2021-01-21 14:11] ferrannp opened #781 "StatusBar animation like native"
## Description

Not sure if this is a bug or not but I noticed some difference between a native app and with native stack. See the gifs:

### Screenshots

Native app from Apple (see how StatusBar animates immediately when background behind it changes):

![contacts](https://user-images.githubusercontent.com/774577/105362099-c16c8b80-5bfa-11eb-999b-5adf2c633ad9.gif)

Here is using native stack and `

[2021-01-21 14:36] msvargas commented on #773
Thank!! this fix the header, amazing @WoLewicki please check this fix the same issue but in StackHeaderConfig

[2021-01-21 17:01] somebody32 commented on #749
@WoLewicki, sorry, my bad, somehow missed that I was not on the last patch version, found that when trying to do a repro in a new repo, updating to the latest version fixed it!

[2021-01-21 23:48] msvargas commented on #773
Hi @fangasvsass with react-native-svg happen the same with, it calls onDropInstance, Do you found any solution for this in react-native-fast-image? thank you

SvgViewManager.java

[code]

[2021-01-22 10:09] WoLewicki commented on #726
@hunterbmt I am not sure what flow do you mean exactly. Moving app to the background, opening it again and then swiping? If so, I tested it and there is no issue then, but I don't think there should be any regarding it. You can always fork the repo or add the changes to your project and check it by yourself, it would be very helpful.

[2021-01-22 10:23] WoLewicki commented on #773
Can you submit a PR with the changes and a test case that shows it fixes the bug?

[2021-01-22 10:40] iagormoraes commented on #556
The flickering is still happening with the components like fast-image and svg when we call `goBack()`.

https://user-images.githubusercontent.com/13892132/105480810-f9b8ac00-5c84-11eb-92c6-6b4e1462daa1.mov

[2021-01-22 10:43] iagormoraes commented on #773
as @msvargas I'm having the same issue on fast-image. See [comment with sample](https://github.com/software-mansion/react-native-screens/issues/556#issuecomment-765313955)

[2021-01-22 10:47] WoLewicki commented on #742
@darron1217 can you make a repro of this behavior?

[2021-01-22 11:11] darron1217 commented on #742
I captured it 3 days ago, and forgot to upload it..haha

Hardware back button
![Jan-19-2021 09-53-17](https://user-images.githubusercontent.com/8064923/105483888-db3acb00-5ced-11eb-97a5-110e20501af3.gif)

Header back button
![Jan-19-2021 09-54-30](https://user-images.githubusercontent.com/8064923/105483917-e68df680-5ced-11eb-9a6b-a9ae035e1237.gif)

[2021-01-22 11:59] FrankFundel commented on #194
Works now, but still: How to unFocus after searchButton has pressed? And when scrolling down, the title disappears.

[2021-01-22 12:19] dioncodes commented on #194
When the searchfield is focused, a gray half transparent view is visible above the screen content. How is it possible to display the search results there, so the user can tap on a result while the keyboard is visible? In my case it was always required to tap and close it before being able to select something. Also in that case the value of the textfield is gone as soon as its unfocused.

[2021-01-22 13:32] msvargas commented on #773
Sure, this only working when you have image components in HeaderConfig.

[2021-01-22 13:33] msvargas commented on #773
Thanks! I will check about it

[2021-01-22 14:04] msvargas commented on #773
Update:

If replace headerLeft with backButtonImage, the SVG working properly.

@WoLewicki Do you have any idea about it? thanks!

![image](https://user-images.githubusercontent.com/8255332/105500289-b3694a00-5c90-11eb-9fc1-786f172bb26c.png)

[2021-01-23 14:02] rmccue opened #785 "Video at top of react-native-screens' modal has controls offset"
## Description

This is a cross-post of https://github.com/expo/expo/issues/11637 per @brentvatne's request; the bug happens somewhere in the interplay of expo-av and react-native-screens, but unclear exactly where.

Videos displayed at the top of a modal displayed via react-native-screens have controls offset from the top.

This offset appears to be adjusting for the status bar, however the modal

[2021-01-24 09:35] hunterbmt commented on #726
@WoLewicki
The flow is, from a bottom navigator, go to a screen outside (same stack of a bottom navigator), bring app to background, get back and swipe.
Expected behavior should navigate back normally but instead, the app will hang and crash.
The app won't crash if you go from one screen to another in the same stack

[2021-01-24 10:28] hunterbmt opened #786 "IOS, app hang and crash when swiping back after move to background"
## Description

After upgrade to 2.15.2 (using Expo SDK 40), on IOS, app will hang and crash when swiping back after moving to background.
This only happy when move from screen inside a tab view to a screen outside tab view.

### Screenshots

## Steps To Reproduce

1. Create a standard structure
    ---Product Detail
    ---Something
    ---Home (Bottom Tab)
    -------Hot Product (Material Top Ta

[2021-01-24 11:40] bhattanmol101 commented on #53
I am still facing this issue but I am not using useScreens from react-native-screens anywhere in my project
Facing this issue on react-navigation v5

[2021-01-25 10:53] WoLewicki commented on #773
The `backButtonImage` is treated differently than the other header options. You can see it here: https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenStackHeaderConfig.java#L267. Probably the system knows how to correctly deal with the `Drawable`.

[2021-01-25 22:55] thife455 commented on #53
@bhattanmol101 have you managed to find a solution? This bug is driving me crazy!

[2021-01-25 23:10] nitrocrete commented on #53
bump

[2021-01-26 05:39] hehex9 opened #789 "Incorrect native-stack types in 2.17.0"
## Description

type files are published in the [wrong place](https://npmfs.com/package/react-native-screens/2.17.0/lib/typescript/) in v2.17.0

[code]

notice the nested src and TestsExample which is not match what native-stack/package.json needs
[code]

### Expected behavior

works

### Actual behavior

[code]

## Snack or minimal code example

[code]

## Package versions

- React: 16.3.1
- Reac

[2021-01-26 07:17] mhammerc commented on #789
Same here 😋

BTW thank you for your great work on this package, keep going!

[2021-01-26 08:01] bhattanmol101 commented on #53
I don't know if it's a solution or not but this is what I did.

I read the above comments that `useScreens` should not be used or should be false but I was not using `useScreens` function at all anywhere in my code but I had that react-native-screens dependency in my package.json.

Also, the `useScreens` function has been deprecated in the recent version so after searching a little bit the `useScr

[2021-01-26 10:56] WoLewicki commented on #789
Can you check if it is fixed in `2.17.1`?

[2021-01-26 11:59] mhammerc commented on #789
It's working for me!

[2021-01-26 13:05] hehex9 commented on #789
thanks! it's working now

[2021-01-26 13:05] #789 closed

[2021-01-26 17:19] birgernass opened #791 "RNScreensNavigationController is pushing the same view controller instance more than once"
## Description

We are seeing the following crash quite frequently on iOS since we started to use `react-native-screens/createNativeStackNavigator`. Any help would be much appreciated.

[code]

## Steps To Reproduce
We see this crash in our Sentry issues but don't know how to reproduce it yet.

## Package versions
- React: 16.13.1
- React Native: 0.63.3
- React Native Screens: 2.16.1
- React Navig

[2021-01-27 10:59] WoLewicki commented on #703
Closing since after trying to reproduce the modal issue, it seems that it does not appear in isolation and may be caused by some misconfiguration. Feel free to comment here if you spot any issues regarding this.

[2021-01-27 10:59] #703 closed

[2021-01-27 12:33] WoLewicki commented on #791
I am afraid we cannot do much without the reproduction. From the crash description, it looks like it might be caused by pushing screens too fast leading to some wrong state of navigation stack with 2 same screens, but I cannot say much more.

[2021-01-27 14:51] WoLewicki commented on #786
Can you provide a test example in TestsExample project (https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) or a snack with minimal configuration needed to reproduce the issue?

[2021-01-27 15:52] hunterbmt commented on #786
@WoLewicki tried to reproduce by a snack but cannot reproduce.
The structure is our app is something like this (https://snack.expo.io/SNMFYkUyN)
I can confirm that the issue only happen when enableScreens and with 2.15.0 (with Expo 40). I don't know if it has anything to do with the level of complexity of the stack and cannot test again 2.17.1 since we are using Expo managed workflow

[2021-01-27 22:44] noodlesftw commented on #53
@bhattanmol101's solution worked for me.

[2021-01-28 12:25] WoLewicki commented on #726
@hunterbmt can you check if it the problem exists in `2.17.1` version?

[2021-01-28 12:52] WoLewicki commented on #786
I couldn't repro the problem when applying your snack my example with `2.17.1` so I am not sure if there is much I can do about it unfortunately.

[2021-01-28 12:58] WoLewicki commented on #732
I will move this to Discussions since it is rather a feature request.

[2021-01-28 12:58] #732 closed

[2021-01-28 13:00] WoLewicki commented on #687
I will close this issue since it seems there is nothing I can help with more. Feel free to comment here if you have any questions.

[2021-01-28 13:00] #687 closed

[2021-01-28 14:18] msvargas commented on #773
Ok, but a minor change in StackHeaderConfig I fix the header when calling goBack in JS, however, thank you

[2021-01-28 16:39] AlenToma commented on #53
Nothing works for me

[2021-01-28 17:09] AlenToma commented on #71
Im still having this issue now, why close it?

here is My package
[code]

[2021-01-28 21:41] msvargas commented on #773
I'm to be working on the issue, create Test773, and share with your another video with the issue in the header and screen. :)

Scenaries to reproduce issue:

1. Go back with custom headerLeft (navigation.goBack())
2. Go back with android hardware button (navigation.goBack())
3. And with another button to goBack (navigation.goBack())

![react-native-screens-issue-773](https://user-images.githubuser

[2021-01-29 10:49] MoOx commented on #767
I would  have expected this to work out of the box. That's weird for a DX point of view.
I started to use native-screens to have a more native experience and have less to worry about and would have expected to have this handled as this seems trivial (formSheet on iOS => status bar light when there is more than one screen, am I right?).

I guess if that's not handled, it's because iOS doesn't handl

[2021-01-29 10:50] MoOx commented on #767
Because how can we know what color to use? If I have a screen that's white and pushed first, I need dark status bar. But what if this screen is pushed after? I will need light and I cannot really no, or am I missing something?
react-navigation stack (js implementation) handle this if I am correct.

[2021-01-29 10:55] MoOx commented on #767
Also we don't know (or don't want to make the test manually) the version of iOS we runs on, and so we don't know if formSheet exist (ex: I am testing on an iPhone 5c and there is no "formSheet" effect, so I don't really want to have a very complexe `statusBarStyle` value based on OS and position in the stack, when it could be done in this library.

I can help with the right pointers :)

[2021-01-29 18:34] msvargas commented on #773
@wkozyra95 please help me, I found the error its in react-native-svg, if your comment this line: https://github.com/react-native-svg/react-native-svg/blob/develop/android/src/main/java/com/horcrux/svg/RenderableViewManager.java#L1287 svg working properly:

<img src="https://user-images.githubusercontent.com/8255332/106313649-8ab7f600-6236-11eb-9d10-5ede2a5abd18.gif" width="320" height="640" />

Th

[2021-01-29 20:19] klaaz0r commented on #726
@WoLewicki I am still getting this on `2.17.1`

[2021-01-29 20:45] smallfx opened #796 "Backgrounding app automatically alters navigation state for native modals"
## Description

I'm working on an app that uses React Navigation. We are aiming to use `react-native-screens` to increase the app's navigation performance.
We are seeing a show-stopping issue where the navigation state is automatically altered when the app is backgrounded. There is nowhere in our code that does this specifically (quintuple-checked, thoroughly) and this issue only appeared once we

[2021-01-29 20:52] msvargas commented on #773
@hehex9 @ferrannp After spending 3 days approx. I found the error and the solution, the error is that react-native-svg  calls bitmap.recycle() and ignore when react-native-screen call startViewTransition.

I share the solution to help anybody

You can apply this patch:

<details>
<summary>react-native-svg+12.1.0</summary>

[code]
</details>

[2021-01-29 22:36] MoOx commented on #595
I am very interested by this, what is the best way to have a "custom" large title? I am also looking to have a "pre-title", like this

![IMG_63F456C23D25-1](https://user-images.githubusercontent.com/157534/106334387-d1374000-628a-11eb-8c32-aae629e9dd04.jpeg)
![IMG_F60B75E4B92B-1](https://user-images.githubusercontent.com/157534/106334389-d3010380-628a-11eb-8bf0-58eb30c3a915.jpeg)

[2021-01-30 04:30] acrabb commented on #281
Hm, `'../node_modules/react-native/React/CoreModules'` doesn't exist for me.
How can I add it?

[2021-01-30 07:20] anuragdadheech commented on #751
Reproducible on resuming the app with Do not keep activities enabled on android.

[2021-01-30 14:48] msvargas commented on #791
I have the same issue, may this help

![image](https://user-images.githubusercontent.com/8255332/106359365-5a2c9680-62e0-11eb-9987-e67f897f0882.png)

[2021-01-31 04:54] sujon54 commented on #53
Thanks, @bhattanmol101 your solution worked for me.

[2021-01-31 09:50] vortexflame1404 commented on #53
@bhattanmol101 Thanks this works for me

[2021-02-01 08:26] EhsanSarshar opened #797 "Android: when closing the screen. it first hide the images inside the screen then pop the screen."
## Description
in Android when I want to close a screen. it first hide the images inside the screen and then pop the screen.
I see the same behaviour in shopify [shop](https://play.google.com/store/apps/details?id=com.shopify.arrive&hl=en&gl=US) app.

#### As you can seen in the screen shots. the back button and gmail images are hidden when poping the screen

# Screen shots of the behavior
### the

[2021-02-01 13:21] WoLewicki commented on #71
@AlenToma please provide a reproduction of the issue, preferably in [TestExample](https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) project and I will reopen then.

[2021-02-01 13:25] WoLewicki commented on #595
I am afraid you need to hide the `header` provided by `native-stack` and create your own animated header in order to have this.

[2021-02-01 13:26] WoLewicki commented on #751
@anuragdadheech can you provide a reproduction of this behavior?

[2021-02-01 13:31] WoLewicki commented on #726
@klaaz0r can you provide a test example in TestsExample project (https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) with minimal configuration needed to reproduce the issue?

[2021-02-01 13:33] WoLewicki commented on #791
@msvargas are you able to reproduce it on a simple example?

[2021-02-01 13:38] WoLewicki commented on #797
Can you check if it is not a duplicate of #773? And so, if https://github.com/software-mansion/react-native-screens/issues/773#issuecomment-770043776 fixes the issue?

[2021-02-01 13:39] WoLewicki commented on #773
So it is rather an issue on the side of `react-native-svg`, not `react-native-screens`? And if so, is there anything we can do on our side, or can I close this issue?

[2021-02-01 13:41] msvargas commented on #791
At the time, I check it occurs rarely when switching auth flow, like this: https://reactnavigation.org/docs/auth-flow/#define-our-screens after user log in and redirect to "Home", I have to errors log with the same iOS version 14.3

[2021-02-01 14:34] AlenToma commented on #71
There is no need. The problem was not with navigation, it was with my code. I have a while loop that sometimes dose not end :)

[2021-02-01 14:49] EhsanSarshar commented on #797
@WoLewicki Thanks for immediate response.
The issue is with images not svg

[2021-02-01 15:02] msvargas commented on #773
I think the issue is on the react-native-svg side, Can you create a PR in react-native-svg to support o fix correct behavior with react-native-screens? because react-native-svg is used in a lot of apps

[2021-02-01 15:49] msvargas commented on #797
@WoLewicki  need this patch to fix this:

[code]

[2021-02-02 10:24] WoLewicki commented on #773
I think you should create this PR @msvargas since you have a lot of insight to this. Therefore, you could submit a much more descriptive PR with the examples of how the change fixes the problems. You can link that PR here so it is easy to elaborate if needed.

[2021-02-02 10:40] WoLewicki commented on #95
We came to the conclusion that we should not disable interaction during transition. If you want to have this controlled by the native side, you should use `native-stack`, which uses the interaction handling provided by the system. Therefore, we are merging #775. I will close this issue then. Please comment here if you have any questions or something is wrong.

[2021-02-02 10:40] #95 closed

[2021-02-02 11:30] WoLewicki commented on #796
Does it still happen in the newest version or `React Native Screens`?

[2021-02-02 20:51] bartzy commented on #95
@WoLewicki I'm not sure I'm completely following.
By using `native-stack`, do you mean `import { createNativeStackNavigator } from 'react-native-screens/native-stack'`?
I get the interaction delay after a transition while using that import. Should I use something else?

[2021-02-03 00:02] limiaspasdaniel commented on #95
I confirm I get an interaction delay while using that import too

[2021-02-03 10:14] WoLewicki commented on #95
If you want the user interaction controlled by the system, which means no interaction during transition just how in native iOS apps, you should use `native-stack`, just how @bartzy described it. When you apply #775, the `stack` navigator got by `import { createStackNavigator } from 'react-navigation/stack'` will not include disabling user interaction for the time of transition when providing `enab

[2021-02-03 13:09] EhsanSarshar commented on #797
@msvargas thank for the patch.
but issue still exists.
maybe this patch only bother images inside header.

[2021-02-03 13:35] msvargas commented on #797
@EhsanSarshar Show your code please

[2021-02-03 14:13] bartzy commented on #95
@WoLewicki By using `import { createStackNavigator } from 'react-navigation/stack'` and also calling `enableScreens`, are we even getting the native navigation behavior at all? I don't quite get what's the behavior with the regular `createStackNavigator` and `enableScreens`. I thought this library makes sense only with `import { createNativeStackNavigator } from 'react-native-screens/native-stack'

[2021-02-03 14:18] limiaspasdaniel commented on #95
I use react-native-screens + createNativeStackNavigator + enable screens and I experience this delay too. This is especially noticeable when navigating back and for to a formSheet screen.

On native there is no delay whatsoever. I would love to help but have no idea where to start from. I wonder what the root cause of this delay is 🤔

[2021-02-03 15:24] EhsanSarshar commented on #797
@msvargas I just patched the provided patch.
### here is the patched file.
## ```ScreenStackHeaderConfig.java```
[code]

[2021-02-03 16:50] WoLewicki commented on #767
Can you check if #798 fixes all of the problems and does not introduce any new bugs?

[2021-02-03 17:13] MoOx commented on #767
Sorry I don't have any bandwidth for this until next week, meanwhile I used js implementation because I got too much bugs with this native one (mostly `navigate()` call that were doing nothing and no error)

[2021-02-03 17:16] WoLewicki commented on #767
@MoOx could you submit issues with all of the other bugs that you spotted? It would for sure help with resolving them.

[2021-02-03 17:16] a-eid commented on #606
@WoLewicki I would like to reference wix's overlay docs here
https://wix.github.io/react-native-navigation/docs/overlay

using a `transparentModal` wouldn't work if you wanna display a toast on top of modal screen, users wouldn't be able to interact with the underlying view.

[2021-02-03 17:18] MoOx commented on #767
I kept my work in a branch and want to be sure to reproduce before opening issues, I will try that next friday as I really would like to have use this native module :)

[2021-02-04 10:35] WoLewicki commented on #797
@EhsanSarshar can you provide a test example in TestsExample project (https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) with minimal configuration needed to reproduce the issue? It would be then easier to debug and find a solution.

[2021-02-04 10:47] WoLewicki commented on #791
So could you post this reproduction? It does not need to be fully deterministic, it needs to be reproducible in finite steps.

[2021-02-04 12:12] WoLewicki commented on #742
You are right, the header back button behavior is implemented on the native side, whereas the hw back button handling is provided by `react-native` and is used by `react-navigation` and resolves in the same behavior as `navigation.goBack()`. You can see it here: https://github.com/react-navigation/react-navigation/blob/16e7ac131f2ebde23cfe6dabc55a1c91327ffa56/packages/native/src/useBackButton.tsx.

[2021-02-04 12:18] darron1217 commented on #742
@WoLewicki As I said, waiting for event to be finished is what i need.
`beforeRemove` can prevent hardware back button behavior, but not headerLeft back button (which is native side currently).

[2021-02-04 12:35] WoLewicki commented on #781
Closing due to being duplicate of #767. Should be fixed by #798.

[2021-02-04 12:35] #781 closed

[2021-02-04 14:44] WoLewicki commented on #742
I think it is not possible in any other way than specified here: https://github.com/software-mansion/react-native-screens/issues/742#issuecomment-742498673 unfortunately. If you want to specify action coupled with triggering JS navigation actions, you need to trigger them from JS side.

[2021-02-04 17:32] sbalay opened #800 "Allow headers when stack presentation = "modal""
## Description

I KNOW, there are bunch other closed issues with the same topic (#365 #541 #559), please bear with me 😄

As discussed in #260, at the moment it seems that the accepted solution to show headers inside a modal, is to create a separate navigator inside the modal to get a new header.

Given that `react-navigation` strongly recommends to avoid nesting as much as possible, I find this be

[2021-02-04 23:42] darron1217 commented on #742
@WoLewicki Got it. Thanks for your kind answer :)

[2021-02-05 06:17] hehex9 commented on #773
@msvargas can confirm your patch works great on my device

[2021-02-05 11:34] WoLewicki commented on #742
@darron1217 I played a bit with the implementation and made a simple PR: https://github.com/software-mansion/react-native-screens/pull/801 which should delegate the navigation action to JS instead of firing it on the native side. Can you check if it what you need? I am not sure if we will want to merge it so treat it rather as a PoC and, if you want, patch-package it into your project.

[2021-02-05 12:13] darron1217 commented on #742
@WoLewicki Wow that's great work.
I really appreciate your efforts. I'll check it :)

[2021-02-05 13:01] Hirbod commented on #95
@bartzy this Library is not only for native-stack users but also for regular react navigation users who want benefits and less memory consumption when activating this library (eg enableScreens()).

The PR indeed fixes the interaction delay for users importing "stack" and not "native-stack".

Native stack still has a slight but pretty annoying touch rejection after a transition. If you open a form

[2021-02-05 13:27] WoLewicki commented on #95
@Hirbod so does it only happen in modals, or in all presentation kinds? Also, could you somehow show the difference in the time of the ability to click, scroll in the next/previous screen when native-stack compared to e.g. `Settings` app and `App Store` app (there is a modal there when you click your profile icon). I can spot the delay in those apps too, but probably I am missing something. Also,

[2021-02-05 13:29] Hirbod commented on #95
@WoLewicki I'll report back soon. I will block an hour for later today so I can investigate and do some tests.

[2021-02-05 13:35] Hirbod commented on #95
@WoLewicki I can confirm everything you said. Same delay when using native Apps like "Settings" or the presentation modals inside the App Store. Exact same delay. No delay when I change screens using the tab-bar (material bottom bar) for example but also on default push/pop. But I also tested here a bit more on native apps by Apple and they behave exactly the same.

So from what I can confirm in m

[2021-02-05 14:36] bartzy commented on #95
@WoLewicki @Hirbod
To me the delay is mainly noticable in a Stack (UINavigationController) if I try to go back (swipe back) to the previous screen immediately after the transition "settled".
It feels like it's just ever-so-slightly not native that me and every user I showed this to has either commented about it or I noticed them swiping twice because of that.

[2021-02-05 14:52] Hirbod commented on #95
@bartzy I also feel this. It feels like it occurs much more often in my React app than in other native apps.
For me its specially when I close a new presentation style modal.

@WoLewicki

Here are some videos. I filmed with a second phone so you can see my finger interactions.

*Modal issues*
https://streamable.com/snr3nt
-> If you wait like half a second, no issues. But if you want to start an in

[2021-02-06 10:19] diego-paired commented on #751
The issue is happening quite frequently to our users and we can't reproduce it, is there any other information that would be useful?

![image](https://user-images.githubusercontent.com/55058765/107115408-72625f80-6864-11eb-8301-6212261e0b2f.png)
![image](https://user-images.githubusercontent.com/55058765/107115414-77bfaa00-6864-11eb-904f-9721dd5ef2c7.png)

[code]

[2021-02-06 20:49] remcorakers commented on #632
Hi @beardwin, I ran into the same issue and solved it as follows, by using the `headerCenter` option and a helper method to create navigation options that can easily be reused. Trick is to set the title empty for Android and use the `headerCenter` option instead. For iOS the functionality can be kept as-is.

[code]

Then you can use this method in your navigators like this:

[code]

[2021-02-06 23:50] wmonecke commented on #111
Hey guys!
Came here for a solution and ended up updating `react-native-screens` to the latest version `"react-native-screens": "^2.17.1"`(at the time of this comment) and the flickering is **gone**.

Here are my other specs for those who wanna reproduce:
[code]

Happy coding!

[2021-02-08 09:44] MiloszFilimowski commented on #797
Seem likes the issue is somewhere between react-native-fast-image and `react-native-screens`. Based on @EhsanSarshar reproduction example you can see that using `createStackNavigator` instead of `createNativeStackNavigator` fixes the issue as well as using `Image`(from react-native) instead of one from `react-native-fast-image`.

I also noticed that commenting out `requestManager.clear(view)` in `

[2021-02-08 10:00] Payhemfoh commented on #53
@bhattanmol101  Thanks, your solution is worked for me also.

[2021-02-08 10:06] EhsanSarshar commented on #797
@MiloszFilimowski and one thing more, if I navigate back using native back arrow icon on the header, everything is fine. but If I manually navigate it back the issue arises.

[2021-02-08 10:53] chybisov opened #804 "Go back gesture on iOS to translucent header has weird behavior"
## Description

When swiping back on iOS from view with _not translucent_ header to _translucent_ one there is an issue during transition like on the screenshot below. Current header becomes translucent and we can see how previous view transition to its place.

Is this a bug or do I need to explicitly set white color for that header somewhere?

Maybe related to #803

### Screenshots

![image](http

[2021-02-08 10:59] chybisov commented on #804
@WoLewicki could you please help with this? 😃

[2021-02-08 11:00] WoLewicki commented on #111
I think we can close this issue since the original problem is solved by the provided solutions. Feel free to comment here if you have any questions or if something is wrong.

[2021-02-08 11:00] #111 closed

[2021-02-08 11:55] WoLewicki commented on #751
Can you check if adding #805 fixes the crashes? From the stack trace it seems that the crash appears when you have a hierarchy of `native-stack` -> RN navigator with `react-native-screens` enabled (`stack` or `bottom-tabs` or `drawer`) -> `native-stack`. Then you change the screen in the top-most `native-stack`. I couldn't reproduce the crash unfortunately, but I believe the change from #805 shoul

[2021-02-08 12:30] diego-paired commented on #751
thanks, I'll patch-package the change, submit it in our next release and let you know of the results.

[2021-02-08 13:20] WoLewicki commented on #736
I am closing this issue since I believe there is nothing more we can do from the `react-native-screens` point of view. Feel free to comment if you find a solution or if something is wrong.

[2021-02-08 13:20] #736 closed

[2021-02-08 21:54] omerts commented on #53
I also had this issue, updating all the dependencies of react-navigation to latest version solved it for me

[2021-02-09 14:25] bartzy commented on #95
@Hirbod great videos, thanks!

@WoLewicki do you have any thoughts on this perhaps?

[2021-02-09 17:47] WoLewicki commented on #194
I added a second attempt on implementing the `SearchBar` on iOS. It now uses the native component provided by `react-native-screens` and accepts only it. You can see the example of usage here: https://github.com/software-mansion/react-native-screens/blob/@wolewicki/add-search-bar/TestsExample/src/Test758.tsx. Please test it and comment if you see any bugs or weird behavior. This component is based

[2021-02-09 19:46] german970814 commented on #463
Any workaround about this?

[2021-02-10 15:46] #767 closed

[2021-02-10 16:53] #780 closed

[2021-02-11 04:34] kevgrig commented on #749
As per Expo issue 11326, the native fix was backported and everything works now. Thanks!

[2021-02-11 04:34] #749 closed

[2021-02-11 11:09] sbalay opened #809 "[ts] v5 native stack does not throw error when using unknown props on it"
## Description

The type of `NativeStackNavigatorProps` is not narrowed down to only known props and does not generate a ts error when unknown props are specified to the Navigator component:

[code]

The above code does not throw any ts error, even though `whatever` and `unknownProp` are not props of Navigator.

I believe this is caused by [NativeStackNavigationConfig](https://github.com/software-

[2021-02-11 11:31] WoLewicki commented on #804
The header has its own transition on iOS, so the opacity is transforming from 1 to 0, which gives this effect. The solutions I can think of is to:
1. Use `headerShown: false` instead of `transparent` background color in the previous screen to not have the transition of headers between screens
2. Use `simple_push` transition: https://github.com/software-mansion/react-native-screens/pull/761 (curren

[2021-02-11 12:18] chybisov commented on #804
@WoLewicki thank you for reply! The second option is sweet and probably the correct resolution for this problem. The first one is not so great, because in this case I will have to develop my own header component for hamburger button and titles on other screens.

Do you have any plans or estimation regarding the second option? 👍

[2021-02-11 12:36] WoLewicki commented on #804
I don't want to provide any dates because it is quite uncertain and I am not sure how hard it is going to be. Also, I am always open for any PRs regarding this ofc :smile:.

[2021-02-11 12:59] WoLewicki commented on #809
Can you check if #810 fixes it?

[2021-02-11 13:45] sbalay commented on #809
Yep!

[2021-02-11 13:52] #809 closed

[2021-02-11 14:13] NeronKesar opened #811 "Fatal Exception: java.lang.NullPointerException Attempt to invoke virtual method 'void android.view.ViewRootImpl.semRemoveEditText(android.widget.EditText)' on a null object reference"
Got this crash on Galaxy Tab S7 Android 11 only.
I'm using react-navigation v5 and react-native-screens 2.17.1.
Can anyone help me?

android.widget.EditText.onDetachedFromWindow (EditText.java:397)
com.facebook.react.views.textinput.ReactEditText.onDetachedFromWindow (ReactEditText.java:714)
android.view.View.dispatchDetachedFromWindow (View.java:22071)
android.view.ViewGroup.dispatchDetachedFromW

[2021-02-11 14:16] creambyemute commented on #811
@NeronKesar Weird! I just experienced the same error message/crash but with V2.15.0 and updated to V2.17.1 which fixed it for me.

[2021-02-11 14:41] WoLewicki commented on #811
I am not sure if it is an issue with `react-native-screens`. The `ScreenContainer` just calls `onDetachedFromWindow` which is a normal behavior. If you think there is something that can be done on the side of `react-native-screens`, please provide a reproduction of the issue so we can work on it.

[2021-02-11 14:49] creambyemute commented on #811
@WoLewicki I don't have a repro repo but In my case it was reproducable by:

* Device: Android 11 + OneUI 3.1
* Using RN-Screens V 2.15.0
* Calling `launchImageLibrary` from react-native-image-picker

As mentioned in the above comment, for me it works with RN-Screens V 2.17.1.

[2021-02-12 00:03] dioncodes commented on #194
@WoLewicki This is awesome, thank you!! Works like a charm, haven't discovered any problem so far. Of course I will let you know, in case anything comes up...

[2021-02-12 18:28] MoOx commented on #767
@WoLewicki I am currently trying master with your included fix, it seems great!

That said, I have some custom headers that didn't use safe area in the past (because formSheet was on all platform, since I used the JS implementation) but now that formSheet is only on iPhone X+ devices, how can I know if I should add my safe area padding?
This will be clear with images :)

![IMG_E4975](https://user-

[2021-02-13 01:35] Razorholt opened #812 "Header animation"
Since Expo doesn't accept version above 2.15.2, the headerCenter is very unstable. However, when I force the installation on the latest release, the headerCenter issue seems to be fixed but there is this header animation (left-to-right) of headerLeft and headerCenter.
How can I disable that header animation or at least change the direction?

[2021-02-13 10:53] elie-chaaban commented on #194
The search bar is not showing, I m using react navigation 5 with expo and react native screens is already installed, what should i add???

[2021-02-15 10:11] WoLewicki commented on #194
If you use Expo managed workflow, you will not be able to use it since it changes the native code, which is already compiled in Expo managed workflow. You would have to use bare workflow or wait for SDK 41 which hopefully has this change if you want to test it with Expo.

[2021-02-15 10:20] WoLewicki commented on #767
IIRC, the new presentation style is available since iOS 13, so I believe you can just use methods provided by `react-native` to check the current version: https://reactnative.dev/docs/platform-specific-code#detecting-the-ios-version. But adding a method in `react-native-screens` that does the same under the hood can be a good option too. I am open to merge a PR with this for sure.

[2021-02-15 10:23] WoLewicki commented on #812
What do you mean by forcing the installation on the latest release? In Expo managed workflow, it will only change JS implementation, which can lead to buggy/weird behavior. Also, can you post some GIFs/videos of this animation?

[2021-02-15 11:10] WoLewicki commented on #785
I tried the snack on physical iPhone SE 2020, and the bug is not there. Can you provide more information how/on which devices you tested this?

[2021-02-15 11:19] rmccue commented on #785
@WoLewicki 🤦 I forgot the key piece of information here I guess, sorry about that! Tested this on both physical iPhone 11 Pro and simulator iPhone 11 devices. (I haven't tested this specific bug on notchless devices yet, oops)

Given you're not seeing it on a notchless device, I'd guess this is likely related to the safe area/notch offset?

[2021-02-15 12:48] WoLewicki commented on #785
I checked this code with `Modal` component provided by `react-native` with `presentationStyle: "formsheet"`: https://snack.expo.io/N9BiTTcuH and it seems that the issue can be seen there too. I am afraid that it is not an issue related to `react-native-screens`, but rather the integration between `expo-av` and native iOS modals. It can be even a bug in the iOS. Having said this, I am afraid there

[2021-02-15 13:10] rmccue commented on #785
Thanks for checking @WoLewicki. I have a corresponding issue filed in Expo for this (https://github.com/expo/expo/issues/11637) so I can take it back there. :)

[2021-02-15 13:10] #785 closed

[2021-02-15 17:41] MoOx commented on #767
@WoLewicki it's iOS 13 + notch? Because I don't think and iPhone 6s/7/8 will have this even if they run on iOS 14.

[2021-02-16 08:32] stachu2k commented on #797
@EhsanSarshar The same problem. For me it's custom Title Component. If I use back arrow, everything works fine, but if I use Android Hardware Back Button Title Component disappears before transition animation finishes.

[2021-02-16 09:17] WoLewicki commented on #767
I think it is only the matter of the iOS version. Here you have an iPhone 6s simulator with iOS 14.4:
![image](https://user-images.githubusercontent.com/32481228/108042518-2ff90980-7040-11eb-87a0-4c5677c8a63e.png)

[2021-02-16 10:51] iagormoraes commented on #17
I tried to add `ReactFragmentActivity` but it seems it is deprecated in place of `ReactActivity` is that workaround still works, I'm afraid this can impact too much users from our product.

[2021-02-16 11:20] WoLewicki commented on #194
Could you elaborate on what kind of `SearchBar` would you expect on Android? Is it built-in the header one like in this article: https://www.tutorialspoint.com/how-to-use-searchview-in-toolbar-android (also used in @grahammendick implementation)? Or should it rather be under the header, with a look similar to the one provided by [`react-native-search-bar`](https://github.com/umhan35/react-native-s

[2021-02-16 11:22] elie-chaaban commented on #194
No, like the link you have sent

[2021-02-16 11:35] WoLewicki commented on #17
@iagormoraes the solution works in `ReactActivity` too. You need to still apply this: https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704067

[2021-02-16 13:04] darron1217 commented on #556
In my case, map becomes empty when calling `navigation.goBack()`.
But it's fine with touching back button on header.

[2021-02-16 16:12] creambyemute commented on #811
@WoLewicki This is still not a repro, sorry for that but:

I have experienced the same error (`void android.view.ViewRootImpl.semRemoveEditText(android.widget.EditText)' on a null object reference`) again on a different part of the app.  Samsung Android 11 again, but it also seems to happen on Android 8, 9 and 10 (at least according to the crash reports I got). Samsung only!

If I comment `enableS

[2021-02-16 18:27] MoOx commented on #767
I guess you are right :) Sorry for the bad information. I will try to do a PR for this method.

I have currently a simple thing like this (rescript):

[code]

(I can do that in JS very easily, don't worry haha)

Will this be ok for you?

Also I have this too

[code]

But I guess this can stick to user land.

[2021-02-16 19:47] MoOx opened #816 "native-stack doesn't play well with react-navigation initialState (on iOS at least)"
## Description

In short, if you use react-navigation `initialState` (start the app with existing navigation history/state), some actions doesn't work and doesn't trigger error.
For example a formSheet with 2 items doesn't "initiate" correctly, so navigate() doesn't have any effect (and doesn't return to item 1 without formSheet layout).
I first didn't found the reason of this weird problems I got

[2021-02-16 19:47] tomtargosz opened #817 "headerLeft / headerRight / headerCenter disappearing when Android hardware back button functionality is used"
## Description

We're currently seeing an issue where if a user uses the hardware back button to pop off a screen the `headerLeft` / `headerRight` / `headerCenter` properties of the screen are being unmounted while the screen is still visible.

### Screenshots
Here's a video of using the software back button to go back a screen (notice how the `headerCenter` component (the Help Center title) stays

[2021-02-16 20:57] Razorholt commented on #812
If I do `expo install react-native-screens` it installs version 2.15.2. So I tried `expo install react-native-screens@2.17.1` instead, which worked.
However, that latest version brought a header animation while navigating from one screen to another that I would like to cancel. I should be able to get you a gif shortly. Thanks!

[2021-02-17 05:13] darron1217 opened #818 "map image is not showing after calling `navigation.goBack()`, but works well with header back button"
## Description
I'm currently using Naver Map plugin (link below).
https://github.com/QuadFlask/react-native-naver-map

Map image is showing well on first load.
But image stopped showing after calling `navigation.goBack()`. The weird thing is, it works well when I press header back button instead of calling `goBack()`.

Here's my question
1. What's the difference between header back button & callin

[2021-02-17 07:27] darron1217 commented on #818
It was problem of plugin.
Closing

[2021-02-17 07:27] #818 closed

[2021-02-17 16:45] WoLewicki commented on #767
I think you can make a PR with both of these things and we can move the discussion there to keep it in one place.

[2021-02-17 16:47] WoLewicki commented on #817
I think it is duplicate of #773. I will close the issue then. If I am wrong, please comment here and I will reopen the issue.

[2021-02-17 16:52] WoLewicki commented on #816
Could you make a simple reproduction of the issue? I am afraid having such a big project, it has too much overhead to easily direct the source of the problem.

[2021-02-17 16:55] WoLewicki commented on #812
It is not recommended to install the version of code which has a native part, different than the one provided by default in Expo SDK for the reasons mentioned in my previous comment.

[2021-02-17 17:00] tomtargosz commented on #817
@WoLewicki I don't believe it's a duplicate as we are not using `react-native-svg` within our project, the views that are disappearing are standard `<Text>` components. It seems like the conclusion of that thread was to fix an issue on the `react-native-svg` side which would not solve this issue.

[2021-02-17 17:10] WoLewicki commented on #817
Oh, I see, I'm sorry. The issue also points that the same happens in `react-native-fast-image` iirc. Can you provide a simple reproduction of the issue then?

[2021-02-17 19:49] msvargas commented on #817
@wkozyra95 @tomtargosz Hi, I fixed this issue in #773 this is because ScreenHeaderConfig not have override getChild, please check the example, the image in back button is an Image component and no an SVG: https://github.com/software-mansion/react-native-screens/issues/773#issuecomment-769418173

[2021-02-18 01:08] tomtargosz commented on #817
Hey @msvargas can you link to where the fix is? I see you posted this fix in the issue https://github.com/software-mansion/react-native-screens/issues/773#issuecomment-770043776 but that's a fix for `react-native-svg` whereas this is happening to be without that library.

[2021-02-18 01:56] tomtargosz commented on #817
@WoLewicki I created a repo with the issue here: https://github.com/tomtargosz/react-navigation-android-back-button

Here's a video of what's happening when pressing the back button on the page vs using the Android back button

https://user-images.githubusercontent.com/7979579/108292991-25329780-715a-11eb-82f9-63e98058582c.mp4

[2021-02-18 09:40] luislukas opened #819 "Android crashes when resuming from background AND navigation occurs using fragments."
We are seeing the same error reported [here](https://github.com/software-mansion/react-native-screens/issues/17#issuecomment-424704633) and [here](https://github.com/software-mansion/react-native-screens/issues/17) and none of the solutions provided have worked for us.
Our setup is slightly different though:

- We use navigation components since we have a single activity app.
- React native is loa

[2021-02-18 10:48] NeronKesar commented on #811
@creambyemute Thanks for your advice, commenting enableScreens() fixed the crash!

[2021-02-18 11:41] WoLewicki commented on #817
I tested the code you provided (there is no android folder there so I just copied the code into the `TestsExample` project in our repo), and applying patch from @msvargas (https://github.com/software-mansion/react-native-screens/issues/773#issuecomment-764686684) fixes the issue, as it makes the header subviews "subscribe" to transition of going back from the screen in `native-stack` (see https://

[2021-02-18 12:05] WoLewicki commented on #797
The flow of navigation is different when clicking native back button. It is fired on the native side, so the screens are not removed till after the transition.

[2021-02-18 12:19] WoLewicki commented on #556
@darron1217 I think your problem is described in #773.

[2021-02-18 12:24] darron1217 commented on #556
@WoLewicki Sorry, it was map plugin's problem.
I appreciate for your help :)

[2021-02-18 12:26] WoLewicki commented on #811
@NeronKesar commenting `enableScreens()` removes the usage of `react-native-screens` in the project and disables all of the performance improvements, so I wouldn't treat it as a fix.

Can you provide a whole stacktrace and a code snippet with an easy reproduction of the crash? Otherwise it is really hard to do something regarding the problem @creambyemute  @NeronKesar.

[2021-02-18 12:38] WoLewicki commented on #95
@Hirbod thanks very much for the videos! Can you add videos of using the same concepts in `App Store` and `Settings` apps on the phone? I really cannot spot the difference, but I get that it is rather a difficult problem and it would best to maybe somehow try and measure these times to see if they really differ.

[2021-02-18 13:00] creambyemute commented on #811
@WoLewicki I'll try to get a repro up for the weekend. Will let you know

[2021-02-18 14:44] WoLewicki commented on #800
Can you check if #821 is what you need? Please treat it rather as a PoC for now since it must be thoroughly tested.

[2021-02-18 15:14] tomtargosz commented on #817
@WoLewicki confirmed that fixed the issue! Thank you so much to both you and @msvargas for the fast follow up on this! 😄

[2021-02-19 05:08] ZeiRashed commented on #556
@WoLewicki Do you happen to know if the issue with crashing/white screens when going back is being tracked?

[2021-02-19 06:21] ndotie commented on #71
i still have a problem with this, and i have no infinite loop on my code

my dependencies
[code]

[2021-02-19 09:52] WoLewicki commented on #556
Unfortunately we didn't come up with a better solution than proposed yet, but we are open to suggestions.

[2021-02-19 13:50] somebody32 opened #822 "Drawer hideStatusBar breaks SafeAreaView on repeated navigation with screens enabled"
## Description

When you have a Drawer navigation with `hideStatusBar` prop and screens enabled, repeated navigation to the same screen is setting SaveAreaView top inset to 0.

### Screenshots

 <img src="https://user-images.githubusercontent.com/25742/108512376-67c2b400-72c1-11eb-80f0-6a278f71b42b.gif" width="400" height="auto">

## Steps To Reproduce

1. open app, see that the green background d

[2021-02-19 14:30] somebody32 commented on #822
And looks like it happens only for devices without the notch (at least in simulators)

[2021-02-20 21:34] Razorholt opened #824 "[SOLVED] No Amination with stackpresentation in modal"
https://user-images.githubusercontent.com/5605177/108608792-0537e980-738f-11eb-8f10-624f0dcb300f.mov

[code]

[code]

When I push the new screen, the previous one doesn't animate at the back. It only does when I drag the new screen down. Same issue with formSheet.

[UPDATE]

Forgot to mention that the new screen is fired from a Tab Navigator:

[code]
[SOLVED]

The issue was due to the focus() I ha

[2021-02-20 23:09] lucasjohnston commented on #791
Just popping in to say I have the same issues, using the same auth navigator setup that @msvargas mentioned above. I started with @infinitered's Ignite starter which uses both `react-native-screens` and `react-navigation`.

I'm blocked from launching our app until this is resolved, and I've spent a number of hours trying to debug this. The fact others have cropped up with this issue recently makes

[2021-02-20 23:34] lucasjohnston commented on #791
The error happens here in `CallbackScreen.tsx`:
[code]

When running from xcode (testing on device), the `CallbackScreen` remains with the spinning activity indicator (ie. no navigation) and Xcode reports the following error:
[code]

But after I close and reopen the app on my device (so the device is now communicating with the RN server on my mac _without going through xcode_), my console logs sho

[2021-02-21 10:01] Rebsos opened #825 "Crash: NullPointerException notifyViewAppearTransitionEnd"
## Description

`java.lang.NullPointerException:
  at com.swmansion.rnscreens.ScreenStackFragment.notifyViewAppearTransitionEnd (ScreenStackFragment.java:148)
  at com.swmansion.rnscreens.ScreenStackFragment.onViewAnimationEnd (ScreenStackFragment.java:113)
  at com.swmansion.rnscreens.ScreenStackFragment$NotifyingCoordinatorLayout$1.onAnimationEnd (ScreenStackFragment.java:43)
  at android.view.a

[2021-02-21 10:09] Rebsos commented on #825
Statics:
Android 8: 86.7%
Android 9: 13.3%

Samsung Galaxy S7 edge: 56.7%
Samsung Galaxy A5(2017): 20%
Samsung Galaxy S7: 10%
HTC U11: 3.3%
Other: 10%

[2021-02-21 11:17] JB1905 commented on #733
@WoLewicki I prepared [snack for the issue](https://snack.expo.io/@jbiesiada/ipad-rns-issue-demo). I have the same problem with `formSheet`.

[2021-02-22 00:53] Razorholt opened #826 "Navigate from StackPresentation in modal"
Issue: no way to navigate away from a screen in modal (Presentation is iOS). Tried goBack(), pop() and push.

I'm on Expo SDK 40, which means that the most recent version I can install is 2.15.2. I can't even go back to 2.11 as suggested in this forum somewhere because it won't work at all.

Is this a bug that will get fixed soon for Expo users? Thank you so much!

[2021-02-22 02:54] #824 closed

[2021-02-22 07:16] EhsanSarshar commented on #797
@WoLewicki would you mind to guide a little bit. I am to make a PR to fix this

[2021-02-22 08:54] Yashas-N-Hashedin commented on #415
I was able to fix this issue, downgrading the `react-native-screens` to version `2.9.0` solved the issue. If you are working on RN 0.60.x and you can do this to easily fix this issue.

[2021-02-22 09:35] sbalay commented on #800
@WoLewicki I'll try to test this branch locally during this week and get back to you after that.

[2021-02-22 10:01] WoLewicki commented on #826
Can you provide a snack with minimal configuration needed to reproduce the issue?

[2021-02-22 10:04] WoLewicki commented on #825
This bug was fixed in https://github.com/software-mansion/react-native-screens/commit/77ef5f62d04a9adc6173aba35b0201d65b871cc4 and is present since `2.13.0`. The solution is to upgrade the library version or apply this patch. I will close this issue since it is already resolved. Feel free to comment here if something is wrong.

[2021-02-22 10:04] #825 closed

[2021-02-22 10:48] WoLewicki commented on #819
Looks like this line is quite crucial: `androidx.fragment.app.BackStackRecord.commitNowAllowingStateLoss(BackStackRecord.java:303)` and is triggered here: https://github.com/software-mansion/react-native-screens/blob/master/android/src/main/java/com/swmansion/rnscreens/ScreenContainer.java#L277. Making it synchronous (`commitNowAllowingStateLoss` instead of `commitAllowingStateLoss`) makes it reac

[2021-02-22 12:02] WoLewicki commented on #791
Can you provide a snack/repo with minimal configuration needed to reproduce the issue?

[2021-02-22 12:07] WoLewicki commented on #733
I tested your snack in [TestExample](https://github.com/software-mansion/react-native-screens/tree/master/TestsExample) project and cannot spot the issue there (see the screenshot). Do you use the newest `react-native-screens` version? If so, can you be more specific how to reproduce the issue? I tried going to page 2 and back multiple times and the `headerRight` is always there.
![image](https://

[2021-02-22 12:20] WoLewicki commented on #797
@EhsanSarshar what PR do you mean? If it is for the disappearing header components, it should be resolved with #820 (@stachu2k could you check if applying #820 fixes your problem?). If it is for the images on the screen, it is discussed in #773 and needs fixes in the libraries of the image components, not in `react-native-screens`.

[2021-02-22 13:49] JB1905 commented on #733
@WoLewicki I use `supportsTablet: true` in Expo `app.json`

[2021-02-22 14:53] JB1905 commented on #733
![7BFB9CB5-179E-4A28-A2EF-B4BD38B01867](https://user-images.githubusercontent.com/28870390/108724872-16ffc500-7526-11eb-844d-f171edd6b0e3.png)
![42ABED04-77A8-41C4-A174-9209F742349D](https://user-images.githubusercontent.com/28870390/108724891-1c5d0f80-7526-11eb-99d9-0bbb0c0038f9.png)

[2021-02-22 14:55] WoLewicki commented on #733
So you are using Expo managed workflow? What SDK version are you using? Could you try and reproduce the issue in the bare RN project with the newest version of `react-native-screens`?

[2021-02-22 14:59] sbalay commented on #800
@WoLewicki I've done some simple tests and the functionality looks correct.

I noticed that when a modal is pushed on top of another modal we do not show the back button in the left back button, even though the screens are in the same stack. I can still swipe down to dismiss the last modal and go back to the initial one though.
I don't have a lot of knowledge around iOS standards, so I'm not sure

[2021-02-22 15:01] JB1905 commented on #733
I use managed workflow (SDK 40). I saw the issue in RNS supported (recommended) in SDK 40 and latest RNS version. I will check this in bare RN project.

[2021-02-22 15:05] WoLewicki commented on #797
@EhsanSarshar I made a PR in `react-native-fast-image` for the issue with disappearing views based on your reproduction. Can you check if it fixes the issues?

[2021-02-22 15:48] WoLewicki commented on #773
I made a PR in `react-native-fast-image` (https://github.com/DylanVann/react-native-fast-image/pull/773) and `react-native-svg` (https://github.com/react-native-svg/react-native-svg/pull/1542) and in this repo (https://github.com/software-mansion/react-native-screens/pull/820) that should address all of the mentioned issues. Can all of you check if it resolves all the problems and do not introduce

[2021-02-22 15:50] WoLewicki commented on #800
The back button is not shown because under the hood we create a new `native-stack` in every modal screen just for the header, so it is always the first screen of the navigator. I don't think there is a solution for this since it is not a header of the initial stack and so there is no native option for going back with a back button.

[2021-02-22 16:09] WoLewicki commented on #822
Can you check if the issue is still there when you remove `SafeAreaView`? I tested it and looks like it is the problem and it does not play well with `react-native-screens`.

[2021-02-22 16:14] somebody32 commented on #822
@WoLewicki, sorry, I'm not following. The idea is to have `SafeAreaView`, so the content would not overlap Status Bar. In the example green background is just for visualization; in my real project text header + hamburger menu are moved up, so they could not be clicked anymore. Or have I misunderstood you?

[2021-02-22 18:07] EhsanSarshar commented on #797
Ok @WoLewicki I will check that. Thanks alot

[2021-02-22 19:48] Razorholt commented on #826
I put together a snack BUT it does work fine both on the simulator as well as on my real device (iPhone 11):
https://snack.expo.io/@mobshed/react-native-screens-presentation

However, when I include the exact components within my current project, the screen just freezes anytime I hit the navigation link.

Here are my dependencies:
[code]

[2021-02-22 19:52] JB1905 opened #828 "Incorrect RNS behavior with RN Modal"
## Description

Incorrect RNS behavior with RN Modal

### Screenshots

https://user-images.githubusercontent.com/28870390/108762142-05331780-7550-11eb-9729-4b1d1979d1f3.MP4

https://user-images.githubusercontent.com/28870390/108762156-082e0800-7550-11eb-8fcf-4cb5e1c799bf.MP4

## Snack or minimal code example

https://snack.expo.io/@jbiesiada/rns-modal-issue

## Package versions

- Expo SDK 40 (man

[2021-02-22 23:07] Razorholt commented on #826
OK, I was finally able to reproduce the bug:
https://snack.expo.io/@mobshed/react-native-screens-presentation

Apparently, you can't go from 'containedModal' to 'modal'?

[2021-02-23 07:59] stachu2k commented on #797
@WoLewicki Yes it fixes my problem. Now it works like a charm. Thank you :)

[2021-02-23 09:23] fangasvsass commented on #773
test the code  not work  and  if use native stack only one screen attached Window pre screen images will call onDetachedFromWindow when goBack image becomes transparent

[2021-02-23 09:26] WoLewicki commented on #828
RN modals cannot be used inside `react-native-screens` modals since, iirc, RN implementation make assumptions about the native view hierarchy structure that does not fit the `react-native-screens` implementation, causing bugs you posted. There is probably nothing we can do about it in `react-native-screens` unfortunately, but it is rather a field for changes in `react-native` implementation. Can I

[2021-02-23 10:25] WoLewicki commented on #773
@fangasvsass I am sorry, but I don't understand. Could you be more descriptive?

[2021-02-23 10:42] fangasvsass commented on #773
sorry My English is bad ,open the A screen then open b Screen ,when open b Screen A screen's view will detachedFromWindow  because A screen removed from android rootview

 A screen's image will be cleared @WoLewicki

[2021-02-23 10:57] WoLewicki commented on #773
@fangasvsass can you post a reproduction where it is an issue? What is the problem with clearing the image after the screen is detached?

[2021-02-23 11:19] WoLewicki commented on #826
Yes, it is forbidden to include both `containedModals` and "normal" `modals` in one flow since it messes with the implementation of setting the native view hierarchy. It should be documented for sure. Are you willing to submit a PR with this information? It would be required to put it in the main README and in READMEs of `native-stack` and `createNativeStackNavigator`.

[2021-02-23 12:14] WoLewicki commented on #822
Sorry, I misunderstood what you were trying to achieve. I think the solution is to wrap every Screen of navigator with `SafeAreaProvider`, as suggested in https://github.com/th3rdwave/react-native-safe-area-context#safeareaprovider. Can I help you more with this?

[2021-02-23 14:35] somebody32 commented on #822
@WoLewicki, oh, thanks a lot! I've somehow missed this line:

But to understand, in my example, I'm wrapping `<NavigationContainer>` in `<SafeAreaProvider>`. According to the doc you've linked, I would assume that this is the root that should be wrapped and everything is done correctly.

But you're saying that I should do it for every screen, and this is really fixing the issue. But then the doc s